@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9hxfd3');
  src:  url('fonts/icomoon.eot?9hxfd3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9hxfd3') format('truetype'),
    url('fonts/icomoon.woff?9hxfd3') format('woff'),
    url('fonts/icomoon.svg?9hxfd3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  line-height: 1;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ring:before {
  content: "\e900";
}
