<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var $block Magento\Wishlist\Block\Catalog\Product\ProductList\Item\AddTo\Wishlist */
?>
<?php $_product = $block->getProduct();
 	//fetch catID
 	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 	$categories = $_product->getCategoryIds(); /*will return category ids array */
	foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    $currCatname = $cat->getName();
    }
    $pair_diamond=array(2,23,24,45,46,47);
 ?>
<?php if (!in_array($currCat, $pair_diamond)): ?>
<?php if ($block->isWishListAllowed()) : ?>
	<div class="text-center pad-dt">
    <a href="#"
       class="action towishlist"
       data-post='<?php /* @escapeNotVerified */ echo $block->getWishlistParams(); ?>'
       data-action="add-to-wishlist"><i class="em em-heart-plus mrg-xr" aria-hidden="true"></i>Save to Favourites</a></a></div>
<?php endif; ?>
<?php endif ?>
<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?php /* @escapeNotVerified */ echo $block->getWishlistOptionsJson() ?>
        }
    }
</script>
