<?php
    $objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
    $cmsPage = $objectManagerCms->get('\Magento\Cms\Model\Page');
    $cmsPageName = $cmsPage->getIdentifier()."<br>";
    $Identifier = $cmsPage->getId();
    switch ($Identifier) {
        case 68:
            $page = 'engagement-rings';
            break;
        case 69:
            $page = 'wedding-rings';
            break;
        case 70:
            $page = 'fine-jewelry';
            break;
        case 71:
            $page = 'diamonds';
            break; 
        case 72:
            $page = 'gemstones';
            break;       
        default:
            $page = 'home';
            break;
    }
?>
<div class="landing-section full-width">
        <?php if ($page == 'home'): ?>
        <div class="container-fluid">
            <div class="text-center slider-ring">
                <div class="ring-heading">
                    <div class="slide-reveal">our yes rings</div>
                </div>
                <ul class="home-ring-slider">
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Engagement Rings</h4>
                                <div class="font-tin font-it font-lg text-light mrg-xt mrg-gb">Sub Title</div>
                                <div class="button-group rel">
                                    <a href="" class="btn btn-dark btn-block btn-landing">Smart Search</a>
                                    <div class="btn-sub text1"><em>Try our easy match</em></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <?php elseif ($page == 'engagement-rings'): ?>
        <div class="container">
            <div class="text-center slider-ring">
                <div class="ring-heading slide-reveal">Have a look</div>
                <div class="slideInUp wow lab-diamond-sub" data-wow-duration="2s"><p>Our technology algorithm </p><p>will help you find the best diamond match out of our 800,000 diamond sour  ce</p></div>
                <div class="space-sm"></div>

                <img class="engcat-leaves-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/engcat-leaves-left.png') ?>" title="engcat-leaves-left">
                <ul class="home-ring-slider">
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Forever In Love</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$251</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Forever In Love</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$251</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Forever In Love</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Forever In Love</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$251</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_1.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Forever In Love</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$251</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section3_2.jpg') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <?php elseif ($page == 'wedding-rings'):?>
        <div class="container">
            <img class="engcat-leaves-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/wedding-rings/flora_sec_left.png') ?>" title="engcat-leaves-left">
            <div class="text-center slider-ring">
                <div class="ring-heading slide-reveal pad-zb">bridal Set</div>
                <div class="slideInUp wow lab-diamond-sub" data-wow-duration="2s"><p>Our technology algorithm </p><p>will help you find the best diamond match out of our 800,000 diamond source</p></div>
                <div class="space-lg"></div>
                <ul class="home-ring-slider">
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring1.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$251</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring2.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring3.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring4.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$251</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring1.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring2.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring3.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$251</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring4.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring1.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$251</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                    <li class="ring-thumb ring-thumb-category">
                        <div class="ring-img">
                            <a href="javascript:void(0)" class="add-to-fav"></a>
                            <img src="<?php echo $this->getViewFileUrl('images/wedding-rings/wed-ring2.png') ?>" title="Ring1">
                            <div class="ring-caption">
                                <h4 class="h4 pad-xt mrg-xb text-dark">Hold me in the Rain</h4>
                                <span class="font-df text-dark mrg-xt mrg-sb visible-blk">14K white gold 2MM knife edge solitaire</span>
                                <div class="price mrg-db">
                                    <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1050</span>
                                </div>
                                <div><a href="" class="home-btn-md mrg-xb">Have A Look</a></div>
                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <?php elseif ($page == 'diamonds'): ?>
        <div class="clearfix section3">
            <div class="left-banner bgc-pink">
                <div class="space-xs"></div>            
                <span class="circle white-ring slideInUp wow" data-wow-duration="3s"></span>
                <div class="per-stylist slideInUp wow" data-wow-duration="3s">A Synthetic diamond (also known as an aritificial diamond, cultured diamond, or cultivated diamond) is diamond produced in an artificial process, as opposed to natural Read More Diamonds which are</div>
                <div class="space-sm"></div>
                <div class="stylist-img slideInUp wow" data-wow-duration="3s"><img src="<?php echo $this->getViewFileUrl('images/engagement-rings/halo-ring.png') ?>"></div>
                <div class="space-sm"></div>
                <div class="stylist-content lab-diamond">
                    <h1 class="slideInUp wow" data-wow-duration="3s">Lab Diamonds</h1>
                    <ul class="slideInUp wow" data-wow-duration="3s">
                        <li><i class="fa fa-diamond" aria-hidden="true"></i> Increase Your Diamond</li>
                        <li><i class="fa fa-diamond" aria-hidden="true"></i> Save Nature</li>
                        <li><i class="fa fa-diamond" aria-hidden="true"></i> Decrease Your Expence</li>
                        <li><i class="fa fa-diamond" aria-hidden="true"></i> Various Colors Size And Shapes</li>
                        <li><i class="fa fa-diamond" aria-hidden="true"></i> The Hardest Known Material</li>
                    </ul>
                    <div class="slideInLeft wow visible-in-blk text-center" data-wow-duration="3s">
                        <a href="" class="home-btn-md">Find Lab Diamond Ring</a>
                        <a href="#" class="text1 fadeIn wow" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
                    </div>
                </div>
            </div>
            <div class="right-banner">
                <a class="visible-blk" data-toggle="modal" href='#video-popup'>
                    <div class="video-img">
                        <div class="slideInUp wow" data-wow-duration="3s">
                            <div class="video-overlay"></div>
                            <img class="img-responsive video-bg" src="<?php echo $this->getViewFileUrl('images/engagement-rings/category-video.png') ?>">
                        </div>
                        <span class="play-icon slideInUp wow" data-wow-duration="3s"><img src="<?php echo $this->getViewFileUrl('images/home-page/play_icon.png') ?>"></span>
                    </div>
                </a>
                <div class="magic-text text-center">
                    <h1 class="slideInUp wow" data-wow-duration="4s" data-wow-delay="2s">Increase size and quality by setting a marvelous lab diamond</h1>
                    <span class="banner-brown-ring slideInUp wow border-pink" data-wow-duration="4s"></span>
                </div>
            </div>
            <span class="circle pink-ring slideInUp wow" data-wow-duration="5s" style="visibility: visible; animation-duration: 5s; animation-name: slideInUp;"></span>
        </div>
        <?php elseif ($page == 'fine-jewelry'): ?>
        <img class="flora-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/engcat-leaves-left.png') ?>" title="Wedding leaves right">
        <div class="container">
            <h1 class="slider-left-head slide-reveal fadeIn wow" data-wow-duration="2s" data-wow-delay="2s" >Earing Styles</h1>
            <div class="row">
                <div class="col-sm-3">
                    <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" data-wow-delay="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
                    <ul class="list-inline list-by-price">
                        <li class="text">By Price:</li>
                        <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$250</a></li>
                        <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$500</a></li>
                        <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$1000</a></li>
                        <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$2000</a></li>
                        <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$3000</a></li>
                    </ul>
                    <div class="btn-bottom-text slideInUp wow">
                        <a href="<?php echo $this->getUrl(); ?>settings/earings" class="btn btn-xxl btn-dark btn-landing">Earings Styles</a>
                        <a href="#" class="font-tin font-df text-dark font-it fadeIn wow mrg-st visible-blk" data-wow-duration="3s" data-wow-delay="3s">Out of our huge collection</a>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="text-center three-ring-slider">
                        <ul class="her-style-slider">
                            <li class="">
                                <a href="<?php echo $this->getUrl();?>settings/earings/studearrings" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/4.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Stud</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li class="">
                                <a href="<?php echo $this->getUrl();?>settings/earings/haloearrings" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/5.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Halo</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li class="">
                                <a href="<?php echo $this->getUrl();?>settings/earings/dropearrings" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/6.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Drop</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li class="">
                                <a href="<?php echo $this->getUrl();?>settings/earings/hoopearrings1" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/4.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Hoop</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li class="">
                                <a href="<?php echo $this->getUrl();?>settings/earings/delicateearring1" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/5.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Delicate</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <?php elseif ($page == 'gemstones'): ?>
        <img class="engcat-leaves-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/gemstones/side-left-1.jpg') ?>" title="engcat-leaves-left">
        <div class="text-center slider-ring">
            <div class="ring-heading slide-reveal pad-zb">gemstones rings</div>
            <div class="slideInUp wow lab-diamond-sub" data-wow-duration="2s"><p>Our technology algorithm </p><p>will help you find the best diamond match out of our 800,000 diamond source</p></div>
            <div class="space-lg"></div>
            <ul class="home-ring-slider">
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/4.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow visible-blk mrg-st" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/5.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/6.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/7.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/8.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/4.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/5.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/6.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/7.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <a href="" class="wishlist-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    <div class="ring-img">
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/8.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1,790</span>
                            </div>
                            <div><a href="" class="btn btn-xxl btn-dark btn-landing mrg-xb">Find Gemstone Ring</a></div>
                            <div class="font-tin font-it font-df text-light slideInLeft wow" data-wow-duration="3s"><em class="pad-xt ">Try our easy match</em></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <?php endif; ?>
    </div>
</div>