<script>
    require(['https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js'], function(){
        new WOW().init();
   });
</script>

<?php
    $objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
    $cmsPage = $objectManagerCms->get('\Magento\Cms\Model\Page');
    $cmsPageName = $cmsPage->getIdentifier()."<br>";
    $Identifier = $cmsPage->getId();
    switch ($Identifier) {
        case 68:
            $page = 'engagement-rings';
            break;
        case 69:
            $page = 'wedding-rings';
            break;
        case 70:
            $page = 'fine-jewelry';
            break;
        case 71:
            $page = 'diamonds';
            break; 
        case 72:
            $page = 'gemstones';
            break;       
        default:
            $page = 'home';
            break;
    }
?>
<div class="container-fluid">
    <div class="fone <?php echo $page; ?>">
        <h1 class="landing-title fadeIn wow">
            <?php
                if ($page == 'home') {echo 'find the one';}
                elseif ($page == 'engagement-rings'){echo 'Engagement Rings';}
                elseif ($page == 'wedding-rings'){echo 'Wedding Rings';}
                elseif ($page == 'fine-jewelry'){echo 'Fine Jewelry ';}
                elseif ($page == 'diamonds'){echo 'Diamonds';}
                elseif ($page == 'gemstones'){echo 'Gemstones';}
            ?>
        </h1>
        <div class="button-group slideInUp wow" data-wow-duration="3s" data-wow-delay="2s">
            <?php if ($page == 'home'): ?>
            <a href="<?php echo $this->getUrl(); ?>steps/index/view?targetStep=9" class="btn-landing btn-dark btn btn-xxl">Design her yes ring</a>
            <?php elseif ($page == 'engagement-rings'): ?>
            <a href="<?php echo $this->getUrl(); ?>engagement-rings" class="btn-landing btn-dark btn btn-xxl" data-wow-duration="3s" data-wow-delay="2s">Create her Ring</a>
            <?php elseif ($page == 'wedding-rings'):?>
            <a href="<?php echo $this->getUrl(); ?>wedding-rings" class="btn-landing btn-dark btn btn-xxl" data-wow-duration="3s" data-wow-delay="2s">Create a Ring</a>
            <?php elseif ($page == 'fine-jewelry'): ?>
            <a href="<?php echo $this->getUrl(); ?>fine-jewelry" class="btn-landing btn-dark btn btn-xxl" data-wow-duration="3s" data-wow-delay="2s">Find Jewels</a>
            <?php elseif ($page == 'diamonds'): ?>
            <a href="<?php echo $this->getUrl(); ?>loose-diamonds/colorless-diamonds" class="btn-landing btn-dark btn btn-xxl" data-wow-duration="3s" data-wow-delay="2s">Find Diamonds</a>
            <?php elseif ($page == 'gemstones'): ?>
            <a href="<?php echo $this->getUrl(); ?>readytoship/Gemstone" class="btn-landing btn-dark btn btn-xxl" data-wow-duration="3s" data-wow-delay="2s">Find Gemstone Jewl</a>
            <?php endif; ?>
            <span class="btn-sub">
                <?php
                    if ($page == 'fine-jewelry') {echo 'By your budget';}
                    else{echo 'Smart Search';}
                ?>
            </span>
            <span class="circle pink-ring slideInUp wow" data-wow-duration="5s"></span>
        </div>

        <?php // leaves & rings ?>
        <div class="leaves left hero">
            <?php if ($page == 'home'): ?>
            <img src="<?php echo $this->getViewFileUrl('images/home-page/left-leaf.png') ?>" alt="left-Image" class="slideInLeft wow" data-wow-delay="2s" data-wow-duration="5s">
            <?php endif; ?>
            <span class="circle white-ring slideInUp wow" data-wow-duration="5s"></span>
        </div>
        <div class="leaves right hero">
            <?php if ($page == 'home'): ?>
            <img src="<?php echo $this->getViewFileUrl('images/home-page/right-leaf.png') ?>" alt="left-Image" class="slideInRight wow" data-wow-delay="2s" data-wow-duration="5s">
            <?php endif; ?>
            <span class="circle gray-ring slideInUp wow" data-wow-duration="5s"></span>
        </div>
    </div>
</div>