<?php
    $objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
    $cmsPage = $objectManagerCms->get('\Magento\Cms\Model\Page');
    $cmsPageName = $cmsPage->getIdentifier()."<br>";
    $Identifier = $cmsPage->getId();
    switch ($Identifier) {
        case 68:
            $page = 'engagement-rings';
            break;
        case 69:
            $page = 'wedding-rings';
            break;
        case 70:
            $page = 'fine-jewelry';
            break;
        case 71:
            $page = 'diamonds';
            break; 
        case 72:
            $page = 'gemstones';
            break;       
        default:
            $page = 'home';
            break;
    }
?>
<div class="landing-section revolutionary">
    <?php if ($page == 'home'): ?>
    <div class="container">
        <div class="alpha-text-bg slideInUp wow" data-wow-duration="5s">Find the yes ring</div>
        <div class="title-content slideInLeft wow" data-wow-duration="3s">
            <div class="font-tin font-it font-lg text-dark pad-xl">Find your ring with</div>
            <h1 class="text-dark font-bd font-60 text-uppercase">emrada's revolutionary tech</h1>
            <span class="circle brown-ring slideInUp wow" data-wow-duration="5s" data-wow-delay="3s"></span>
        </div>
        <div class="description-content slideInUp wow" data-wow-duration="2s">
            <div class="row">
                <div class="col-sm-6">
                    <img src="<?php echo $this->getViewFileUrl('images/home-page/floarl_section2_ring.png') ?>" alt="ring image" class="img-responsive">
                    <div class="button-group rel slideInUp wow hidden-xs" data-wow-duration="3s">
                        <a href="<?php echo $this->getUrl(); ?>engagement-rings" class="btn-landing btn-dark btn btn-xxl">Design her yes ring</a>
                        <span class="btn-sub" data-wow-duration="3s" data-wow-delay="3s">Smart Search</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <hr>
                    <div class="main-right-child2 slideInUp wow" data-wow-duration="2s">Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</div>
                    <div class="faded-text slideInUp wow hidden-xs" data-wow-duration="5s"><hr>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</div>
                    <div class="button-group rel slideInUp wow visible-xs" data-wow-duration="3s">
                        <a href="" class="btn-landing btn-dark btn btn-xxl">Design her yes ring</a>
                        <span class="btn-sub fadeIn wow" data-wow-duration="3s" data-wow-delay="3s">Smart Search</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php elseif ($page == 'engagement-rings'): ?>
    <div class="container">
        <div class="clearfix">
            <div class="col-sm-12"><h1 class="slider-left-head slide-reveal fadeIn wow" data-wow-duration="2s" >her's style</h1></div>
            <div class="col-sm-3">
                <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
                <div class="btn-bottom-text slideInUp wow">
                    <a href="" class="btn btn-dark btn-xxl btn-landing">Get Stylist Advice</a>
                    <a href="#" class="text1 fadeIn wow" data-wow-duration="3s" data-wow-delay="3s">Free Consulting</a>
                </div>
            </div>
            <div class="col-sm-9">
                <!-- <div class="space-lg"></div> -->
                <div class="text-center three-ring-slider">
                    <ul class="her-style-slider">
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/vintage" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Vintage</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/sidestone1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Side stone</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/bridalset" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Bridal Set</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/tension" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Tension</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/specialcollection" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Special-collection</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/channelset1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Channel Set</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/solitaire1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Solitaire</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/halo" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Halo</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/pave1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Pavé</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>engagement-rings/threestone" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/icons/styles/solitaire.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Three-Stone</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="<?php echo $this->getViewFileUrl('images/home-page/flora_right_sm.png') ?>" alt="floral right" class="floral-right slideInRight wow" data-wow-delay="2s" data-wow-duration="5s">
    <?php elseif ($page == 'wedding-rings'):?>
    <img class="engcat-leaves-right slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/engcat-leaves-right.png') ?>" title="Wedding leaves right">
    <div class="container">
        <div class="clearfix">
            <div class="col-sm-12"><h1 class="slider-left-head slide-reveal fadeIn wow" data-wow-duration="2s" >For Women</h1></div>
            <div class="col-sm-3">
                <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
                <div class="btn-bottom-text slideInUp wow">
                    <a href="<?php echo $this->getUrl(); ?>wedding-rings/women" class="btn btn-dark btn-xxl btn-landing">Browse Rings</a>
                    <a href="#" class="text1 fadeIn wow" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="text-center three-ring-slider">
                    <ul class="her-style-slider">
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>wedding-rings/classicweddingrings1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/classic-women.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Classic</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>wedding-rings/eternityrings" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/eternity-women.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Eternity</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>wedding-rings/anniversaryrings" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/anniversary-women.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Anniversay</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>wedding-rings/diamondrings1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/classic-women.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Diamond</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl(); ?>wedding-rings/stackablerings" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/eternity-women.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Stackable</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <?php elseif ($page == 'fine-jewelry'): ?>
    <img class="floral-right slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/flora_right_sm.png') ?>" title="Wedding leaves right">
    <div class="container">
        <h1 class="slider-left-head slide-reveal fadeIn wow" data-wow-duration="2s" >Necklace Styles</h1>
        <div class="row">
            <div class="col-sm-3">
                <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
                <ul class="list-inline list-by-price">
                    <li class="text">By Price:</li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$250</a></li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$500</a></li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$1000</a></li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$2000</a></li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$3000</a></li>
                </ul>
                <div class="btn-bottom-text slideInUp wow">
                    <a href="<?php echo $this->getUrl(); ?>settings/pendant" class="btn btn-dark btn-xxl btn-landing">View All</a>
                    <a href="#" class="font-tin font-df font-it text-dark fadeIn wow mrg-st visible-blk" data-wow-duration="3s" data-wow-delay="3s">Emrada's Collection</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="text-center three-ring-slider">
                    <ul class="her-style-slider">
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>settings/pendant/solitairependant" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/1.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Solitaire</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>settings/pendant/halopendants" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/2.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Halo</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>settings/pendant/crosspendants" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/3.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Cross</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>settings/pendant/circlependants1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/1.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Circle</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>settings/pendant?dyo_pendants_style=261" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/2.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Journey</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <?php elseif ($page == 'diamonds'): ?>
    <img class="engcat-leaves-right slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/engcat-leaves-right.png') ?>" title="Wedding leaves right">
    <div class="container">
        <div class="col-sm-12"><h1 class="slider-left-head slide-reveal fadeIn wow" data-wow-duration="2s" >Explore <br> Loose Diamonds</h1></div>
        <div class="clearfix">
            <div class="col-sm-3">
                <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
                <div class="btn-bottom-text slideInUp wow">
                    <a href="<?php echo $this->getUrl(); ?>readytoship/Colorless" class="btn btn-dark btn-xxl btn-landing">Browse Diamonds</a>
                    <a href="#" class="text1 fadeIn wow" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="text-center three-ring-slider">
                    <ul class="her-style-slider">
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/colorless/prince1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/1.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Princess</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/colorless/radiant1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/2.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Radiant</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/colorless/triangle1" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/3.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Triangle</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/colorless" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/1.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Round Cut</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <?php elseif ($page == 'gemstones'): ?>
    <div class="container">
        <div class="col-sm-12"><h1 class="slider-left-head slide-reveal fadeIn wow" data-wow-duration="2s" >Gemstones</h1></div>
        <div class="clearfix">
            <div class="col-sm-3">
                <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
                <div class="btn-bottom-text slideInUp wow">
                    <a href="<?php echo $this->getUrl(); ?>readytoship/Gemstone" class="btn btn-dark btn-xxl btn-landing">Find Gemstones</a>
                    <a href="#" class="font-tin font-df text-dark font-it fadeIn wow visible-blk mrg-st" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="text-center three-ring-slider">
                    <ul class="her-style-slider">
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>engagement-rings?dyo_rings_style=193" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/1.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Blue Sapphire</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>engagement-rings?dyo_rings_style=195" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/2.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Pink Sapphire</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>engagement-rings?dyo_rings_style=196" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/3.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Red Ruby</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>engagement-rings?dyo_rings_style=198" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/1.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Emerald</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>engagement-rings?dyo_rings_style=196" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/gemstones/2.jpg') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Yellow Sapphire</h5>
                                    <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                </div>
                            </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <?php endif; ?>
</div>