<!-- Emrada Show room part starts -->
<div class="showroom">
    <div class="container">
        <h4 class="text-center"><em>Our Showrooms</em></h4>
        <div class="showroom-thumb">
            <div class="clearfix fadeIn wow" data-wow-duration="3s">
                <div>
                    <a class="show-text chicago active" data-slide-index="0" href=""><span>chicago</span></a>
                    <a class="show-text" data-slide-index="1" href=""><span>Mexico</span></a>
                    <a class="show-text" data-slide-index="2" href=""><span>Sydney</span></a>
                    <a class="show-text new_york" data-slide-index="3" href=""><span>New york</span></a>
                    <a class="show-text" data-slide-index="4" href=""><span>Los Angels</span></a>
                    <a class="show-text" data-slide-index="5" href=""><span>Tel aviv</span></a>
                </div>
            </div>
        </div>
        <ul class="showroom-slider fadeIn wow" data-wow-duration="3s">
            <li class="clearfix">
                <div class="col-sm-6 show-room-img">
                    <div class="pad-box">
                        <div class="visible-xs place">chicago</div>
                        <p>A showroom is a large space used to display products for sale, such as automobiles, furniture, appliances, carpet or apparel. It is a retail store of a company in which products are on sale in a space created by their brand or company. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores.</p>
                    </div>
                </div>
                <div class="col-sm-6 show-right-img">
                    <img src="https://image.ibb.co/gBG6kR/new_york.png" title="showroom">
                </div>
            </li>
            <li class="clearfix">
                <div class="col-sm-6 show-room-img">
                    <div class="pad-box">
                        <div class="visible-xs place">Mexico</div>
                        <p>A showroom is a large space used to display products for sale, such as automobiles, furniture, appliances, carpet or apparel. It is a retail store of a company in which products are on sale in a space created by their brand or company. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores.</p>
                    </div>
                </div>
                <div class="col-sm-6 show-right-img">
                    <img  src="https://image.ibb.co/gBG6kR/new_york.png" title="showroom">
                </div>
            </li>
            <li class="clearfix">
                <div class="col-sm-6 show-room-img">
                    <div class="pad-box">
                        <div class="visible-xs place">Sydney</div>
                        <p>A showroom is a large space used to display products for sale, such as automobiles, furniture, appliances, carpet or apparel. It is a retail store of a company in which products are on sale in a space created by their brand or company. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores.</p>
                    </div>
                </div>
                <div class="col-sm-6 show-right-img">
                    <img  src="https://image.ibb.co/gBG6kR/new_york.png" title="showroom">
                </div>
            </li>
            <li class="clearfix">
                <div class="col-sm-6 show-room-img">
                    <img  src="https://image.ibb.co/gBG6kR/new_york.png" title="showroom">
                </div>
                <div class="col-sm-6">
                    <div class="pad-box">
                        <div class="visible-xs place">New york</div>
                        <p>A showroom is a large space used to display products for sale, such as automobiles, furniture, appliances, carpet or apparel. It is a retail store of a company in which products are on sale in a space created by their brand or company. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores.</p>
                    </div>
                </div>
            </li>
            <li class="clearfix">
                <div class="col-sm-6 show-room-img">
                    <img  src="https://image.ibb.co/gBG6kR/new_york.png" title="showroom">
                </div>
                <div class="col-sm-6">
                    <div class="pad-box">
                        <div class="visible-xs place">Los Angels</div>
                        <p>A showroom is a large space used to display products for sale, such as automobiles, furniture, appliances, carpet or apparel. It is a retail store of a company in which products are on sale in a space created by their brand or company. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores.</p>
                    </div>
                </div>
            </li>
            <li class="clearfix">
                <div class="col-sm-6 show-room-img">
                    <img  src="https://image.ibb.co/gBG6kR/new_york.png" title="showroom">
                </div>
                <div class="col-sm-6">
                    <div class="pad-box">
                        <div class="visible-xs place">Tel aviv</div>
                        <p>A showroom is a large space used to display products for sale, such as automobiles, furniture, appliances, carpet or apparel. It is a retail store of a company in which products are on sale in a space created by their brand or company. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores. A showroom can also be a space for wholesale buyers to view fashion merchandise for sale in their retail stores.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="space-lg"></div>
<!-- Emrada show room part ends -->