<?php
    $objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
    $cmsPage = $objectManagerCms->get('\Magento\Cms\Model\Page');
    $cmsPageName = $cmsPage->getIdentifier()."<br>";
    $Identifier = $cmsPage->getId();
    switch ($Identifier) {
        case 68:
            $page = 'engagement-rings';
            break;
        case 69:
            $page = 'wedding-rings';
            break;
        case 70:
            $page = 'fine-jewelry';
            break;
        case 71:
            $page = 'diamonds';
            break; 
        case 72:
            $page = 'gemstones';
            break;       
        default:
            $page = 'home';
            break;
    }
?>
<div class="landing-section three-column-posts">
<?php if ($page == 'home'): ?>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 bn-three">
            <img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/home-page/earring_lady.jpg') ?>">
            <div class="three-img">
                <div class="fadeIn wow" data-wow-duration="3s">
                    <span class="font-tin font-it font-lg text-white">The most Beautiful</span>
                    <h2 class="h2">Earings</h2>
                </div>
                <a href="" class="btn btn-dark btn-xxl btn-landing slideInLeft wow" data-wow-duration="3s">Smart Search</a>
            </div>
        </div>
        <div class="col-sm-4 bn-three">
            <img class="img-resonsive" src="<?php echo $this->getViewFileUrl('images/home-page/ring_hands.jpg') ?>">
            <div class="three-img">
                <div class="fadeIn wow" data-wow-duration="3s">
                    <span class="font-tin font-it font-lg text-white">The most Beautiful</span>
                    <h2 class="h2">Rings</h2>
                </div>
                <a href="" class="btn btn-dark btn-xxl btn-landing slideInLeft wow" data-wow-duration="3s">Smart Search</a>
            </div>
        </div>
        <div class="col-sm-4 bn-three">
            <img class="img-resonsive" src="<?php echo $this->getViewFileUrl('images/home-page/necklace_lady.jpg') ?>">
            <div class="three-img">
                <div class="fadeIn wow" data-wow-duration="3s">
                    <span class="font-tin font-it font-lg text-white">Less &amp; 500$</span>
                    <h2 class="h2">Necklace</h2>
                </div>
                <a href="" class="btn btn-dark btn-xxl btn-landing slideInLeft wow" data-wow-duration="3s">Smart Search</a>
            </div>
        </div>
    </div>
</div>
<?php elseif ($page == 'gemstones'): ?>
<img class="engcat-leaves-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/gemstones/side-left-2.png') ?>" title="engcat-leaves-left">
<div class="text-center slider-ring">
    <div class="ring-heading slide-reveal pad-zb">Gemstones Necklaces</div>
    <div class="slideInUp wow lab-diamond-sub" data-wow-duration="2s"><p>Our technology algorithm </p><p>will help you find the best diamond match out of our 800,000 diamond source</p></div>
    <div class="space-lg"></div>
    <ul class="home-ring-slider">
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/14.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/15.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/16.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/17.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/18.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/14.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/15.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/16.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/17.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
        <li class="ring-thumb ring-thumb-category">
            <div class="ring-img">
                <a href="javascript:void(0)" class="add-to-fav"></a>
                <img src="<?php echo $this->getViewFileUrl('images/gemstones/18.jpg') ?>" title="Ring1">
                <div class="ring-caption">
                    <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                    <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                    <div class="price mrg-db">
                        <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                    </div>
                    <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                    <div class="btn-sub">Try our easy match</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<?php endif; ?>
</div>