<?php
    $objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
    $cmsPage = $objectManagerCms->get('\Magento\Cms\Model\Page');
    $cmsPageName = $cmsPage->getIdentifier()."<br>";
    $Identifier = $cmsPage->getId();
    switch ($Identifier) {
        case 68:
            $page = 'engagement-rings';
            break;
        case 69:
            $page = 'wedding-rings';
            break;
        case 70:
            $page = 'fine-jewelry';
            break;
        case 71:
            $page = 'diamonds';
            break; 
        case 72:
            $page = 'gemstones';
            break;       
        default:
            $page = 'home';
            break;
    }
?>
<div class="landing-section two-column-posts">
    <?php if ($page == 'home'): ?>
    <div class="container em-blog">
        <div class="row">
            <div class="col-sm-6 col-xs-10">
                <div class="bn-black">
                    <img class="img-responsive" src="https://image.ibb.co/nj7rX6/black_women.png">
                    <div class="gems-img slideInLeft wow" data-wow-duration="3s">
                        <em class="three-text-1">The most Beautiful</em>
                        <h2 class="h2 pad-xt">gemstone collection</h2>
                        <p class="pad-xt">Each ring style requires diamond with different attributes to create the perfect ring</p>
                        <a href="" class="btn btn-dark btn-xxl btn-landing">Find Gemstone Jewels <i class="mrg-sl fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-10">
                <div class="bn-black">
                    <img class="img-responsive" src="https://image.ibb.co/nj7rX6/black_women.png">
                    <div class="gems-img slideInLeft wow" data-wow-duration="3s">
                        <em class="three-text-1">The most Beautiful</em>
                        <h2 class="h2 pad-xt">gemstone collection</h2>
                        <p class="pad-xt">Each ring style requires diamond with different attributes to create the perfect ring</p>
                        <a href="" class="btn btn-dark btn-xxl btn-landing">Find Gemstone Jewels <i class="mrg-sl fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-10 hidden-xs">
                <div class="bn-black">
                    <img class="img-responsive" src="https://image.ibb.co/nj7rX6/black_women.png">
                    <div class="gems-img slideInLeft wow" data-wow-duration="3s">
                        <em class="three-text-1">The most Beautiful</em>
                        <h2 class="h2 pad-xt">gemstone collection</h2>
                        <p class="pad-xt">Each ring style requires diamond with different attributes to create the perfect ring</p>
                        <a href="" class="btn btn-dark btn-xxl btn-landing">Find Gemstone Jewels <i class="mrg-sl fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-10 hidden-xs">
                <div class="bn-black">
                    <img class="img-responsive" src="https://image.ibb.co/nj7rX6/black_women.png">
                    <div class="gems-img slideInLeft wow" data-wow-duration="3s">
                        <em class="three-text-1">The most Beautiful</em>
                        <h2 class="h2 pad-xt">gemstone collection</h2>
                        <p class="pad-xt">Each ring style requires diamond with different attributes to create the perfect ring</p>
                        <a href="" class="btn btn-dark btn-xxl btn-landing">Find Gemstone Jewels <i class="mrg-sl fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php elseif ($page == 'gemstones'): ?>
    <img class="engcat-leaves-right slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/gemstones/side-right-2.jpg') ?>" title="engcat-leaves-left">
    <div class="text-center slider-ring">
        <div class="ring-heading slide-reveal pad-zb">Gemstones Bracelets</div>
        <div class="slideInUp wow lab-diamond-sub" data-wow-duration="2s"><p>Our technology algorithm </p><p>will help you find the best diamond match out of our 800,000 diamond source</p></div>
        <div class="space-lg"></div>
        <ul class="home-ring-slider">
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/14.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/15.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/16.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/17.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/18.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/14.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/15.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/16.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/17.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
            <li class="ring-thumb ring-thumb-category">
                <div class="ring-img">
                    <a href="javascript:void(0)" class="add-to-fav"></a>
                    <img src="<?php echo $this->getViewFileUrl('images/gemstones/18.jpg') ?>" title="Ring1">
                    <div class="ring-caption">
                        <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                        <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                        <div class="price mrg-db">
                            <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                        </div>
                        <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                        <div class="btn-sub">Try our easy match</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <?php endif; ?>
</div>