<?php
$objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
$cmsPage = $objectManagerCms->get('\Magento\Cms\Model\Page');
$cmsPageName = $cmsPage->getIdentifier()."<br>";
$Identifier = $cmsPage->getId();
switch ($Identifier) {
case 68:
$page = 'engagement-rings';
break;
case 69:
$page = 'wedding-rings';
break;
case 70:
$page = 'fine-jewelry';
break;
case 71:
$page = 'diamonds';
break;
case 72:
$page = 'gemstones';
break;
default:
$page = 'home';
break;
}
?>
<div class="landing-section stylist-video">
    <?php if ($page == 'home'): ?>
    <div class="container-fluid section3 pad-zh">
        <div class="right-banner">
            <a class="visible-blk" data-toggle="modal" href='#video-popup'>
                <div class="video-img">
                    <div class="slideInUp wow" data-wow-duration="3s">
                        <div class="video-overlay"></div>
                        <img class="img-responsive video-bg" src="<?php echo $this->getViewFileUrl('images/home-page/youtube_video.png') ?>">
                    </div>
                    <span class="play-icon slideInUp wow" data-wow-duration="3s"><img src="<?php echo $this->getViewFileUrl('images/home-page/play_icon.png') ?>"></span>
                </div>
            </a>
            <div class="magic-text hidden-xs">
                <h1 class="slideInUp wow" data-wow-duration="4s" data-wow-delay="2s">This is where the real magic happens!</h1>
                <span class="circle brown-ring slideInUp wow" data-wow-duration="4s"></span>
            </div>
        </div>
        <div class="left-banner">
            <span class="circle white-ring slideInUp wow" data-wow-duration="3s"></span>
            <div class="per-stylist slideInUp wow" data-wow-duration="3s">Free Personal stylist will assist you to find the best match of your personal needs</div>
            <div class="row stylist-profile">
                <div class="col-xs-5 col-sm-12">
                    <div class="stylist-img slideInUp wow" data-wow-duration="3s"><img src="<?php echo $this->getViewFileUrl('images/home-page/women_smiling.png') ?>" class="img-responsive"></div>
                </div>
                <div class="col-xs-7 visible-xs slideInLeft wow" data-wow-duration="3s">
                    <div class="button-group rel buttons">
                        <a href="" class="btn btn-xxl btn-dark btn-landing" data-chat-open="" data-open="#fixed-vertical-chat">Choose a stylist</a>
                        <a href="#" class="btn-sub" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
                    </div>
                </div>
            </div>
            <div class="stylist-content">
                <h1 class="slideInUp wow" data-wow-duration="3s">personal stylist</h1>
                <ul class="slideInUp wow" data-wow-duration="3s">
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> Free Professional Service</li>
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> Real Personal Stylist</li>
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> Personal Contact Info</li>
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> One on One Chat</li>
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> Available on Facebook</li>
                </ul>
                <div class="button-group rel slideInUp wow hidden-xs hidden-xs" data-wow-duration="3s">
                    <button class="btn-landing btn-dark btn btn-xxl" data-chat-open="" data-open="#fixed-vertical-chat">Choose a stylist</button>
                    <a href="#" class="btn-sub" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
                </div>
            </div>
        </div>
        <div class="right leaves stylist"><img class="img-responsive video-bg slideInRight wow" data-wow-delay="2s" data-wow-duration="5s" src="<?php echo $this->getViewFileUrl('images/home-page/flora_right_sm.png') ?>"></div>
    </div>
    <?php elseif ($page == 'engagement-rings'): ?>
    <div class="clearfix section3">
        <div class="left-banner bgc-pink">
            <div class="space-xs"></div>
            <span class="circle white-ring slideInUp wow" data-wow-duration="3s"></span>
            <div class="per-stylist slideInUp wow" data-wow-duration="3s">A Synthetic diamond (also known as an aritificial diamond, cultured diamond, or cultivated diamond) is diamond produced in an artificial process, as opposed to natural Read More Diamonds which are</div>
            <div class="space-sm"></div>
            <div class="stylist-img slideInUp wow" data-wow-duration="3s"><img src="<?php echo $this->getViewFileUrl('images/engagement-rings/halo-ring.png') ?>"></div>
            <div class="space-sm"></div>
            <div class="stylist-content lab-diamond">
                <h1 class="slideInUp wow" data-wow-duration="3s">Lab Diamonds</h1>
                <ul class="slideInUp wow" data-wow-duration="3s">
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> Increase Your Diamond</li>
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> Save Nature</li>
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> Decrease Your Expence</li>
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> Various Colors Size And Shapes</li>
                    <li><i class="fa fa-diamond" aria-hidden="true"></i> The Hardest Known Material</li>
                </ul>
                <div class="slideInLeft wow visible-in-blk text-center" data-wow-duration="3s">
                    <a href="" class="btn btn-xxl btn-dark btn-landing">Find Lab Diamond Ring</a>
                    <a href="#" class="text1 fadeIn wow" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
                </div>
            </div>
        </div>
        <div class="right-banner">
            <a class="visible-blk" data-toggle="modal" href='#video-popup'>
                <div class="video-img">
                    <div class="slideInUp wow" data-wow-duration="3s">
                        <div class="video-overlay"></div>
                        <img class="img-responsive video-bg" src="<?php echo $this->getViewFileUrl('images/engagement-rings/category-video.png') ?>">
                    </div>
                    <span class="play-icon slideInUp wow" data-wow-duration="3s"><img src="<?php echo $this->getViewFileUrl('images/home-page/play_icon.png') ?>"></span>
                </div>
            </a>
            <div class="magic-text text-center">
                <h1 class="slideInUp wow" data-wow-duration="4s" data-wow-delay="2s">Increase size and quality by setting a marvelous lab diamond</h1>
                <span class="banner-brown-ring slideInUp wow border-pink"></span>
            </div>
        </div>
        <span class="circle pink-ring slideInUp wow" data-wow-duration="5s"  data-wow-delay="4s" style="visibility: visible; animation-duration: 5s; animation-name: slideInUp;"></span>
    </div>
    <?php elseif ($page == 'wedding-rings'):?>
    <div class="wedding-floral"><img class="engcat-leaves-right slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/flora_right_sm.png') ?>" title="Wedding Leaves right"></div>
    <div class="container rel">
        <div class="col-sm-3">
            <h1 class="slider-left-head slide-reveal fadeIn wow" data-wow-duration="2s" data-wow-delay="2s" >For Men</h1>
            <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" data-wow-delay="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
            <div class="btn-bottom-text slideInUp wow">
                <a href="<?php echo $this->getUrl(); ?>wedding-rings/men" class="btn btn-xxl btn-dark btn-landing">Get Stylist Advice</a>
                <a href="#" class="text1 fadeIn wow" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="text-center three-ring-slider">
                <ul class="her-style-slider">
                    <li class="">
                        <a href="<?php echo $this->getUrl(); ?>wedding-rings/classicweddingrings" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/classic-men.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Classic</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="<?php echo $this->getUrl(); ?>wedding-rings/carvedrings" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/eternity-men.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Carved</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="<?php echo $this->getUrl(); ?>wedding-rings/diamondrings" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/anniversary-men.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Diamond</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="<?php echo $this->getUrl(); ?>wedding-rings/alternativerings" class="dis-ib">
                            <div class="three-ring-slider-img">
                                <div><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/wedding-rings/classic-men.png') ?>" title="Ring1"></div>
                                <div class="ring-caption">
                                    <hr>
                                    <h5>Alternative</h5>
                                    <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <?php elseif ($page == 'fine-jewelry'): ?>
    <img class="engcat-leaves-right upper slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/engcat-leaves-right.png') ?>" title="Wedding leaves right">
    <div class="container">
        <h1 class="slider-left-head slide-reveal fadeIn wow" data-wow-duration="2s" data-wow-delay="2s">Bracelet Styles</h1>
        <div class="row">
            <div class="col-sm-3">
                <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" data-wow-delay="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
                <ul class="list-inline list-by-price">
                    <li class="text">By Price:</li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$250</a></li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$500</a></li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$1000</a></li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$2000</a></li>
                    <li><a href="" class="btn btn-block btn-dark btn-sm btn-landing">$3000</a></li>
                </ul>
                <div class="btn-bottom-text slideInUp wow">
                    <a href="<?php echo $this->getUrl(); ?>fine-jewelry/bracelets" class="home-btn-md">View All</a>
                    <a href="#" class="font-tin font-df font-it text-dark fadeIn wow mrg-st visible-blk" data-wow-duration="3s" data-wow-delay="3s">Out of our huge collection</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="text-center three-ring-slider">
                    <ul class="her-style-slider">
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>fine-jewelry/bracelets?rts_style_for_bracelet=896" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/7.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Tennis</h5>
                                        <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>fine-jewelry/bracelets" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/8.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Charm</h5>
                                        <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>fine-jewelry/bracelets/heartsbracelet" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/9.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Delicate</h5>
                                        <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>fine-jewelry/bracelets?rts_style_for_bracelet=894" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/9.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Bangles</h5>
                                        <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>fine-jewelry/bracelets?rts_style_for_bracelet=897" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/fine-jewelry/9.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Bangles</h5>
                                        <p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <?php elseif ($page == 'diamonds'): ?>
    <img class="flora-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/engcat-leaves-left.png') ?>" title="Wedding leaves right">
    <div class="container">
        <div class="col-sm-12"><h1 class="slider-left-head slide-reveal flash wow" data-wow-duration="2s" data-wow-delay="2s" >Explore Fancy <br> Loose Diamonds</h1></div>
        <div class="clearfix">
            <div class="col-sm-3">
                <div class="lab-diamond-sub zoomIn wow" data-wow-duration="2s" data-wow-delay="2s" ><p>Our technology algorithm will help you find the best diamond match out of our 800,000 diamond source</p></div>
                <div class="btn-bottom-text slideInUp wow">
                    <a href="<?php echo $this->getUrl(); ?>readytoship/Fancy" class="btn btn-xxl btn-dark btn-landing">Browse Diamonds</a>
                    <a href="#" class="text1 fadeIn wow" data-wow-duration="3s" data-wow-delay="3s">Smart Search</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="text-center three-ring-slider">
                    <ul class="her-style-slider">
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=662" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/4.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Yelow</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=670" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/5.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Pink</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=671" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/6.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Purple</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=669" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/4.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Red</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=668" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/5.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Blue</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=667" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/6.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Green</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=663" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/4.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Orange</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=666" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/5.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Brown</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="<?php echo $this->getUrl();?>readytoship/fancy?stone_natural_fancy_color=673" class="dis-ib">
                                <div class="three-ring-slider-img">
                                    <div class="mn-ht-120"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('/images/diamonds/6.jpg') ?>" title="Ring1"></div>
                                    <div class="ring-caption">
                                        <hr>
                                        <h5>Black</h5>
                                        <p>Our Technology algorithm Will help  you find the best diamond match out of our 800,000 diamond</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <?php elseif ($page == 'gemstones'): ?>
    <div class="container">
        <img class="engcat-leaves-right slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/gemstones/side-right-1.jpg') ?>" title="engcat-leaves-left">
        <div class="text-center slider-ring">
            <div class="ring-heading slide-reveal pad-zb">gemstones Earrings</div>
            <div class="slideInUp wow lab-diamond-sub" data-wow-duration="2s"><p>Our technology algorithm </p><p>will help you find the best diamond match out of our 800,000 diamond source</p></div>
            <div class="space-lg"></div>
            <ul class="home-ring-slider">
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/10.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/11.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/19.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/12.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/13.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/10.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/11.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/19.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/12.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
                <li class="ring-thumb ring-thumb-category">
                    <div class="ring-img">
                        <a href="javascript:void(0)" class="add-to-fav"></a>
                        <img src="<?php echo $this->getViewFileUrl('images/gemstones/13.jpg') ?>" title="Ring1">
                        <div class="ring-caption">
                            <h4 class="h4 pad-xt mrg-xb text-dark">Three Stones</h4>
                            <span class="font-df text-dark mrg-xt mrg-sb visible-blk">18K White Gold Petite Twisted Vine Diamond Ring</span>
                            <div class="price mrg-db">
                                <span id="product-price-1" data-price-amount="251" class="price-wrapper">$1790</span>
                            </div>
                            <div><a href="" class="home-btn-md mrg-xb">Find Gemstone Earrings</a></div>
                            <div class="btn-sub">Try our easy match</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <?php endif; ?>
</div>
<!-- Wedding slider ends -->