<?php
/**
* Copyright © 2013-2017 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
// @codingStandardsIgnoreFile
/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php
    //fetch catID
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    }
    //determine label
    $stoneArr=array(2,47,46,45,24,23,22,44,43,42,41,20,15);
    $settingArr=array(2,36,37,38,39,40,14);
    $readytoshipArr=array(2,17,18,19,27,28,29,30);
    $pair_diamond=array(2,23,24,45,46,47);
    $buttonTitle = __('Add to Cart');
    if(in_array($currCat, $settingArr)){
    $buttonTitle = __('Choose This Setting');
    }
    if(in_array($currCat, $stoneArr)){
    $buttonTitle = __('Select This Diamond');
    }
    $StepsCategories = array_merge($stoneArr,$settingArr);
?>
<?php if (!in_array($currCat, $pair_diamond)): ?>
<?php if ($_product->isSaleable()): ?>
<input type="hidden" name="maxVal" id="maxVal" class="budgetFilter" value="3000" />
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()&&!in_array($currCat, $StepsCategories)): ?>
      <!--   <div class="field qty">
            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
            <div class="control">
                <input type="number"
                name="qty"
                id="qty"
                maxlength="12"
                value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                />
            </div>
        </div> -->
        <?php include ($block->getTemplateFile('Magento_Catalog::readytoship/ready-to-ship-inscription.phtml')) ?>
        <?php include ($block->getTemplateFile('Magento_Catalog::readytoship/ringbox.phtml')) ?>
        <?php endif;
        if(in_array($currCat, $StepsCategories)):
        ?>        
        <input type="button" id="choosethis<?php echo $_product->getId();?>" class="primary btn btn-xxl btn-block btn-dark" value="<?php echo $buttonTitle;?>"  onclick="choosethis(<?php echo $_product->getId();?>);"  />
        <?php else: ?>
        <div class="actions">
            <?php if (in_array($currCat, $readytoshipArr)): ?>
            <button type="submit" onclick="setcheckoutbtnflag();" 
            class="action primary tocart btn btn-xl btn-block btn-dark"
            id="product-addtocart-button">
            <?php echo 'Buy Now';//$buttonTitle;?>
            </button>
            <button type="submit"
            class="action primary tocart btn btn-xl btn-block btn-link"
            id="product-addtocart-button" style ="font-weight: 600;"">
            <?php echo 'Add To Cart';//$buttonTitle;?>
            </button>
            <?php else: ?>
            <button type="submit"
            class="action primary tocart btn btn-xl btn-block btn-dark"
            id="product-addtocart-button">
            <?php echo 'Add To Cart';//$buttonTitle;?>
            </button>
            <?php endif;?>
            <?php echo $block->getChildHtml('', true) ?>
        
            <input type="hidden" name="checkoutbtnflag" id="checkoutbtnflag" value="false" >
            
        </div>
        <?php endif;?>
    </div>
    
</div>

<?php endif; ?>
<?php endif ?>
<input type="hidden" name="selectedAval" id="selectedAval" aria-required="false" value="0"  />
<script type="text/x-magento-init">
{
"#product_addtocart_form": {
"Magento_Catalog/product/view/validation": {
"radioCheckboxClosest": ".nested"
}
}
}
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
{
"#product_addtocart_form": {
"catalogAddToCart": {
"bindSubmit": false
}
}
}
</script>
<?php endif; ?>
<script type="text/javascript">
function choosethis($pid){
    var e = 0;
    e =  document.getElementById('selectedAval').value;
    var value1 =0;
    value1 = document.getElementById("text").innerHTML;
    //alert(value1);
   window.location = "<?php echo $this->getUrl()?>steps/index/choose?pid="+$pid+"&selectedAval="+e+"&maxVal="+value1;
   d=document.getElementById("choosethis"+$pid)
   d.classList.add('MyClass');
}
function setcheckoutbtnflag(){
    //alert('ready to redirect');
    document.getElementById("checkoutbtnflag").value=true;
}
</script>