<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php $_product = $block->getProduct(); ?>
<?php 
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
    }
$stoneArr=array(2,14,15,32,33,34,35,37,38,39,40,20,41,42,43,44);
if (in_array($currCat, $stoneArr)): ?>


<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    '<h1>' .$_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code) . '</h1>';
}
?>

<?php if ($_attributeValue):?>
<div class="product attribute <?php /* @escapeNotVerified */ echo $_className ?>">
    <?php if ($_className == 'description') : ?>
    <div class="clearfix">
        <div class="col-sm-10 center-block">
            <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
            <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>>
                <?php // if condition to add styles to the product title and short description separatley ?>
                <?php if ($_className == 'sku'): ?>
                    <?php // for product title ?>
                    <h3 class="product-heading"><?php /* @escapeNotVerified */ echo $_attributeValue; ?></h3>
                <?php else: ?>
                    <?php // for product short description ?>
                    <?php /* @escapeNotVerified */ echo $_attributeValue; ?>
                <?php endif ?>
            </div>
        </div>
    </div>
    <?php elseif ($_className == 'overview') : ?>
    <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
        <div class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>>
            <?php // if condition to add styles to the product title and short description separatley ?>
            <?php if ($_className == 'sku'): ?>
                <?php // for product title ?>
                <h3 class="product-heading"><?php /* @escapeNotVerified */ echo $_attributeValue; ?></h3>
            <?php else: ?>
                <?php // for product short description ?>
                <?php /* @escapeNotVerified */ echo $_attributeValue; ?>
            <?php endif ?>
        </div>
    <?php endif ?>
</div>
<?php endif; ?>
<?php endif; ?>