<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php $_product = $block->getProduct(); ?>
<?php 
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $registry = $objectManager->get('\Magento\Framework\Registry');
    $currentProduct = $registry->registry('current_product');
    $ProductId = $currentProduct->getId();
     //fetch catID;
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
    }
$stoneArr=array(2,14,15,17,18,19,23,24,45,46,47,32,33,34,35,37,38,39,40,20,41,42,43,44,51,52,53,54,55);
$pair_diamond=array(2,23,24,45,46,47,17,18,19);
if (in_array($currCat, $stoneArr) && !in_array($currCat, $pair_diamond)): ?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
?>
<!-- <script>console.log('<?php // echo $_product->getTypeId(); ?>');</script> -->

<?php if ($_additional = $block->getAdditionalData()): ?>
    <?php if( $_product->getTypeId() == 'simple' ): ?>
    <div class="additional-attributes-wrapper table-wrapper pad-gb">
        <div class="data table additional-attributes" id="product-attribute-specs-table">
            <?php /* <caption class="table-caption"><?php @escapeNotVerified echo __('More Information') ?></caption> */ ?>
            <div class="col-sm-9 center-block">
                <div class="clearfix">
                    <div class="col-sm-9">
                        <div class="row">
                            <?php foreach ($_additional as $_data): ?>
                                <div class="col-xs-6 col-md-3 text-left mrg-xt text-gray pad-zr" scope="row"><?php echo $block->escapeHtml(__($_data['label'])) ?></div>
                                <div class="col-xs-6 col-md-3 text-left mrg-xt pad-zl font-mb" data-th="<?php echo $block->escapeHtml(__($_data['label'])) ?>"><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></div>
                                <div class="clearfix visible-xs"></div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mrg-db gia_report">
                            <!-- <span class="text-gray">Reports: </span><span class="mrg-sl mrg-gr">Certified By  -->
                                <?php 
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_grading_lab');
                                if ($_getMyAttr) {$cirtificate__type = $_getMyAttr->getFrontend()->getValue($_product);}
                                ?>  
                        </span>
                        </div>
                        <!-- certificate -->
                        <?php if(strtolower($cirtificate__type) != 'no'): ?>
                        <?php 
                        $filesize = "";
                        $filename = 'idex/pdf/certificate_'.$ProductId.'.pdf';
                        if (file_exists($filename)) {
                            $filesize = filesize($filename);
                            $filesize = round($filesize / 1024, 2);
                        }
                          $cirtificate = array(
                                            'AGS'=>'ags-certificate.jpg',
                                            'EGL'=>'egl-certificate.jpg',
                                            'GIA'=>'gia-certificate.jpg',
                                            'GS'=>'gs-certificate.jpg',
                                            'HRD'=>'hrd-certificate.jpg',
                                            'IGI'=>'igi-certificate.jpg',
                                            'IGL'=>'igl-certificate.jpg',
                                            'VGR'=>'vgr-certificate.jpg',
                                            );
                        //echo "The size of your file is $filesize.";
                        $defult_path = $this->getViewFileUrl('images/'.$cirtificate[$cirtificate__type]);
                        if (file_exists($filename) && $filesize > 100) { 
                       echo '<div class="gia-img" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'" >
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            <img class="img-responsive" src="'.$defult_path.'" alt="image">
                        </div>
                        <div id="gia-cert-report" class="mrg-dt sec-col-under gia-report hidden-xs" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'" >
                            View Report
                        </div>';
                        } /*else if($filesize < 100) {
                          echo'<div class="gia-img" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'" >
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            <img class="img-responsive" src="'.$defult_path.'" alt="image">
                            </div>
                            <div id="gia-cert-report" class="mrg-dt sec-col-under gia-report hidden-xs" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'" >View Report</div>
                        </div>';
                        }*/
                        ?>
                         <?php endif; ?> 
                        <!-- certificate -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php else: ?>
    <div class="additional-attributes-wrapper table-wrapper pad-gb">
        <div class="data table additional-attributes" id="product-attribute-specs-table">
            <?php /* <caption class="table-caption"><?php @escapeNotVerified echo __('More Information') ?></caption> */ ?>
            <div class="col-sm-10 center-block">
                <div class="row">
                    <div class="clearfix">

                        <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Metal Type</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Stone Type">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('dyo_rings_metal');
                                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                            <a href="#" class="text-link" ><?php echo $attrTestValue ?></a>
                        </div>
                        <div class="clearfix visible-xs"></div>

                        <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Recommended Center Stone Weight</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Stock Number">
                             <?php $_getMyAttr = $_product->getResource()->getAttribute('dyo_rings_side_stones_total_we');
                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                        </div>
                        <div class="clearfix visible-xs"></div>

                        <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Metal Weight</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Style">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('dyo_rings_side_stones_total_we');
                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                        </div>
                        <div class="clearfix visible-xs"></div>

                         <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Sidestone Minimum Total Carat Weight</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Diamond Description">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('dyo_rings_side_stones_avg_clar');
                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                        </div>
                        <div class="clearfix visible-xs"></div>

                         <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Band Width</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Average width">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('dyo_rings_average_width');
                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                        </div>
                        <div class="clearfix visible-xs"></div>

                         <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Sidestone Minimum Color</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Cut">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('dyo_rings_side_stones_avg_colo');
                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                        </div>
                        <div class="clearfix visible-xs"></div>

                        <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Available Ring Size</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Ring Size">
                             <?php $_getMyAttr = $_product->getResource()->getAttribute('rts_ring_size');
                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                        </div>
                        <div class="clearfix visible-xs"></div>
                        
                         <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Sidestone Minimum Clarity</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Clarity">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('dyo_rings_side_stones_avg_clar');
                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                        </div>
                        <div class="clearfix visible-xs"></div>

                         <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Recommended Diamond Shapes</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Prong Metal">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('setting_shape');
                                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                            <a href="#" class="text-link" ><?php echo $attrTestValue ?></a>
                        </div>
                        <div class="clearfix visible-xs"></div>

                         <div class="col-sm-3 col-xs-6 text-left mrg-xt text-gray" scope="row">Manufactured In</div>
                        <div class="col-sm-3 col-xs-6 text-left mrg-xt" data-th="Color">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('country_of_manufacture');
                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            ?>
                        </div> 
                        <div class="clearfix visible-xs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php endif; ?>
<?php endif;?>

<?php endif; ?>