<div class='text-uppercase'>ideal cut <i class="fa fa-circle" style="font-size: 5px; line-height: 15px; vertical-align: text-bottom;" aria-hidden="true"></i> i color <i class="fa fa-circle" style="font-size: 5px; line-height: 15px; vertical-align: text-bottom;" aria-hidden="true"></i> vs1 clarity</div>
<?php
	echo $_product->getAttributeName();
?>