<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
     //fetch catID

?>
<?php 
$_product = $block->getProduct();
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
    }
$mobile_style   = array(2,20,41,42,43,44,23,24,45,46,47);
$pair_diamond   = array(2,23,24,45,46,47);
$readytoship    = array (27,28,29,30);
?>

<?php if (in_array($currCat, $mobile_style)):?>
<style>
    .product-image .tab-content{
        border-bottom: 0;
        margin-bottom: 0px;
    }

</style>    
<?php endif; ?>

<?php if (!in_array($currCat, $pair_diamond)): ?>
    <?php include ($block->getTemplateFile('Magento_Catalog::gallery/gallery-tabs.phtml')); ?>
    <div class="tab-content">
        <div class="tab-pane fade" id="threesixty"><?php include ($block->getTemplateFile('Magento_Catalog::gallery/gallery-tabs-360.phtml')) ?></div>
        <?php 
        $pair_diamond=array(2,23,24,45,46,47);
        if (!in_array($currCat, $pair_diamond)): ?>
        <div class="active in fade tab-pane slideShow <?php echo (in_array($currCat, $readytoship)) ? 'rel' : '' ?>" id="productImg">
            <div class="hand-img">
                <img class="img-navigator-mobile visible-xs" src='<?php echo $this->getViewFileUrl('images/icons/image-navigator-mobile.png'); ?>' alt="image-navigator-mobile"/>
            </div>
            <div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
                <div data-role="loader" class="loading-mask">
                    <div class="loader">
                        <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                             alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
                     </div>
                </div>
            </div>
            <!--Fix for jumping content. Loader must be the same size as gallery.-->
            <script>
                var config = {
                        "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                        "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                                    ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                        "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                        "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height'); ?>
                    },
                    thumbBarHeight = 0,
                    loader = document.querySelectorAll('[data-gallery-role="gallery-placeholder"] [data-role="loader"]')[0];

                if (config.navtype === 'horizontal') {
                    thumbBarHeight = config.thumbheight;
                }

                loader.style.paddingBottom = ( config.height / config.width * 100) + "%";
            </script>
            <script type="text/x-magento-init">
                {
                    "[data-gallery-role=gallery-placeholder]": {
                        "mage/gallery/gallery": {
                            "mixins"            : ["magnifier/magnify"],
                            "magnifierOpts"     : <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
                            "data"              : <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
                            "options"           : {
                                    "nav"       : "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
                                    <?php if (($block->getVar("gallery/loop"))): ?>
                                    "loop"      : <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
                                    <?php endif; ?>
                                    <?php if (($block->getVar("gallery/keyboard"))): ?>
                                    "keyboard"  : <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
                                    <?php endif; ?>
                                <?php if (($block->getVar("gallery/arrows"))): ?>
                                    "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
                                <?php endif; ?>
                                <?php if (($block->getVar("gallery/allowfullscreen"))): ?>
                                    "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
                                <?php endif; ?>
                                <?php if (($block->getVar("gallery/caption"))): ?>
                                    "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
                                <?php endif; ?>
                                "width": "<?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>",
                                "thumbwidth": "<?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>",
                                <?php if ($block->getImageAttribute('product_page_image_small', 'height') || $block->getImageAttribute('product_page_image_small', 'width')): ?>
                                    "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                                    ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                                <?php endif; ?>
                                <?php if ($block->getImageAttribute('product_page_image_medium', 'height') || $block->getImageAttribute('product_page_image_medium', 'width')): ?>
                                    "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
                                    ?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                                <?php endif; ?>
                                <?php if ($block->getVar("gallery/transition/duration")): ?>
                                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/duration"); ?>,
                                <?php endif; ?>
                                "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/effect"); ?>",
                                <?php if (($block->getVar("gallery/navarrows"))): ?>
                                    "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/navarrows"); ?>,
                                <?php endif; ?>
                                "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                                <?php
                                    $stoneArr=array(2,14,17,18,19,27,28,29,30,37,38,39,40);
                                    if (in_array($currCat, $stoneArr)): ?>
                                    "navdir": "vertical"
                                <?php else: ?>
                                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navdir"); ?>"
                                <?php endif; ?>
                            },
                            "fullscreen": {
                                "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                                <?php if ($block->getVar("gallery/fullscreen/loop")): ?>
                                    "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/loop"); ?>,
                                <?php endif; ?>
                                "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navdir"); ?>",
                                <?php if ($block->getVar("gallery/transition/navarrows")): ?>
                                    "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navarrows"); ?>,
                                <?php endif; ?>
                                "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navtype"); ?>",
                                <?php if ($block->getVar("gallery/fullscreen/arrows")): ?>
                                    "arrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/arrows"); ?>,
                                <?php endif; ?>
                                <?php if ($block->getVar("gallery/fullscreen/caption")): ?>
                                    "showCaption": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/caption"); ?>,
                                <?php endif; ?>
                                <?php if ($block->getVar("gallery/fullscreen/transition/duration")): ?>
                                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
                                <?php endif; ?>
                                "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
                            },
                            "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
                        }
                    }
                }
            </script>
            <?php
                $giaArr = array (20,41,42,43,44,23,24,45,46,47,51,52,53,54,55);
                if (in_array($currCat, $giaArr)):
            ?>
            
                <?php include ($block->getTemplateFile('Magento_Catalog::gia-certificate.phtml')) ?>
           
            <?php endif; ?>
        </div>
        <div class="tab-pane fade slideHide" id="soldImg">
            <?php $stoneArr=array(2,14,37,38,39,40);
            if (in_array($currCat, $stoneArr)):
                  $Objectinstance = \Magento\Framework\App\ObjectManager::getInstance();
                  $storeManager = $Objectinstance->get('\Magento\Store\Model\StoreManagerInterface');
                  $BaseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
                  $PortfolioModel = $Objectinstance->create('Aghai\Steps\Model\Portfolio');
                  $PortfolioModel = $PortfolioModel->getCollection()->addFieldToFilter('pid', array('eq' => $_product->getId()));
                  $StaticImagesListArr= [];
                  foreach ($PortfolioModel as $port){
                      //$COreBasePath = 'portfolio360images/'.$_product->getId().'/'.$port->getChildId().'/';
                      $COreBasePath = 'portfolio360images/'.$_product->getId().'/'.$port->getChildId().'/resize/';
                      
                            $dir_path = $COreBasePath; 
                            $extensions_array = array('jpg','png','jpeg');
                            $ImgUrlsStr = '';
                            if(is_dir($dir_path))
                            {
                                $files = scandir($dir_path);
                                $count = count($files);
                               for($i = 0; $i < $count; $i++)
                                {
                                    if($files[$i] !='.' && $files[$i] !='..')
                                    {
                                        // get file name
                                       if( $ImgUrlsStr != ''){
                                         $ImgUrlsStr .=' '.$this->getUrl().$dir_path.$files[$i];
                                       }
                                       if( $ImgUrlsStr == ''){
                                         $ImgUrlsStr .=$this->getUrl().$dir_path.$files[$i];
                                       }
                                    }
                                }
                                $StaticImagesListArr[$port->getChildId()] = $ImgUrlsStr;
                            }
                  }
            ?>
                <div id="gallery-slider">
                    <div class="gallery-viewport">
                        <div id="gallery-slider-wrapper">
                        <?php  foreach ($PortfolioModel as $port): ?>
                            <div class="slide">
                                <a class="Magic360" data-options="filename:resized_portfolio_{col}.png;columns:100;rows:1;autospin-start:hover;initialize-on:hover;mousewheel-step: 1;" href="<?php echo $BaseUrl.$port->getFirstImg();?>"><img src="<?php echo $BaseUrl.$port->getFirstImg();?>">
                                </a>
                            </div>
                        <?php endforeach;?>                    
                        </div>
                    </div>
                    <div id="gallery-slider-nav">
                        <a href="#" data-slide-index=""><img src="<?php echo $block->getViewFileUrl('images/icons/360icon.jpg') ?>" alt="gallery-slider-image" height="50" width="50"></a>
                        <?php $i=0; foreach ($PortfolioModel as $port): ?>
                        <a href="#" data-slide-index="<?php echo $i; ?>"><img width="50px" height="50px" src="<?php echo $BaseUrl.$port->getFirstImg();?>" alt=""></a>
                         <?php $i++; endforeach;?>
                    </div>
                </div>
            <?php endif ?>
            <?php endif ?>
        </div>
    </div>
    <?php 
        $readystoneArr= array(2,27,28,29,30,17,18,19,51,52,53,54,55);
        if (in_array($currCat, $readystoneArr)): 
    ?>
    <?php include ($block->getTemplateFile('Aghai_Shippingdate::product/view/shippingdate.phtml')); ?>
    <div class="clearfix">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="image-list clearfix text-center">
                <ul class="list-unstyled font-df">
                    <li><i class="em em-fed-ex-shipping" aria-hidden="true"></i>Free FedEx Shipping</li>
                    <li><i class="em em-free-return" aria-hidden="true"></i> Free 60 Days Returns</li>
                </ul>
                <ul class="list-unstyled font-df">
                    <li><i class="em em-money-back" aria-hidden="true"></i> Money back guarantee</li>
                    <li><i class="em em-lifetime-warranty" aria-hidden="true"></i> Free Lifetime Warranty</li>
                </ul>
            </div>
        </div>
    </div>
    <?php endif; ?>
<?php endif ?>