<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
$itemPid = $block->getProductIds();
$ChildProductsIds=0;
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
//check if steps are enabled
$stoneArr=array(47,46,45,24,23,22,44,43,42,41,20,15);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$currency = $objectManager->get('\Magento\Directory\Model\Currency');
$SessionObj = $objectManager->create('Magento\Customer\Model\SessionFactory')->create();
$ProductObj = $objectManager->create('Magento\Catalog\Model\Product');//->load($productId);
$Cartprods = $SessionObj->getCartprods(); $ParentId =0;
$ParentProd = $objectManager->create('Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable')->getParentIdsByChild($Cartprods[0]);
     if($ParentProd[0]=null){
        $ParentId = $ParentProd[0];
    }
     if($ParentProd[0]!=null){
        $ParentId = $ParentProd[0];
    }
    
$SettingProd ='';$SettingProdId =0;$StoneProdId=0;$StoneProd ='';$Setting ='';$Stone ='';$currCat=0;$stoneOccupied =0;
if(count($Cartprods)>0):        
        $ProductObj = $objectManager->create('Magento\Catalog\Model\Product');
        $ProductObj2 = $objectManager->create('Magento\Catalog\Model\Product');
       
        if($ParentId){
            $Setting = $ProductObj->load($ParentId);
            $categories = $Setting->getCategoryIds(); /*will return category ids array */
            foreach($categories as $category){
                $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                $currCat= $cat->getId();
            }
            //check if first product is stone or setting
             if (in_array($currCat, $stoneArr)){
                $StoneProd = $Setting;
                $stoneOccupied =1;
             }else{
                $SettingProd = $Setting;
             }
        }
        if($Cartprods[1]){
            $Stone = $ProductObj2->load($Cartprods[1]);
            if($stoneOccupied ==1){
                $SettingProd = $Stone;
            }else{
                $StoneProd = $Stone;
            }    
        }
#echo '$SettingProd'.$SettingProd->getId();die;
        $productTypeInstance = $SettingProd->getTypeInstance();
        $usedProducts = $productTypeInstance->getUsedProducts($SettingProd);
        $ChildProductsIds = 0;

        foreach ($usedProducts  as $child) {                                  
                      if($itemPid==$child->getId()){
                        $ChildProductsIds = $child->getId();
                      }
                    /* $ChildProductsConfigOptions[] =$child->getData('dyo_rings_metal');
                     #$selected_configurable_option = $child->getId();
                     if($child->getData('dyo_rings_metal')==$data['selectedAval']){
                        $selected_configurable_option =$child->getData('dyo_rings_metal');
                        $SelectedChildProductId = $child->getId();
                     }
                     #echo 'Childs:: '.$child->getId().'  ==> '.$child->getData('dyo_rings_metal').' <==> '.$data['selectedAval'].'<br/>';*/
        } 
        $userBox = $SessionObj->getUserbox();
        $userFont = $SessionObj->getUserfont();
        $userText  = $SessionObj->getUsertext();
        $userRingSize  = $SessionObj->getUseringsize();
        $SettingProdId = $SettingProd->getId();
        $StoneProdId = $StoneProd->getId();
endif; 
 
//echo '<h2>'.$CurrentStep.'>>>>'.$itemPid.'=='.$ChildProductsIds.'<<<<'.$StoneProdId.'</h2>';
//echo '<h2>'.$userBox.'<==>'.$userFont.'<==>'.$userBox.'<==>'.$userText.'<==>'.$userRingSize.'<==></h2>';     
$categoryCollection = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
$productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');
$product = $productRepository->getById($itemPid);
$categoryIds = $product->getCategoryIds();
$categories = $categoryCollection->create()
                                 ->addAttributeToSelect('*')
                                 ->addAttributeToFilter('entity_id', $categoryIds);
foreach ($categories as $category) {
    $catagoryid=$category->getId();
    //echo $category->getName();
}
$ringArray = array(14,37,17,18,19,27);
// ring and diamond design
     if($product->getId()==$ChildProductsIds):

?>
<script type="text/javascript">
    var btn = document.getElementById('btn');
    btn.onclick = function () {
    document.getElementById('inscription<?php echo $itemPid ?>').remove();
    this.remove();
};
</script>
<div class="cart item">
    <span id="incription_nametype"></span>
    <div class="item-info clearfix items">
        <?php // images and names ?>
        <div data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item col-sm-3">
            <div class="thumbnail img-thumbnail no-border">
                <?php
                // if image has url start a tag
                if ($block->hasProductUrl()):?>
                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>" data-jyoti="C" title="<?php echo $block->escapeHtml($block->getProductName()) ?>" tabindex="-1" class="product-item-photo visbile-in-blk">
                <?php endif;?>
                <?php
                // image tag
                echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
                <?php
                // if image has url clase a tag
                if ($block->hasProductUrl()):?>
                </a>
                <?php endif; ?>                
                <div class="caption">
                    <ul class="list-unstyled mrg-zb">
                        <?php $customerSession = $objectManager->get('Magento\Customer\Model\Session'); if($customerSession->isLoggedIn()) {  ?>
                        <li><a  href="<?php echo $this->getUrl()?>steps/index/customaddfav?p1=<?php echo $ChildProductsIds;?>&p2=<?php //echo $StoneProd?>" ><i class="fa fa-heart-o"></i> Save to Favorite</a></li> 
                        <?php }?>
                        <li class="remove-cart"><a href="<?php echo $this->getUrl()?>steps/index/customremovecart?p1=<?php echo $ChildProductsIds?>&p2=<?php echo $StoneProdId?>" title="Remove item" class="action action-delete" ><i class="em em-delete"></i>Remove</a></li><?php /* @escapeNotVerified */ //echo $block->getActions($_item) ?>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <h5 class="header">Your Engagement Ring</h5>
            <div class="row">
                <div class="col-sm-12 col-xs-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="list-content">
                                <h6 class="text-muted header normal">Your Setting</h6>
                                <ul class="list-unstyled text-uppercase">
                                    <?php
                                    // options
                                    if ($_options = $block->getOptionList()):?>
                                        <?php foreach ($_options as $_option) : ?>
                                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                                            <li>
                                                <?php echo $block->escapeHtml($_option['label']) ?>: 
                                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                                <?php else: ?>
                                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                                <?php endif; ?>
                                            </li>
                                        <?php endforeach; ?>
                                    <?php endif;?>
                                    <li>
                                        <?php
                                        // product name
                                        if ($SettingProd->getProductUrl()):?>
                                            <a href="<?php /* @escapeNotVerified */ echo $SettingProd->getProductUrl() ?>" class="name"><?php echo $block->escapeHtml($SettingProd->getName()) ?></a>
                                        <?php else: ?>
                                            <?php echo $block->escapeHtml($SettingProd->getName()) ?>
                                        <?php endif; ?>
                                    </li>
                                    <li class="change"><a href="<?php echo $SessionObj->getOneprodurl();?>" >Change</a></li>
                                    <?php /* @escapeNotVerified */ //echo $block->getActions($_item) ?><!-- <a href="<?php //echo $this->getUrl()?>checkout/cart/configure/id/<?php //echo $_item->getId()?>/product_id/<?php //echo $SettingProd->getId()?>/" >Change</a> -->
                                </ul>
                                <?php $OptionsValuesArr=array('891'=>'3','892'=>'3 1/4','893'=>'3 1/2','1049'=>'3 3/4','1050'=>'4','1051'=>'4 1/4','1052'=>'4 1/2','1053'=>'4 3/4','1054'=>'5','1055'=>'5 1/4','1056'=>'6','1057'=>'7','1058'=>'8','1059'=>'9','1060'=>'10','1061'=>'11','1062'=>'12'); ?>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group mrg-dt">
                                            <select name="" id="" class="form-control input-sm">
                                                <?php  
                                                        if($userRingSize==''||$userRingSize<1||$userRingSize===null){
                                                            echo '<option value="0">Select Ring Size</option>';
                                                        }else{
                                                            foreach ($OptionsValuesArr as $key => $value) {
                                                                if($userRingSize==$key){
                                                                  echo  '<option selected  value="'.$key.'">'.$value.'</option>';
                                                                }
                                                                if($userRingSize!=$key){
                                                                  echo  '<option  value="'.$key.'">'.$value.'</option>'; 
                                                                }
                                                            }
                                                        }

                                                ?>
                                            </select>
                                        </div>
                                        <span class="text-underline text-sec cursor-pointer mrg-xr" data-toggle="modal" id="inscription" prodid="inscription<?php echo $itemPid ?>" data-target="#add_inscription">Inscription:</span>
                                        <span id="inscription<?php echo $itemPid ?>" class="mrg-dl" style="font-family:<?php echo $userFont ?>;font-size: 20px;" ><?php echo $userText; ?></span>
                                        <span href="" class="times cursor-pointer" id="btn">&times;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col qty col-sm-3" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
                            Quantity: <?php /* @escapeNotVerified */ echo '1';//$block->getQty() ?>
                        </div>
                        <div class="col-sm-3 price-wrap">
                            <?php if ($canApplyMsrp): ?>
                            <div class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                                <span class="pricing msrp">
                                    <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                                    <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                                        <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                                    </a>
                                </span>
                            </div>
                            <?php else: ?>
                            <div class="col" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                                <?php echo $priceHelper->currency($SettingProd->getFinalPrice(), true, false); ?>
                            </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="list-content">
                                <h6 class="text-muted header normal">Your Stone</h6>
                                <ul class="list-unstyled text-uppercase">
                                   
                                    <li>
                                        <?php
                                        // product name
                                        if ($StoneProd->getProductUrl()):?>
                                            <a href="<?php   echo $StoneProd->getProductUrl() ?>" class="name"><?php echo $block->escapeHtml($StoneProd->getName()); ?></a>
                                        <?php else: ?>
                                            <?php echo $block->escapeHtml($StoneProd->getName()); ?>
                                        <?php endif; ?>
                                    </li>
                                    <li class="change"> <a href="<?php echo $SessionObj->getTwoprodurl();?>" >Change</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col qty col-sm-3" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
                            Quantity: <?php /* @escapeNotVerified */ echo '1';//$block->getQty() ?>
                        </div>
                        <div class="col-sm-3 price-wrap">
                            <?php if ($canApplyMsrp): ?>
                            <div class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                                <span class="pricing msrp">
                                    <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                                    <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                                        <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                                    </a>
                                </span>
                            </div>
                            <?php else: ?>
                            <div class="col" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                                <?php echo $priceHelper->currency($StoneProd->getPrice(), true, false); ?>
                            </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif;  

if($product->getId()!=$ChildProductsIds&&$product->getId()!=$StoneProdId): // single cart design ?>
<div class="cart item">
    <div class="item-info clearfix items">
        <div data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item col-sm-3">
            <div class="thumbnail img-thumbnail no-border">
                <?php
                // if image has url start a tag
                if ($block->hasProductUrl()):?>
                <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>" data-jyoti="A" title="<?php echo $block->escapeHtml($block->getProductName()) ?>" tabindex="-1" class="product-item-photo visbile-in-blk">
                <?php endif;?>
                <?php
                // image tag
                echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
                <?php
                // if image has url clase a tag
                if ($block->hasProductUrl()):?>
                </a>
                <?php endif; ?>                
                <div class="caption">
                    <ul class="list-unstyled mrg-zb">
                        <li class="remove-cart"><?php /* @escapeNotVerified */ echo $block->getActions($_item) ?></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <?php if(in_array($catagoryid, $ringArray)) :?>
            <h5 class="header">Your Ring</h5> 
            <?php elseif(!in_array($catagoryid, $ringArray)) : ?>
            <h5 class="header">Your Diamond</h5>
            <?php endif?>
            <div class="list-content">
              <!--   <h6 class="text-muted header normal">Your Settings</h6> -->
                <ul class="list-unstyled text-uppercase">  
                    <li>
                        <?php
                        // product name
                        if ($block->hasProductUrl()):?>
                            <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>" data-jyoti="B" class="name">
                                <?php echo  $product_name = $block->escapeHtml($block->getProductName()) ?>
                            </a>
                        <?php else: ?>
                            <?php echo $block->escapeHtml($block->getProductName()) ?>
                        <?php endif; ?>
                    </li>                            
                    <?php
                    // options
                    if ($_options = $block->getOptionList()):?>
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <li>
                                <?php echo $block->escapeHtml($_option['label']) ?>: 
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </li>
                        <?php endforeach; ?>
                    <?php endif;?>
                </ul>
            </div>
            <?php if(in_array($catagoryid, $ringArray)) :?>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mrg-xt mrg-db">
                        <select name="step_attri" id="ringsize" class="form-control font-sm">
                            <option value="">Select Ring Size</option>
                            <option value="891">3</option>
                            <option value="892">3 1/4</option>
                            <option value="893">3 1/2</option>
                            <option value="1049">3 3/4</option>
                            <option value="1050">4</option>
                            <option value="1051">4 1/4</option>
                            <option value="1052">4 1/2</option>
                            <option value="1053">4 3/4</option>
                            <option value="1054">5</option>
                            <option value="1055">5 1/4</option>
                            <option value="1056">6</option>
                            <option value="1057">7</option>
                            <option value="1058">8</option>
                            <option value="1059">9</option>
                            <option value="1060">10</option>
                            <option value="1061">11</option>
                            <option value="1062">12</option>
                        </select>
                    </div>
                    <span class="text-underline text-sec cursor-pointer" data-toggle="modal" id="inscription" prodid="inscription<?php echo $itemPid ?>" data-target="#add_inscription">Inscription:
                    </span>
                    <span id="inscription<?php echo $itemPid ?>" ></span>
                    <span href="" class="times cursor-pointer" id="btn">&times;</span>
                </div>
            </div>
            <?php endif?>
        </div>
        <div class="col qty col-sm-3" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
            Quantity:
            <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                   name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                   data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                   value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                   type="number"
                   size="4"
                   title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                   class="input-text input-tiny"
                   maxlength="12"
                   data-validate="{required:true,'validate-greater-than-zero':true}"
                   data-role="cart-item-qty"/>
            <button type="button" class="btn btn-xs btn-link">Update</button>
        </div>
        <div class="col-sm-2 price-wrap">
            <?php if ($canApplyMsrp): ?>
            <div class="col msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                        <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                    </a>
                </span>
            </div>
            <?php else: ?>
            <div class="col" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <?php echo $block->getUnitPriceHtml($_item); ?>
            </div>
            <?php endif; ?>
        </div>
    </div>
</div>
<?php  endif;?>
<script>
    require([
        'Magento_Customer/js/customer-data'
    ], function (customerData) {
        var sections = ['cart'];
        customerData.invalidate(sections);
    });
</script>