<div class="col-sm-9">
	<div class="well">
		<h3 class="header bold">Need Assistance</h3>
		<h4 class="header normal text-capitalize">24/7 Customer Service</h4>
		<ul class="list-inline">
			<li><a href=""><i class="em em-phone"></i></a></li>
			<li><a href=""><i class="em em-phone"></i></a></li>
			<li><a href=""><i class="em em-phone"></i></a></li>
		</ul>
	</div>
</div>