<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-lab-diamond">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Loose Diamonds</h4>
					<h1 class="h1">Lab Diamonds</h1>
				</div>
				<div class="well well-simple padxs-zv">
					<h3 class="head">what are lab diamonds?</h3>
					<p>Lab diamonds or laboratory Diamonds are synthetic diamonds that are created in specialist jewelry laboratories. Our scientists use high tech devices to replicate the natural conditions that resulted in the creation of diamonds below the earth.</p>
				</div>
				<div class="well edu-bg-blue">
					<p class="text-center padh-50">The quality of lab diamonds is so high that most jewelers and their customers will not be able to tell the difference between the two types of diamond.</p>
				</div>
				<div class="well well-simple padxs-zb">
					<h3 class="head h3">How are natural diamonds made?</h3>
					<p class="visible-xs pad-dt">Natural diamonds are created deep below the earth’s surface where immense pressures and heat gradually transform carbon bearing materials into the world’s most prized mineral. Rough diamonds are then brought to the surface of the earth by deep volcanic eruptions.</p>
				</div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body hidden-xs">
						<p>Natural diamonds are created deep below the earth’s surface where immense pressures and heat gradually transform carbon bearing materials into the world’s most prized mineral. Rough diamonds are then brought to the surface of the earth by deep volcanic eruptions.</p>
					</div>
				</div>
				<div class="well well-simple mrg-zb">
					<h3 class="head">Diamond Facts</h3>
					<ul class="list-group hidden-xs">
						<li class="list-group-item"><i class="em edu-diamond mrg-sr"></i> Depth at creation = approximately 100 miles beneath the surface of the earth.</li>
						<li class="list-group-item"><i class="em edu-diamond mrg-sr"></i> Required subterranean pressure = 45 - 60 kilobars (4.5 -6 GPa)</li>
						<li class="list-group-item"><i class="em edu-diamond mrg-sr"></i> Required temperature =  900 - 1,300 °C (1,650 - 2,370 °F).</li>
						<li class="list-group-item"><i class="em edu-diamond mrg-sr"></i> Time period = 1 billion - 3.3 billion years</li>
					</ul>
					<div class="visible-xs">
						<div class="media">
							<a class="pull-left" href="#"><i class="em edu-diamond mrg-sr"></i></a>
							<div class="media-body pad-zh pad-zv">Depth at creation = approximately 100 miles beneath the surface of the earth.</div>
						</div>
						<div class="media">
							<a class="pull-left" href="#"><i class="em edu-diamond mrg-sr"></i></a>
							<div class="media-body pad-zh pad-zv"> Required subterranean pressure = 45 - 60 kilobars (4.5 -6 GPa).</div>
						</div>
						<div class="media">
							<a class="pull-left" href="#"><i class="em edu-diamond mrg-sr"></i></a>
							<div class="media-body pad-zh pad-zv"> Required temperature =  900 - 1,300 °C (1,650 - 2,370 °F).</div>
						</div>
						<div class="media">
							<a class="pull-left" href="#"><i class="em edu-diamond mrg-sr"></i></a>
							<div class="media-body pad-zh pad-zv">Time period = 1 billion - 3.3 billion years</div>
						</div>
					</div>
				</div>
				<div class="well well-simple padxs-zb">
					<h3 class="head h3">How are Lab Diamonds Made?</h3>
					<h4 class="media-heading visible-xs mrg-gt">HPHT - High-Pressure High-Temperature</h4>
					<p class="visible-xs">Natural diamonds are created deep below the earth’s surface where immense pressures and heat gradually transform carbon bearing materials into the world’s most prized mineral. Rough diamonds are then brought to the surface of the earth by deep volcanic eruptions.</p>
				</div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body hidden-xs">
						<h4 class="media-heading edu-head-color">HPHT - High-Pressure High-Temperature</h4>
						<p>Natural diamonds are created deep below the earth’s surface where immense pressures and heat gradually transform carbon bearing materials into the world’s most prized mineral. Rough diamonds are then brought to the surface of the earth by deep volcanic eruptions.</p>
					</div>
				</div>
				<div class="well well-simple">
					<h3 class="head">Are Lab Diamonds Real Diamonds?</h3>
					<p>Lab diamonds have the same molecular structure as natural diamonds and can hatch natural diamonds for clarity and color. Even expert diamond appraisers need special instruments to see the difference between cut and polished lab diamonds and natural diamonds.</p>
				</div>
				<div class="well edu-bg-blue text-center">
					<h3 class="edu-head-color font-xs15">The Advantages of Lab Diamonds</h3>
					<p>There are several key advantages to buying lab diamonds:</p>
					<hr>
					<h3 class="edu-head-color font-xs15">The environmental factor</h3>
					<p>Lab diamonds are produced in a few hundred hours in a laboratory. There is none of the environmental damage that is inevitable with mining.</p>
					<hr>
					<h3 class="edu-head-color font-xs15">The human factor</h3>
					<p>There is no possibility of the exploitation of workers and human rights abuses that were associated with blood diamonds or conflict diamonds.</p>
					<hr>
					<h3 class="edu-head-color font-xs15">The price factor</h3>
					<p>Lab diamonds can be up to 20% cheaper than a natural diamond of identical quality. As demand increases lab diamonds will become cheaper still.</p>
				</div>
				<div class="well well-simple mrg-zb">
					<h3 class="head">Are Lab Diamonds Really Romantic?</h3>
				</div>
				<div>
					<img class="diamond-banner" src="<?php echo $this->getViewFileUrl('images/education-center/diamond-banner.png') ?>" alt="Image">
				</div>
				<div class="well well-simple">
					<h4>Emrada’s Chief Stylist</h4>
					<p>A lot of people ask us if lab diamonds can really be considered romantic. The answer is - absolutely yes!</p>
					<p>Lab diamonds are every bit as beautiful as natural diamonds and only trained experts with high tech equipment can tell them apart. When you see a superbly cut lab diamond on a gold ring you’ll be amazed. </p>
					<p>Diamonds are forever and when you buy a lab diamond you’ll get a lot more bang for your buck. The true romance is in the moment of the proposal and everything that comes with it. Your girlfriend will be thrilled by a beautiful ring with a stunning lab diamond. The second it goes on her finger it will be the best diamond in the world.</p>
					<div class="well well-simple">
						<a href="#" class="btn btn-turkish mw120">stylist</a>
						<a href="#" class="btn btn-red">browse diamonds</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>