<?php
/**
* Copyright © 2013-2017 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
// @codingStandardsIgnoreFile
?>
<?php
/**
* @description:
*
*/
?>
<?php
$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
?>
<?php if (count($_items)):?>
<div class="container">
    <div class="block review-list padding-container" id="customer-reviews">
        <h3 class="secondary-title">
        <?php /* @escapeNotVerified */ echo __('Customer Reviews') ?>
        </h3>
        <div class="review-head">
            <div class="row">
                <div class="col-sm-2 col-xs-5 text-right">
                    <ul class="list-unstyled">
                        <li><strong>TOTAL SCORE</strong></li>
                    </ul>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="list-inline">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star gray"></i>
                                    <i class="fa fa-star gray"></i>
                                </li>
                                <a class="text-dark text-uppercase font-sb" href="#customer-reviews"> <?php echo count($_items); ?> <?php echo(count($_items) == 1) ? __('Review') : __('Reviews') ?></a>
                            </ul>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-right">
                                <ul class="list-inline">
                                    <li>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-default dropdown-toggle sort-dropdwn font-sb" data-toggle="dropdown">Sort: Highest Rating
                                            <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" >
                                                  <li><a href="#" onclick="lowRating()" >Sort: Lowest Rating</li>
                                                  <li><a href="#" onclick="highRating()">Sort: Highest Rating</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><button type="button" class="btn btn-dark write-rev-btn" data-toggle="collapse" data-target="#write-review-product">WRITE A REVIEW</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <?php // modal form in the review ?>
        <div class="collapse review-item" id="write-review-product">
            <div class="clearfix">
                <div class="col-md-6">
                    <?php echo $this->getLayout()->createBlock("Magento\Review\Block\Form")->setTemplate("Magento_Review::form.phtml")->toHtml();?>
                </div>
            </div>
        </div>

        <div class="block-content review-wrapper" id="reviews-wrapper">
            <div class="toolbar review-toolbar">
                <?php //echo $block->getChildHtml('toolbar') ?>
            </div>
            <?php 
                $review = 0; 
                foreach ($_items as $_review):
                    if ($review == 3) {
                        break;
                    }
            ?>
            <div class="review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                <div class="clearfix">
                    <div class="col-sm-2">
                        <div class="text-right">
                            <p class="review-date">
                                <time class="review-details-value text-uppercase" itemprop="datePublished" datetime="<?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?>"><?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?>
                                </time>
                            </p>
                            <div class="review-details">
                                <div class="review-author text-uppercase">
                                    <strong class="review-details-value" itemprop="author"><?php echo $block->escapeHtml($_review->getNickname()) ?></strong>
                                </div>
                                <p><a href="#"><?php echo $block->escapeHtml($_review->getCustomer());?>verified buyer</a></p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <?php if (count($_review->getRatingVotes())): ?>
                        <div class="review-ratings">
                            <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                            <div class="rating-summary" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                <?php /* <span class="label rating-label"><span><?php echo $block->escapeHtml($_vote->getRatingCode()) ?></span></span> */ ?>
                                <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
                                    <meta itemprop="worstRating" content = "1"/>
                                    <meta itemprop="bestRating" content = "100"/>
                                    <span style="width:<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%"></span>
                                    <span itemprop="ratingValue"><?php /* @escapeNotVerified */ //echo $_vote->getPercent() ?>
                                        <?php 
                                        $eyecleanscore = round((floatval($_vote->getPercent()) / 100)*5);
                                        $active = 1;
                                        while ( $active <= $eyecleanscore) {
                                            echo "<i class='fa fa-star-active text-primary'></i> ";
                                            $active ++;
                                        }
                                        while ( $active > $eyecleanscore && $active <= 5 ) {
                                            echo "<i class='fa fa-star gray'></i> ";
                                            $active ++;
                                        }
                                         ?>
                                    </span>
                                </div>
                            </div>
                            <?php break; endforeach; ?>
                        </div>
                        <?php endif; ?>
                        <div class="review-title " itemprop="name"><?php echo $block->escapeHtml($_review->getTitle()) ?></div>
                        <div class="review-content readmore-content" id="reviewRead" itemprop="description">
                            <span class="readmore-text">
                            <?php 
                                $string = nl2br($block->escapeHtml($_review->getDetail()));
                                /*if (strlen($string) > 0) {
                                    $trimstring = substr($string, 0,10);
                                    echo $trimstring."...";*/
                                    //echo '<a href="javascript:showMore()">Read More</a>';
                               /* } else {*/
                                echo $string;
                               /* }*/
                            ?>
                            </span>
                            <?php if (str_word_count($string) > 20): ?><a href="" class="sec-col-under readmore-btn" onclick="return false;">Read More</a><?php endif; ?>                           
                        </div>
                        <?php if(strlen($_review->getImage())>4):?>
                            <div class="review_screenshot">
                                <span class="cursor-pointer" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $block->getUrl(); ?>pub/media/wysiwyg/reviewimages/<?php echo $_review->getImage(); ?>"></i><img src="<?php echo $block->getUrl(); ?>pub/media/wysiwyg/reviewimages/<?php echo $_review->getImage(); ?>" class="img-responsive img-thumbnail" alt="Review Screenshot"></span>
                            </div>
                        <?php endif;?>
                    </div>
                </div>
            </div>
            <?php $review ++; endforeach; ?>
            <div class="toolbar review-toolbar">
                <?php //echo $block->getChildHtml('toolbar') ?>
            </div>
        </div>
        <div class="more-reviews mrg-gt text-center">
        <?php if(count($_items)>3):?>
            <a type="button" href="<?php echo $block->getUrl(); ?>steps/index/reviews?pid=<?php echo $block->getProductId() ?>" class="btn btn-outline review-page-btn" target="blank"> More </a>
        <?php endif;?>
        <?php if(count($_items)<3):?>
            <div class="more-reviews">
                <span>No More Reviews</span>
            </div>
        <?php endif;?>
        </div> 
</div>
<?php endif;?>
