	<a href="<?php echo $this->getUrl(); ?>checkout/" class="btn btn-dark btn-xxl btn-block btn-icon-right">Checkout <i class="fa fa-arrow-right"></i></a>
	<div class="total-footer clearfix">
		<i class="em em-verisign"></i>
		<span class="pull-right">Shopping is always <a href="">safe and secure</a></span>
	</div>
</div> <?php // closing div tag of the #cart-totals from totals.phtml ?>