<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Temlate for \Magento\Customer\Block\Address\Book block
 * @var $block \Magento\Customer\Block\Address\Book
 */
?>
<div class="block block-addresses-default dash-right">
    <div class="block-title bg-gray-title"><span class="font-df mrg-sl"><?php /* @escapeNotVerified */ echo __('Default Addresses') ?></span></div>
    <div class="block-content row">
        <?php if ($_pAddsses = $block->getDefaultBilling()): ?>
            <div class="box box-address-billing col-sm-4">
                <h5 class="box-title font-bd"><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></h5>
                <div class="box-content">
                    <address>
                        <?php echo $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                    </address>
                </div>
                <div class="box-actions">
                    <a class="action edit btn btn-link pad-zl" href="<?php /* @escapeNotVerified */ echo $block->getAddressEditUrl($_pAddsses) ?>"><?php /* @escapeNotVerified */ echo __('Edit Billing Address') ?>
                    </a>
                </div>
            </div>
        <?php else: ?>
            <div class="box box-billing-address col-sm-4">
                <strong class="box-title"><span><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></span></strong>
                <div class="box-content">
                    <p><?php /* @escapeNotVerified */ echo __('You have no default billing address in your address book.') ?></p>
                </div>
            </div>
        <?php endif ?>

        <?php if ($_pAddsses = $block->getDefaultShipping()): ?>
            <div class="box box-address-shipping col-sm-4">
                <h5 class="box-title font-bd"><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></h5>
                <div class="box-content">
                    <address>
                        <?php echo $block->getAddressHtml($block->getAddressById($_pAddsses)) ?>
                    </address>
                </div>
                <div class="box-actions">
                    <a class="action edit btn btn-link pad-zl" href="<?php /* @escapeNotVerified */ echo $block->getAddressEditUrl($_pAddsses) ?>"><?php /* @escapeNotVerified */ echo __('Edit Shipping Address') ?>
                    </a>
                </div>
            </div>
        <?php else: ?>
            <div class="box box-shipping-address">
                <h5 class="box-title font-bd"><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></span></h5>
                <div class="box-content">
                    <p><?php /* @escapeNotVerified */ echo __('You have no default shipping address in your address book.') ?></p>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>
<div class="space-xs"></div>
<div class="block block-addresses-list">
    <div class="block-title bg-gray-title"><span class="font-df mrg-sl"><?php /* @escapeNotVerified */ echo __('Additional Address Entries') ?></span></div>
    <div class="block-content">
        <?php if ($_pAddsses = $block->getAdditionalAddresses()): ?>
            <ol class="items addresses">
                <?php foreach ($_pAddsses as $_address): ?>
                    <li class="item">
                        <address>
                            <?php echo $block->getAddressHtml($_address) ?><br />
                        </address>
                        <div class="item actions">
                            <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/address/edit', ['id' => $_address->getId()]) ?>"><span><?php /* @escapeNotVerified */ echo __('Edit Address') ?></span></a>
                            <a class="action delete" href="#" role="delete-address" data-address="<?php /* @escapeNotVerified */ echo $_address->getId() ?>"><span><?php /* @escapeNotVerified */ echo __('Delete Address') ?></span></a>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
        <?php else: ?>
            <p class="empty"><?php /* @escapeNotVerified */ echo __('You have no other address entries in your address book.') ?></p>
        <?php endif ?>
    </div>
</div>
<div class="actions-toolbar">
    <div class="primary">
        <button type="button" role="add-address" title="<?php /* @escapeNotVerified */ echo __('Add New Address') ?>" class="action primary add btn btn-dark btn-lg"><?php /* @escapeNotVerified */ echo __('Add New Address') ?></button>
    </div>
    <!-- <div class="secondary mrg-gb">
        <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><?php /* @escapeNotVerified */ echo __('Back') ?></a>
    </div> -->
</div>
<div class="space-lg hidden-xs"></div>
<script type="text/x-magento-init">
    {
        ".page-main": {
            "address": {
                "deleteAddress": "li.item a[role='delete-address']",
                "deleteUrlPrefix": "<?php /* @escapeNotVerified */ echo $block->getDeleteUrl() ?>id/",
                "addAddress": "button[role='add-address']",
                "addAddressLocation": "<?php /* @escapeNotVerified */ echo $block->getAddAddressUrl() ?>"
            }
        }
    }
</script>
