<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Edit customer address template
 *
 * @var $block \Magento\Customer\Block\Address\Edit
 */
?>
<form class="form-address-edit dash-right" action="<?php /* @escapeNotVerified */ echo $block->getSaveUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <div class="bg-gray-title">
        <span class="font-df mrg-sl">Add new address</span>
    </div>
    <!-- <p class="text-sec">Please complete the following missing information</p> -->
    <div class="row">
        <div class="col-sm-7">
            <fieldset class="fieldset">
                <?php echo $block->getBlockHtml('formkey')?>
                <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
                <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
                <div class="floating-label form-group review-field-nickname">
                    <?php
                     $preFilledEmail = 'abc@emrada.com';
                    $ObjectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $customerSession = $ObjectManager->create('Magento\Customer\Model\Session');
                    if($customerSession->isLoggedIn()) {
                        $preFilledEmail =   $customerSession->getCustomer()->getEmail();
                       /* $customerSession->getCustomer()->getId();
                        $customerSession->getCustomer()->getName(); 
                        $customerSession->getCustomer()->getEmail();                
                        $customerSession->getCustomer()->getGroupId(); // get Customer Group Id*/
                    }           
                     
                    ?>
                    <input required="" type="email" name="subsemail" id="nickname_field" value="<?php echo $block->escapeHtml($preFilledEmail) ?>" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                    <label for="nickname_field"><span>EMAIL ADDRESS</span></label>
                </div>
                <?php echo $block->getNameBlockHtml() ?>
                <!-- <div class="form-group floating-label company">
                    <input type="text" required name="company" id="company" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" value="<?php echo $block->escapeHtml($block->getAddress()->getCompany()) ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                    <label for="company"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
                </div> -->
                <!-- <div class="form-group floating-label fax">
                    <input type="text" required name="fax" id="fax" title="<?php /* @escapeNotVerified */ echo __('Fax') ?>" value="<?php echo $block->escapeHtml($block->getAddress()->getFax()) ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('fax') ?>">
                    <label for="fax"><span><?php /* @escapeNotVerified */ echo __('Fax') ?></span></label>
                </div> -->
                <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>
                <div class="street required">
                    <div class="form-group floating-label">
                        <input type="text" required name="street[]" value="<?php echo $block->escapeHtml($block->getStreetLine(1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="form-control <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"  />
                        <label for="street_1"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
                    </div>
                    <div class="form-group"><a class="social-login fogot-pw text-left text-uppercase cursor-pointer" id="address_line2">+ Address Line 2</a></div>
                    <div class="nested form-group floating-label" id="address2">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 1, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i < $_n; $_i++): ?>
                            <div class="form-group floating-label additional">
                                <input type="text" required name="street[]" value="<?php echo $block->escapeHtml($block->getStreetLine($_i+1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>" class="form-control <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                                <label for="street_<?php /* @escapeNotVerified */ echo $_i+1 ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Street Address %1', $_i+1) ?></span>
                                </label>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>

                <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
                <div class="form-group floating-label taxvat">
                    <input type="text" required name="vat_id" value="<?php echo $block->escapeHtml($block->getAddress()->getVatId()) ?>" title="<?php /* @escapeNotVerified */ echo __('VAT Number') ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id') ?>" id="vat_id">
                    <label for="vat_id"><span><?php /* @escapeNotVerified */ echo __('VAT Number') ?></span></label>
                </div>
                <?php endif; ?>

                <div class="form-group form-default  country required">
                    <?php echo $block->getCountryHtmlSelect() ?>
                </div>
                <div class="form-group floating-label city required">
                    <input type="text" required name="city" value="<?php echo $block->escapeHtml($block->getAddress()->getCity()) ?>" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
                    <label for="city"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                </div>
                <div class="form-group floating-label form-default region required">
                    <!-- <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                        <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                    </select> -->
                    <input type="text" required id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>"  title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>"<?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>/>
                    <label for="region"><span><?php /* @escapeNotVerified */ echo __('REGION (Optional)') ?></span></label>
                </div>
                <div class="form-group floating-label zip required">
                    <input type="text" required name="postcode" value="<?php echo $block->escapeHtml($block->getAddress()->getPostcode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="form-control validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                    <label for="zip"><span><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></span></label>
                </div>
                <div class="form-group floating-label telephone required">
                    <input type="text" required name="telephone" value="<?php echo $block->escapeHtml($block->getAddress()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="form-control <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>" id="telephone">
                    <label for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
                </div>

                <div class=" visible-xs border-btm mrg-gb pad-gt"></div>
                <?php if ($block->isDefaultBilling()): ?>
                    <div class="message info mrg-db"><?php /* @escapeNotVerified */ echo __("It's a default billing address.") ?></div>
                <?php elseif ($block->canSetAsDefaultBilling()): ?>
                    <div class="form-group choice set billing">
                        <?php /* @escapeNotVerified */ echo __('Billing address same as shipping') ?>
                    </div>
                <?php else: ?>
                    <input type="hidden" name="default_billing" value="1" />
                <?php endif; ?>

                <?php if ($block->isDefaultShipping()): ?>
                    <div class="message info"><!-- <?php /* @escapeNotVerified */ echo __("It's a default shipping address.") ?> --></div>
                <?php elseif ($block->canSetAsDefaultShipping()): ?>
                    <div class="form-group floating-label choice set shipping">
                        <input type="checkbox" id="primary_shipping" name="default_shipping" value="1" class="checkbox">
                        <label for="primary_shipping"><span><?php /* @escapeNotVerified */ echo __('Use as my default shipping address') ?></span></label>
                    </div>
                <?php else: ?>
                    <input type="hidden" name="default_shipping" value="1">
                <?php endif; ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action save primary btn btn-dark btn-lg" data-action="save-address" title="<?php /* @escapeNotVerified */ echo __('Save Address') ?>">
                        <span><?php /* @escapeNotVerified */ echo __('Save New Address') ?></span>
                    </button>
                </div>
                <!-- <div class="secondary">
                    <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php /* @escapeNotVerified */ echo __('Go back') ?></span></a>
                </div> -->
            </div>
        </div>
    </div>
</form>
<div class="space-lg hidden-xs"></div>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>   
