<?php
	$cid = $block->getRequest()->getParam('cid');
	if(!$cid){
		echo 'Category ID did not received';die;
	}
	echo '<h2>Ads Images for Category ID:'.$cid.'</h2>';
#die;

?>
<h4><a href="<?php echo $this->getUrl('steps/index/adsfun');?>">Back</a></h4> 
<h4><a href="<?php echo $this->getUrl('steps/index/deleteads',array('mode'=>'all','catid'=>$cid));?>"> Delete All Ads for this category</a></h4>
<hr/>
<h2>Existing images:</h2>
<?php
      $Objectinstance = \Magento\Framework\App\ObjectManager::getInstance();
      $storeManager = $Objectinstance->get('\Magento\Store\Model\StoreManagerInterface');
	  
      $adsModel = $Objectinstance->create('Aghai\Steps\Model\Ads');
      $collections = $adsModel->getCollection()->addFieldToFilter('catid', array('eq'=> $cid));
      if(count($collections)<1){
      	echo '<h4>No Ads uploaded Yet</h4>';
      }
      if(count($collections)>0):
      	$ExistingPositions=[];
      	$ExistingPics=[];
      	$ExistingFormat=[];
      	$totalExistingImages=0; $i=0; 
      	foreach ($collections as $collection) {
      		$TotalExistingCats[$collection->getEntityId()] = count(unserialize($collection->getPics()));
      		$totalExistingImages+=count(unserialize($collection->getPics()));
      		$ExistingPositions = unserialize($collection->getPosition());
	      	$ExistingFormat = unserialize($collection->getFormat());
	      	$ExistingPics = unserialize($collection->getPics());
	       
	         foreach (unserialize($collection->getPosition()) as $key=>$val) {
	         	$Format = ($ExistingFormat[$key]==1)?'Desktop':'Mobile';
      		 	 echo '<div id="existingrow_'.$key.'" >SNo.'.$i.' ||Position:'.$val.' ||<img  style="width:50px;height:auto;" src="'.$storeManager->getStore()->getBaseUrl().'adsimages/'.$ExistingPics[$key].'" />||Format:'.$Format.'  <a style="cursor:pointer;" onclick="deleteone('.$collection->getEntityId().','.$key.');" >Delete</a><br/></div>'; $i++;
	      #	print_r($TotalExistingCats); print_r($ExistingPositions);print_r($ExistingFormat);print_r($ExistingPics);
      	     }
        }
       endif;?>
<hr/>
<h2>Upload new ad images:</h2>
<form action="<?php echo $this->getUrl('steps/index/adssave');?>" method="post" enctype="multipart/form-data" >
	<div><input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */ echo $block->getFormKey() ?>" /></div>
	<input type="hidden" name="categoryid" value="<?php echo $cid;?>" >
<select name="format[]" >
	<option value="1" >Desktop</option>
	<option value="2" >Mobile</option>
</select> <br/>  <br/>
<div id="adsedit-area" >
		<span>Position: <input type="text" name="position[]" > <br/>  <br/>Image: <input type="file" name="pictures[]">&nbsp;</span> <hr/>
</div>
<a href="javascript:void(0);" onclick="addimage()" > + Add More images</a> <br/><br/>
<button>Save Everything</button>
</form>

<script type="text/javascript">
	function deleteone($entityId,$position){
		//alert($entityId+'Delete'+$position);
		require(["jquery"],function($) {
            $(document).ready(function() {
                  var customurl = "<?php echo $this->getUrl('steps/index/adsdelone');?>";
                $.ajax({
                    url: customurl,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        entityId: $entityId,
                        position:$position
                    },
                complete: function(data) {             
                    console.log('Response del one Controller::'+data.responseText);   
                    var d1 = document.getElementById('existingrow_'+$position);
                        d1.style="display:none;";
                    },
                    error: function (xhr, status, errorThrown) {
                        console.log('Error happens. Try again.');
                    }
                });
            });
        });
	}
	function addimage(){
	var d1 = document.getElementById('adsedit-area');		 
	d1.insertAdjacentHTML('beforeend', '<select name="format[]" ><option value="1" >Desktop</option><option value="2" >Mobile</option></select><br/><br/><span>Position: <input type="text" name="position[]" > <br/>Image: <input type="file" name="pictures[]">&nbsp;</span><hr/>');
	}
</script>