<h2>Ads Management System::</h2>
<?php

            $Objectinstance = \Magento\Framework\App\ObjectManager::getInstance();
            $categoryCollection = $Objectinstance->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
            $categories = $categoryCollection->create();
            $categories->addAttributeToSelect('*');
            $categories = array(36=>'Settings',4=>'Fine Jewellery',14=>'Engagement Rings',17=>'Wedding Rings');
            foreach ($categories as $position => $name ) {
                echo '  Name: '.$name.' <a href="'.$this->getUrl('steps/index/adsedit',array('cid'=>$position)).'"  > Edit </a><br />';
                $block->getChilds($position);
                echo '<hr />';
            }



?>