
	<a href="#">Dowenload Excel Format</a>
	<form action="<?php echo $block->getUrl('steps/index/executebulk');?>" name="bulkupload" method="post" enctype="multipart/form-data" >
		<?php echo $this->getBlockHtml('formkey')?>
		<select name="product_type">
				  <option value="#">Select Product Type</option>
				  <option value="colorless">Colorless</option>
				  <option value="dyoring">DYO ring</option>
				  <option value="dyoearing">DYO earing</option>
				  <option value="dyopandent">DYO pandent</option>
				</select>
			
			<input type="file" name="file" id="file" />
		<input type="submit" name="submit" />
	</form>
