<div class="layered-filters">
	<div class="row">
		<div class="col-md-12">
			<h4 class="h4 visible-xs collapsed collpasible" data-toggle="collapse" href="#linksFilters">Diamond Type</h4>
			<div class="linksFilters collapse sm-collapse" id="linksFilters">
				<ul class="list-inline">
				    <li class="active"><a href=""><span class="btn btn-xs btn-block btn-default">&nbsp;</span>Colorless Diamonds</a></li>
				    <li><a href=""><span class="btn btn-xs btn-block btn-default">&nbsp;</span>Fancy Color Diamonds</a></li>
				    <li><a href=""><span class="btn btn-xs btn-block btn-default">&nbsp;</span>Gemstones</a></li>
				    <li><a href=""><span class="btn btn-xs btn-block btn-default">&nbsp;</span>Lab Created Diamonds</a></li>
				    <li><a href=""><span class="btn btn-xs btn-block btn-default">&nbsp;</span>Lab Fancy Diamonds</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4 shape-filters">
			<h4 class="h4 hidden-xs">Shape</h4>
			<h4 class="h4 visible-xs collapsed collpasible mrg-tn1" data-toggle="collapse" href="#shape-filters">Shape</h4>
			<div class="collapse sm-collapse" id="shape-filters">
				<ul class="list-inline">
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Round</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Princess</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Oval</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Pear</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Oval</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Round</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Princess</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Oval</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Pear</figcaption>
							</figure>
						</a>
					</li>
					<li><a href="">
							<figure>
								<img src="http://placehold.it/40" alt="">
								<figcaption>Oval</figcaption>
							</figure>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<div class="size-range">
				<p>Adjust the algorithm tool to get the a personalized diamond showcase</p>
				<div class="form-inline clearfix">
					<label class="pull-left">Better Size</label>
					<input type="range" class="form-control">
					<label class="pull-right">Better Quality</label>
				</div>
			</div>
			<div class="view-date-wrap">
				<div class="clearfix">
					<div class="checkbox pull-left">
						<label>
							<input type="checkbox" value="" checked>
							Real Diamond View
						</label>
					</div>
					<div class="pull-right">
						<div class="form-inline">
							<div class="changeDate">
								<label>Delivery Date</label>
								<select name="" id="" class="form-control">
									<option value="">Friday, July 3</option>
									<option value="">Friday, July 8</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="advance-filters">
		<div class="advance-wrapper collapse" id="advancedWrapper">
			<div class="clearfix" id="advanceFilterFloorOne">
				<div class="col-md-6">
					<div class="row">
						<div class="color">
							<div class="row">
								<div class="col-md-2"><strong>COLOR</strong></div>
								<div class="col-md-10">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-sm active">
											<input type="checkbox" autocomplete="off" checked> D
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> E
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> F
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> G
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> H
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> K
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> L
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="certificate">
							<div class="row">
								<div class="col-md-2"><strong>CERTIFICATE</strong></div>
								<div class="col-md-10">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-sm active">
											<input type="checkbox" autocomplete="off" checked> gia
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> hrd
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> asg
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> igi
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> egl usa
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> egl int.
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="clarity">
							<div class="row">
								<div class="col-md-2"><strong>CLARITY</strong></div>
								<div class="col-md-10">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-sm active">
											<input type="checkbox" autocomplete="off" checked> D
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> E
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> F
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> G
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> H
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> K
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> L
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="cut">
							<div class="row">
								<div class="col-md-2"><strong>CUT</strong></div>
								<div class="col-md-10">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-sm active">
											<input type="checkbox" autocomplete="off" checked> gia
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> hrd
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> asg
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> igi
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> egl usa
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> egl int.
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix collapse" id="advanceFilterFloorTwo">
				<div class="col-md-6">
					<div class="row">
						<div class="color">
							<div class="row">
								<div class="col-md-2"><strong>POLISH</strong></div>
								<div class="col-md-10">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-sm active">
											<input type="checkbox" autocomplete="off" checked> EXCELLENT
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> GOOD
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> VERY GOOD
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="certificate">
							<div class="row">
								<div class="col-md-3"><strong>FLOURSCENCE</strong></div>
								<div class="col-md-9">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-sm active">
											<input type="checkbox" autocomplete="off" checked> NONE
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> FAINT
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> MEDIUM
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> STRONG
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="color">
							<div class="row">
								<div class="col-md-2"><strong>SYMMETRY</strong></div>
								<div class="col-md-10">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-sm active">
											<input type="checkbox" autocomplete="off" checked> EXCELLENT
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> GOOD
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> VERY GOOD
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="certificate">
							<div class="row">
								<div class="col-md-2">Cut</div>
								<div class="col-md-10">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-sm active">
											<input type="checkbox" autocomplete="off" checked> gia
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> hrd
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> asg
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> igi
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> egl usa
										</label>
										<label class="btn btn-sm">
											<input type="checkbox" autocomplete="off"> egl int.
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn advance-btn-2" data-toggle="collapse" data-target="#advanceFilterFloorTwo">&nbsp;</button>
		</div>
		<button type="button" class="btn advance-btn" data-toggle="collapse" data-target="#advancedWrapper">Advanced Filters</button>
	</div>
</div>
