<?php
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $stoneCategory = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
    $stoneCategoryId = $stoneCategory->getId();
 	$loadMoreDiamond = array(20,41,43,44,51,52,54,55,23,24,46,47,41,44,24,47,52,55,20,43,23,46,51,54);
 	$loadMoreGemstone = array(42,45,53);
?>
<?php if (in_array($stoneCategoryId, $loadMoreDiamond)): ?>
	<div class="load-more mrg-gt"><a href="javascript:void();"><i class="em"></i><br><span class="text">Loading more diamonds</span></a></div>
<?php elseif (in_array($stoneCategoryId, $loadMoreGemstone)): ?>
	<div class="load-more mrg-gt"><a href="javascript:void();"><i class="em"></i><br><span class="text">Loading more styles</span></a></div>
<?php endif; ?>