<script>
    require([
        'Magento_Customer/js/customer-data'
    ], function (customerData) {
        var sections = ['cart'];
        customerData.invalidate(sections);
    });
</script>
<div class="container">
	<?php // steps ?>
    <ul class="opc-progress-bar list-inline checkout-process process-steps four clearfix">
        <li class="opc-progress-bar-item active">
            <div class="wrap right-forward-arrow">
                <span class="arrow-bfr"></span>
                <a href="" data-bind="text: item.title, click: $parent.navigateTo"><span class="number">1</span>
                <span class="span text">
                    <strong>Shipping &amp; Billing</strong>
                </span></a>
                <span class="arrow-afr"></span>
            </div>
        </li>
        <li class="opc-progress-bar-item">
            <div class="wrap right-forward-arrow">
                <span class="arrow-bfr"></span>
                <a href=""><span class="number">2</span>
                <span class="span text">
                    <strong>Review &amp; Payment</strong>
                </span></a>
                <span class="arrow-afr"></span>
            </div>
        </li>
    </ul>
    <?php // body content 
    	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$customerSession = $objectManager->create('Magento\Customer\Model\Session');
    ?>
    <div class="row">
    	<div class="col-sm-8">
			<div class="tab-content">
	        	<?php // if(!$customerSession->isLoggedIn()):?>
	        	<div role="tabpanel" class="tab-pane <?php echo (!$customerSession->isLoggedIn()) ? 'active' : ''; ?>" id="SignUp">
		            <div class="well well-lg bg-white">
		                <div class="login-wrapper text-center">
		                    <form data-role="login" action="<?php echo $block->getUrl('steps/index/address');?>" method="post" enctype="multipart/form-data" ><?php echo $this->getBlockHtml('formkey')?>
		                        <div class="panel pane-bg-color mrg-zt">
		                            <div class="panel-body text-left"><span class="new-here">Already have an account ?</span> &nbsp; <a href="#loginpopup" class="btn btn-dark gtn-sm" aria-controls="profile" role="tab" data-toggle="modal">Sign In</a></div>
		                        </div>
		                        <div class="clearfix">
			                        <div class="wrap pad-zh pad-zb col-sm-8 text-left">
			                        	<h4 class="header text-left">Billing</h4>
			                        	<div class="text-error">Please complete the following missing information</div>
			                            <div class="floating-label form-group required">
			                                <input type="text" class="form-control" id="login-email" name="Username" required="" autocomplete="off">
			                                <label for="login-email">
			                               Email Address
			                            	</label>
			                            </div>
			                            <div class="row">
			                            	<div class="col-sm-6 col-xs-12">
					                            <div class="floating-label form-group required">
				                                	<input type="text" class="form-control" id="firstname" name="FirstName" autocomplete="off" required="">
				                                	<label for="login-password">First Name</label>
					                            </div>
			                            	</div>
			                            	<div class="col-sm-6 col-xs-12">
					                            <div class="floating-label form-group required">
				                                	<input type="text" class="form-control" id="lastname" name="LastName" autocomplete="off" required="">
				                                	<label for="login-password">Last Name</label>
					                            </div>
			                            	</div>
			                            </div>
								        <div class="floating-label form-group required">
			                                <input type="text" class="form-control" id="street" name="Street[]" autocomplete="off" required="">
			                                <label for="login-password">Street Address</label>
			                            </div>
			                            <div class="floating-label form-group required">
			                                <input type="text" class="form-control" id="street" name="Street[]" autocomplete="off" required="">
			                                <label for="login-password">Street Address1</label>
			                            </div>
			                            <div class="floating-label form-group required">
			                                <input type="text" class="form-control" id="street" name="Street[]" autocomplete="off" required="">
			                                <label for="login-password">Street Address2</label>
			                            </div>
			                            <div class="form-group"><a class="social-login fogot-pw text-left text-uppercase" href="">+ Address Line3</a></div>
			                            <div class="floating-label form-group required">
			                                <input type="text" class="form-control" id="country" name="Country" autocomplete="off" required="">
			                                <label for="login-password">Country</label>
			                            </div>
			                            <div class="floating-label form-group required">
			                                <input type="text" class="form-control" id="city" name="City" autocomplete="off" required="">
			                                <label for="login-password">City</label>
			                            </div>
			                            <div class="floating-label form-group required">
			                                <input type="text" class="form-control" id="region" name="Region" autocomplete="off" required="">
			                                <label for="login-password">Region</label>
			                            </div>
			                            <div class="floating-label form-group required">
			                                <input type="number" class="form-control" id="postalcode" name="Postalcode" autocomplete="off" required="">
			                                <label for="login-password">Postal Code</label>
			                            </div>
			                            <div class="floating-label form-group required">
			                                <input type="number" class="form-control" id="phonenumber" name="Phonenumber" autocomplete="off" required="">
			                                <label for="login-password">Phone Number</label>
			                            </div>
			                            <div class="checkbox">
										    <label>
										      <input type="checkbox"><span class="check"></span> Billing address same as shipping
										    </label>
										</div>
			                        </div>
		                        </div>
		                        <hr>
		                        <div class="clearfix">
		                        	<h4 class="header text-left">Shipping</h4>
			                        <div class="wrap pad-zh pad-zv col-sm-8 text-left">
			                        	<div class="shipping-details">
			                        		<ul class="list-unstyled">
			                        			<li>
			                        				<div class="name">
			                        					<div class="checkbox">
			                        						<label>
			                        							<input type="checkbox" value="">
			                        							<span class="check"></span>
			                        							Express
			                        						</label>
			                        					</div>
			                        				</div>
			                        				<div class="days">4-7 bussiness days</div>
			                        				<div class="cost">$12.00</div>
			                        			</li>
			                        			<li>
			                        				<div class="name">
			                        					<div class="checkbox">
			                        						<label>
			                        							<input type="checkbox" value="">
			                        							<span class="check"></span>
			                        							Regular
			                        						</label>
			                        					</div>
			                        				</div>
			                        				<div class="days">11-13 bussiness days</div>
			                        				<div class="cost">Free</div>
			                        			</li>
			                        		</ul>
			                        	</div>
			                        </div>
		                        </div>
		                        <hr>
		                        <div class="clearfix">
		                        	<h4 class="header text-left">Payment Method</h4>
			                        <div class="wrap pad-zh pad-zv col-sm-6 text-left">
			                        	<div class="payment-details">
			                        		<ul class="list-unstyled">
			                        			<li>
						                        	<div class="checkbox">
						                        		<label>
						                        			<input type="checkbox" value="">
						                        			<span class="check"></span>
					                        				<h5 class="h5">Pay online with credit card <i class="em em-visa-color"></i><i class="em em-master-card-color"></i><i class="em em-american-express-color"></i></h5>
					                        				<p>Paying credit card is available to customers with the US, UK, Canada and Australia</p>
						                        		</label>
						                        	</div>
			                        			</li>
												<?php
												$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
												$ScopeConfigInterface = $objectManager->create('Magento\Framework\App\Config\ScopeConfigInterface');
												$ConfigPayment = $objectManager->create('Magento\Payment\Model\Config');
												$payments = $ConfigPayment->getActiveMethods();
										        $methods = array();
										        foreach ($payments as $paymentCode => $paymentModel) {
										            $paymentTitle = $ScopeConfigInterface->getValue('payment/'.$paymentCode.'/title');
										            $methods[$paymentCode] = array(
										                'label' => $paymentTitle,
										                'value' => $paymentCode
										            );
										            echo'<li>
										            		<div class="checkbox">
										                		<label>
										                			<input type="checkbox" value="'.$paymentCode.'">
										                			<span class="check"></span>
										            				<h5 class="h5">'.$paymentTitle.' <i class="em em-visa-color"></i><i class="em em-master-card-color"></i><i class="em em-american-express-color"></i></h5>
										                		</label>
										                	</div>
										    			</li>';
											        }
											        ?>


			                        			<!-- <li>
						                        	<div class="checkbox">
						                        		<label>
						                        			<input type="checkbox" value="">
						                        			<span class="check"></span>
					                        				<h5 class="h5">Pay with Pay Pal <i class="em em-paypal-color"></i></h5>
					                        				<p>Checkout with your PayPal account</p>
						                        		</label>
						                        	</div>
			                        			</li>
			                        			<li>
						                        	<div class="checkbox">
						                        		<label>
						                        			<input type="checkbox" value="">
						                        			<span class="check"></span>
					                        				<h5 class="h5">Pay with a Bank Wire <i class="em em-bank-color"></i></h5>
					                        				<p>All international orders are subject to a $35 processing fee</p>
						                        		</label>
						                        	</div>
			                        			</li>
			                        			<li>
						                        	<div class="checkbox">
						                        		<label>
						                        			<input type="checkbox" value="">
						                        			<span class="check"></span>
					                        				<h5 class="h5">Pay with Our Finance Program <i class="em em-finance-color"></i></h5>
					                        				<p>Financing is only available to our US customers</p>
						                        		</label>
						                        	</div>
			                        			</li> -->
			                        		</ul>
			                        	</div>
			                        </div>
		                        </div>
		                        <hr>
		                        <div class="sign-up">
		                        	<div class="checkbox">
		                        		<label>
		                        			<input type="checkbox" value="">
		                        			<span class="check"></span>
		                        			Sign up for special offers and stay on top of trends
		                        		</label>
		                        	</div>
		                        </div>
		                        <div class="terms">
		                        	<div class="checkbox">
		                        		<label>
		                        			<input type="checkbox" value="">
		                        			<span class="check"></span>
		                        			I agree to <a href="">terms &amp; conditions</a>
		                        		</label>
		                        	</div>
		                        </div>
			                    <div class="row">
			                    	<div class="col-sm-6">
			                    		<button type="submit" class="btn btn-dark btn-xxl btn-block btn-icon-right mrg-dt">Continue to payment <i class="fa fa-arrow-right"></i></button> 
			                    	</div>
			                    </div>
		                    </form>
		                </div>
		            </div>
	        	</div>
				<div class="modal fade" id="loginpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="modal-body">
				                <div class="login-wrapper text-center">
				                	<h3 class="h3">My Account</h3>
				                	<h4 class="">Log in to your Acccount</h4>
				                    <form data-role="login" method="post">
				                        <div class="panel pane-bg-color mrg-zt">
				                            <div class="panel-body"><span class="new-here">New here ?</span> &nbsp; <a href="#" class="btn btn-dark gtn-sm">Create New Account</a></div>
				                        </div>
				                        <div class="wrap">
				                            <div class="floating-label form-group field-email required">
				                                <input type="text" class="form-control" id="login-email" name="username" required="" autocomplete="off">
				                                <label for="login-email">Email Address</label>
				                            </div>
				                            <div class="floating-label form-group field-password required">
				                                <input type="password" class="form-control" id="login-password" name="password" autocomplete="off" required="">
				                                <label for="login-password">Password</label>
				                            </div>
				                            <div class="form-group"><a class="social-login fogot-pw" href="#social-login-popup">Forgot Password?</a></div>
				                            <button type="submit" class="btn btn-dark btn-lg btn-block action action-login text-uppercase">Review & Pay</button>
						                    <div class="or">or</div>
						                    <div class="social-login-popup">
											    <div class="sociallogin-login">
											        <div class="sociallogin-buttons">
											            <ul class="list-inline">
								                            <li title="Sign in with Facebook">
											                    <a class="btn btn-facebook" rel="nofollow" href="https://www.facebook.com/dialog/oauth?client_id=123456789101111213141516&amp;redirect_uri=http://52.30.75.208/emradadev4/sociallogin/account/login/type/facebook/&amp;response_type=code&amp;display=popup"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
											                </li>
											                <li title="Sign in with Google">
											                    <a class="btn btn-googleplus" rel="nofollow" href="https://accounts.google.com/o/oauth2/auth?response_type=code&amp;redirect_uri=http%3A%2F%2F52.30.75.208%2Femradadev4%2Fsociallogin%2Faccount%2Flogin%2Ftype%2Fgoogleplus%2F&amp;client_id=123456789101111213141516&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&amp;state=&amp;access_type=offline&amp;approval_prompt=auto"><i class="fa fa-google"></i> Sign in with Google</a>
											                </li>
											                <li title="Sign in with Instagram">
											                    <a class="btn btn-instagram" rel="nofollow" href="https://api.instagram.com/oauth/authorize?response_type=code&amp;redirect_uri=http%3A%2F%2F52.30.75.208%2Femradadev4%2Fsociallogin%2Faccount%2Flogin%2Ftype%2Finstagram%2F&amp;client_id=123456789101111213141516&amp;scope=basic"><i class="fa fa-instagram"></i> Sign in with Instagram</a>
											                </li>
											                <li title="Sign in with Pinterest">
											                    <a class="btn btn-pinterest" rel="nofollow" href="javascript:void(0);" data-href="https://api.pinterest.com/oauth/?client_id=123456789101111213141516&amp;redirect_uri=http://52.30.75.208/emradadev4/sociallogin/account/login/type/pinterest/&amp;response_type=code&amp;display=popup&amp;scope=read_public"><i class="fa fa-pinterest"></i> Sign in with Pinterest</a>
											                </li>
											            </ul>
											        </div>
											    </div>
											</div>
				                        </div>
				                    </form>
				                </div>
							</div>
						</div>
					</div>
				</div>
            	<?php if($customerSession->isLoggedIn()):?>
        		<?php 
        		$LoggedInCustomer = $customerSession->getCustomer(); 
        		//echo $LoggedInCustomer->getId();// get Customer Id
		        $customerId = $LoggedInCustomer->getId();

				$billingID =  $customerSession->getCustomer()->getDefaultBilling();

				$address = $objectManager->create('Magento\Customer\Model\Address')->load($billingID);

				#echo "<pre>";print_r();

				$CompleteAddr = $address->getData();
        		?>
	            <div role="tabpanel" class="tab-pane <?php echo ($customerSession->isLoggedIn()) ? 'active' : ''; ?>" id="LoggedIn">
		            <div class="well well-lg bg-white">
		                <div class="login-wrapper text-center">
		                    <form data-role="login" method="post">
		                        <div class="clearfix">
			                        <div class="wrap pad-zh pad-zv col-sm-8 text-left">
			                        	<h4 class="header text-left">Billing</h4>
			                            <div class="form-group">
			                                <p class="mrg-zv font-sb"><?php echo $LoggedInCustomer->getEmail(); ?></p>
			                            </div>
			                            <div class="address">
			                            	<ul class="list-unstyled">
			                            		<?php
			                            			echo "<li>".$CompleteAddr['firstname']."&nbsp;".$CompleteAddr['lastname']."</li>";
												    echo "<li>".$CompleteAddr['street']."</li>";
												    echo "<li>".$CompleteAddr['company']."</li>";
												    echo "<li>".$CompleteAddr['city']."</li>";
												    echo "<li>".$CompleteAddr['postcode']."</li>";
												    echo "<li>".$CompleteAddr['telephone']."</li>";
												    echo "<li>".$CompleteAddr['country_id']."</li>";
			                            		?>
			                            	</ul>
			                            </div>
			                            <div class="form-group mrg-dt"><a href="#SignUp" data-toggle="tab" class="text-sec font-xs visible-in-blk text-underline">Edit Billing Address</a></div>
			                            <div class="checkbox">
										    <label>
										      <input type="checkbox"><span class="check"></span> Billing address same as shipping
										    </label>
										</div>
			                        </div>
		                        </div>
		                        <hr>
		                        <div class="clearfix">
		                        	<h4 class="header text-left">Shipping</h4>
			                        <div class="wrap pad-zh pad-zv col-sm-8 text-left">
			                        	<div class="shipping-details">
			                        		<ul class="list-unstyled">
			                        			<li>
			                        				<div class="name">
			                        					<div class="checkbox">
			                        						<label>
			                        							<input type="checkbox" value="">
			                        							<span class="check"></span>
			                        							Express
			                        						</label>
			                        					</div>
			                        				</div>
			                        				<div class="days">4-7 bussiness days</div>
			                        				<div class="cost">$12.00</div>
			                        			</li>
			                        			<li>
			                        				<div class="name">
			                        					<div class="checkbox">
			                        						<label>
			                        							<input type="checkbox" value="">
			                        							<span class="check"></span>
			                        							Regular
			                        						</label>
			                        					</div>
			                        				</div>
			                        				<div class="days">11-13 bussiness days</div>
			                        				<div class="cost">Free</div>
			                        			</li>
			                        		</ul>
			                        	</div>
			                        </div>
		                        </div>
		                        <hr>
		                        <div class="clearfix">
		                        	<h4 class="header text-left">Payment Method</h4>
			                        <div class="wrap pad-zh pad-zv col-sm-8 text-left">
			                        	<div class="payment-details">
			                        		<ul class="list-unstyled">
			                        			<li>
						                        	<div class="checkbox">
						                        		<label>
						                        			<input type="checkbox" value="">
						                        			<span class="check"></span>
					                        				<h5 class="h5">Pay online with credit card <i class="em em-visa-color"></i><i class="em em-master-card-color"></i><i class="em em-american-express-color"></i></h5>
					                        				<p>Paying credit card is available to customers with the US, UK, Canada and Australia</p>
						                        		</label>
						                        	</div>
			                        			</li>
			                        			<li>
						                        	<div class="checkbox">
						                        		<label>
						                        			<input type="checkbox" value="">
						                        			<span class="check"></span>
					                        				<h5 class="h5">Pay with Pay Pal <i class="em em-paypal-color"></i></h5>
					                        				<p>Checkout with your PayPal account</p>
						                        		</label>
						                        	</div>
			                        			</li>
			                        			<li>
						                        	<div class="checkbox">
						                        		<label>
						                        			<input type="checkbox" value="">
						                        			<span class="check"></span>
					                        				<h5 class="h5">Pay with a Bank Wire <i class="em em-bank-color"></i></h5>
					                        				<p>All international orders are subject to a $35 processing fee</p>
						                        		</label>
						                        	</div>
			                        			</li>
			                        			<li>
						                        	<div class="checkbox">
						                        		<label>
						                        			<input type="checkbox" value="">
						                        			<span class="check"></span>
					                        				<h5 class="h5">Pay with Our Finance Program <i class="em em-finance-color"></i></h5>
					                        				<p>Financing is only available to our US customers</p>
						                        		</label>
						                        	</div>
			                        			</li>
			                        		</ul>
			                        	</div>
			                        </div>
		                        </div>
		                        <hr>
		                        <div class="sign-up">
		                        	<div class="checkbox">
		                        		<label>
		                        			<input type="checkbox" value="">
		                        			<span class="check"></span>
		                        			Sign up for special offers and stay on top of trends
		                        		</label>
		                        	</div>
		                        </div>
		                        <div class="terms">
		                        	<div class="checkbox">
		                        		<label>
		                        			<input type="checkbox" value="">
		                        			<span class="check"></span>
		                        			I agree to <a href="">terms &amp; conditions</a>
		                        		</label>
		                        	</div>
		                        </div>
		                    </form>
		                    <div class="row">
		                    	<div class="col-sm-6">
		                    		<a href="" class="btn btn-dark btn-xxl btn-block btn-icon-right mrg-dt">Continue to payment <i class="fa fa-arrow-right"></i></a> 
		                    	</div>
		                    </div>
		                </div>
		            </div>
	        	</div>
	        	<?php endif; ?>
    		</div>
		</div>	
        <div class="col-sm-4">
            <div class="opc-block-summary" data-bind="blockLoader: isLoading">
                <div class="clearfix">
                    <span data-bind="i18n: 'Order Summary'" class="heading">Order Summary</span>
                    <span class="pull-right" data-toggle="collapse" data-target="#product-checkout-details" aria-expanded="true">Hide Details</span>
                </div>
                <div class="collapse in" id="product-checkout-details" role="tablist">
                    <div class="block items-in-cart mrg-dt minicart-wrapper" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}" data-collapsible="true" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
                        <div class="content minicart-items" data-role="content">
                            <div class="minicart-items-wrapper overflowed">
                                <ul class="list-group minicart-items">
                                	<?php
                                	//image helper
                                	$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
                                	// checkout collection objectmanager
									$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
									// retrieve quote items collection
									$itemsCollection = $cart->getQuote()->getItemsCollection();
									// get array of all items what can be display directly
									$itemsVisible = $cart->getQuote()->getAllVisibleItems();
									// Instance of Pricing Helper
									$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); 
									// retrieve quote items array
									$items = $cart->getQuote()->getAllItems();
									/*foreach($items as $item) {
									     echo 'ID: '.$item->getProductId().'<br />';
									      echo 'Name: '.$item->getName().'<br />';
									       echo 'Sku: '.$item->getSku().'<br />';
									       echo 'Quantity: '.$item->getQty().'<br />';
									      echo 'Price: '.$item->getPrice().'<br />';
									    echo "<br />";            
									  }*/

									$subTotal = $cart->getQuote()->getSubtotal(); //Current Cart Subtotal
									$grandTotal = $cart->getQuote()->getGrandTotal(); //Cart Grand total
                                    ?>
                                    <?php foreach ($items as $item): ?>
                                    <li class="product-item list-group-item">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <span class="product-image-container pull-left">
                                                    <span class="product-image-wrapper">
					                                    <?php
					                                    //product ID
					                                    $ProductID = $item->getProductId();
					                                    //image retrive 
					                                    $Product = $objectManager->create('Magento\Catalog\Model\Product')->load($ProductID);
					                                    $imagewidth = 40;
											            $imageheight = 40;          
											            $image_url = $imageHelper->init($Product, 'product_page_image_small')->setImageFile($Product->getFile())->resize($imagewidth, $imageheight)->getUrl();
					                                    ?>
                                                        <img src="<?php echo $image_url;?>" alt="<?php echo $item->getName();?>">
                                                    </span>
                                                </span>
                                                <div class="product-item-details media-body">
                                                    <div class="product-item-details">
                                                        <div class="product-item-inner text-uppercase">
                                                            <h4 class="product-sub-title text-muted">Your Setting</h4>
                                                            <h4 class="product-sub-title">Item: Emrada<?php echo $item->getSku() ?></h4>
                                                            <div class="product-item-name-block">
                                                                <strong class="product-item-name" title="<?php echo $item->getName(); ?>" data-bind="text: $parent.name"><?php echo $item->getName(); ?></strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 text-right">
                                                <div class="subtotal">
                                                    <span class="price-including-tax" data-bind="attr:{'data-label': $t('Incl. Tax')}" data-label="Incl. Tax">
                                                        <span class="cart-price">
                                                            <span class="price" data-bind="text: getFormattedPrice(getRowDisplayPriceInclTax($parents[2]))">
                                                            	<?php echo $formattedPrice = $priceHelper->currency($item->getPrice(), true, false); ?>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <?php endforeach ?>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="total">
						<div class="list-group no-border">
							<li class="list-group-item">Subtotal <span class="price-wrap"><?php echo $formattedPrice = $priceHelper->currency($subTotal, true, false); ?></span></li>
							<li class="list-group-item">Subtotal <span class="price-wrap"><?php echo $formattedPrice = $priceHelper->currency($subTotal, true, false); ?></span></li>
							<li class="list-group-item">Subtotal <span class="price-wrap"><?php echo $formattedPrice = $priceHelper->currency($subTotal, true, false); ?></span></li>
							<li class="list-group-item font-bd">Subtotal <span class="price-wrap"><?php echo $formattedPrice = $priceHelper->currency($subTotal, true, false); ?></span></li>
						</div>
						<?php echo $this->getLayout()->createBlock("Magento\Checkout\Block\Cart\Coupon")->setTemplate("Magento_Checkout::cart/coupon.phtml")->toHtml(); ?>
					</div>
                </div>
                <hr>
                <div class="clearfix">
                    <h4 class="heading">Purchase with confidence</h4>
                    <div class="panel-group mrg-dt mrg-db" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default checkout-collapse-panel">
                            <div role="tab">
                                <h4 class="panel-title"><span role="button" data-toggle="collapse" data-parent="#accordion" data-target="#1" aria-expanded="false">Can i talk to a gemologist?</span></h4>
                            </div>
                            <div id="1" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body pad-zv">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default checkout-collapse-panel">
                            <div role="tab">
                                <h4 class="panel-title"><span role="button" data-toggle="collapse" data-parent="#accordion" data-target="#2" aria-expanded="false">Is the checkout process secure?</span></h4>
                            </div>
                            <div id="2" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body pad-zv">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default checkout-collapse-panel">
                            <div role="tab">
                                <h4 class="panel-title">
                                <span data-toggle="collapse" data-parent="#accordion" data-target="#3" aria-expanded="false">What if I want to return my purchase?</span></h4>
                            </div>
                            <div id="3" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body pad-zv">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default checkout-collapse-panel">
                            <div role="tab">
                                <h4 class="panel-title">
                                <span role="button" data-toggle="collapse" data-parent="#accordion" data-target="#4" aria-expanded="false">Can you engrave my ring?</span></h4>
                            </div>
                            <div id="4" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body pad-zv">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default checkout-collapse-panel">
                            <div role="tab" class="mrg-xs">
                                <h4 class="panel-title">
                                <span role="button" data-toggle="collapse" data-parent="#accordion" data-target="#5" aria-expanded="false">Will my item arrive safely?</span></h4>
                            </div>
                            <div id="5" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body pad-zv">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="clearfix">
                    <h4 class="heading">Need Assistance ?</h4>
                    <p class="product-super-title" style="margin-top: 5px;">24/7 Customer Service</p>
                    <ul class="list-inline mrg-dt">
                        <li><a href=""><i class="em em-phone"></i></a></li>
                        <li><a href=""><i class="em em-phone"></i></a></li>
                        <li><a href=""><i class="em em-phone"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>