<?php if ($block->getCurrencyCount() > 1): ?>
<?php $currencies = $block->getCurrencies(); ?>
<?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<li class="dropdown dropdown-hover hidden-xs hide" id="switcher-currency<?php /* @escapeNotVerified */ echo $id?>">
    <a href="#" class="dropdown-toggle hide" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="limit font-bd font-sm"><?php echo $block->escapeHtml($currentCurrencyCode) ?></span> <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <?php 
        //$CurrencyFlags = array(
                /*'AUD'=>'au',
                'INR'=>'in',
                'GBP'=>'gb',
                'CAD'=>'ca',
                'EUR'=>'_European Union',
                'HKD'=>'hk',
                'ILS'=>'il',
                'NZD'=>'nz',
                'SGD'=>'sg',
                'USD'=>'us',
            );*/
         ?>
        <!-- <li class="active_currency"><a href="#"><span class="limit font-sm">
            <img src="<?php //echo $this->getViewFileUrl('images/icons/flags/flags_iso/24/'.$CurrencyFlags[$block->escapeHtml($currentCurrencyCode)].'.png'); ?>" style="margin-right: 10px;">
            <?php //echo $block->escapeHtml($currentCurrencyCode) ?></span></a></li> -->
        <?php foreach ($currencies as $_code => $_name): ?>
            <?php if ($_code != $currentCurrencyCode):
                    //array for flag icons 
                    /*$CurrencyFlags = array(
                        'AUD'=>'au',
                        'INR'=>'in',
                        'GBP'=>'gb',
                        'CAD'=>'ca',
                        'EUR'=>'_European Union',
                        'HKD'=>'hk',
                        'ILS'=>'il',
                        'NZD'=>'nz',
                        'SGD'=>'sg',
                        'USD'=>'us',
                    );*/

             ?>
                <li class="currency-<?php /* @escapeNotVerified */ echo $_code ?> switcher-option font-sm">
                    <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getSwitchCurrencyPostData($_code); ?>'>
                        <!-- <img src="<?php //echo $this->getViewFileUrl('images/icons/flags/flags_iso/24/'.$CurrencyFlags[$_code].'.png'); ?>"> -->
                        <?php /* @escapeNotVerified */ echo $_code ?>                        
                    </a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</li>
<?php endif; ?>