<?php
   $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
   $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
    $ID = $category->getId();

    $rtsDiamond       =   array(51,52,53,54,55);
    $looseDiamond     =   array(20,41,42,43,44);
    if (in_array($ID, $looseDiamond)) {
       $dataoffsettop = "800";
    }else{
        $dataoffsettop = "600";
    }
?>
<thead class="category-table-head">
    <tr>
        <?php // favourites ?>
        <th class="hidden-xs"><span>Favourites</span></th>
        <?php // Type - gemstone
        if (in_array($stoneCategoryId, $gemstone)) {
            echo '<th><span>Type</span></th>';
        } ?>
        <?php // shape ?>
        <th><span>Shape</span></th>
        <?php // carat ?>
        <th><span>Carat</span></th>
        <?php // color ?>
        <th><span>Color</span></th>
        <?php // single and pair dimonds
        if (in_array($stoneCategoryId, $singleDiamond) || in_array($stoneCategoryId, $PairDiamond) || in_array($stoneCategoryId, $pairGemstone)):
        if ($stoneCategoryId != 45) {
        // clarity 
        echo "<th><span>Clarity</span></th>";
        }?>
        <?php // cut ?>
        <th><span>Cut</span></th>
        <?php // certificate ?>
        <th class="hidden-xs"><span>Certificate</span></th>
        <?php endif; ?>
        <?php // eye clean ?>
        <th class="hidden-xs"><span>Eye Clean &nbsp;<i class="fa fa-question fa-tip cursor-pointer" data-toggle="modal" data-target="#eye-clean-score"></i></span></th>
        <?php // price ?>
        <th><span>Price</span></th>
    </tr>
</thead>
<tfoot class="category-table-head">
    <tr>
        <?php // favourites ?>
        <th class="hidden-xs"><span>Favourites</span></th>
        <?php // Type - gemstone
        if (in_array($stoneCategoryId, $gemstone)) {
            echo '<th><span>Type</span></th>';
        } ?>
        <?php // shape ?>
        <th><span>Shape</span></th>
        <?php // carat ?>
        <th><span>Carat</span></th>
        <?php // color ?>
        <th><span>Color</span></th>
        <?php // single and pair dimonds
        if (in_array($stoneCategoryId, $singleDiamond) || in_array($stoneCategoryId, $PairDiamond) || in_array($stoneCategoryId, $pairGemstone)):
        if ($stoneCategoryId != 45) {
        // clarity 
        echo "<th><span>Clarity</span></th>";
        }?>
        <?php // cut ?>
        <th><span>Cut</span></th>
        <?php // certificate ?>
        <th class="hidden-xs"><span>Certificate</span></th>
        <?php endif; ?>
        <?php // eye clean ?>
        <th class="hidden-xs"><span>Eye Clean &nbsp;<i class="fa fa-question fa-tip cursor-pointer" data-toggle="modal" data-target="#eye-clean-score"></i></span></th>
        <?php // price ?>
        <th><span>Price</span></th>
    </tr>
</tfoot>