<div data-gallery-role="nav-wrap">
	<div class="left-slider-img mrg-xt"><a href="javascript:void(0);"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/ring.jpg')?>"></a></div>
	<div class="left-slider-img mrg-xt"><a href="javascript:void(0);"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/ring.jpg')?>"></a></div>
	<div class="left-slider-img mrg-xt"><a href="javascript:void(0);"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/ring.jpg')?>"></a></div>
	<div class="left-slider-img mrg-xt"><a href="javascript:void(0);"><img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/ring.jpg')?>"></a></div>
</div>