<?php
/**
* Copyright © 2013-2017 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
use Magento\Framework\App\Action\Action;
// @codingStandardsIgnoreFile
?>
<?php
/**
* Product list template
*
* @var $block \Magento\Catalog\Block\Product\ListProduct
*/
?>
<script type="text/javascript">
        function choosethis($pid){
        var chooseUrl = "<?php echo $this->getUrl() ?>"+"steps/index/choose?pid="+$pid+"&selectedAval=0";
       // alert('<====url'+$pid+'====>' );
       window.location = chooseUrl;
    }
 

</script>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
?>
<?php if (!$_productCollection->count()): ?>
  <div class="container ">
    <div class="no-product-found mrg-dt">
      <h3 class="text-center font-xxl font-lt">NO PRODUCT FOUND!</h3>
      <h3 class="text-center font-md font-nm">Please reset your filters and check again.</h3>
    </div>
  </div>
<!-- <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>-->
<?php else: ?>
<?php echo $block->getToolbarHtml() ?>
<?php echo $block->getAdditionalHtml() ?>
<?php
if ($block->getMode() == 'grid') {
$viewMode = 'grid';
$image = 'category_page_grid';
$showDescription = false;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
} else {
$viewMode = 'list';
$image = 'category_page_list';
$showDescription = true;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
}
/**
* Position for actions regarding image size changing in vde if needed
*/
$pos = $block->getPositioned();
?>
<div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
    <div class="container">
        <!-- table head -->
        <div class="category-table-head">
            <div class="clearfix">
                <div class="col-sm-1 hidden-xs hidden-sm"><span class="head text-left">Favourites</span></div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-2 col-xs-2">
                            <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shape <i class="caret"></i></span>
                        </div>
                        <div class="col-sm-1 col-xs-2">
                            <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carat <i class="caret"></i></span>
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Color <i class="caret"></i></span>
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clarity <i class="caret"></i></span>
                        </div>
                        <div class="col-sm-2 col-xs-1">
                            <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cut <i class="caret"></i></span>
                        </div>
                        <div class="col-sm-2 col-xs-1">
                            <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificate <i class="caret"></i></span>
                        </div>
                        <div class="col-sm-2 col-xs-2">
                            <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eye Clean <i class="caret"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Price <i class="caret"></i></span>
                </div>
            </div>
        </div> <!-- /.table head -->
        <!-- table body -->
        <div class="category-table-body">
            <div class="tab-results matching-pairs">
                    <h4 class="legend">Best Match</h4>
                <?php $iterator = 1; ?>
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                    <div class="item product product-item <?php echo ($iterator < 3) ? 'best-match' : ''; ?>">
                        <div class="clearfix row-wrapper" data-toggle="collapse" data-target="#product-collapse-description-<?php echo $_product->getId();?>">
                            <div class="col-sm-1 pad-zr">
                                <div class="tab-wrap text-left">
                                    <!-- compare and wishlist -->
                                    <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                    <a href="javascript:void(0);"
                                       class="action tocompare"
                                       title="<?php echo $block->escapeHtml(__('Save to Favorites')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Save to Favorites')); ?>"
                                       data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                       role="button">
                                       <i class="fa fa-heart-o"></i>
                                    </a> <!-- /.compare and wishlist -->
                                    <img src='<?php echo $this->getViewFileUrl('images/diamond-demo.jpg'); ?>' alt="diamond"  class="pull-right img-responsive">
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-2">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                            if ($_getMyAttr) 
                                            {
                                                echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            } ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-1">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-1">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_grading_lab');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <div class="tab-wrap">
                                            <div class="eye-clean-review">
                                                <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_eye_clear');
                                                    if ($_getMyAttr) {
                                                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                        if($attrTestValue == '20%') { echo "<i class='fa fa-diamond' aria-hidden='true'></i>";
                                                                                        echo "1/5";}
                                                        else if($attrTestValue == '40%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "2/5";} 
                                                        else if($attrTestValue == '60%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "3/5";}
                                                        else if($attrTestValue == '80%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "4/5";}
                                                        else if($attrTestValue == '100%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "5/5";}
                                                    }
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <div class="tab-wrap">
                                    <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                                    <span class="collapse-arrow pull-right"><i class="fa fa-chevron-right" data-toggle="collapse" data-target="#product-collapse-description-<?php echo $_product->getId();?>"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-9 col-sm-offset-1">
                                <div class="row">
                                    <div class="col-sm-2 col-xs-2">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                            if ($_getMyAttr) 
                                            {
                                                echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            } ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-1">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-1">
                                        <div class="tab-wrap">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_grading_lab');
                                                if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                            ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-2">
                                        <div class="tab-wrap">
                                            <div class="eye-clean-review">
                                                <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_eye_clear');
                                                    if ($_getMyAttr) {
                                                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                        if($attrTestValue == '20%') { echo "<i class='fa fa-diamond' aria-hidden='true'></i>";
                                                                                        echo "1/5";}
                                                        else if($attrTestValue == '40%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "2/5";} 
                                                        else if($attrTestValue == '60%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "3/5";}
                                                        else if($attrTestValue == '80%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "4/5";}
                                                        else if($attrTestValue == '100%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "5/5";}
                                                    }
                                                ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product description -->
                        <div class="product-collapse-description collapse" id="product-collapse-description-<?php echo $_product->getId();?>">
                            <button type="button" class="close" data-toggle="collapse" data-target="#product-collapse-description-<?php echo $_product->getId();?>">&times;</button>
                            <div class="clearfix product-item-info" data-container="product-grid">
                                <div class="col-sm-4">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="gallery_360_<?php echo $_product->getId();?>">
                                            <?php $productImage = $block->getImage($_product, $image);
                                                if ($pos != null) {
                                                    $position = ' style="left: 50px;'
                                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                                }
                                            ?>
                                            <?php // Product Image ?>
                                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="" tabindex="-1"><?php echo $productImage->toHtml(); ?></a>
                                        </div>
                                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                          $images = $product->getMediaGalleryImages();
                                          if($images->count()>0){?>
                                          <?php $_product->getId()?>
                                         <?php
                                          $i = 0;
                                          $child = 2; 
                                          foreach($images as $child){
                                            $i++;
                                            $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(255,195)
                                                        ->getUrl();

                                            $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                            ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                            ->getUrl();
                                            if($i==1) continue;

                                            ?>
                                        <div role="tabpanel" class="tab-pane" id="gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><img class="img-responsive" data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" />
                                        </div>
                                                    <?php

                                                   }
                                                   ?>

                                                   <?php
                                                    }
                                            ?>  
                                    </div>
                                    <ul class="list-inline thumbnail-img">
                                        <li><a href="#gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('MagicToolbox_Magic360::img/360icon.jpg'); ?>" height="45" /></a></li>
                                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                              $images = $product->getMediaGalleryImages();
                                              if($images->count()>0){?>
                                              <?php $_product->getId()?>
                                             <?php
                                              $i = 0;
                                              $child = 2; 
                                              foreach($images as $child){
                                                $i++;
                                                $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(81,53)
                                                    ->getUrl();

                                                $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                                ->getUrl();
                                                if($i==1) continue;

                                                ?>
                                                 <li><a href="#gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" height="45" /></a></li>

                                                <?php

                                               }
                                               ?>

                                               <?php
                                                }
                                        ?>                                
                                    </ul>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h1 class="product-super-title text-uppercase">
                                                <strong class="product name product-item-name">
                                                    <a class="product-item-link"
                                                       href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                                        <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                                    </a>
                                                </strong>
                                            </h1>
                                            <h3 class="product-title text-uppercase">
                                                <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                                    if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                                ?>
                                            </h3>
                                            <div class="product-sub-title text-uppercase">
                                                <?php $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
                                                if ($_getMyAttr) 
                                                {
                                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                } ?>
                                            </div>
                                            <div class="eye-clean-score">
                                                <span class="text-capitalize">Eye Clean Score </span> 
                                                <a href="#" class="simple-review-btn" data-container="body" data-toggle="modal" data-placement="top" data-content="Eye Clean Score" data-target="#eye-clean-score"  data-original-title="" title="">?
                                                </a> 
                                                <span>
                                                    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_eye_clear');
                                                        if ($_getMyAttr) {
                                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                            if($attrTestValue == '20%') { echo "<i class='fa fa-diamond' aria-hidden='true'></i>";
                                                                                            echo "1/5";}
                                                            else if($attrTestValue == '40%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "2/5";} 
                                                            else if($attrTestValue == '60%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "3/5";}
                                                            else if($attrTestValue == '80%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "4/5";}
                                                            else if($attrTestValue == '100%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "5/5";}
                                                        }
                                                    ?>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="action-fields">
                                                <span class="price-caption">
                                                    <span class="price">
                                                        <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product);
                                                                           $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                                                             $categories = $_product->getCategoryIds(); /*will return category ids array */
                                                                            foreach($categories as $category){
                                                                                $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                                                                                $currCat= $cat->getId();
                                                                            } 
                                                                                                    //determine label
                                                                        $stoneArr=array(47,46,45,24,23,22,44,43,42,41,20,15);
                                                                        $settingArr=array(36,37,38,39,40,14);
                                                                        $buttonTitle = __('Add to Cart'); 
                                                                        if(in_array($currCat, $settingArr)){
                                                                             $buttonTitle = __('Choose This');
                                                                        }
                                                                        if(in_array($currCat, $stoneArr)){
                                                                             $buttonTitle = __('Choose This');
                                                                        }
                                                                        $StepsCategories = array_merge($stoneArr,$settingArr);

                                                         ?>
                                                    </span>
                                                </span>
                                                <div class="action-btn">
                                                    <div class="product-item-inner">
                                                        <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                                            <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                                                <?php if ($_product->isSaleable()): ?>
                                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                                    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                                        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                                        <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                                         <?php echo $block->getBlockHtml('formkey');
                                                                                      if(!in_array($currCat, $StepsCategories)):
                                                                                ?>
                                                                                <button type="submit"
                                                                                        title="<?php echo $block->escapeHtml(__('Add To Cart')); ?>"
                                                                                        class="btn btn-block btn-lg btn-dark action tocart primary"><?php /* @escapeNotVerified */ echo __('Add To Cart') ?></button>
                                                                                   <?php endif;?>
                                                                            </form>
                                                                            <?php  if(in_array($currCat, $StepsCategories)):?>
                                                                            <input type="button" class="primary btn btn-xl btn-block btn-dark" value="<?php echo $buttonTitle;?>"  onclick="choosethis(<?php echo $_product->getId();?>);"  />
                                                                             <?php endif;?>
                                                                <?php else: ?>
                                                                    <?php if ($_product->getIsSalable()): ?>
                                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                                    <?php else: ?>
                                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                                    <?php endif; ?>
                                                                <?php endif; ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="btn btn-block btn-sm btn-link">View Diamond</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="attribute-definition">
                                        <dl class="dl-table">
                                            <?php 
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_polish');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_measurements');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('store_symmetry');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_fluorescence_intensity');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_country_stone_location');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }
                                            ?>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix product-item-info" data-container="product-grid">
                                <div class="col-sm-4">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="gallery_360_<?php echo $_product->getId();?>">
                                            <?php $productImage = $block->getImage($_product, $image);
                                                if ($pos != null) {
                                                    $position = ' style="left: 50px;'
                                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                                }
                                            ?>
                                            <?php // Product Image ?>
                                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="" tabindex="-1"><?php echo $productImage->toHtml(); ?></a>
                                        </div>
                                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                          $images = $product->getMediaGalleryImages();
                                          if($images->count()>0){?>
                                          <?php $_product->getId()?>
                                         <?php
                                          $i = 0;
                                          $child = 2; 
                                          foreach($images as $child){
                                            $i++;
                                            $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(255,195)
                                                        ->getUrl();

                                            $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                            ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                            ->getUrl();
                                            if($i==1) continue;

                                            ?>
                                        <div role="tabpanel" class="tab-pane" id="gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><img class="img-responsive" data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" />
                                        </div>
                                                    <?php

                                                   }
                                                   ?>

                                                   <?php
                                                    }
                                            ?>  
                                    </div>
                                    <ul class="list-inline thumbnail-img">
                                        <li><a href="#gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('MagicToolbox_Magic360::img/360icon.jpg'); ?>" height="45" /></a></li>
                                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                              $images = $product->getMediaGalleryImages();
                                              if($images->count()>0){?>
                                              <?php $_product->getId()?>
                                             <?php
                                              $i = 0;
                                              $child = 2; 
                                              foreach($images as $child){
                                                $i++;
                                                $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(81,53)
                                                    ->getUrl();

                                                $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                                ->getUrl();
                                                if($i==1) continue;

                                                ?>
                                                 <li><a href="#gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" height="45" /></a></li>

                                                <?php

                                               }
                                               ?>

                                               <?php
                                                }
                                        ?>                                
                                    </ul>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h1 class="product-super-title text-uppercase">
                                                <strong class="product name product-item-name">
                                                    <a class="product-item-link"
                                                       href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                                        <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                                    </a>
                                                </strong>
                                            </h1>
                                            <h3 class="product-title text-uppercase">
                                                <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                                    if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                                ?>
                                            </h3>
                                            <div class="product-sub-title text-uppercase">
                                                <?php $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
                                                if ($_getMyAttr) 
                                                {
                                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                } ?>
                                            </div>
                                            <div class="eye-clean-score">
                                                <span class="text-capitalize">Eye Clean Score </span> 
                                                <a href="#" class="simple-review-btn" data-container="body" data-toggle="modal" data-placement="top" data-content="Eye Clean Score" data-target="#eye-clean-score"  data-original-title="" title="">?
                                                </a> 
                                                <span>
                                                    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_eye_clear');
                                                        if ($_getMyAttr) {
                                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                            if($attrTestValue == '20%') { echo "<i class='fa fa-diamond' aria-hidden='true'></i>";
                                                                                            echo "1/5";}
                                                            else if($attrTestValue == '40%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "2/5";} 
                                                            else if($attrTestValue == '60%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "3/5";}
                                                            else if($attrTestValue == '80%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "4/5";}
                                                            else if($attrTestValue == '100%') {echo "<i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i><i class='fa fa-diamond' aria-hidden='true'></i>";echo "5/5";}
                                                        }
                                                    ?>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-6">
                                            <div class="action-fields">
                                                <span class="price-caption">
                                                    <span class="price"> $ 
                                                        <?php $_getMyAttr = $_product->getResource()->getAttribute('price');
                                                            if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                                        ?>
                                                    </span>
                                                </span>
                                                <div class="action-btn">
                                                    <div class="product-item-inner">
                                                        <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                                            <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                                                <?php if ($_product->isSaleable()): ?>
                                                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                                    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                                        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                                        <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                                        <?php echo $block->getBlockHtml('formkey')?>
                                                                        <button type="submit"
                                                                                title="<?php echo $block->escapeHtml(__('Choose This')); ?>"
                                                                                class="action tocart primary btn btn-block btn-lg btn-dark">
                                                                            <span><?php /* @escapeNotVerified */ echo __('Choose This') ?></span>
                                                                        </button>
                                                                    </form>
                                                                <?php else: ?>
                                                                    <?php if ($_product->getIsSalable()): ?>
                                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                                    <?php else: ?>
                                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                                    <?php endif; ?>
                                                                <?php endif; ?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="btn btn-block btn-sm btn-link">View Diamond</a>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="attribute-definition">
                                        <dl class="dl-table">
                                            <?php 
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_polish');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_measurements');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('store_symmetry');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_fluorescence_intensity');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }

                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_country_stone_location');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                // Get Label
                                                echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                }
                                            ?>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php $iterator ++ ; ?>
                <?php endforeach; ?>
            </div>
        </div> <!-- /.table body -->
    </div>
</div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
<style type="text/css">
.tab-wrap.text-left .MagicToolboxContainer .MagicToolboxMessage {
    display: none;
}
.tab-wrap.text-left .MagicToolboxContainer {
    width: 80% !important;
    margin-left: 0 !important;
}
.tab-wrap.text-left .MagicToolboxContainer button.m360-icon.m360-icon-fullscreen-open {
    display: none;
}
</style>
