<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<script type="text/javascript">
	var clicked = 0;
	function choosethis($pid){
		var value1 = document.getElementById("text").innerHTML;
		var chooseUrl = "<?php echo $this->getUrl() ?>"+"steps/index/choose?pid="+$pid+"&selectedAval=0&maxVal="+value1;
		if(clicked == 0){
			    clicked = 1;
				window.location = chooseUrl;
		}	    
	}
</script>
<?php
$_productCollection = $block->getLoadedProductCollection();
/*$start = 0;  //starting product id
$end = 800;   //Ending product id
$_productCOllection = Mage::getModel('catalog/product')->getCollection()
->addAttributeToSelect('*')
->addAttributeToFilter('entity_id', array(
'from' => $start ,
'to' => $end
))
->load();*/
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
?>
<?php if (!$_productCollection->count()): ?>
  <div class="container ">
	<div class="no-product-found border-top mrg-dt">
		<h3 class="text-center font-xxl font-lt">NO PRODUCT FOUND!</h3>
		<h3 class="text-center font-md font-nm">Please reset your filters and check again.</h3>
	</div>
  </div>

	<!-- <div class="message info empty alert alert-warning"><strong>NO PRODUCT FOUND!</strong> Please reset your filters and check again.</div> -->
<?php else: ?>
	<?php echo $block->getToolbarHtml() ?>
	<?php echo $block->getAdditionalHtml() ?>
	<?php
	if ($block->getMode() == 'grid') {
		$viewMode = 'grid';
		$image = 'category_page_grid';
		$showDescription = false;
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
	} else {
		$viewMode = 'list';
		$image = 'category_page_list';
		$showDescription = true;
		$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
	}
	/**
	 * Position for actions regarding image size changing in vde if needed
	 */
	$pos = $block->getPositioned();
	
	?>
	<input type="hidden" name="maxVal" id="maxVal" class="budgetFilter" value="3000" />
	 
	<div class="product-wrapper products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>" id="productRings">
		<?php 
			$iterator = 1; 
			$adPostions = array(8,9); // ad positioning
		?>
		<ol class="row products items list product-items list-unstyled">
			<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
			<?php foreach ($_productCollection as $_product): ?>
				<?php
					// conditions to display the ads at the spicifed position
					if (in_array($iterator, $adPostions)):
				?>
					<?php // small ad banners ?>
				 	<li class="col-xs-6 col-sm-4 col-md-3 item product product-item">
				 		<a href="" class="dis-ib">
					 		<div class="thumbnail thumbail-ad">
					 			<img src="<?php echo $this->getViewFileUrl('images/purpose-images/kate-middleton.jpg'); ?>">
					 			<div class="ad-name">
					 				<span class="main-title">Royal Vintage</span>
					 				<span class="sub-title">Special Rings for Women</span>
					 			</div>
					 			<div class="price-caption">$1,200</div>
					 		</div>				 			
				 		</a>
				 	</li>
				 	<?php // large ad banners ?>
				 	<li class="col-xs-12 col-sm-4 col-md-6 item product product-item">
				 		<a href="" class="dis-ib">
					 		<div class="thumbnail thumbail-ad">
					 			<img src="<?php echo $this->getViewFileUrl('images/purpose-images/ring.jpg'); ?>">
					 			<div class="ad-name">
					 				<span class="main-title">Royal Vintage</span>
					 				<span class="sub-title">Special Rings for Women</span>
					 			</div>
					 			<div class="price-caption">$1,200</div>
					 		</div>
				 		</a>
				 	</li>
			 	<?php endif; ?>
				<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="col-xs-6 col-sm-4 col-md-3 item product product-item">' : '</li><li class="col-xs-6 col-sm-4 col-md-3 product product-item">' ?>
				<div itemscope​ itemtype="http://schema.org/ItemList" class="thumbnail product-item-info" data-container="product-grid" ​ >
					<?php // compare and wishlist ?>
					<div data-role="add-to-links" class="actions-secondary on-hover"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                            <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                        <?php endif; ?>
                    </div>
					<!-- /.compare and wishlist -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="gallery_360_<?php echo $_product->getId();?>">
							<?php
								$productImage = $block->getImage($_product, $image);
								if ($pos != null) {
									$position = ' style="left:' . $productImage->getWidth() . 'px;'
										. 'top:' . $productImage->getHeight() . 'px;"';
								}
							?>
							<?php // Product Image ?>
							<a alt="Photo​ ​of​ ​product"​ itemprop="image" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1" class="tab-pane active" id="category-product-image"><?php echo $productImage->toHtml(); ?></a>
						</div>
						<?php 
							$product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
						  	$images = $product->getMediaGalleryImages();
						  	if($images->count()>0) {
						  		$_product->getId();
						  		$i = 0; $child = 2; 
						  		foreach($images as $child){
									$i++;
									$productImageS = $_imagehelper->init($product, 'category_page_grid')->setImageFile($child->getFile())->getUrl();
									if($i==3) break;
					  	?>
						<div role="tabpanel" class="tab-pane hidden-xs" id="gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>"><img data-id="smallthumbs-<?php echo $_product->getId();?>" src="<?php echo $productImageS; ?>" /></a>
						</div>
						<?php } } ?>
					</div>
					<div class="caption product details product-item-details">
						<?php
							$_productNameStripped = $block->stripTags($_product->getName(), null, true);
						?>
						<!-- <strong class="product name product-item-name"> -->
						<h1>
							<a  itemprop="url" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-name product-item-link on-mouse-out">
								<?php $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
								if ($_getMyAttr) 
								{
									echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
								} ?>
							</a>
						</h1>
						<!-- </strong> -->
						<ul class="list-inline thumbnail-img on-hover">
							<li class="active"><a  itemprop="url" href="#gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('images/icons/360icon.jpg'); ?>" /></a></li>
							<?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());


								  $images = $product->getMediaGalleryImages();
								  if($images->count()>0){?>
								  <?php $_product->getId()?>
								 <?php
								  $i = 0;
								  $child = 2; 
								  foreach($images as $child){
									$i++;
									$productImageA = $_imagehelper->init($product, 'product_page_image_large')
										->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(40,40)
										->getUrl();
									if($i==3) break;
									?>
									 <li><a  itemprop="url" href="#gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" src="<?php echo $productImageA; ?>" /></a></li>
									<?php

								   }
								   ?>

								   <?php
									}
							?>                                
						</ul>
						<a  itemprop="url" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
							<p class="product-sub-title on-mouse-out">
								<?php $_getMyAttr = $_product->getResource()->getAttribute('name');
								if ($_getMyAttr) 
								{
									echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
								} ?>
							</p>
						</a>						
						<a  itemprop="url" class="product-sub-title on-hover" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
							<?php $_getMyAttr = $_product->getResource()->getAttribute('short_description');
							if ($_getMyAttr) 
							{
								echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
							} ?>
						</a>                      
						<?php //echo $block->getReviewsSummaryHtml($_product, $templateType); 
								 //fetch catID
								 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
								 $categories = $_product->getCategoryIds(); /*will return category ids array */
								foreach($categories as $category){
									$cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
									$currCat= $cat->getId();
								} 
																//determine label
								$stoneArr=array(47,46,45,24,23,22,44,43,42,41,20,15);
								$settingArr=array(36,37,38,39,40,14);
								$buttonTitle = __('Add to Cart'); 
								if(in_array($currCat, $settingArr)){
									 $buttonTitle = __('Choose This');
								}
								if(in_array($currCat, $stoneArr)){
									 $buttonTitle = __('Choose This');
								}
								$StepsCategories = array_merge($stoneArr,$settingArr);
						?>
						<a  itemprop="url" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
							<div itemprop="offers"​ itemscope​ itemtype="http://schema.org/Offer" class="price">
								<span itemprop="price"><?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?></span></div>
						</a>
						<div class="product actions product-item-actions on-hover"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
							<div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
								<?php $postParams = $block->getAddToCartPostParams($_product); ?>
								<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
									<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
									<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
									<?php echo $block->getBlockHtml('formkey');
										  if(!in_array($currCat, $StepsCategories)):
									?>
									<button type="submit" id="choosethis"
											title="<?php echo $block->escapeHtml(__('Add To Cart')); ?>"
											class="btn btn-block btn-lg btn-dark action tocart primary"><?php /* @escapeNotVerified */ echo __('Add To Cart') ?></button>
									   <?php endif;?>
								</form>
								<?php  if(in_array($currCat, $StepsCategories)):?>
								<input type="button" id="choosethis" class="primary btn btn-xl btn-block btn-dark" value="<?php echo $buttonTitle;?>"  onclick="choosethis(<?php echo $_product->getId();?>);"  />
								 <?php endif;?>
							</div>
						</div>
						<div class="on-hover">
						  <a  itemprop="url" class="sec-col-under quickviewBtn <?php echo $_product->getId();?>" prodUrl="<?php echo $this->getUrl(); ?>steps/index/quickview?pid=<?php echo $_product->getId(); ?>" data-toggle="modal" href='#quickview'>QUICK VIEW</a> 
						</div>
						<?php if ($showDescription):?>
							<div class="product description product-item-description">
								<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
								<a  itemprop="url" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
								   class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
							</div>
						<?php endif; ?>
					</div>
				</div>
				<?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
			<?php endforeach; ?>
		</ol>
		<div class="load-more"><a href="javascript:void();"><i class="em"></i><br><span class="text">Loading more styles</span></a></div>
	</div>
	<input type="hidden" name="quickview-pid" id="quickview-pid" value="0" />
	<?php echo $block->getToolbarHtml() ?>
	<?php if (!$block->isRedirectToCartEnabled()) : ?>
		<script type="text/x-magento-init">
		{
			"[data-role=tocart-form], .form.map.checkout": {
				"catalogAddToCart": {}
			}
		}
		</script>
	<?php endif; ?>
<?php endif; ?>
<script type="text/javascript">	
    // <![CDATA[
    require(['jquery'], function ($, script) {
    	$('.thumbnail.product-item-info').on('mouseover', function() {
    		Magic360.start();
    	});
    });
    // ]]>
</script>
<script type="text/javascript">
	// function setPid($pid){
	  //  document.getElementById("quickview-pid").value=$pid;
   // }
  var is_popup_open = false;
  var pid;
  function HandlePopup($pid) {
	pid = $pid;
	document.getElementById("quickview-file").innerHTML="";
	  	require(["jquery"],function($) {
		$(document).ready(function() {
			var customurl = "<?php echo $this->getUrl() ?>"+"steps/index/quickview";
			//alert(customurl);
			$.ajax({
				url: customurl,
				type: 'POST',
				dataType: 'json',
				data: {
					pid: $pid,
				},
				complete: function(data) {
					//alert('Complete');
					//receive output
					document.getElementById("quickview-file").innerHTML= data.responseText;
				}
			});
		});
	});
	//end ajax*/
}
</script>