<div class="container ">
    <div class="no-product-found mrg-dt">
        <h3 class="text-center font-xxl font-lt">NO PRODUCT FOUND!</h3>
        <h3 class="text-center font-md font-nm">Please reset your filters and check again.</h3>
    </div>
</div>