<?php $_product = $block->getProduct(); ?>
<?php 
 //fetch catID
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $categories = $_product->getCategoryIds(); /*will return category ids array */
foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    $fancyArray = array(24,47,41,43,52,55);
    $gemstomneArray = array(53,45,42);
    $colorless = array(20,43,23,46,51,54);
}
$pair_diamond=array(2,23,24,45,46,47);
if (!in_array($currCat, $pair_diamond)): ?>
<div class="simple-left-slider">
	<ul class="list-group">
		<li class="list-group-item thumb-imag text-uppercase">
			<a href="#description-size">
				<div class="left-list">
					<div class="text-gray font-sb">carat</div>
					<div class="attr-val">
						<?php 
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                            if ($_getMyAttr) {
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
                            }
                        ?>
					</div>
				</div>
			</a>
		</li>
		<li class="list-group-item thumb-imag text-uppercase">
			<a href="#description-cut">
				<div class="left-list">
					<div class="text-gray font-sb">cut</div>
					<div class="attr-val">
						<?php $_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
	                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
	                    ?>
					</div>
				</div>
			</a>
		</li>
		<li class="list-group-item thumb-imag text-uppercase">
			<a href="#description-color">
				<div class="left-list">
					<div class="text-gray font-sb">color</div>
					<div class="attr-val">
	                    <?php 
                        if (in_array($currCat, $gemstomneArray)) {
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_gemstone_color');
                            if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                        } elseif (in_array($currCat, $fancyArray)){
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_natural_fancy_color');
                            if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                        }elseif (in_array($currCat, $colorless)){
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                            if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                        }
                        ?>
					</div>
				</div>
			</a>
		</li>
		<li class="list-group-item thumb-imag text-uppercase">
			<a href="#description-clarity">
				<div class="left-list">
					<div class="text-gray font-sb">clarity</div>
					<div class="attr-val">
						<?php $_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
	                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
	                    ?>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<?php endif ?>