<?php
    $Objectinstance = \Magento\Framework\App\ObjectManager::getInstance();
            $TimezoneInterface = $Objectinstance->create('Magento\Framework\Stdlib\DateTime\TimezoneInterface');
            $urlInterface = $Objectinstance->create('Magento\Framework\UrlInterface'); 
             $time = $TimezoneInterface->scopeTimeStamp();
    $DaysIdArrays = array(3=>1079,5=>1080,7=>1081,9=>1082,11=>1083,13=>1084,15=>1085);
    $DaysArr = array(3,5,7,9,11,13,15);
    $DaysPreLabelArr= [];
    foreach ($DaysArr as $dayToForward) {
      /*  $date = new \Zend_Date($time, \Zend_Date::TIMESTAMP);
        $DaysPreLabelArr[$dayToForward]= $date->addDay($dayToForward);*/
      //  $final_date = $date->format('l, M d');
        $date = new DateTime('now');
        //$add_date = $prod_ship + $sales_date;
        $date->add(new DateInterval('P'.$dayToForward.'D'));
        $DaysPreLabelArr[$dayToForward]=$final_date = $date->format('l, M d');
    }
    // you can use \Zend_Date to work with date like this :
    // +1 day
    $selectedValeforDropdown=0;
    if(isset($_GET['shipping_days'])){
        if($_GET['shipping_days']>1){
            $selectedValeforDropdown=$_GET['shipping_days'];
        }
    }
 // echo 'Date :: '.$date;
?>

<div class="category-title">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-inline">
                <label for="" class="label-control">Delivery date</label>
                <select onchange="redirectUrl(this.value);" name="" id="" class="form-control input-sm diamond-cat-position">
                    <option value="">Sort By Delivery Date</option>
                <?php  foreach ($DaysArr as $dayToForward):?>
                    <option <?php if($selectedValeforDropdown==$DaysIdArrays[$dayToForward]){echo 'selected';} ?> value="<?php echo $DaysIdArrays[$dayToForward];?>"><?php echo $DaysPreLabelArr[$dayToForward];?></option>  
                <?php endforeach; ?>
                </select>
            </div>   <!----Friday, July 34---->
        </div>
        <div class="col-sm-3">
            <div class="form-inline">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked data-class="realView" data-target=".real-diamond-view"><span class="check"></span> Real diamond view
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function redirectUrl($Id){
       var Url = "<?php echo  $urlInterface->getCurrentUrl();?>?shipping_days="+$Id;
       window.location.href= Url;
    }
</script>
