<?php if (in_array($stoneCategoryId, $gemstone)): 
    // single gemstones
?>
<div class="descriptionContent">
    <div class="product-collapse-description content" id="product-collapse-description-<?php echo $_product->getId();?>" data-container="product-grid">
        <button type="button" class="close">&times;</button>
        <div class="clearfix product-item-info" data-container="product-grid">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="tab-content real-diamond-view realView">
                        <div class="tab-pane active sketch" id="sketchView<?php echo $_product->getId();?>">
                            <div class="mid">
                                <div class="diamond-type-parameter rnd">
                                    <span class="dyp-table side-img">Table: 
                                    <?php
                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_table');
                                    if ($_getMyAttr) {echo 
                                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    } 
                                    ?>
                                    </span>
                                    <span class="girdle side-img">Girdle: 
                                    <?php  
                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                                    if ($_getMyAttr) {
                                        echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    }
                                    ?>
                                    </span>
                                    <span class="culet side-img">Culet:
                                    <?php  
                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                                    if ($_getMyAttr) {
                                        echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    }
                                    ?>
                                    </span>
                                    <span class="depth side-img">Depth:
                                    <?php 
                                        $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                                        if ($_getMyAttr) {
                                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                        echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."mm";
                                        }
                                    ?>
                                    </span>
                                    <img class="skin_tone_image img-responsive" src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" />
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active real" id="gallery_360_<?php echo $_product->getId();?>">
                            <?php $productImage = $block->getImage($_product, $image);
                                if ($pos != null) {
                                    $position = ' style="left: 50px;'
                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                }
                            ?>
                            <?php // Product Image ?>
                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="" tabindex="-1"><?php echo $productImage->toHtml(); ?></a>
                        </div>
                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                          $images = $product->getMediaGalleryImages();
                          if($images->count()>0){?>
                          <?php $_product->getId()?>
                         <?php
                          $i = 0;
                          foreach($images as $child){
                            $i++;
                            $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(300,300)
                                        ->getUrl();
                            if($i==3) break;

                            ?>
                        <div role="tabpanel" class="tab-pane" id="gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><img class="img-responsive" data-id="smallthumbs-<?php echo $_product->getId();?>" src="<?php echo $productImage; ?>" />
                        </div>
                                    <?php

                                   }
                                   ?>

                                   <?php
                                    }
                            ?>  
                    </div>
                    <ul class="list-inline thumbnail-img real-diamond-view realView mrg-st">
                        <li class="sketch"><a href="#sketchView<?php echo $_product->getId();?>" data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" height="45" /></a></li>
                        <li class="real active"><a href="#gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('MagicToolbox_Magic360::img/360icon.jpg'); ?>" height="45" /></a></li>
                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                              $images = $product->getMediaGalleryImages();
                              if($images->count()>0){?>
                              <?php $_product->getId()?>
                             <?php
                              $i = 0;
                              foreach($images as $child){
                                $i++;
                                $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(40,40)
                                    ->getUrl();
                                if($i==3) break;

                                ?>
                                 <li><a href="#gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" src="<?php echo $productImage; ?>" height="45" /></a></li>

                                <?php

                               }
                               ?>

                               <?php
                                }
                        ?>                                  
                    </ul>
                </div>                                    
            </div>
            <div class="col-sm-8">
                <div class="clearfix">
                    <div class="col-sm-6">
                        <h4 class="product-super-title">
                            <a class="text-dark" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);} 
                                echo $attrTestValue .'Diamond';
                                ?>
                            </a>
                        </h4>
                        <h3 class="product-title">
                            <a class="text-dark" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
                                }
                            ?>
                            </a>
                        </h3>
                        <ul class="list-inline dotted-list">
                            <li>
                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="text-dark"><?php $_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
                                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                echo $attrTestValue .'cut';
                                ?></a>
                            </li>
                            <li>
                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="text-dark"><?php $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                                    if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                    echo $attrTestValue .'color';
                                ?></a>
                            </li>
                            <li> 
                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="text-dark"><?php $_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
                                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                echo $attrTestValue .'clarity';
                                ?></a> 
                            </li>
                        </ul>
                        <span class="btn-eye-clean-score">
                            <span class="text-capitalize mrg-dr">Eye Clean Score </span>
                            <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <div class="action-fields">
                            <span class="price-caption">
                                <span class="price">
                                   <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product);
                                                   $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                                   $categories = $_product->getCategoryIds(); /*will return category ids array */
                                                    foreach($categories as $category){
                                                        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                                                        $currCat= $cat->getId();
                                                    } 
                                                                            //determine label
                                                $stoneArr=array(47,46,45,24,23,22,44,43,42,41,20,15);
                                                $settingArr=array(36,37,38,39,40,14);
                                                $buttonTitle = __('Add to Cart'); 
                                                if(in_array($currCat, $settingArr)){
                                                     $buttonTitle = __('Choose This');
                                                }
                                                if(in_array($currCat, $stoneArr)){
                                                     $buttonTitle = __('Choose This');
                                                }
                                                $StepsCategories = array_merge($stoneArr,$settingArr);

                                    ?>
                                </span>
                            </span>
                            <div class="action-btn">
                                <div class="product-item-inner">
                                    <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                        <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                    <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                     <?php echo $block->getBlockHtml('formkey');
                                                          if(!in_array($currCat, $StepsCategories)):
                                                    ?>
                                                    <button type="submit"
                                                            title="<?php echo $block->escapeHtml(__('Add To Cart')); ?>"
                                                            class="btn btn-block btn-lg btn-dark action tocart primary"><?php /* @escapeNotVerified */ echo __('Add To Cart') ?></button>
                                                       <?php endif;?>
                                                </form>
                                                <?php  if(in_array($currCat, $StepsCategories)):?>
                                                <input type="button" class="primary btn btn-xl btn-block btn-dark" value="<?php echo $buttonTitle;?>"  onclick="choosethis(<?php echo $_product->getId();?>);"  />
                                                 <?php endif;?>
                                            <?php else: ?>
                                                <?php if ($_product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="btn btn-block btn-link font-sb mrg-xt">View Diamond</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="attribute-definition">
                    <dl class="dl-table">
                        <?php 
                            $_getMyAttr = $_product->getResource()->getAttribute('stonetype');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>Carat Weight</dt>";
                            if ($_getMyAttr) {
                               echo "<dd>".$stone_total_depth = number_format((float)$attrTestValue, 2, '.', '')." CT</dd>";
                               // echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."CT</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_enhancement_type_of_trea');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>Enhancement</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_measurements');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }
                        ?>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<?php
    // single diamond
    elseif (in_array($stoneCategoryId, $singleDiamond)):
?>
<div class="descriptionContent">
    <div class="product-collapse-description content">
        <button type="button" class="close">&times;</button>
        <div class="clearfix product-item-info" data-container="product-grid">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="tab-content real-diamond-view realView">
                        <div class="tab-pane active sketch" id="sketchView<?php echo $_product->getId();?>">
                            <div class="mid">
                                <div class="diamond-type-parameter rnd">
                                    <span class="dyp-table side-img">Table: 
                                    <?php
                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_table');
                                    if ($_getMyAttr) {echo 
                                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    } 
                                    ?>
                                    </span>
                                    <span class="girdle side-img">Girdle: 
                                    <?php  
                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                                    if ($_getMyAttr) {
                                        echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    }
                                    ?>
                                    </span>
                                    <span class="culet side-img">Culet:
                                    <?php  
                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                                    if ($_getMyAttr) {
                                        echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    }
                                    ?>
                                    </span>
                                    <span class="depth side-img">Depth:
                                    <?php 
                                        $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                                        if ($_getMyAttr) {
                                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                        echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."mm";
                                        }
                                    ?>
                                    </span>
                                    <img class="skin_tone_image img-responsive" src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" />
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane active real" id="gallery_360_<?php echo $_product->getId();?>">
                            <?php $productImage = $block->getImage($_product, $image);
                                if ($pos != null) {
                                    $position = ' style="left: 50px;'
                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                }
                            ?>
                            <?php // Product Image ?>
                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="" tabindex="-1"><?php echo $productImage->toHtml(); ?></a>
                        </div>
                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                          $images = $product->getMediaGalleryImages();
                          if($images->count()>0){?>
                          <?php $_product->getId()?>
                         <?php
                          $i = 0;
                          $child = 2; 
                          foreach($images as $child){
                            $i++;
                            $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(300,300)
                                        ->getUrl();
                            if($i==2) break;

                            ?>
                        <div role="tabpanel" class="tab-pane" id="gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><img class="img-responsive" data-id="smallthumbs-<?php echo $_product->getId();?>" src="<?php echo $productImage; ?>" />
                        </div>
                                    <?php

                                   }
                                   ?>

                                   <?php
                                    }
                            ?>  
                    </div>
                    <ul class="list-inline thumbnail-img real-diamond-view realView mrg-st">
                        <li class="sketch"><a href="#sketchView<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" height="45" /></a></li>
                        <li class="real active"><a href="#gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('MagicToolbox_Magic360::img/360icon.jpg'); ?>" height="45" /></a></li>
                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                            $images = $product->getMediaGalleryImages();
                            if($images->count()>0) {?>
                                <?php 
                                $_product->getId();
                                $i = 0;
                                $child = 1; 
                                foreach($images as $child) {
                                    $i++;
                                    $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(40,40)
                                    ->getUrl();
                                    if($i==2) break;
                                ?>
                                <li><a href="#gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" src="<?php echo $productImage; ?>" height="45" /></a></li>
                                <?php } 
                            }
                        ?>
                        <li>
                            <?php include ($block->getTemplateFile('Magento_Catalog::product/simple-diamonds/gia-certificate.phtml')) ?>
                        </li>                                  
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="clearfix">
                    <div class="col-sm-6">
                        <h3 class="product-super-title text-uppercase">
                            <div class="product name product-item-name">
                                <a class="product-item-link text-dark"
                                   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                </a>
                            </div>
                        </h3>
                        <h3 class="product-title text-uppercase">
                           <?php 
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                if ($_getMyAttr) {
                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
                                }
                             ?>
                        </h3>
                        <div class="product-sub-title text-uppercase">
                            <?php $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
                            if ($_getMyAttr) 
                            {
                                echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            } ?>
                        </div>
                        <span class="btn-eye-clean-score">
                            <span class="text-capitalize mrg-xr">Eye Clean Score </span><span class="cursor-pointer" data-toggle="popover" data-content="Eye Clean Score" data-placement="top"><i class="fa fa-question fa-tip" data-toggle="modal" data-target="#eye-clean-score"></i></span>
                            <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
                        </span>
                    </div>
                    <?php 
                        //fetch catID
                         $categories = $_product->getCategoryIds(); /*will return category ids array */
                        foreach($categories as $category){
                            $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                            $currCat= $cat->getId();
                        } 
                        //determine label
                        $stoneArr=array(47,46,45,24,23,22,44,43,42,41,20,15);
                        $settingArr=array(36,37,38,39,40,14);
                        $buttonTitle = __('Add to Cart'); 
                        if(in_array($currCat, $settingArr)){
                             $buttonTitle = __('Choose This');
                        }
                        if(in_array($currCat, $stoneArr)){
                             $buttonTitle = __('Choose This');
                        }
                        $StepsCategories = array_merge($stoneArr,$settingArr);

                    ?>
                    <div class="col-sm-6">
                        <div class="action-fields">
                            <span class="price-caption">
                                <span class="price">
                                   <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                                </span>
                            </span>
                            <div class="action-btn">
                                <div class="product-item-inner">
                                    <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                        <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form style="display:none;" data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                    <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                    <?php echo $block->getBlockHtml('formkey');
                                                           if(!in_array($currCat, $StepsCategories)):
                                                    ?>
                                                    <button type="submit"
                                                            title="<?php echo $block->escapeHtml(__('Add To Cart')); ?>"
                                                            class="action tocart primary btn btn-block btn-lg btn-dark">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add To Cart') ?></span>
                                                    </button>
                                                     <?php endif;?>
                                                </form>
                                                <?php  if(!in_array($currCat, $StepsCategories)):?>
                                                <input type="button" class="primary btn btn-xxl btn-block btn-dark" value="Add To Cart" onclick="customadd(<?php echo $_product->getId();?>);">
                                                 <?php endif;?>
                                                 <?php  if(in_array($currCat, $StepsCategories)):?>
                                                <input type="button" class="primary btn btn-xxl btn-block btn-dark" value="<?php echo  $buttonTitle;?>"  onclick="choosethis(<?php echo $_product->getId();?>);"  />
                                                <?php endif;?>
                                            <?php else: ?>
                                                <?php if ($_product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="btn btn-block btn-link font-sb mrg-st">View Diamond</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="attribute-definition">
                    <dl class="dl-table">
                        <?php 
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_polish');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$stone_total_depth = number_format((float)$attrTestValue, 2, '.', '')."</dd>";
                                //echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_measurements');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('store_symmetry');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_fluorescence_intensity');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_country_stone_location');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_table');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_l_w');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }
                        ?>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<?php
    // pair diamond
    elseif (in_array($stoneCategoryId, $PairDiamond)):
?>
<div class="descriptionContent">
    <div class="product-collapse-description content" id="product-collapse-description-<?php echo $_product->getId();?>">
        <button type="button" class="close" data-toggle="collapse" data-target="#product-collapse-description-<?php echo $_product->getId();?>">&times;</button>
        <div class="clearfix product-item-info" data-container="product-grid">
            <div class="col-sm-4">
                <div class="pair-diamond-head center-block">
                    <h3 class="product-super-title text-uppercase">
                        <div class="product name product-item-name">
                            <a class="product-item-link text-dark"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ //echo $_helper->productAttribute($_product, $_product->//getName(), 'name'); 
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                // Get Value
                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                if ($_getMyAttr) {
                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)." Diamond</dd>";
                                }
                                ?>
                            </a>
                        </div>
                    </h3>
                    <h3 class="product-title text-uppercase">
                       <?php 
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                            if ($_getMyAttr) {
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CARAT";
                            }
                         ?>
                    </h3>
                    <div class="product-sub-title text-uppercase">
                        <?php $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
                        if ($_getMyAttr) 
                        {
                            echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                        } ?>
                    </div>
                    <span class="btn-eye-clean-score">
                        <span class="text-capitalize mrg-xr">Eye Clean Score </span><span class="cursor-pointer" data-toggle="popover" data-content="Eye Clean Score" data-placement="top"><i class="fa fa-question fa-tip" data-target="#eye-clean-score" data-toggle="modal"></i></span>
                        <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
                    </span>
                </div>
                <div class="thumbnail">
                    <div class="tab-content real-diamond-view realView center-block">
                        <div class="tab-pane active sketch" id="sketchView<?php echo $_product->getId();?>">
                            <div class="diamond-type-parameter rnd">
                                <span class="dyp-table side-img">Table: 
                                <?php
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_table');
                                if ($_getMyAttr) {echo 
                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                } 
                                ?>
                                </span>
                                <span class="girdle side-img">Girdle: 
                                <?php  
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                                if ($_getMyAttr) {
                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                }
                                ?>
                                </span>
                                <span class="culet side-img">Culet:
                                <?php  
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                                if ($_getMyAttr) {
                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                }
                                ?>
                                </span>
                                <span class="depth side-img">Depth:
                                <?php 
                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                                    if ($_getMyAttr) {
                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."mm";
                                    }
                                ?>
                                </span>
                                <img class="skin_tone_image img-responsive" src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" />
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active real" id="gallery_360_<?php echo $_product->getId();?>">
                            <?php $productImage = $block->getImage($_product, $image);
                                if ($pos != null) {
                                    $position = ' style="left: 50px;'
                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                }
                            ?>
                            <?php // Product Image ?>
                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="" tabindex="-1"><?php echo $productImage->toHtml(); ?></a>
                        </div>
                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                          $images = $product->getMediaGalleryImages();
                          if($images->count()>0){?>
                          <?php $_product->getId()?>
                         <?php
                          $i = 0;
                          $child = 2; 
                          foreach($images as $child){
                            $i++;
                            $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(255,195)
                                        ->getUrl();

                            $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                            ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                            ->getUrl();
                            if($i==2) break;

                            ?>
                        <div role="tabpanel" class="tab-pane" id="gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><img class="img-responsive" data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" />
                        </div>
                                    <?php

                                   }
                                   ?>

                                   <?php
                                    }
                            ?>  
                    </div>
                    <ul class="list-inline thumbnail-img real-diamond-view realView mrg-st">
                        <li class="sketch"><a href="#sketchView<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" height="45" /></a></li>
                        <li class="real active"><a href="#gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('MagicToolbox_Magic360::img/360icon.jpg'); ?>" height="45" /></a></li>
                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                            $images = $product->getMediaGalleryImages();
                            if($images->count()>0) {?>
                                <?php 
                                $_product->getId();
                                $i = 0;
                                $child = 1; 
                                foreach($images as $child) {
                                    $i++;
                                    $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(81,53)
                                    ->getUrl();

                                    $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                    ->getUrl();
                                    if($i==2) break;
                                ?>
                                <li><a href="#gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" height="45" /></a></li>
                                <?php } 
                            }
                        ?>
                        <li>
                            <div class="gia-img" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/gia-certificate.png') ?>" ><i class="em em-gia em-4x"></i>
                            </div>
                        </li>                                  
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="pair-diamond-head center-block">
                    <h3 class="product-super-title text-uppercase">
                        <div class="product name product-item-name">
                            <a class="product-item-link text-dark"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ //echo $_helper->productAttribute($_product, $_product->//getName(), 'name'); 
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                // Get Value
                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                if ($_getMyAttr) {
                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)." Diamond</dd>";
                                }
                                ?>
                            </a>
                        </div>
                    </h3>
                    <h3 class="product-title text-uppercase">
                       <?php 
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                            if ($_getMyAttr) {
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CARAT";
                            }
                         ?>
                    </h3>
                    <div class="product-sub-title text-uppercase">
                        <?php $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
                        if ($_getMyAttr) 
                        {
                            echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                        } ?>
                    </div>
                    <span class="btn-eye-clean-score">
                        <span class="text-capitalize mrg-xr">Eye Clean Score </span><span class="cursor-pointer" data-toggle="popover" data-content="Eye Clean Score" data-placement="top"><i class="fa fa-question fa-tip" data-target="#eye-clean-score" data-toggle="modal"></i></span>
                        <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
                    </span>
                </div>
                <div class="thumbnail">
                    <div class="tab-content real-diamond-view realView center-block">
                        <div class="tab-pane active sketch" id="sketchView<?php echo $_product->getId();?>-1">
                            <div class="diamond-type-parameter rnd">
                                <span class="dyp-table side-img">Table: 
                                <?php
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_table');
                                if ($_getMyAttr) {echo 
                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                } 
                                ?>
                                </span>
                                <span class="girdle side-img">Girdle: 
                                <?php  
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                                if ($_getMyAttr) {
                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                }
                                ?>
                                </span>
                                <span class="culet side-img">Culet:
                                <?php  
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                                if ($_getMyAttr) {
                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                }
                                ?>
                                </span>
                                <span class="depth side-img">Depth:
                                <?php 
                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                                    if ($_getMyAttr) {
                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."mm";
                                    }
                                ?>
                                </span>
                                <img class="skin_tone_image img-responsive" src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" />
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane active real" id="pair_gallery_360_<?php echo $_product->getId();?>">
                            <?php $productImage = $block->getImage($_product, $image);
                                if ($pos != null) {
                                    $position = ' style="left: 50px;'
                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                }
                            ?>
                            <?php // Product Image ?>
                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="" tabindex="-1"><?php echo $productImage->toHtml(); ?></a>
                        </div>
                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                          $images = $product->getMediaGalleryImages();
                          if($images->count()>0){?>
                          <?php $_product->getId()?>
                         <?php
                          $i = 0;
                          $child = 2; 
                          foreach($images as $child){
                            $i++;
                            $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(255,195)
                                        ->getUrl();

                            $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                            ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                            ->getUrl();
                            if($i==2) break;

                            ?>
                        <div role="tabpanel" class="tab-pane" id="pair_gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><img class="img-responsive" data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" />
                        </div>
                            <?php            }
                                   ?>

                                   <?php
                                    }
                            ?>  
                    </div>
                    <ul class="list-inline thumbnail-img real-diamond-view realView mrg-st">
                        <li class="sketch"><a href="#sketchView<?php echo $_product->getId();?>-1"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" height="45" /></a></li>
                        <li class="real active"><a href="#pair_gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('MagicToolbox_Magic360::img/360icon.jpg'); ?>" height="45" /></a></li>
                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                            $images = $product->getMediaGalleryImages();
                            if($images->count()>0) {?>
                                <?php 
                                $_product->getId();
                                $i = 0;
                                $child = 1; 
                                foreach($images as $child) {
                                    $i++;
                                    $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(81,53)
                                    ->getUrl();

                                    $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                    ->getUrl();
                                    if($i==2) break;
                                ?>
                                <li><a href="#pair_gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" height="45" /></a></li>
                                <?php } 
                            }
                        ?>
                        <li>
                            <div class="gia-img" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/gia-certificate.png') ?>" ><i class="em em-gia em-4x"></i>
                            </div>
                        </li>                                  
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <?php 
                    //fetch catID
                     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                     $categories = $_product->getCategoryIds(); /*will return category ids array */
                    foreach($categories as $category){
                        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                        $currCat= $cat->getId();
                    } 
                    //determine label
                    $stoneArr=array(47,46,45,24,23,22,44,43,42,41,20,15);
                    $settingArr=array(36,37,38,39,40,14);
                    $buttonTitle = __('Add to Cart'); 
                    if(in_array($currCat, $settingArr)){
                         $buttonTitle = __('Choose This');
                    }
                    if(in_array($currCat, $stoneArr)){
                         $buttonTitle = __('Choose This');
                    }
                    $StepsCategories = array_merge($stoneArr,$settingArr);
                ?>
                <div class="action-fields">
                    <span class="price-caption">
                        <span class="price">
                           <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                        </span>
                    </span>
                    <div class="action-btn">
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getBlockHtml('formkey');
                                                   if(!in_array($currCat, $StepsCategories)):
                                            ?>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add To Cart')); ?>"
                                                    class="action tocart primary btn btn-block btn-lg btn-dark">
                                                <span><?php /* @escapeNotVerified */ echo __('Add To Cart') ?></span>
                                            </button>
                                             <?php endif;?>
                                        </form>
                                         <?php  if(in_array($currCat, $StepsCategories)):?>
                                        <input type="button" class="primary btn btn-xl btn-block btn-dark" value="<?php echo  $buttonTitle;?>"  onclick="choosethis(<?php echo $_product->getId();?>);"  />
                                        <?php endif;?>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="btn btn-block btn-link mrg-st font-sb">View Diamond</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="attribute-definition pair-attributes">
                    <dl class="dl-table">
                         <?php 
                            $_getMyAttr = $_product->getResource()->getAttribute('stock_number');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>Carat Weight</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            

                            if (in_array($stoneCategoryId, $colorlessStones)) {
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                                // Get Value
                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                // Get Label
                                echo "<dt>Color</dt>";
                                if ($_getMyAttr) {
                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                }
                            } elseif (in_array($stoneCategoryId, $fancyStones)){
                                $_getMyAttr = $_product->getResource()->getAttribute('stone_natural_fancy_color');
                                // Get Value
                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                // Get Label
                                echo "<dt>Color</dt>";
                                if ($_getMyAttr) {
                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                }
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('reference_to_idex_price_report');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>Report</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }

                            $_getMyAttr = $_product->getResource()->getAttribute('stone_polish');
                            // Get Value
                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            // Get Label
                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                            if ($_getMyAttr) {
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                            }
                        ?>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<?php
    // pair gemstone
    elseif (in_array($stoneCategoryId, $pairGemstone)):
?>
<?php endif ?>