<?php
/**
* Copyright © 2013-2017 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
// @codingStandardsIgnoreFile
?>
<?php $url = $block->getReviewsUrl() . '#reviews';
$__product ='';
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$__product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
?>
<?php $urlForm = $block->getReviewsUrl() . '#review-form'; ?>
<?php if ($block->getReviewsCount()): ?>
<?php $rating = $block->getRatingSummary(); ?>
<?php $eyecleanscore = round((floatval($rating) / 100)*5);
?>
<div class="product-reviews-summary<?php echo !$rating ? ' no-rating' : ''?>" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <span class="product-score">
        <?php
        $active = 1;
        while ( $active <= $eyecleanscore) {
        echo "<i class='fa fa-star'></i> ";
        $active ++;
        }
        while ( $active > $eyecleanscore && $active <= 5 ) {
        echo "<i class='fa fa-star-o'></i> ";
        $active ++;
        }
        ?>
    </span>
    <div class="reviews-actions">
        <a class="action view btn btn-link" href="#reviews"><span itemprop="reviewCount"><?php /* @escapeNotVerified */ echo $block->getReviewsCount() ?></span>&nbsp;<span><?php /* @escapeNotVerified */ echo($block->getReviewsCount() == 1) ? __('Review') : __('Reviews') ?></span></a>
        <?php /* <a class="action add" href="<?php  echo $urlForm ?>"><?php  echo __('Add Your Review') ?></a> */ ?>
    </div>
</div>
<?php elseif ($block->getDisplayIfEmpty()): ?>
<div class="product-reviews-summary empty">
    <div class="reviews-actions">
        <a class="action add" href="#review-popup" data-toggle="modal">
            <?php /* @escapeNotVerified */ echo __('Be the first to review this product') ?>
        </a>
    </div>
</div>
<?php endif; ?>
<div class="modal fade" id="review-popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">WRITE A REVIEW </h4>
            </div>
            <div class="modal-body">
                <!-- form start -->
                <form action="<?php echo $this->getUrl('review/product/post',array('id'=>$__product->getId())); ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'" enctype="multipart/form-data">
                    <fieldset class="fieldset review-fieldset" data-hasrequired="">
                        <span id="input-message-box"></span>
                        <fieldset class="field required review-field-ratings">
                            <div class="control">
                                <div class="nested" id="product-review-table">
                                    <div class="field choice review-field-rating">
                                        <label class="label" id="Price_rating_label"><span>Price</span></label>
                                        <div class="control review-control-vote star">
                                            <input type="radio" name="ratings[3]" id="Price_1" value="11" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_1_label">
                                            <label class="rating-1" for="Price_1" title="1 star" id="Price_1_label">
                                                <span>1 star</span>
                                            </label>
                                            <input type="radio" name="ratings[3]" id="Price_2" value="12" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_2_label">
                                            <label class="rating-2" for="Price_2" title="2 stars" id="Price_2_label">
                                                <span>2 stars</span>
                                            </label>
                                            <input type="radio" name="ratings[3]" id="Price_3" value="13" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_3_label">
                                            <label class="rating-3" for="Price_3" title="3 stars" id="Price_3_label">
                                                <span>3 stars</span>
                                            </label>
                                            <input type="radio" name="ratings[3]" id="Price_4" value="14" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_4_label">
                                            <label class="rating-4" for="Price_4" title="4 stars" id="Price_4_label">
                                                <span>4 stars</span>
                                            </label>
                                            <input type="radio" name="ratings[3]" id="Price_5" value="15" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_5_label">
                                            <label class="rating-5" for="Price_5" title="5 stars" id="Price_5_label">
                                                <span>5 stars</span>
                                            </label>
                                        </div>
                                    </div><!-- 
                                    <div class="field choice review-field-rating">
                                        <label class="label" id="Quality_rating_label"><span>Quality</span></label>
                                        <div class="control review-control-vote">
                                            <input type="radio" name="ratings[<?php echo $__product->getId(); ?>]" id="Quality_1" value="1" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_1_label">
                                            <label class="rating-1" for="Quality_1" title="1 star" id="Quality_1_label">
                                                <span>1 star</span>
                                            </label>
                                            <input type="radio" name="ratings[<?php echo $__product->getId(); ?>]" id="Quality_2" value="2" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_2_label">
                                            <label class="rating-2" for="Quality_2" title="2 stars" id="Quality_2_label">
                                                <span>2 stars</span>
                                            </label>
                                            <input type="radio" name="ratings[<?php echo $__product->getId(); ?>]" id="Quality_3" value="3" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_3_label">
                                            <label class="rating-3" for="Quality_3" title="3 stars" id="Quality_3_label">
                                                <span>3 stars</span>
                                            </label>
                                            <input type="radio" name="ratings[<?php echo $__product->getId(); ?>]" id="Quality_4" value="4" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_4_label">
                                            <label class="rating-4" for="Quality_4" title="4 stars" id="Quality_4_label">
                                                <span>4 stars</span>
                                            </label>
                                            <input type="radio" name="ratings[<?php echo $__product->getId(); ?>]" id="Quality_5" value="5" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_5_label">
                                            <label class="rating-5" for="Quality_5" title="5 stars" id="Quality_5_label">
                                                <span>5 stars</span>
                                            </label>
                                        </div>
                                    </div> -->
                                </div>
                                <input type="hidden" name="validate_rating" class="validate-rating" value="">
                            </div>
                        </fieldset>
                        <div class="clearfix">
                            <div class="col-md-6">
                                <div class="floating-label form-group review-field-nickname">
                                    <input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                                    <label for="nickname_field"><span>NAME</span></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="floating-label form-group review-field-nickname">
                                    <input required="" type="text" name="order-number" id="order-number" class="form-control" data-validate="{required:true}" data-bind="value: order-number()">
                                    <label for="nickname_field"><span>ORDER NUMBER</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-12">
                                <div class="floating-label form-group review-field-summary">
                                    <input required="" type="text" name="title" id="summary_field" class="form-control" data-validate="{required:true}" data-bind="value: review().title">
                                    <label for="summary_field"><span>TITTLE</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-12">
                                <div class="floating-label form-group review-field-text">
                                    <textarea required="" name="detail" id="review_field" class="form-control" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
                                    <label for="review_field" class="review-form-textarea"><span>REVIEW</span></label>
                                </div>
                            </div>
                        </div>
                        <span class="actions-toolbar review-form-actions mrg-db">
                            <!-- <i class="em em-delete" aria-hidden="true" id="removeImage" onclick="removeReviewImage()"></i> -->
                            <!-- <a href="" class="btn btn-default another-image">
                            <input type="file" id="browse" name="fileupload" onchange="fileReviewUplod();" accept=".jpg, .jpeg, .png"/>
                                <span class="another-image-plus">+</span> <span class="text-underline">Add another Image</span>
                            </a> -->
                            <a href="" class="btn btn-default">
                            <input type="file" id="browse" name="fileupload" onchange="fileReviewUplod();" accept=".jpg, .jpeg, .png"/>
                                <span class="another-image-plus">+</span> <span class="special-offers">Add an Image</span>
                            </a>
                            <img width="320" src="" id="fileOutput">
                        </span>
                        <script>
                            function fileReviewUplode() {
                                var input = event.target;
                                var reader = new FileReader();
                                reader.onload = function(){
                                    var dataURL = reader.result;
                                    var output = document.getElementById('fileOutputreview');
                                    output.src = dataURL;
                                };
                                reader.readAsDataURL(input.files[0]);
                                document.getElementById('fileOutputreview').style.display = 'inline-block';
                                document.getElementById('del').style.display = 'inline-block';
                                document.getElementById('add_Image').style.display = 'none';

                            };
                            function del(){
                                document.getElementById('add_Image').style.display = 'inline-block';
                                document.getElementById('fileOutputreview').style.display = 'none';
                                document.getElementById('del').style.display = 'none';
                            };
                            // function fileReviewUplod() {
                            //     var input = event.target;
                            //     var reader = new FileReader();
                            //     reader.onload = function(){
                            //         var dataURL = reader.result;
                            //         var output = document.getElementById('fileOutput');
                            //         output.style.display = "block";
                            //         document.getElementById('removeImage').style.display = "block";
                            //         output.src = dataURL;
                            //     };
                            //     reader.readAsDataURL(input.files[0]);
                            // }
                            // function removeReviewImage() {
                            //     this.style.display = 'none';
                            //     document.getElementById('fileOutput').src = "";
                            //     document.getElementById('fileOutput').style.display = 'none';
                            // }
                        </script>
                    </fieldset>
                    <div class="actions-toolbar review-form-actions submit-review">
                        <div class="primary actions-primary">
                            <button type="submit" class="action submit primary btn btn-dark review-form-submit">
                            <span>Submit Review</span>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- form end -->
            </div>
            <!--  <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>