<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders(); ?>
<?php echo $block->getChildHtml('info');?>  
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <div class="data table table-order-items history hidden-xs" id="my-orders-table">
            <!-- <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Orders') ?></caption> -->
            <div class="pad-xb mrg-sb border-btm">
                <div class="row ">
                    <div class="col-sm-3">
                        <span scope="col" class="col id font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Order #') ?></span>
                    </div>
                    <div class="col-sm-1">
                        <span scope="col" class="col date font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Date') ?></span>
                        <?php /* @noEscape */ echo $block->getChildHtml('extra.column.header');?>
                    </div>
                    <div class="col-sm-3">
                        <span scope="col" class="col shipping font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Ship To') ?></span>
                    </div>
                    <div class="col-sm-1 sales-order-history-price">
                        <span scope="col" class="col total font-sb"><?php /* @escapeNotVerified */ echo __('Total') ?></span>
                    </div>
                    <div class="col-sm-1">
                        <span scope="col" class="col status font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Status') ?></span>
                    </div>
                    <div col=-sm-3>
                        <span scope="col" class="col actions font-sb text-uppercase">&nbsp;</span>
                    </div>
                </div>
            </div>
            <?php foreach ($_orders as $_order): ?> 
                <div class="pad-xb mrg-sb border-btm">
                    <div class="row">
                        <div class="col-sm-3">
                            <span data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></span>
                        </div>
                        <div class="col-sm-1">
                            <span data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()) ?></span>
                            <?php $extra = $block->getChildBlock('extra.container'); ?>
                            <?php if ($extra): ?>
                                <?php $extra->setOrder($_order); ?>
                                <?php /* @noEscape */ echo $extra->getChildHtml() ?>
                            <?php endif; ?>                        
                        </div>
                        <div class="col-sm-3">
                            <span data-th="<?php echo $block->escapeHtml(__('SHIP TO')) ?>" class="col shipping"><?php echo $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></span>
                        </div>
                        <div class="col-sm-1 sales-order-history-price">
                            <span data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php /* @escapeNotVerified */ echo $_order->formatPrice($_order->getGrandTotal()) ?></span>
                        </div>
                        <div class="col-sm-1">
                            <span data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status label label-default my-zone-label<?php //label-success label-danger label-primary  ?>"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel() ?></span>
                        </div>
                        <div class="col-sm-1">
                            <div data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view">
                                    <span class="my-zone-link mrg-gl" style="border-right:none;"><?php /* @escapeNotVerified */ echo __('VIEW') ?></span>
                                </a><!-- 
                                <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                    <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                    $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        ->getPostData($block->getReorderUrl($_order))
                                    ?>' class="action order">
                                        <span><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
                                    </a>
                                <?php endif ?> -->
                            </div>
                        </div>
                        <div class="col-sm-2">
                             <a href="" target="_blank" class="my-zone-link">TRACK ORDER</a>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="data table table-order-items history visible-xs" id="my-orders-table">
            <div class="row ">
                <div class="col-xs-4 mobile-order-history">
                <!-- <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Orders') ?></caption> -->
                    <div class="clearfix my-order-mobile">
                        <span scope="col" class="col id font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Order #') ?></span>
                    </div>
                    <div class="clearfix my-order-mobile">
                        <span scope="col" class="col date font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Date') ?></span>
                        <?php /* @noEscape */ echo $block->getChildHtml('extra.column.header');?>
                    </div>
                    <div class="clearfix my-order-mobile">
                        <span scope="col" class="col shipping font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Ship To') ?></span>
                    </div>
                    <div class="clearfix my-order-mobile sales-order-history-price">
                        <span scope="col" class="col total font-sb"><?php /* @escapeNotVerified */ echo __('Total') ?></span>
                    </div>
                    <div class="clearfix my-order-mobile status">
                        <span scope="col" class="col status font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Status') ?></span>
                    </div>
                </div>
                <div class="product-order-slider">
                    <?php foreach ($_orders as $_order): ?> 
                    <div class="col-xs-4">    
                        <div class="clearfix my-order-mobile">
                            <span data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></span>
                        </div>
                        <div class="clearfix my-order-mobile">
                            <span data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()) ?></span>
                            <?php $extra = $block->getChildBlock('extra.container'); ?>
                            <?php if ($extra): ?>
                                <?php $extra->setOrder($_order); ?>
                                <?php /* @noEscape */ echo $extra->getChildHtml() ?>
                            <?php endif; ?>                        
                        </div>
                        <div class="clearfix my-order-mobile">
                            <span data-th="<?php echo $block->escapeHtml(__('SHIP TO')) ?>" class="col shipping"><?php echo $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></span>
                        </div>
                        <div class="clearfix my-order-mobile sales-order-history-price">
                            <span data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php /* @escapeNotVerified */ echo $_order->formatPrice($_order->getGrandTotal()) ?></span>
                        </div>
                        <div class="clearfix my-order-mobile status">
                            <span data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status label label-default my-zone-label<?php //label-success label-danger label-primary  ?>"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel() ?></span>
                        </div>
                        <div class="clearfix">
                            <div data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view">
                                    <span class="my-zone-link pad-dl" style="border-right:none;"><?php /* @escapeNotVerified */ echo __('VIEW') ?></span>
                                </a><!-- 
                                <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                    <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                    $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        ->getPostData($block->getReorderUrl($_order))
                                    ?>' class="action order">
                                        <span><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
                                    </a>
                                <?php endif ?> -->
                            </div>
                        </div>
                        <div class="clearfix">
                             <a href="" target="_blank" class="my-zone-link pad-dl">TRACK ORDER</a>
                        </div>
                    </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <!-- <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div> -->
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no orders.'); ?></span></div>
<?php endif ?>

<div class="space-lg hidden-xs">    </div>