<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>

<span class="order-status label label-default my-zone-label <?php //label-success label-danger label-primary  ?>">
	<?php /* @escapeNotVerified */ echo $block->getOrder()->getStatusLabel();
	.'<br>'.
	echo $block->getOrder();
	?>
</span>
