<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block block-dashboard-orders">
<?php $_orders = $block->getOrders(); ?>
    <div class="block-title order bg-gray-title mrg-zt">
        <span class="font-df mrg-sl"><?php /* @escapeNotVerified */ echo __('Recent Orders') ?></span>
        <?php if (sizeof($_orders->getItems()) > 0): ?>
            <a class="action view btn btn-link pull-right" href="<?php /* @escapeNotVerified */ echo $block->getUrl('sales/order/history') ?>">
                <?php /* @escapeNotVerified */ echo __('View All') ?>
            </a>
        <?php endif; ?>
    </div>
    <div class="block-content">
    <?php echo $block->getChildHtml()?>
    <?php if (sizeof($_orders->getItems()) > 0): ?>
        <div class="table-wrapper orders-recent hidden-xs">
            <div class="pad-xb mrg-sb border-btm">
                <div class="row ">
                    <div class="col-sm-3">
                        <span scope="col" class="col id font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Order #') ?></span>
                    </div>
                    <div class="col-sm-1">
                        <span scope="col" class="col date font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Date') ?></span>
                        <?php /* @noEscape */ echo $block->getChildHtml('extra.column.header');?>
                    </div>
                    <div class="col-sm-3">
                        <span scope="col" class="col shipping font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('SHIP TO') ?></span>
                    </div>
                    <div class="col-sm-1 sales-order-history-price">
                        <span scope="col" class="col total font-sb"><?php /* @escapeNotVerified */ echo __('Total') ?></span>
                    </div>
                    <div class="col-sm-1">
                        <span scope="col" class="col status font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Status') ?></span>
                    </div>
                    <div col=-sm-3>
                        <span scope="col" class="col actions font-sb text-uppercase">&nbsp;</span>
                    </div>
                </div>
            </div>
            <div class="data table table-order-items recent" id="my-orders-table">
               <?php foreach ($_orders as $_order): ?>
                <div class="pad-xb mrg-sb border-btm">
                    <div class="row">
                        <div class="col-sm-3">
                            <span data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></span>
                        </div>
                        <div class="col-sm-1">
                            <span data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()) ?></span>
                            <?php $extra = $block->getChildBlock('extra.container'); ?>
                            <?php if ($extra): ?>
                                <?php $extra->setOrder($_order); ?>
                                <?php /* @noEscape */ echo $extra->getChildHtml() ?>
                            <?php endif; ?>                        
                        </div>
                        <div class="col-sm-3">
                            <span data-th="<?php echo $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?php echo $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></span>
                        </div>
                        <div class="col-sm-1 sales-order-history-price">
                            <span data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php /* @escapeNotVerified */ echo $_order->formatPrice($_order->getGrandTotal()) ?></span>
                        </div>
                        <div class="col-sm-1">
                            <span data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status btn label label-default my-zone-label<?php //label-success label-danger label-primary  ?>"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel() ?></span>
                        </div>
                        <div class="col-sm-1">
                            <div data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view">
                                    <span class="my-zone-link mrg-gl" style="border-right:none;"><?php /* @escapeNotVerified */ echo __('VIEW') ?></span>
                                </a><!-- 
                                <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                    <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                    $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        ->getPostData($block->getReorderUrl($_order))
                                    ?>' class="action order">
                                        <span><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
                                    </a>
                                <?php endif ?> -->
                            </div>
                        </div>
                        <div class="col-sm-2 text-right">
                            <span class="my-zone-link mrg-sr">TRACK ORDER</span>
                        </div>
                    </div>
                </div>
                    <?php endforeach; ?>
                </tbody>
            </div>
        </div>
        <div class="table-wrapper orders-recent visible-xs">
            <div class="row ">
                <div class="col-xs-4 mobile-order-history">
                    <div class="clearfix my-order-mobile">
                        <span scope="col" class="col id font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Order #') ?></span>
                    </div>
                    <div class="clearfix my-order-mobile">
                        <span scope="col" class="col date font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Date') ?></span>
                        <?php /* @noEscape */ echo $block->getChildHtml('extra.column.header');?>
                    </div>
                    <div class="clearfix my-order-mobile">
                        <span scope="col" class="col shipping font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('SHIP TO') ?></span>
                    </div>
                    <div class="clearfix my-order-mobile sales-order-history-price">
                        <span scope="col" class="col total font-sb"><?php /* @escapeNotVerified */ echo __('Total') ?></span>
                    </div>
                    <div class="clearfix my-order-mobile status">
                        <span scope="col" class="col status font-sb text-uppercase"><?php /* @escapeNotVerified */ echo __('Status') ?></span>
                    </div>
                </div>
                <div class="data table table-order-items recent" id="my-orders-table">
                    <div class="product-order-slider">
                        <?php foreach ($_orders as $_order): ?>
                        <div class="col-xs-4">
                            <div class="clearfix my-order-mobile">
                                <span data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></span>
                            </div>
                            <div class="clearfix my-order-mobile">
                                <span data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()) ?></span>
                                <?php $extra = $block->getChildBlock('extra.container'); ?>
                                <?php if ($extra): ?>
                                    <?php $extra->setOrder($_order); ?>
                                    <?php /* @noEscape */ echo $extra->getChildHtml() ?>
                                <?php endif; ?>                        
                            </div>
                            <div class="clearfix my-order-mobile">
                                <span data-th="<?php echo $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?php echo $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></span>
                            </div>
                            <div class="clearfix my-order-mobile sales-order-history-price">
                                <span data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php /* @escapeNotVerified */ echo $_order->formatPrice($_order->getGrandTotal()) ?></span>
                            </div>
                            <div class="clearfix my-order-mobile status">
                                <span data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status btn label label-default my-zone-label<?php //label-success label-danger label-primary  ?>"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel() ?></span>
                            </div>
                            <div class="clearfix">
                                <div data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                    <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view">
                                        <span class="my-zone-link pad-dl" style="border-right:none;"><?php /* @escapeNotVerified */ echo __('VIEW') ?></span>
                                    </a>
                                    <!--<?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                        <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                            ->getPostData($block->getReorderUrl($_order))
                                        ?>' class="action order">
                                            <span><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
                                        </a>
                                    <?php endif ?> -->
                                </div>
                            </div>
                            <div class="clearfix">
                                <span class="my-zone-link pad-dl">TRACK ORDER</span>
                            </div> 
                        </div>    
                        <?php endforeach; ?>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    <?php else: ?>
        <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no orders.'); ?></span></div>
    <?php endif; ?>
    </div>
    <div class="space-xs"></div>
</div>
