<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
?>
<div class="clearfix">
    <div class="col-sm-8"></div>
    <div class="col-sm-4 order-list-price">
        <div class="font-mb text-uppercase">TOTAL</div>
    <?php foreach ($block->getTotals() as $_code => $_total): ?>
        <?php if ($_total->getBlockName()): ?>
            <?php echo $block->getChildHtml($_total->getBlockName(), false); ?>
        <?php else:?>
        <tr class="<?php /* @escapeNotVerified */ echo $_code?>">
            <th <?php /* @escapeNotVerified */ echo $block->getLabelProperties()?> scope="row">
                <?php if ($_total->getStrong()):?>
                <strong><?php echo $block->escapeHtml($_total->getLabel());?></strong>
                <?php else:?>
                <?php echo $block->escapeHtml($_total->getLabel());?>
                <?php endif?>
            </th>
            <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?> data-th="<?php echo $block->escapeHtml($_total->getLabel());?>">
                <?php if ($_total->getStrong()):?>
                <strong><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></strong>
                <?php else:?>
                <?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?>
                <?php endif?>
            </td>
        </tr>
        <br/>
        <?php endif?>
    <?php endforeach?>
    </div>
</div>