<li data-bind="scope: 'compareProducts'" data-role="compare-products-link">
    <a target="_blank" title="<?php /* @escapeNotVerified */ echo __('Favourite Products') ?>" data-bind="attr: {'href': compareProducts().listUrl}, css: {'no-display': !compareProducts().count}">
        <i class="em em-heart"></i>
       <span class="label" data-bind="text: compareProducts().countCaption"></span>
    </a>
</li>
<script type="text/x-magento-init">
{"[data-role=compare-products-link]": {"Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>}}
</script>