<?php
$_product = $block->getProduct();
//fetch catID
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categories = $_product->getCategoryIds(); /*will return category ids array */
foreach($categories as $category){
$cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
$currCat= $cat->getId();
}
$diamond_4c=array(2,20,43,23,46,27,28,29,30,51,54,17,18,19);
$diamonArr_4c=array(2,20,43,23,46,51,54,17,18,19);
$readytoship_4c=array(2,4,27,28,29,30);
$weddArray = array(17,18,19);
if (in_array($currCat, $diamond_4c)): ?>
<?php
if (in_array($currCat, $diamonArr_4c)) {
$_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
} elseif (in_array($currCat, $readytoship_4c)){
if($currCat == 27){
$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_color');
}elseif($currCat == 28){
$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_color');
}elseif($currCat == 29){
$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_color');
}elseif($currCat == 30){
$_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_color');
}
if ($_getMyAttr) {
$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
}
}
?>
<?php
$coloractiveDTOF = 'active';
$coloractiveGTOJ = 'active';
$coloractiveKTOZ = 'active';
$colorvalue = $attrTestValue;
$DTOF='';$GTOJ='';$KTOZ='';
switch($colorvalue){
case "D":
$DTOF = $coloractiveDTOF;
break;
case "E":
$DTOF = $coloractiveDTOF;
break;
case "F":
$DTOF = $coloractiveDTOF;
break;
case "G":
$GTOJ = $coloractiveGTOJ;
break;
case "H":
$GTOJ = $coloractiveGTOJ;
break;
case "I":
$GTOJ = $coloractiveGTOJ;
break;
case "J":
$GTOJ = $coloractiveGTOJ;
break;
case "K":
$KTOZ = $coloractiveKTOZ;
break;
case "L":
$KTOZ = $coloractiveKTOZ;
break;
case "M":
$KTOZ = $coloractiveKTOZ;
break;
case "N":
$KTOZ = $coloractiveKTOZ;
break;
case "O":
$KTOZ = $coloractiveKTOZ;
break;
case "P":
$KTOZ = $coloractiveKTOZ;
break;
case "Q":
$KTOZ = $coloractiveKTOZ;
break;
case "R":
$KTOZ = $coloractiveKTOZ;
break;
case "S":
$KTOZ = $coloractiveKTOZ;
break;
case "T":
$KTOZ = $coloractiveKTOZ;
break;
case "U":
$KTOZ = $coloractiveKTOZ;
break;
case "V":
$KTOZ = $coloractiveKTOZ;
break;
case "W":
$KTOZ = $coloractiveKTOZ;
break;
case "X":
$KTOZ = $coloractiveKTOZ;
break;
case "Y":
$KTOZ = $coloractiveKTOZ;
break;
case "Z":
$KTOZ = $coloractiveKTOZ;
break;
}
?>
<div class="section-wrapper four-c color bg-white">
    <span class="section-pointer" id="description-color"></span>
    <div class="space-xs"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="h4">YOUR DIAMOND COLOR</h4>
                <h3 class="h1 text-uppercase">
                <?php
                    if (in_array($currCat, $diamonArr_4c)) {
                        $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                    } elseif (in_array($currCat, $readytoship_4c)){
                        if($currCat == 27){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_rings_color');
                        }elseif($currCat == 28){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_color');
                        }elseif($currCat == 29){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_earings_color');
                        }elseif($currCat == 30){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_color');
                        }
                        if ($_getMyAttr) {
                            echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                        }
                    }
                ?>
                </h3>
                <h5 class="<?php echo $GTOJ ?> heading-color-atr">NEAR COLORLESS</h5>
                <h5 class="<?php echo $KTOZ ?> heading-color-atr">NOTICABLE COLOR</h5>
                <h5 class="<?php echo $DTOF ?> heading-color-atr">COLORLESS</h5>
            </div>
            <div class="col-md-9">
                <div class="mrg-gt visible-xs"></div>
                <p>Color is the natural color visible in a diamond and does not change over time. Colorless diamonds allow more light to pass through than a colored diamond, releasing more sparkle and fire. Acting as a prism, a diamond divides light into a spectrum of colors and reflects this light as colorful flashes called fire </p>
                <div><a data-toggle="modal" data-target="#diamond-color-explained" href="#" class="sec-col-under">learn More.</a></div>
                <div class="space-sm"></div>
                <div class="color-area">
                    <div class="info mid left <?php echo $KTOZ ?>">
                        <div class="head">
                            <h5 class="h5 <?php echo $KTOZ ?>">NOTICABLE COLOR</h5>
                            <h3 class="h3 <?php echo $KTOZ ?>">K-Z</h3>
                        </div>
                        <div class="attribute_conor <?php echo $KTOZ ?> up pointer right">
                            <small class="xsmall-black">DIAMOND COLOR</small>
                            <strong class="strong-white font-sd"><?php
                            if (in_array($currCat, $diamonArr_4c)) {
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                            if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            } elseif (in_array($currCat, $readytoship_4c)){
                            if($currCat == 27){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_rings_color');
                            }elseif($currCat == 28){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_color');
                            }elseif($currCat == 29){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_earings_color');
                            }elseif($currCat == 30){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_color');
                            }
                            if ($_getMyAttr) {
                            echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            }
                            }
                            ?>  - NOTICABLE COLOR</strong>
                            <small class="small-black">Color noticeable when compared to diamonds of better grades, but offers excellent value</small>
                        </div>
                    </div>
                    <div class="info top right">
                        <div class="head">
                            <h5 class="h5 <?php echo $GTOJ ?>">NEAR COLORLESS</h5>
                            <h3 class="h3 <?php echo $GTOJ ?>">G-J</h3>
                        </div>
                        <div class="attribute_conor <?php echo $GTOJ ?> pointer left up">
                            <small class="xsmall-black">DIAMOND COLOR</small>
                            <strong class="strong-white font-sd"><?php
                            if (in_array($currCat, $diamonArr_4c)) {
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                            if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            } elseif (in_array($currCat, $readytoship_4c)){
                            if($currCat == 27){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_rings_color');
                            }elseif($currCat == 28){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_color');
                            }elseif($currCat == 29){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_earings_color');
                            }elseif($currCat == 30){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_color');
                            }
                            if ($_getMyAttr) {
                            echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            }
                            }
                            ?>  - NEAR COLORLESS</strong>
                            <small class="small-black">Color noticeable when compared to diamonds of better grades, but offers excellent value</small>
                        </div>
                    </div>
                    <div class="info bottom right">
                        <div class="attribute_conor <?php echo $DTOF ?> up pointer left">
                            <small class="xsmall-black">DIAMOND COLOR</small>
                            <strong class="strong-white font-sd"><?php
                            if (in_array($currCat, $diamonArr_4c)) {
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                            if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                            } elseif (in_array($currCat, $readytoship_4c)){
                            if($currCat == 27){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_rings_color');
                            }elseif($currCat == 28){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_color');
                            }elseif($currCat == 29){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_earings_color');
                            }elseif($currCat == 30){
                            $_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_color');
                            }
                            if ($_getMyAttr) {
                            echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            }
                            }
                            ?>  - COLORLESS</strong>
                            <small class="small-black">Color noticeable when compared to diamonds of better grades, but offers excellent value</small>
                        </div>
                        <div class="head">
                            <h5 class="h5 <?php echo $DTOF ?>">COLORLESS</h5>
                            <h3 class="h3 <?php echo $DTOF ?>">D-F</h3>
                        </div>
                    </div>
                    <img class="img-responsive" src='<?php echo $this->getViewFileUrl('images/ready-to-ship-diamond.png'); ?>' alt="diamondcolor"/>
                </div>
            </div>
        </div>
    </div>
    <div class="space-sm"></div>
</div>
<?php endif ?>