<div class="select_form product-color-size">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle btn-block text-capitalize color-size" type="button" data-toggle="dropdown"><span class="border-size">14</span> 14k yellow gold
        <span class="caret"></span></button>
        <ul class="dropdown-menu caret-size">
            <li><a href="javascript:void(0)">14k white gold</a></li>
            <li><a href="javascript:void(0)">18k yellow gold</a></li>
            <li><a href="javascript:void(0)">18k white gold</a></li>
        </ul>
    </div>
</div>
