<?php
$_product = $block->getProduct();
//fetch catID
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categories = $_product->getCategoryIds(); /*will return category ids array */
foreach($categories as $category){
$cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
$currCat= $cat->getId();
}
$diamond_4c=array(2,20,43,23,46,27,28,29,30,51,54,17,18,19);
$diamonArr_4c=array(2,20,43,23,46,51,54,17,18,19);
$readytoship_4c=array(2,4,27,28,29,30);
$weddArray = array(17,18,19);
if (in_array($currCat, $diamond_4c)): ?>
<?php
if (in_array($currCat, $diamonArr_4c)) {
$_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
}  elseif (in_array($currCat, $readytoship_4c)){
if($currCat == 27){
$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_clarity');
}elseif($currCat == 28){
$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_clarity');
}elseif($currCat == 29){
$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_clarity');
}elseif($currCat == 30){
$_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_clarity');
}
if ($_getMyAttr) {
$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
}
}
?>
<?php
$stepactive = 'active';
$stepactive_clarity = 'active';
$clarityvalue = $attrTestValue;
$FL='';$IF='';$VS1='';$VS2='';$VVS1='';$VVS2='';$SI1='';$SI2='';$SI3='';$I1='';$I2='';$I3='';
$one='';$two='';$three='';$four='';$five='';$six='';
switch($clarityvalue){
case "FL":
$FL = $stepactive;
$one = $stepactive_clarity;
break;
case "IF":
$IF = $stepactive;
$two = $stepactive_clarity;
break;
case "VVS1":
$VVS1 = $stepactive;
$three = $stepactive_clarity;
break;
case "VVS2":
$VVS2 = $stepactive;
$three = $stepactive_clarity;
break;
case "VS1":
$VS1 = $stepactive;
$four = $stepactive_clarity;
break;
case "VS2":
$VS2 = $stepactive;
$four = $stepactive_clarity;
break;
case "SI1":
$SI1 = $stepactive;
$five = $stepactive_clarity;
break;
case "SI2":
$SI2 = $stepactive;
$five = $stepactive_clarity;
break;
case "SI3":
$SI3 = $stepactive;
$five = $stepactive_clarity;
break;
case "I1":
$I1 = $stepactive;
$six = $stepactive_clarity;
break;
case "I2":
$I2 = $stepactive;
$six = $stepactive_clarity;
break;
case "I3":
$I3 = $stepactive;
$six = $stepactive_clarity;
break;
}
?>
<div class="section-wrapper four-c clarity bg-gray-f2">
	<span class="section-pointer" id="description-clarity"></span>
	<div class="space-xs"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4 class="h4">YOUR DIAMOND CLARITY</h4>
				<h3 class="h1 text-uppercase">
				<?php
					if (in_array($currCat, $diamonArr_4c)) {
					$_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
					if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
					} elseif (in_array($currCat, $readytoship_4c)){
				if($currCat == 27){
				$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_clarity');
				}elseif($currCat == 28){
				$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_clarity');
				}elseif($currCat == 29){
				$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_clarity');
				}elseif($currCat == 30){
				$_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_clarity');
				}
				if ($_getMyAttr) {
				echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
				}
				}
				?>
				</h3>
			</div>
			<div class="mrg-gt visible-xs"></div>
			<div class="col-md-9 mrg-gb">
				<p>Color is the natural color visible in a diamond and does not change over time. Colorless diamonds allow more light to pass through than a colored diamond, releasing more sparkle and fire. Acting as a prism, a diamond divides light into a spectrum of colors and reflects this light as colorful flashes called fire </p>
				<div><a data-toggle="modal" data-target="#diamond-clarity-explained" href="#" class="sec-col-under">learn More.</a></div>
			</div>
		</div>
		<div class="space-lg"></div>
		<div class="row">
			<div class="col-md-3 col-xs-5 clarity-diamond-zoom">
				<img class="img-responsive" src='<?php echo $this->getViewFileUrl('images/clarity-diamond-zoom.png'); ?>' alt="diamondsize" />
			</div>
			<div class="col-md-8 text-left">
				<div class="space-lg"></div>
				<ul class="list-inline">
					<li class="rel <?php echo $FL ?>">
						<h4 class="h4 <?php echo $one ?>">FL<small> FLAWLESS </small></h4>
						<div class="pointer <?php echo $one ?>">
							<small class="xsmall-black">YOUR DIAMOND CUT</small>
							<strong class="strong-white">FL</strong>
							<p class="small-black">Slightly included 2. Inclusions are visible under 10x magnifcation and may be visible with unaided eye. More inclusions that FL.</p>
						</div>
					</li>
					<li class="rel <?php echo $IF ?>">
						<h4 class="h4 <?php echo $two ?>">IF <small> INTARNALLY FLAWLESS </small></h4>
						<div class="pointer <?php echo $two ?>">
							<small class="xsmall-black">YOUR DIAMOND CUT</small>
							<strong class="strong-white">
							<?php
							if (in_array($currCat, $diamonArr_4c)) {
							$_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
							if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
							} elseif (in_array($currCat, $readytoship_4c)){
							if($currCat == 27){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_clarity');
							}elseif($currCat == 28){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_clarity');
							}elseif($currCat == 29){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_clarity');
							}elseif($currCat == 30){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_clarity');
							}
							if ($_getMyAttr) {
							echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
							}
							}
							?>
							</strong>
							<p class="small-black">Slightly included 2. Inclusions are visible under 10x magnifcation and may be visible with unaided eye. More inclusions that IF.</p>
						</div>
					</li>
					<li class="rel <?php echo $VVS1 ?><?php echo $VVS2 ?>">
						<h4 class="h4 <?php echo $three ?>">VVS1 VVS2 <small>VERY VERY SLIGHTLY INCLUDED</small></h4>
						<div class="pointer <?php echo $three ?>">
							<small class="xsmall-black">YOUR DIAMOND CUT</small>
							<strong class="strong-white">VVS1 VSS2</strong>
							<p class="small-black">Slightly included 2. Inclusions are visible under 10x magnifcation and may be visible with unaided eye. More inclusions that VSS1 VSS2.</p>
						</div>
					</li>
					<li class="rel <?php echo $VS1 ?><?php echo $VS2 ?>">
						<h4 class="h4 <?php echo $four ?>">VS1 VS2 <small> VERY SLIGHTLY INCLUDED </small></h4>
						<div class="pointer <?php echo $four ?>">
							<small class="xsmall-black">YOUR DIAMOND CUT</small>
							<strong class="strong-white">
							<?php
							if (in_array($currCat, $diamonArr_4c)) {
							$_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
							if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
							} elseif (in_array($currCat, $readytoship_4c)){
							if($currCat == 27){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_clarity');
							}elseif($currCat == 28){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_clarity');
							}elseif($currCat == 29){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_clarity');
							}elseif($currCat == 30){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_clarity');
							}
							if ($_getMyAttr) {
							echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
							}
							}
							?>
							</strong>
							<small class="small-black">Slightly included 2. Inclusions are visible under 10x magnifcation and may be visible with unaided eye. More inclusions that VS1 VS2.</small>
						</div>
					</li>
					<li class="rel <?php echo $SI1 ?><?php echo $SI2 ?><?php echo $SI3 ?>">
						<h4 class="h4 <?php echo $five ?>">SI1 SI2 SI3 <small> SLIGHTLY INCLUDED </small></h4>
						<div class="pointer <?php echo $five ?>">
							<small class="xsmall-black">YOUR DIAMOND CUT</small>
							<strong class="strong-white">
							<?php
							if (in_array($currCat, $diamonArr_4c)) {
							$_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
							if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
							} elseif (in_array($currCat, $readytoship_4c)){
							if($currCat == 27){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_clarity');
							}elseif($currCat == 28){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_clarity');
							}elseif($currCat == 29){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_clarity');
							}elseif($currCat == 30){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_clarity');
							}
							if ($_getMyAttr) {
							echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
							}
							}
							?>
							</strong>
							<small class="small-black">Slightly included 2. Inclusions are visible under 10x magnifcation and may be visible with unaided eye. More inclusions that S1 S2 S3.</small>
						</div>
					</li>
					<li class="rel <?php echo $I1 ?><?php echo $I2 ?><?php echo $I3 ?>">
						<h4 class="h4 <?php echo $six ?>">I1 I2 I3 <small> INCLUDED </small></h4>
						<div class="pointer <?php echo $six ?>">
							<small class="xsmall-black">YOUR DIAMOND CUT</small>
							<strong class="strong-white">
							<?php
							if (in_array($currCat, $diamonArr_4c)) {
							$_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
							if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
							} elseif (in_array($currCat, $readytoship_4c)){
							if($currCat == 27){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_clarity');
							}elseif($currCat == 28){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_clarity');
							}elseif($currCat == 29){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_clarity');
							}elseif($currCat == 30){
							$_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_clarity');
							}
							if ($_getMyAttr) {
							echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
							}
							}
							?>
							</strong>
							<small class="small-black">Slightly included 2. Inclusions are visible under 10x magnifcation and may be visible with unaided eye. More inclusions that I1 I2 I3.</small>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="space-xs"></div>
</div>
<?php endif ?>