<?php
$_product = $block->getProduct();
//fetch catID
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categories = $_product->getCategoryIds(); /*will return category ids array */
foreach($categories as $category){
	$cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
	$currCat= $cat->getId();
}
$diamond_4c=array(2,20,43,23,46,27,28,29,30,51,54,17,18,19);
$diamonArr_4c=array(2,20,43,23,46,51,54,17,18,19);
$readytoship_4c=array(2,4,27,28,29,30);
$weddArray = array(17,18,19);
if (in_array($currCat, $diamond_4c)):
	if (in_array($currCat, $diamonArr_4c)) {
		$_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
		if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
	}
	elseif (in_array($currCat, $readytoship_4c)){
		if($currCat == 27){
			$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_carat');
		}elseif($currCat == 28){
			$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_carat');
		}elseif($currCat == 29){
			$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_carat');
		}elseif($currCat == 30){
			$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_carat');
		}
		if ($_getMyAttr) {
		$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
			$stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
		}
	}
	$stepactive_size = 'active_size';
	$clarityvalue = $attrTestValue;
	$pos = $clarityvalue * 19 ;
?>
<div class="section-wrapper four-c size bg-white">
	<span class="section-pointer" id="description-size"></span>
	<div class="space-xs"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h4 class="h4">YOUR DIAMOND SIZE</h4>
				<h3 class="h1 text-uppercase">
				<?php
					if (in_array($currCat, $diamonArr_4c)) {
					$_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
					if ($_getMyAttr) {
					$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
					echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
					}
					}  elseif (in_array($currCat, $readytoship_4c)){
						if($currCat == 27){
					$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_carat');
						}elseif($currCat == 28){
					$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_carat');
						}elseif($currCat == 29){
					$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_carat');
						}elseif($currCat == 30){
					$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_carat');
							}
					if ($_getMyAttr) {
						$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
						echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
					}
					}
				?>
				</h3>
			</div>
			<div class="col-md-9">
				<div class="mrg-gt visible-xs"></div>
				<p>The carat is the unit of weight of a diamond. Carat is often confused with size even though it is actually a measure of weight. One carat equals 200 milligrams or 0.2 grams. The scale below illustrates the typical size relationship between diamonds of increasing carat weights. Remember that while the measurements below are typical, every diamond is unique </p>
				<div><a data-toggle="modal" data-target="#diamond-carat-explained" href="#" class="sec-col-under">learn More.</a></div>
				<div class="space-lg hidden-xs"></div>
				<div class="space-xs visible-xs"></div>
				<div class="pointer-wrap">
					<div class="pointer active no-shadow" style="left:<?php echo $pos.'%'; ?>">
						<small class="xsmall-black">DIAMOND&nbsp;SIZE</small>
						<strong class="strong-white">
						<?php
						if (in_array($currCat, $diamonArr_4c)) {
						$_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
						if ($_getMyAttr) {
						$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
						echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
						}
						} elseif (in_array($currCat, $readytoship_4c)){
						if($currCat == 27){
						$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_carat');
						}elseif($currCat == 28){
						$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_carat');
						}elseif($currCat == 29){
						$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_carat');
						}elseif($currCat == 30){
						$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_carat');
						}
						if ($_getMyAttr) {
						$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
						echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
						}
						}
						?>
						</strong>
					</div>
				</div>
				<img class="img-responsive" src='<?php echo $this->getViewFileUrl('images/diamond-size.jpg'); ?>' alt="diamondsize" style="max-width: 800px";/>
			</div>
		</div>
	</div>
	<div class="space-xs"></div>
</div>
<?php endif ?>