<?php
$_product = $block->getProduct();
//fetch catID
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categories = $_product->getCategoryIds(); /*will return category ids array */
foreach($categories as $category){
$cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
$currCat= $cat->getId();
}
$diamond_4c=array(2,20,43,23,46,27,28,29,30,51,54,17,18,19);
$diamonArr_4c=array(2,20,43,23,46,51,54,17,18,19);
$readytoship_4c=array(2,4,27,28,29,30);
$weddArray = array(17,18,19);
if (in_array($currCat, $diamond_4c)): ?>
<?php
if (in_array($currCat, $diamonArr_4c)) {
$_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
}
elseif (in_array($currCat, $readytoship_4c)){
if($currCat == 27){
$_getMyAttr = $_product->getResource()->getAttribute('rts_rings_cut');
}elseif($currCat == 28){
$_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_cut');
}elseif($currCat == 29){
$_getMyAttr = $_product->getResource()->getAttribute('rts_earings_cut');
}elseif($currCat == 30){
$_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_cut');
}
if ($_getMyAttr) {
$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
}
}
?>
<?php
$cutactiveExcellent     = 'active';
$cutactiveIDEAL         = 'active';
$cutactiveVERYGOOD      = 'active';
$cutactiveGOOD          = 'active';
$cutactiveFAIR          = 'active';
$cutactivePOOR          = 'active';
$cutactiveUNUSUAL       = 'active';
$cutvalue = $attrTestValue;
$Excellent='';$IDEAL='';$VERYGOOD='';$GOOD='';$FAIR='';$POOR='';$UNUSUAL='';
switch($cutvalue){
case "Excellent":
$Excellent = $cutactiveExcellent;
break;
case "Ideal":
$IDEAL = $cutactiveIDEAL;
break;
case "Very Good":
$VERYGOOD = $cutactiveVERYGOOD;
break;
case "Good":
$GOOD = $cutactiveGOOD;
break;
case "Fair":
$FAIR = $cutactiveFAIR;
break;
case "Poor":
$POOR = $cutactivePOOR;
break;
case "Unusual":
$UNUSUAL = $cutactiveUNUSUAL;
break;
}
?>
<div class="section-wrapper four-c cut bg-gray-f2">
    <span class="section-pointer" id="description-cut"></span>
    <div class="space-xs"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="h4">YOUR DIAMOND CUT</h4>
                <h3 class="h1 text-uppercase">
                    <?php
                        if (in_array($currCat, $diamonArr_4c)) {
                            $_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
                            if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                        } elseif (in_array($currCat, $readytoship_4c)){
                            if($currCat == 27){
                                $_getMyAttr = $_product->getResource()->getAttribute('rts_rings_cut');
                            }elseif($currCat == 28){
                                $_getMyAttr = $_product->getResource()->getAttribute('rts_pendants_cut');
                            }elseif($currCat == 29){
                                $_getMyAttr = $_product->getResource()->getAttribute('rts_earings_cut');
                            }elseif($currCat == 30){
                                $_getMyAttr = $_product->getResource()->getAttribute('rts_bracelet_cut');
                            }
                            if ($_getMyAttr) {
                            echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                            }
                        }
                    ?>
                </h3>
            </div>
            <div class="col-md-9">
                <div class="mrg-gt visible-xs"></div>
                <p>The cut refers to the angles and proportions of a diamond. The cut of a diamond - its form and finish, its depth and width, the uniformity of the facets - determines its beauty. The skill with which a diamond is cut determines how well it reflects and refracts light </p>
                <div><a data-toggle="modal" data-target="#diamond-cut-explained" href="#" class="sec-col-under">learn More.</a></div>
                <div class="space-sm hidden-xs"></div>
                <div class="scale">
                    <ul class="list-inline">
                        <li class="super-ideal-cut">
                            <div class="wrap">
                                <div class="<?php echo $Excellent ?> pointer">
                                    <small class="xsmall-black">DIAMOND CUT</small>
                                    <strong class="strong-white">EXCELLENT</strong>
                                    <span class="short-desp">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</span>
                                </div>
                            </div>
                            SUPER IDEAL
                        </li>
                        <li class="ideal-cut">
                            <div class="wrap">
                                <div class="<?php echo $IDEAL ?> pointer">
                                    <small class="xsmall-black">DIAMOND CUT</small>
                                    <strong class="strong-white">IDEAL</strong>
                                    <span class="short-desp">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</span>
                                </div>
                            </div>
                            IDEAL
                        </li>
                        <li class="very-good-cut">
                            <div class="wrap">
                                <div class="<?php echo $VERYGOOD ?> pointer">
                                    <small class="xsmall-black">DIAMOND CUT</small>
                                    <strong class="strong-white">VERY GOOD</strong>
                                    <span class="short-desp">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</span>
                                </div>
                            </div>
                            VERY GOOD
                        </li>
                        <li class="good-cut">
                            <div class="wrap">
                                <div class="<?php echo $GOOD ?> pointer">
                                    <small class="xsmall-black">DIAMOND CUT</small>
                                    <strong class="strong-white">GOOD</strong>
                                    <span class="short-desp">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</span>
                                </div>
                            </div>
                            GOOD
                        </li>
                        <li class="fair-cut">
                            <div class="wrap">
                                <div class="<?php echo $FAIR ?> pointer">
                                    <small class="xsmall-black">DIAMOND CUT</small>
                                    <strong class="strong-white">FAIR</strong>
                                    <span class="short-desp">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</span>
                                </div>
                            </div>
                            FAIR
                        </li>
                        <li class="poor-cut">
                            <div class="wrap">
                                <div class="<?php echo $POOR ?> pointer">
                                    <small class="xsmall-black">DIAMOND CUT</small>
                                    <strong class="strong-white">POOR</strong>
                                    <span class="short-desp">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</span>
                                </div>
                            </div>
                            POOR
                        </li>
                        <!-- <li class="poor-unusual">
                            <div class="wrap">
                                <div class="<?php echo $UNUSUAL ?> pointer">
                                    <small class="xsmall-black">DIAMOND CUT</small>
                                    <strong class="strong-white">UNUSUAL</strong>
                                    <span class="short-desp">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</span>
                                </div>
                            </div>
                            UNUSUAL
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="space-sm"></div>
</div>
<?php endif ?>