<?php 
	$_product = $block->getProduct();
 	//fetch catID
 	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 	$categories = $_product->getCategoryIds(); /*will return category ids array */
	foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    $currCatname = $cat->getName();

    }
    $pair_diamond=array(2,23,24,45,46,47);
 ?>
<?php if (!in_array($currCat, $pair_diamond)): ?>
<div class="available hidden-xs">
	<div class="text-uppercase font-sb">only 1 available!</div>
	<div class="text-capitalize font-xs font-sb">In another user cart</div>
</div> 
<div class="available visible-xs">
	<b class="text-uppercase">only 1 available!</b>
	<span class="text-uppercase font-xs font-sb">In another user cart</span>
</div>
<?php endif ?>