<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$categories = $product->getCategoryIds(); /*will return category ids array*/
foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    //echo $cat->getName();
    }

?>
<div class="back-to-gallery text-uppercase underline">
	<a class="btn btn-link pad-zl" href="<?php echo $cat->getUrl(); ?>">back to gallery</a>
</div>