<?php $_product = $block->getProduct(); ?>
<?php 
 	//fetch catID
 	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 	$categories = $_product->getCategoryIds(); /*will return category ids array */
	foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    $currCatname = $cat->getName();

    }
    $pair_diamond=array(2,23,24,45,46,47);
 ?>
<?php if (!in_array($currCat, $pair_diamond)): ?>
<span class="btn-eye-clean-score">
    <span class="text-capitalize">Eye Clean Score </span>
    <span class="cursor-pointer" data-toggle="popover" data-content="Eye Clean Score" data-placement="top"><i class="fa fa-question fa-tip"></i></span>
    <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
</span>
<?php endif ?>