<?php 
	$_product = $block->getProduct();
 	//fetch catID
 	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 	$categories = $_product->getCategoryIds(); /*will return category ids array */
	foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    $currCatname = $cat->getName();

    }
    $pair_diamond=array(2,23,24,45,46,47);
 ?>
<?php if (!in_array($currCat, $pair_diamond)): ?>
<?php $_product = $block->getProduct(); ?>
<!-- <div class='text-uppercase'> -->
	<?php /* $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
    if ($_getMyAttr) 
    {
        echo '<h3 class="product-sub-title ">'.$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product).'</h3>';
    } */?>
<!-- </div> -->
    <ul class="list-inline dotted-list">
        <li>
            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="text-dark"><?php $_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
            if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
            echo $attrTestValue .'cut';
            ?></a>
        </li>
        <li>
            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="text-dark"><?php $_getMyAttr = $_product->getResource()->getAttribute('stone_color_color_of_stone');
                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                echo $attrTestValue .'color';
            ?></a>
        </li>
        <li> 
            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="text-dark"><?php $_getMyAttr = $_product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
            if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
            echo $attrTestValue .'clarity';
            ?></a> 
        </li>
    </ul>
<?php endif ?>