<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product'); 
//echo $product->getId();
//echo $product->getSku(); 
?>
<?php
$dir_path = 'magic360images/'.$product->getSku().'/';
$extensions_array = array('jpg','png','jpeg');
$imgExist = '';
if(is_dir($dir_path))
{
    $files = scandir($dir_path);
    $count = count($files);
    $imgExist = count($files);
   for($i = 0; $i < $count; $i++)
    {
        if($files[$i] !='.' && $files[$i] !='..')
        {  // get file name
           $FinalImagesArr[] = $files[$i];
           //$FinalImage = $files[$i];
           //print_r($files);die;                        
           if( $imgExist != ''){
             $imgExist .=' '.$this->getUrl().$dir_path.$files[$i];
           }
           if( $imgExist == ''){
             $imgExist .=$this->getUrl().$dir_path.$files[$i];
           }
        }
    }
    echo '
    <a class="Magic360" data-options="filename:Anim-0{col}.jpg;columns:100;rows:1;autospin-start:hover;initialize-on:hover;mousewheel-step: 1;" href="'.$this->getUrl().$dir_path.$FinalImagesArr[0].'"><img src="'.$this->getUrl().$dir_path.$FinalImagesArr[0].'">
    </a>';
}
?>