<?php 
$_product = $block->getProduct();
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
    }
	$giaArr = array (20,41,42,43,44,23,24,45,46,47,51,52,53,54);
?>
<ul class="nav nav-tabs visible-xs gallery-tab" role="tablist">
    <li role="presentation"><a href="#threesixty" aria-controls="threesixty" role="tab" data-toggle="tab"><i class="em em-three-sixty-small"></i></a></li>
    <li role="presentation" class="active">
        <a href="#productImg" aria-controls="productImg" role="tab" data-toggle="tab"><i class="em em-mobile-gal-tabs"></i></a>
    </li>
    <?php if(in_array($currCat, $giaArr)): ?>
    <li role="presentation">
    	<span class="gia-img cursor pad-sl pad-sr" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/gia-certificate.png') ?>" >
            <i class="em em-gia"></i>
        </span>
    </li>
	<?php else: ?>		
    <li role="presentation">
        <a href="#soldImg" aria-controls="soldImg" role="tab" data-toggle="tab"><i class="em em-hand-gallery"></i></a>
    </li>
	<?php endif; ?>
</ul>