<ul class="nav nav-tabs visible-xs gallery-tab" role="tablist">
    <li role="presentation"><a href="#threesixty-pair" aria-controls="threesixty" role="tab" data-toggle="tab"><i class="em em-three-sixty-small"></i></a></li>
    <li role="presentation" class="active"><a href="#productImg-pair" aria-controls="productImg" role="tab" data-toggle="tab"><i class="em em-mobile-gal-tabs"></i></a></li>
    <li role="presentation">
    	<span class="gia-img cursor pad-sl pad-sr" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/gia-certificate.png') ?>" >
            <i class="em em-gia"></i>
        </span>
    </li>
</ul>