<a role="button" data-toggle="collapse" href="#search_dropdown" aria-expanded="true" aria-controls="collapseExample"><i class="fa fa-search" aria-hidden="true"></i></a>
<div class="collapse" id="search_dropdown">
	<div class="mn-color">
		<div class="container">
			<div class="row">
				<form class="col-md-offset-1 col-md-10 col-md-offset-1">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="WHAT YOU ARE LOOKING FOR?">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">&times;</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="">
					<ul class="list-group search-items-group" >
						<li class="list-group-item search-items">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="<?php echo $this->getViewFileUrl('images/ring-jpg'); ?>" alt="...">
									</a>
								</div>
								<div class="media-body media-heading">
									<div class="mn-content">14k rose gold twisted love know solitaire engagement ring round diamond <span> 0.27 carat ideal cut I color vs1 clarity </span></div>
									<div class="mn-sku">SKU:2523KJKFDSF <span class="mn-price">$760.00</span></div>
								</div>
							</div>
						</li>
						<li class="list-group-item search-items">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="<?php echo $this->getViewFileUrl('images/ring-jpg'); ?>" alt="...">
									</a>
								</div>
								<div class="media-body media-heading">
									<div class="mn-content">14k rose gold twisted love know solitaire engagement ring round diamond <span> 0.27 carat ideal cut I color vs1 clarity </span></div>
									<div class="mn-sku">SKU:2523KJKFDSF <span class="mn-price">$760.00</span></div>
								</div>
							</div>
						</li>
						<li class="list-group-item search-items">
							<div class="media">
								<div class="media-left">
									<a href="#">
										<img class="media-object" src="<?php echo $this->getViewFileUrl('images/ring-jpg'); ?>" alt="...">
									</a>
								</div>
								<div class="media-body media-heading">
									<div class="mn-content">14k rose gold twisted love know solitaire engagement ring round diamond 0.27 carat ideal cut I color vs1 clarity</div>
									<div class="mn-sku">SKU:2523KJKFDSF <span class="mn-price">$760.00</span></div>
								</div>
							</div>
						</li>
						<li class="list-group-item search-items">
							<a href="https://www.w3schools.com">
								<div class="mn-font">SHOW MORE RESULTS>></div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>