<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
    $current_category_url = $category->getId();
    //active the step UI
    $one='';$two='';$three='';$four='';$five='';
    switch ($current_category_url) {
        case 15:
             $one = 'active';
        break;
        case 20:
             $one = 'active';
        break;
        case 41:
             $two = 'active';
        break;
        case 42:
             $three = 'active';
        break;
        case 43:
             $four = 'active';
        break;
        case 44:
             $five = 'active';
        break;
    }
?>
<div class="diamond-types text-center border-btm pad-xxl">
	<div class="btn-group text-capitalize">
		<a href="<?php echo $block->getUrl(); ?>loose-diamonds/colorless-diamonds" class="btn btn-filter <?php echo $one ?>">Colorless Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>loose-diamonds/fancy-diamonds" class="btn btn-filter <?php echo $two ?>">Fancy color Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>loose-diamonds/Gemstones" class="btn btn-filter <?php echo $three ?>">Gemstones</a>
		<a href="<?php echo $block->getUrl(); ?>loose-diamonds/lab-colorless-diamonds" class="btn btn-filter <?php echo $four ?>">Lab colorless Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>loose-diamonds/lab-fancy-diamonds" class="btn btn-filter <?php echo $five ?>">Lab Fancy Diamonds</a>
	</div>
</div>