<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
    $current_category_url_id = $category->getId();
    //active the step UI
    $one='';$two='';$three='';$four='';$five='';
    switch ($current_category_url_id) {
        case 23:
             $one = 'active';
        break;
        case 24:
             $two = 'active';
        break;
        case 45:
             $three = 'active';
        break;
        case 46:
             $four = 'active';
        break;
        case 47:
             $five = 'active';
        break;
    }
?>
<div class="diamond-types pair text-center border-btm pad-xxl">
	<div class="btn-group text-capitalize">
		<a href="<?php echo $block->getUrl(); ?>matching-pairs/colorless-diamonds" class="btn btn-filter <?php echo $one ?>">Matching Colorless Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>matching-pairs/fancy-diamonds" class="btn btn-filter <?php echo $two ?>">Matching Fancy Color Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>matching-pairs/Gemstones" class="btn btn-filter <?php echo $three ?>">Matching Gemstones</a>
		<a href="<?php echo $block->getUrl(); ?>matching-pairs/lab-colorless" class="btn btn-filter <?php echo $four ?>">Matching Lab Colorless Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>matching-pairs/lab-fancy" class="btn btn-filter <?php echo $five ?>">Matching Lab Fancy Diamonds</a>
	</div>
</div>