<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
    $current_category_url = $category->getId();
    //active the step UI
    $one='';$two='';$three='';$four='';$five='';
    switch ($current_category_url) {
        case 51:
             $one = 'active';
        break;
        case 52:
             $two = 'active';
        break;
        case 53:
             $three = 'active';
        break;
        case 54:
             $four = 'active';
        break;
        case 55:
             $five = 'active';
        break;
    }
?>
<div class="diamond-types text-center border-btm pad-xxl">
	<div class="btn-group text-capitalize">
		<a href="<?php echo $block->getUrl(); ?>readytoship/Colorless" class="btn btn-filter <?php echo $one ?>">Colorless Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>readytoship/Fancy" class="btn btn-filter <?php echo $two ?>">Fancy Color Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>readytoship/Gemstone" class="btn btn-filter <?php echo $three ?>">Gemstones</a>
		<a href="<?php echo $block->getUrl(); ?>readytoship/Lab-colorless" class="btn btn-filter <?php echo $four ?>">Lab colorless Diamonds</a>
		<a href="<?php echo $block->getUrl(); ?>readytoship/Lab-fancy" class="btn btn-filter <?php echo $five ?>">Lab Fancy Diamonds</a>
	</div>
</div>