<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
    $current_category_url = $category->getId();
    //active the step UI
    $one='';$two='';$three='';$four='';$five='';
    switch ($current_category_url) {
        case 27:
             $one = 'active';
        break;
       case 29:
             $two = 'active';
        break;
        case 28:
             $three = 'active';
        break;
        case 30:
             $four = 'active';
        break;
    }
?>
<div class="diamond-types readytoship mrg-zt">
	<div class="btn-group text-capitalize">
		<a href="<?php echo $block->getUrl(); ?>fine-jewelry/rings" class="btn btn-filter <?php echo $one ?>"><i class="em em-filter-rings"></i> Rings</a>
		<a href="<?php echo $block->getUrl(); ?>fine-jewelry/Earings" class="btn btn-filter <?php echo $two ?>"><i class="em em-filter-earrings"></i> Earrings</a>
		<a href="<?php echo $block->getUrl(); ?>fine-jewelry/pendants" class="btn btn-filter <?php echo $three ?>"><i class="em em-filter-pendants"></i> Pendants</a>
		<a href="<?php echo $block->getUrl(); ?>fine-jewelry/bracelets" class="btn btn-filter <?php echo $four ?>"><i class="em em-filter-bracelets"></i> Bracelets</a>
	</div>
</div>