<div class="col-sm-3">
	<div class="dash-left contact-us-left">
		<div class="list-group text-uppercase">
			<a href="<?php echo $this->getUrl(); ?>contact" class="list-group-item customer-active"><i class="em em-customer-service" aria-hidden="true"></i> Customer Service</a>
			<a href="<?php echo $this->getUrl(); ?>faq" class="list-group-item faq-active"><i class="em em-faq-icon" aria-hidden="true"></i> FAQ</a>
			<a href="<?php echo $this->getUrl(); ?>complaint-procedure" class="list-group-item complaint-active"><i class="em em-complaint-procedure" aria-hidden="true"></i> Complaints Procedure</a>
			<a href="<?php echo $this->getUrl(); ?>lifetime-warranty" class="list-group-item warranty-active"><i class="em em-lifetime-warranty" aria-hidden="true"></i> Lifetime Warranty</a>
			<a href="<?php echo $this->getUrl(); ?>shipping" class="list-group-item shipping-active"><i class="em em-shipping" aria-hidden="true"></i> Shipping</a>
			<a href="<?php echo $this->getUrl(); ?>free-engraving" class="list-group-item engraving-active"><i class="em em-engraving" aria-hidden="true"></i> Free Engraving</a>
		</div>
	</div>
</div>