<div class="container">
	<div class="clearfix bg-dark-2">
		<?php include ($block->getTemplateFile('Magento_Contact::aside.phtml')) ?>
		<div class="col-sm-9 bg-white pad-xxleft mrgb-30">
			<h1 class="mrg-gb pad-gb font-nm customer-service-heading">Complaints Procedure<span class="pull-right marg-bn customer-service-icon"><i class="em em-faq-main-icon" aria-hidden="true"></i></span></h1>
			<div class="row">
	      		<div class="col-sm-9">
		        <p>Everybody makes mistakes sometimes. At EMRADA we believe in acknowledging mistakes, fixing them, and learning from them. We care very deeply about the quality of our jewelry, the service that we provide to our customers and our own reputation. If you have an issue or complaint that you feel has not been resolved effectively by our customer service team please contact us using the form below. Your complaint will go directly to the CEO’s administrative team and will be dealt with as an urgent priority. </p>
		        <p>Please <strong>don’t</strong> use this form unless you have first contacted <a href="<?php echo $this->getUrl(); ?>contact">Customer Service</a></p>
		        <div class="row border-top pad-dt mrg-gt mrgb-30 reminders">
		        	<div class="col-sm-10">
                        <div class="mrg-gt reminder-box-container ">
                            <form action="" class="complaint-form" method="post" id="" data-role="" data-bind="" enctype="">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="floating-label form-group">
                                            <input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                                            <label for="nickname_field"><span>Name of Subject</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="floating-label form-group">
                                            <input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                                            <label for="nickname_field"><span>Order Number</span></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                    	<div class="field comment required">
		                                    <div class="floating-label form-group">
		                                        <textarea required="" name="comment" id="comment" title="What’s on your mind?" class="form-control message-us" cols="5" rows="3" data-validate="{required:true}"></textarea>
		                                        <label for="nickname_field"><span>Please Explain what happened?</span></label>
		                                	</div>
                            			</div>
                                    </div>
                                    <div class="space-xs"></div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="action primary tocart btn btn-xl btn-block btn-dark">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
		        </div>
			</div>
			</div>
		</div>
	</div>
</div>