<div class="container">
	<div class="clearfix bg-dark-2">
		<?php include ($block->getTemplateFile('Magento_Contact::aside.phtml')) ?>
		<div class="col-sm-9 bg-white pad-xxleft">
			<h1 class="mrg-gb pad-gb font-nm customer-service-heading">FAQ<span class="pull-right marg-bn customer-service-icon"><i class="em em-faq-main-icon" aria-hidden="true"></i></span></h1>
			<h3 class="my-favorite-header pad-sb pad-st" data-toggle="collapse" data-target="#about-emrada" aria-expanded="true" aria-controls="about-emrada">ABOUT EMRADA
				<span class="collapse-arrow pull-right mrg-dr">
					<i class="fa fa-chevron-down font-lt" data-toggle="collapse" data-target="#product-collapse-description-1011" aria-expanded="true"></i>
				</span>
			</h3>
		    <div class="collapse in" id="about-emrada">
		        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default faq-collapse-panel">
				    <div role="tab" class="mrg-dt">
				      <p class="panel-title">
				        <span role="button" data-toggle="collapse" data-parent="#accordion" data-target="#faq-1" aria-expanded="true"><span class="glyphicon glyphicon-plus font-xs" aria-hidden="true"></span><span class="glyphicon glyphicon-minus font-xs" aria-hidden="true"></span>
				          Do you have retail stores that I can visit?
				        </span>
				      </p>
				    </div>
				    <div id="faq-1" class="panel-collapse collapse in" role="tabpanel">
				      <div class="panel-body">
				      	<div class="row">
				      		<div class="col-sm-9">
					        <p>Emrada is an online jewelry store. You won’t find us in your local mall or shopping district. Because we’re an online store we have low operating costs and low overheads. We run a streamlined business and pass these savings onto our customers - that’s one reason why an Emrada ring can cost you up to 40% less than a ring in your local jewelry store. 
							</p>
							<p>If you’re worried that you’ll miss out on the personal service of an old fashioned jewellers by buying online - think again! Our <a href="">professional stylists</a> will talk to you directly, explore your needs, and help you to create the perfect engagement ring. We use the latest technology to provide a very personalised customer service experience.</p>
					        <img class="img-responsive mrg-gb mrg-gt" src='<?php echo $this->getViewFileUrl('images/faq-main-img.png'); ?>' alt="faq-img">
					        <h6>Worried about viewing, sizing, or changing your mind?</h6>
					        <ul class="faq-ul">
					        	<li>View your ring in 360 HD</li>
								<li>Free ring sizing tools</li>
								<li>Free Shipping</li>
								<li>60 Day Money Back Guarantee</li>
								<li>60 Day Free Resizing</li>
					        </ul>
					        <h6>Although Emrada is an online store we maintain an exclusive showroom close to our New York Headquarters. You are welcome to <a href="">schedule an appointment</a> to see our rings, diamonds and fine jewellry collections.</h6>
					        <div class="pad-gt mrg-gt">
						        <img class="logo-popup-footer" src='<?php echo $this->getViewFileUrl('images/emrada-logo-main.png'); ?>' alt="Emrada logo">
						        <span class="text-gray font-df logo-answer">Answered by finance department</span>
						    </div>
						    </div>
						</div>
				      </div>
				    </div>
				    <hr>
				  </div>
				  <div class="panel panel-default faq-collapse-panel">
				    <div role="tab" class="mrg-dt">
				      <p class="panel-title">
				        <span role="button" data-toggle="collapse" data-parent="#accordion" data-target="#faq-2" aria-expanded="false"><span class="glyphicon glyphicon-plus font-xs" aria-hidden="true"></span><span class="glyphicon glyphicon-minus font-xs" aria-hidden="true"></span>
				          Do you design the jewellery that you sell?
				        </span>
				      </p>
				    </div>
				    <div id="faq-2" class="panel-collapse collapse" role="tabpanel">
				      <div class="panel-body">
				      	<div class="row">
				      		<div class="col-sm-9">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
					      </div>
					    </div>
					  </div>
				    </div>
				    <hr>
				  </div>
				  <div class="panel panel-default faq-collapse-panel">
				    <div role="tab" class="mrg-dt">
				      <p class="panel-title">
				        <span data-toggle="collapse" data-parent="#accordion" data-target="#faq-3" aria-expanded="false"><span class="glyphicon glyphicon-plus font-xs" aria-hidden="true"></span><span class="glyphicon glyphicon-minus font-xs" aria-hidden="true"></span>
				          Do you have trained gemologists at Emrada?
				        </span>
				      </p>
				    </div>
				    <div id="faq-3" class="panel-collapse collapse" role="tabpanel">
				      <div class="panel-body">
				      	<div class="row">
				      		<div class="col-sm-9">
					        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
					        </div>
					    </div>
					  </div>
				    </div>
				    <hr>
				  </div>
				  <div class="panel panel-default faq-collapse-panel">
				    <div role="tab" class="mrg-dt">
				      <p class="panel-title">
				        <span data-toggle="collapse" data-parent="#accordion" data-target="#faq-4" aria-expanded="false"><span class="glyphicon glyphicon-plus font-xs" aria-hidden="true"></span><span class="glyphicon glyphicon-minus font-xs" aria-hidden="true"></span>
				          Where is your company office located?
				        </span>
				      </p>
				    </div>
				    <div id="faq-4" class="panel-collapse collapse" role="tabpanel">
				      <div class="panel-body">
				      	<div class="row">
				      		<div class="col-sm-9">
				        	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
				        	</div>
				        </div>
				      </div>
				    </div>
				    <hr>
				  </div>
				  <div class="panel panel-default faq-collapse-panel">
				    <div role="tab" class="mrg-dt">
				      <p class="panel-title">
				        <span data-toggle="collapse" data-parent="#accordion" data-target="#faq-5" aria-expanded="false"><span class="glyphicon glyphicon-plus font-xs" aria-hidden="true"></span><span class="glyphicon glyphicon-minus font-xs" aria-hidden="true"></span>
				          Do you have trained gemologists at Emrada?
				        </span>
				      </p>
				    </div>
				    <div id="faq-5" class="panel-collapse collapse" role="tabpanel">
				      <div class="panel-body">
				      	<div class="row">
				      		<div class="col-sm-9">
				        	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
				        	</div>
				        </div>
				      </div>
				    </div>
				    <hr>
				  </div> 
				</div> 
			</div>
			<h3 class="my-favorite-header pad-sb pad-st" data-toggle="collapse" data-target="#buy-a-jwellery" aria-expanded="true" aria-controls="about-emrada">BUING A RING OR JEWELLERY <small class="font-sm">(orders, ring sixe and custom design)</small>
				<span class="collapse-arrow pull-right mrg-dr">
					<i class="fa fa-chevron-down font-lt" data-toggle="collapse" data-target="#product-collapse-description-1011" aria-expanded="true"></i>
				</span>
			</h3>
		    <div id="buy-a-jwellery" class="panel-collapse collapse" role="tabpanel">
		      <div class="panel-body">
		      	<div class="row">
		      		<div class="col-sm-9">
		        	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		        	</div>
		        </div>
		      </div>
		    </div>
			<h3 class="my-favorite-header pad-sb pad-st" data-toggle="collapse" data-target="#diamond-gemstone-jewellery" aria-expanded="true" aria-controls="about-emrada">DIAMONDS, GEMSTONES AND JEWELLERY
				<span class="collapse-arrow pull-right mrg-dr">
					<i class="fa fa-chevron-down font-lt" data-toggle="collapse" data-target="#product-collapse-description-1011" aria-expanded="true"></i>
				</span>
			</h3>
		    <div id="diamond-gemstone-jewellery" class="panel-collapse collapse" role="tabpanel">
		      <div class="panel-body">
		      	<div class="row">
		      		<div class="col-sm-9">
		        	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		        	</div>
		        </div>
		      </div>
		    </div>
			<h3 class="my-favorite-header pad-sb pad-st" data-toggle="collapse" data-target="#Privacy-securrity" aria-expanded="true" aria-controls="about-emrada">PRIVACY AND SECURITY
				<span class="collapse-arrow pull-right mrg-dr">
					<i class="fa fa-chevron-down font-lt" data-toggle="collapse" data-target="#product-collapse-description-1011" aria-expanded="true"></i>
				</span>
			</h3>
		    <div id="Privacy-securrity" class="panel-collapse collapse" role="tabpanel">
		      <div class="panel-body">
		      	<div class="row">
		      		<div class="col-sm-9">
		        	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
		        	</div>
		        </div>
		      </div>
		    </div>
	</div>
</div>