<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="mrg-dl">
    <h1 class="mrg-gb pad-gb font-nm customer-service-heading">Customer Service<span class="pull-right marg-bn customer-service-icon"><i class="em em-contact-us-icon" aria-hidden="true"></i></span></h1>
      <p class="font-mb">The EMRADA customer service team is on hand 24/7 to help you with any enquiries about placing your order, payments, shipping and tracking, returns, ugrades, repairs or any other questions that you may have.</p>
      <div class="customer-service-window border-btm">
        <div class="row">
            <div class="col-sm-3 col-xs-4">
                <a class="visible-in-blk" href="tel:1123456789" >
                    <i class="em em-call-us-blue"></i>
                    <div class="font-mb pad-st pad-sb font-df price-col text-underline">CALL US</div>
                </a>
                <div class="hidden-xs">USA: 1234567890</div>
                <div class="hidden-xs">Outside USA:+1 123456789</div>
            </div>
            <div class="col-sm-3 col-xs-4">
               <i class="em em-chat-with-stylist-blue"></i>
                <div class="font-mb pad-st pad-sb font-df price-col text-underline">CHAT</div>
                <span class="hidden-xs">Talk to a Customer sevice expert now</span>
            </div>
            <div class="col-sm-3 col-xs-4">
                <a class="visible-in-blk" href="mailto:salomy@emrada.com">
                   <i class="em em-email-us-blue"></i>
                    <div class="font-mb pad-st pad-sb font-df price-col text-underline">EMAIL US</div>
                 </a>
                <div class="hidden-xs">We will answer your questions in two business days</div>
            </div>
        </div>
    </div>
    <div class="row customer-service-window border-btm">
        <div class="col-sm-10">
            <form action="<?php echo $this->getUrl()?>steps/index/schedulecallback" method="post" enctype="multipart/form-data" >
              <div class="schedule-callback pad-gb">
                <div class="font-mb pad-xb schedule-callback-text">Schedule a Callback</div>
                <span clas="pad-st mrg-gt">When would you like us to call you?</span>
              </div>
                <div class="col-sm-3 pad-zl">
                    <div class="floating-label form-group">
                        <input required="" type="text" name="phone" id="phone" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                        <label for="nickname_field"><span>PHONE</span></label>
                    </div>
                </div>
                <div class="col-sm-3 pad-zl">
                    <div class="floating-label form-group">
                        <input required="" name="date" id="date" type="date" title="<?php /* @escapeNotVerified */ echo __('Date') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('date') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="form-control" data-validate="{required:true}"/>
                      <label for="date"></label>
                  </div>
                </div>
                <div class="col-sm-3 pad-zl">
                    <div class="floating-label form-group">
                        <input required="" name="time" id="time" type="time" title="<?php /* @escapeNotVerified */ echo __('Time') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('time') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="form-control" data-validate="{required:true}"/>
                      <label for="time"></label>
                  </div>
                </div>
                <div class="col-sm-3 pad-zl">
                    <button type="submit" class="total action primary btn btn-xl btn-block btn-dark newsletter-customer">SUBMIT</button>
                </div>
            </form>
            <div class="border-btm mrg-gt mrg-gb pad-gb visible-xs"></div>
            <div class="col-sm-12 pad-zl pad-zr">
                <div class="schedule-callback pad-gb pad-gt">
                    <div class="font-mb pad-xb schedule-callback-text">Message Us</div>
                    <span clas="pad-st mrg-gt">We will amswer your question in 24 hours</span>
                </div>
                <form class="form contact"
                      action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
                      id="contact-form"
                      method="post"
                      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
                      data-mage-init='{"validation":{}}'>
                    <fieldset class="fieldset">
                            <!-- <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Write Us') ?></span></legend><br /> -->
                            <!-- <div class="field note no-label"><?php /* @escapeNotVerified */ echo __('Jot us a note and we’ll get back to you as quickly as possible.') ?></div> -->
                            <div class="col-sm-3 pad-zl">
                                <div class="field name required">
                                    <!-- <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Name') ?></span></label> -->
                                    <div class="floating-label form-group">
                                        <input required="" name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Name') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="form-control" type="text" data-validate="{required:true}"/>
                                        <label for="nickname_field"><span>NAME</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6 pad-zl">
                                <div class="field email required">
                                    <!-- <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label> -->
                                    <div class="floating-label form-group">
                                        <input required="" name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="form-control" type="email" data-validate="{required:true, 'validate-email':true}"/>
                                        <label for="nickname_field"><span>EMAIL</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6 pad-zl">
                                <div class="field telephone">
                                    <!-- <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label> -->
                                    <div class="floating-label form-group">
                                        <input name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="form-control" type="text" />
                                        <label for="nickname_field"><span>PHONE (OPTIONAL)</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 pad-zl">
                                <div class="field comment required">
                                    <!-- <label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?></span></label> -->
                                    <div class="floating-label form-group">
                                        <textarea required="" name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('What’s on your mind?') ?>" class="form-control message-us" cols="5" rows="3" data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                                        <label for="nickname_field"><span>MESSAGE</span></label>
                                </div>
                            </div>
                            <?php echo $block->getChildHtml('form.additional.info'); ?>
                        </div>
                    </fieldset>
                    <div class="col-sm-3 pad-zl">
                        <div class="actions-toolbar">
                            <div class="primary">
                                <input type="hidden" name="hideit" id="hideit" value="" />
                                <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Submit') ?>" class="action submit primary btn btn-xl btn-block btn-dark">
                                    <!-- <span><?php /* @escapeNotVerified */ echo __('Submit') ?></span> -->SEND
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="service-window-small border-btm">
        <div class="schedule-callback pad-gb pad-gt">
            <div class="font-mb pad-xb schedule-callback-text">Stylist & Experts</div>
            <span clas="pad-st mrg-gt">If you have any questions about choosing or designing a ring you can speak to an EMRADA stylist for free.</span>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-6">
                <i class="em em-chat-img em-3x" style="background-image: url('http://52.30.75.208/emradadev4/pub/static/version1510299211/frontend/Aghai/Emrada/en_US//images/icons/stylist-header-katie.png'); background-color: #131313;"></i>
                <div class="stylist mrg-xl">
                    <span class="font-sb font-xs">KATIE G. </span><br/>
                    <span class="font-nm font-sm price-col">Stylist</span>
                </div>
            </div>
            <div class="col-sm-2 hidden-xs">
                <i class="em em-chat-img em-3x" style="background-image: url('http://52.30.75.208/emradadev4/pub/static/version1510299211/frontend/Aghai/Emrada/en_US//images/icons/stylist-michellle.png'); background-color: #131313;"></i>
                <div class="stylist mrg-xl">
                    <span class="font-sb font-xs">MICHELE. </span><br/>
                    <span class="font-nm font-sm price-col">Stylist</span>
                </div>
            </div>
            <div class="col-sm-2 hidden-xs">
                <i class="em em-chat-img em-3x" style="background-image: url('http://52.30.75.208/emradadev4/pub/static/version1510299211/frontend/Aghai/Emrada/en_US//images/icons/stylist-header-katie.png'); background-color: #131313;"></i>
                <div class="stylist mrg-xl">
                    <span class="font-sb font-xs">DAVID T. </span><br/>
                    <span class="font-nm font-sm price-col">Expert</span>
                </div>
            </div>
            <div class="col-sm-2 hidden-xs">
                <i class="em em-chat-img em-3x" style="background-image: url('http://52.30.75.208/emradadev4/pub/static/version1510299211/frontend/Aghai/Emrada/en_US//images/icons/stylist-michellle.png'); background-color: #131313;"></i>
                <div class="stylist mrg-xl">
                    <span class="font-sb font-xs">BENU U. </span><br/>
                    <span class="font-nm font-sm price-col">Expert</span>
                </div>
            </div>
            <div class="col-sm-2 text-center col-xs-6">
                <button class="submit btn btn-outline all-staff" name="Submit">All Staff</button>
            </div>
        </div>
    </div>
    <div class="service-window-small">
        <div class="schedule-callback pad-gb pad-gt">
            <div class="font-mb pad-xb schedule-callback-text">EMRADA NEWSLETTER</div>
            <span clas="pad-st mrg-gt">Sign up for the EMRADA newslette and be the first to har about our new collections, special offers and exclusive deals.</span>
            <div class="pad-gt newsletter-customer">
            <?php include ($block->getTemplateFile('Magento_Customer::account/dashboard/dashboard-newsletter.phtml')) ?>
            </div>
        </div>
    </div>
</div>
<div class="space-lg"></div>