<div class="container">
	<div class="clearfix bg-dark-2 mrgb-30">
		<?php include ($block->getTemplateFile('Magento_Contact::aside.phtml')) ?>
		<div class="col-sm-9 bg-white pad-xxleft engraving">
			<h1 class="mrg-gb pad-gb font-nm customer-service-heading">Free Engraving - Plus our choice of texts<span class="pull-right marg-bn customer-service-icon"><i class="em em-faq-main-icon" aria-hidden="true"></i></span></h1>
			<div class="row">
				<div class="col-sm-9">
					<p>We offer a free engraving service to help you make your ring truly special. The service is available for most EMRADA rings and will be offered as an option during checkout. We can permanently engrave any combination of letters and numbers up to 20 characters in length. </p>
					<p>Alternatively you can choose from our selection of special engravings or talk to an EMRADA stylist to get some help with writing that special message in just 20 characters! </p>
					<div class="col-sm-6"><button class="btn btn-outline primary btn-block">Special Engravings</button></div>
					<div class="col-sm-6"><button class="btn btn-outline primary btn-block">EMRADA STYLIST</button></div>
				</div>
			</div>
		</div>
	</div>
</div>