<div class="container">
	<div class="clearfix bg-dark-2 life-warranty  mrgb-30">
		<?php include ($block->getTemplateFile('Magento_Contact::aside.phtml')) ?>
		<div class="col-sm-9 bg-white pad-xxleft">
			<h1 class="mrg-gb pad-gb font-nm customer-service-heading">Lifetime Warranty<span class="pull-right marg-bn customer-service-icon"><i class="em em-faq-main-icon" aria-hidden="true"></i></span></h1>
			<div class="row  mrgb-30">
	      		<div class="col-sm-9">
					<p>Your ring or fine jewelry was painstakingly created by experts and checked and appraised throughout its manufacture. The design and craftsmanship of all our jewelry is outstanding and - we believe - second to none. We have enough confidence in the quality of our jewelry to give every item that we sell an automatic lifetime warranty.</p>
					<ul>The EMRADA lifetime warranty includes:
						<li>Free prong tightening</li>
						<li>Re-polishing and cleaning</li>
						<li>Rhodium plating</li>
					</ul>
					<div class="border-whl pad-gl pad-gr pad-gb pad-st mrg-gt">
						<h4 class="bg-primary text-dark text-center">EMRADA Guarantee</h4>
						<p>Your ring or fine jewelry will be individually inspected and checked immediately prior to shipping. You will receive the exact item(s) that you ordered, with full certification and in perfect condition.</p>
						<p> If you’re not happy with the final product you may return it within 60 days for a full refund with no questions asked. </p>
					</div>
					<h4 class="mrg-st">Resizing &amp; Returns 60 day returns</h4>
					<p>Don’t panic if your ring doesn’t fit. We’ll resize it for free within the first 60 days of purchase. <a href="<?php echo $this->getUrl(); ?>contact">Contact Customer</a> Service to arrange free resizing. </p>
					<div class="find-ring-size"><a href="#ring-size" data-toggle="modal" class="sec-col-under text-capitalize">Find my ring size</a></div>
					<h4 class="mrg-st ">Lifetime Upgrade</h4>
					<p>It’s easy to upgrade your original Emrada diamond for a bigger or better stone. </p>
					<div class="border-whl pad-gl pad-gr pad-gb mrg-gt pad-dt">
						<p>If you’re thinking about an upgrade why not talk to an Emrada stylist? You might be surprised at how easily you can completely transform your ring. Simply tell the stylist your budget and basic requirements and she’ll show you how a skilled choice of cut, color, clarity and carat weight can make your money go a lot further. She’ll also help you to select a diamond or gemstone that will really flatter and complement the wearer. </p>
		            	<div class="h5"><a href="<?php echo $this->getUrl(); ?>contact" class="text-sec ">Talk Now</a></div>
			        </div>
			        <h5 class="bg-primary text-center text-dark ">Jewelry Insurance</h5>
			        <p>A diamond engagement ring is one of the most precious possessions that you’ll ever own. EMRADA wants you to enjoy some peace of mind and be safe in the knowledge that if anything happens to your ring you’ll be covered. We’ve teamed up with <strong class="text-sec">INSURANCE COMPANY</strong> to offer our customers a choice of insurance policies at a special reduced rate. 
					Link to EMRADA Club page
					</p>
					<h3> <a href="">Tax and Duty - Tax Calculator</a></h3>
					<h3 class="bg-primary text-center text-dark ">Emrada Finance</h3>
					<p>Emrada can help to put the ring of your dreams within reach with a choice of payment plans. Choose the option that suits you best and click apply now to complete the short application form. Offer subject to credit check and some restrictions may apply. </p>
					<ul>
						<li>Fast credit check</li>
						<li>Receive notification within just minutes</li>
						<li>Activate the credit immediately or use it in the future</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>