<div class="container">
	<div class="clearfix bg-dark-2 mrgb-30">
		<?php include ($block->getTemplateFile('Magento_Contact::aside.phtml')) ?>
		<div class="col-sm-9 bg-white pad-xxleft">
			<h1 class="mrg-gb pad-gb font-nm customer-service-heading">Shipping<span class="pull-right marg-bn customer-service-icon"><i class="em em-faq-main-icon" aria-hidden="true"></i></span></h1>
			<div class="row">
	      		<div class="col-sm-9">
	      			<p>When you buy the ring of your dreams you don’t want to wait for it to arrive. EMRADA will arrange a free delivery with free shipping insurance using <strong>FedEx</strong>. We’ll always aim to get your ring to you within <<__hours>>!
					</p>
					<ol>
						<li>Final quality control check</li>
						<li>Presentation box and certification</li>
						<li>Secure packaging and despatch</li>
						<li>Full order tracking</li>
						<li>Secure delivery</li>
					</ol>
					<div class="border-whl pad-gl pad-gr pad-gb pad-st mrg-gt">
						<h4 class="bg-primary text-dark text-center">How EMRADA protects your order</h4>
						<ul>
							<li>We insure all items at their full value</li>
							<li>We exclusively use FedEx for optimal speed and security</li>
							<li>Your nominated delivery address must be a business or residence not a PO box</li>
							<li>You may nominate an alternative delivery address</li>
							<li>You may collect your package from your local FedEx office</li>
							<li>We require a recipient’s signature</li>
						</ul>
					</div>
					<div class="border-whl pad-gl pad-gr pad-gb pad-st mrg-gt">
						<h4 class="bg-primary text-dark text-center">Why FedEx</h4>
						<p>It’s our experience that FedEx provides the most reliable secure shipping service for precious items like diamond rings and fine jewelry. Because we ship exclusively with FedEx we are able to ensure that our customers receive the highest possible service standard. </p>
						<p>If you wish to collect your order from a FedEx depot click here to find your local office. </p>
					</div>
					<div class="border-whl pad-gl pad-gr pad-gb pad-st mrg-gt">
						<h4 class="bg-primary text-dark text-center">Track your Order</h4>
						<p> <a href="<?php echo $this->getUrl(); ?>sales/order/history/">Click here</a> to see your order status and tracking information. </p>
					</div>
					<h4 class="bg-primary text-dark text-center mrg-gt">How EMRADA protects your order</h4>
					<p>EMRADA welcomes orders from customers around the world. If you’re placing an order from outside the USA you will be responsible for any import duties, VAT, taxes or surcharges levied in your country of origin. Please check with local authorities to confirm any taxes and duties that you may be liable to pay. </p>
					<p class="mrgb-30">Alternatively use our free <a href="">Tax and Duty Calculator</a>.</p>
	      		</div>
	      	</div>
	    </div>
	</div>
</div>