<?php
	//
?>
<div class="clearfix pad-dt">
	<div class="col-sm-7 text-center">
		<div class="gallery-quickview">
			<div id="quick-view-left" class="quick-view quick-left">
				<div class=""><a data-slide-index="0" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
				<div class="mrg-xt"><a data-slide-index="1" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
				<div class="mrg-xt"><a data-slide-index="2" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
				<div class="mrg-xt"><a data-slide-index="3" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
				<div class="mrg-xt"><a data-slide-index="4" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
			</div>
			<div class="quickview" id="quickview-img">
				<img src="http://placehold.it/300x300" class=" ">
				<img src="http://placehold.it/300x300" class=" ">
				<img src="http://placehold.it/300x300" class=" ">
				<img src="http://placehold.it/300x300" class=" ">
				<img src="http://placehold.it/300x300" class=" ">
			</div>
			<ul id="" class="list-inline quick-view mrg-dt">
				<li><a data-slide-index="0" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></li>
				<li><a data-slide-index="1" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></li>
				<li><a data-slide-index="2" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></li>
			</ul>
		</div>
    </div>
    <div class="col-sm-5">
    	<div class="product-information text-left">
    		<h4 class="text-uppercase product-super-title" id="Prod-superHead" style="margin-bottom: 0px;">18k white gold</h4>
	    	<h3 class="product-title text-uppercase">
				<span class="base" data-ui-id="page-title-wrapper">14K WHITE GOLD 2MM KNIFE EDGE SOLITAIRE ENGAGEMENT RING</span>
			</h3>
			<div class="setting-price">
				<div class="price-box price-final_price" data-role="priceBox" data-product-id="1">
					<span class="price">$251.00</span>
				</div>
				<div class="price-text">Setting price</div>
			</div>
			<div class="product-reviews-summary">
			    <span class="product-score">
			        <i class="fa fa-star"></i>
			        <i class="fa fa-star"></i>
			        <i class="fa fa-star"></i>
			        <i class="fa fa-star"></i>
			        <i class="fa fa-star-o"></i>
			    </span>
			    <div class="reviews-actions">
			        <a class="action view btn btn-link" href="#reviews"><span itemprop="reviewCount">3</span>&nbsp;<span>Reviews</span></a>
	            </div>
	            <div class="product attribute overview">
					<div class="value" itemprop="description">Anna has become the dominant form of the Ann family, having been firmly in the Top 25 for years and only slipping in the past couple years. Anna offers a touch of the exotic and a bit more style 
					</div>
				</div>
                <select class="mrg-gb form-control" aria-required="true">                    
	                <option value="">Choose an Option...</option>
	                <option value="219">Rose Gold 14k</option>
	                <option value="220">White Gold 14k</option>
	                <option value="221">Yellow Gold 14k</option>
	                <option value="222">White Gold 18k</option>
	                <option value="223">Yellow Gold 18k</option>
	                <option value="224">Platinum</option>
            	</select>
            	<input type="button" class="primary btn btn-xl btn-block btn-dark" value="Choose This Setting" onclick="choosethis(1);">
            	<div class="product-addto-links">
				    <div class="text-center pad-dt">
						<a href="#" class="sec-col-under"><i class="em em-heart-plus mrg-xr" aria-hidden="true"></i> save to favourites</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<div class="clearfix border-top mrg-gt">
	<div class="col-sm-8">
		<div class="friend-opinion mrgb-30">
		    <ul class="list-inline social">
		        <li>
		            <h5>Ask a friend for opinion</h5>
		        </li>
		        <li>
		            <ul class="list-inline social-icons ">
		                <li>
		                    <a class="text-sec" href="">
		                        <i class="em em-e-mail mrg-xr" aria-hidden="true"></i>E-mail
		                    </a>
		                </li>
		                <!-- FACEBOOK -->
		                <li>
		                    <a class="text-sec" href="">
		                        <i class="em em-facebook mrg-xr" aria-hidden="true"></i>Facebook
		                    </a>
		                </li>
		                <li><!-- TWITTER -->
		                    <a class="text-sec" href="">
		                        <i class="em em-twitter mrg-xr" aria-hidden="true"></i>Twitter
		                    </a>
		                </li>
		                <li><!-- TWITTER -->
		                    <a class="text-sec" href="">
		                        <i class="em em-whatsapp mrg-xr" aria-hidden="true"></i>Whatsapp
		                    </a>
		                </li>
		            </ul>
		        </li>
		    </ul>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="ship-returns text-center text-uppercase">
			<i class="fa fa-flag-o mrg-xr" aria-hidden="true"></i>
			<a href="free-shipping-and-returns">
				<span class="sec-col-under"> free shipping </span><span class="amp-symbol"> &amp; </span><span class="sec-col-under">free returns</span>
			</a>
		</div>
	</div>
</div>