<?php $_product = $block->getProduct(); ?>
<?php 
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
        $currCatname = $cat->getName();

    }
?>
<div>
<?php 

$helper = $this->helper('Aghai\Shippingdate\Helper\Data');
$sales_date = $helper->getShippingDate(); 

	$product = $this->getProduct();
	$_getMyDate = $product->getResource()->getAttribute('shipping_days');
	if ($_getMyDate) 
	{
    	$prod_ship = $_getMyDate->getFrontend()->getValue($product);
    	if($prod_ship) {
			$date = new DateTime('now');
			$add_date = $prod_ship + $sales_date;
			$date->add(new DateInterval('P'.$add_date.'D'));
			$final_date = $date->format('l, d M');
		}
		else {
			$date = new DateTime('now');
			$add_date = $sales_date;
			$date->add(new DateInterval('P'.$add_date.'D'));
			$final_date = $date->format('l, d M');
		}
	} else $final_date = "Very Soon !";
?>
</div>
<?php
$weddingArray = array(17,18,19);
if (in_array($currCat, $weddingArray)) {
    echo '<div class="delivery-date text-center pad-xt">
			<div class="delivery-text text-uppercase">order Wedding Rings for delivery by</div>
			<div class="date-of-delivery">'.$final_date.'</div>
		  </div>';
} else {
    echo '<div class="delivery-date text-center pad-xt">
			<div class="delivery-text text-uppercase">order '.$currCatname.' for delivery by</div>
			<div class="date-of-delivery">'.$final_date.'</div>
		  </div>';
}
?>