<?php 
	//get product
	$_product = $block->getProduct(); 
    //fetch catID
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
        $currCatname = $cat->getName();
    }
//shipping date
$helper = $this->helper('Aghai\Shippingdate\Helper\Data');
$sales_date = $helper->getShippingDate(); 
$product = $this->getProduct();
//get shipping_days
$_getMyDate = $product->getResource()->getAttribute('shipping_days');
if ($_getMyDate) {
	$prod_ship = $_getMyDate->getFrontend()->getValue($product);
	if($prod_ship != 'No') {
		$date = new DateTime('now');
		$add_date = $prod_ship + $sales_date;
		$date->add(new DateInterval('P'.$add_date.'D'));
		$final_date = $date->format('l, d M');
	}
	else {
		$final_date = "Very Soon !";
	}
} else $final_date = "Very Soon !";

$rtsBoxArray = array(17,18,19,27,28,29,30);
$readywedding 	= array (27,28,29,30,2,17,17,18,19);
if (in_array($currCat, $rtsBoxArray)) {
    echo '<div class="delivery-date text-center">
			<div class="date-of-delivery">'.$final_date.'</div>
		  </div>';
} 

?>