<?php 
	//get product
	$_product = $block->getProduct(); 
    //fetch catID
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
        $currCatname = $cat->getName();
    }
//shipping date
$helper = $this->helper('Aghai\Shippingdate\Helper\Data');
$sales_date = $helper->getShippingDate(); 
$product = $this->getProduct();
//get shipping_days
$_getMyDate = $product->getResource()->getAttribute('shipping_days');
if ($_getMyDate) {
	$prod_ship = $_getMyDate->getFrontend()->getValue($product);
	if($prod_ship != 'No') {
		$date = new DateTime('now');
		$add_date = $prod_ship + $sales_date;
		$date->add(new DateInterval('P'.$add_date.'D'));
		$final_date = $date->format('l, d M');
	}
	else {
		$final_date = "Very Soon !";
	}
} else $final_date = "Very Soon !";

 //frontend value 
$enagagementArray = array(14);
$weddingArray = array(17,18,19);
$pair_diamond=array(2,23,24,45,46,47);
if (in_array($currCat, $weddingArray)) {
    echo '<div class="delivery-date text-center pad-xt">
			<div class="delivery-text text-uppercase">order Wedding Rings for delivery by</div>
			<div class="date-of-delivery">'.$final_date.'</div>
		  </div>';
} 
elseif (in_array($currCat, $pair_diamond)) {
    echo '<div class="delivery-date pad-xt pair-delivery-date">
			<div class="delivery-text text-uppercase">order '.$currCatname.' for delivery by<span>'.$final_date.'</span></div>
		  </div>
		  <div class="clearfix"></div>';
}
elseif (in_array($currCat, $enagagementArray)) {
    echo '';
}
else {
    echo '<div class="delivery-date text-center pad-xt">
			<div class="delivery-text text-uppercase">order '.$currCatname.' for delivery by</div>
			<div class="date-of-delivery">'.$final_date.'</div>
		  </div>';
}
?>