<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="block block-search collapse" id="main-search">
    <div class="col-md-7 center-block">
        <div class="block block-content">
            <form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
                <div class="input-group">
                    <input id="search" 
                        type="text" 
                        class="form-control"
                        data-mage-init='{"quickSearch":{
                            "formSelector":"#search_mini_form",
                            "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest'); ?>",
                            "destinationSelector":"#search_autocomplete"}
                        }'
                        name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                        value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                        placeholder="WHAT ARE YOU LOOKING FOR?"
                        maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
                        role="combobox"
                        aria-haspopup="false"
                        aria-autocomplete="both"
                        autocomplete="off" />
                    <span class="input-group-btn">
                        <button class="btn btn-default close" data-toggle="collapse" href="#main-search" type="button">&times;</button>
                    </span>
                    <div class="control">
                        <div id="search_autocomplete" class="search-autocomplete"></div>
                        <?php // echo $block->getChildHtml() ?>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="overlay"></div>