<?php

    /*function chatDetails($item) {
        $url        = "https://api.livechatinc.com/v2/".$item;
        $username   = "arun.biradar@aghai.co.il";
        $password   = "01016d68a17f759225fca9a85c5007cd";

        $ch1 = curl_init();
        curl_setopt($ch1, CURLOPT_USERPWD, "$username:$password");
        curl_setopt($ch1, CURLOPT_URL, $url);
        curl_setopt($ch1, CURLOPT_RETURNTRANSFER, 1);
        curl_setopt($ch1, CURLOPT_FOLLOWLOCATION, 1);
        curl_setopt($ch1, CURLOPT_SSL_VERIFYPEER, 0);
        curl_setopt($ch1, CURLOPT_SSL_VERIFYHOST, 0);
        curl_setopt($ch1, CURLOPT_HTTPHEADER, array('X-API-Version: 2'));

        $output1    = curl_exec($ch1);
        $info1      = curl_getinfo($ch1);
        curl_close($ch1);
        $result = json_decode($output1);

        return $result;
    }*/

?>

<?php /* chat ?>
<div class="well fixed-vertical-right" id="fixed-vertical-chat">
    <div class="panel panel-secondary">
        <div class="panel-heading">
            <button type="button" class="close" data-chat-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="media panel-head">
                <div class="media-left">
                    <img class="media-object em em-2x" src="<?php echo $this->getViewFileUrl('images/icons/emrada-white.png') ?>" alt="emrada chat">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Live Advice <small>Real People, Online Now</small></h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-inline tab-minimal">
                <?php
                    $groups = chatDetails('groups');
                    $i = 0;
                    foreach ($groups as $group):
                        if ($i > 0):
                            $agents[$i]     = $group->agents; // fetching agents from the group
                            $agentLength    = count($agents[$i]); // count the number agents in the group
                ?>
                <li class="<?php echo ($i == 1) ? 'active' : '' ?>"><a href="#<?php echo strtolower(str_replace(' ', '_', $group->name)); ?>" data-toggle="tab" aria-controls="<?php echo strtolower(str_replace(' ', '_', $group->name)); ?>" role="tab"><?php echo $group->name .' ('.$agentLength.')'; ?></a></li>
                <?php
                        endif;
                        $i ++;
                    endforeach;
                ?>
            </ul>
            <div class="tab-content">
                <?php
                    $i = 0;
                    foreach ($groups as $group):
                        if ($i > 0):
                            $agents[$i]     = $group->agents; 
                            // fetching single agent details
                            $j = 1;
                        
                ?>
                <div class="tab-pane fade <?php echo ($i == 1) ? 'active in' : '' ?>" id="<?php echo strtolower(str_replace(' ', '_', $group->name)); ?>">
                    <ul class="list-group minimal">
                        <?php
                            foreach ($agents[$i] as $singleAgent):
                                $singleAgentDetails = chatDetails('agents/'.$singleAgent);
                        ?>
                        <li class="list-group-item">
                            <div class="article-media">
                                <div class="media <?php echo ($group->status == 'accepting chats') ? ' online' : 'offline'; ?>">
                                    <div class="media-left">
                                        <img class="media-object" src="http://<?php echo $singleAgentDetails->avatar; ?>" alt="<?php echo $singleAgentDetails->name; ?>" width="75">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading arrow" data-toggle="collapse" data-target="#<?php echo strtolower(str_replace(' ', '_', $singleAgentDetails->name)); ?>"><?php echo $singleAgentDetails->name; ?> <span class="badge"><?php echo $singleAgentDetails->max_chats_count; ?></span></h4>
                                        <p>My Life is about style, fashion and love.</p>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" onclick="openChat();" <?php // echo ($group->status == 'accepting chats') ? 'onclick="openChat()"' : 'disabled="true"'; ?>" >Let's Talk</button>
                            </div>
                            <div class="article-post collapse" id="<?php echo strtolower(str_replace(' ', '_', $singleAgentDetails->name)); ?>">
                                <ul class="contact-details list-inline">
                                    <li>
                                        <a href=""><span class="icon-group"><i class="em em-phone-dark"></i><i class="em em-whatsapp-dark"></i></span>
                                        459-3523-2312</a>
                                    </li>
                                    <li>
                                        <a href=""><span class="icon-group"><i class="em em-messanger-dark"></i></span>
                                        Facebook</a>
                                    </li>
                                    <li>
                                        <a href=""><span class="icon-group"><i class="em em-envelope-dark"></i></span>
                                        E-mail</a>
                                    </li>
                                </ul>
                                <h5 class="head">Bio &amp; Experience</h5>
                                <p>For Ana Khouri, 33, jewelry is wearable art. Born in Brazil, Ms. Khouri studied jewelry design in London before starting her line in 2002. Her early pieces were guided by the philosophy that jewelry should become a part of a woman and complement her naturally, and included</p>
                                <a href="#profile-<?php echo strtolower(str_replace(' ', '_', $group->name)); ?>" class="text-link cursor-pointer" aria-controls="profile" role="tab" data-toggle="tab">View Profile</a>
                            </div>
                        </li>
                        <?php
                                $j++;
                            endforeach;
                        ?>
                    </ul>
                </div>
                <div class="tab-pane fade fixed-profile" id="profile-<?php echo strtolower(str_replace(' ', '_', $group->name)); ?>">
		            <ul class="list-inline tab-minimal">
		                <li class="pad-zh"><a href="#<?php echo strtolower(str_replace(' ', '_', $group->name)); ?>" class="text-sec" aria-controls="short profile" role="tab" data-toggle="tab"><i class="fa fa-chevron-left"></i> Back</a></li>
		            </ul>
                    <div class="article-media">
                        <div class="<?php echo ($group->status == 'accepting chats') ? ' online' : 'offline'; ?>">
                            <img src="<?php echo $this->getViewFileUrl('images/chat/profile/profile-cover.jpg'); ?>" alt="<?php echo $singleAgentDetails->name; ?>" class="img-responsive">
                        </div>
                        <div class="text-center mrg-gt">
                            <h4 class="media-heading"><?php echo $singleAgentDetails->name; ?></h4>
                            <p>My Life is about style, fashion and love.</p>
                        </div>
                        <button class="btn btn-primary btn-block" onclick="openChat();" <?php //echo ($group->status == 'accepting chats') ? 'onclick="openChat()"' : 'disabled="true"'; ?>" >Let's Talk</button>
                    </div>
                    <div class="article-post">
                        <ul class="contact-details list-inline">
                            <li>
                                <a href=""><span class="icon-group"><i class="em em-phone-dark"></i><i class="em em-whatsapp-dark"></i></span>
                                459-3523-2312</a>
                            </li>
                            <li>
                                <a href=""><span class="icon-group"><i class="em em-messanger-dark"></i></span>
                                Facebook</a>
                            </li>
                            <li>
                                <a href=""><span class="icon-group"><i class="em em-envelope-dark"></i></span>
                                E-mail</a>
                            </li>
                        </ul>
                        <h5 class="head">Bio &amp; Experience</h5>
                        <p>For Ana Khouri, 33, jewelry is wearable art. Born in Brazil, Ms. Khouri studied jewelry design in London before starting her line in 2002. Her early pieces were guided by the philosophy that jewelry should become a part of a woman and complement her naturally, and included</p>
                        <p>For Ana Khouri, 33, jewelry is wearable art. Born in Brazil, Ms. Khouri studied jewelry design in London before starting her line in 2002. Her early pieces were guided by the philosophy that jewelry should become a part of a woman and complement her naturally, and included</p>
                    </div>
                    <div class="article-post post">
                        <h5 class="head">Photos</h5>
                        <ul class="list-inline three-col">
                        	<li><a href="" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/chat/profile/more-large.jpg'); ?>"><img src="<?php echo $this->getViewFileUrl('images/chat/profile/more-image-1.jpg'); ?>" alt="" class="img-thumbnail"></a></li>
                        	<li><a href="" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/chat/profile/more-large.jpg'); ?>"><img src="<?php echo $this->getViewFileUrl('images/chat/profile/more-image-6.jpg'); ?>" alt="" class="img-thumbnail"></a></li>
                        	<li><a href="" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/chat/profile/more-large.jpg'); ?>"><img src="<?php echo $this->getViewFileUrl('images/chat/profile/more-image-2.jpg'); ?>" alt="" class="img-thumbnail"></a></li>
                        	<li><a href="" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/chat/profile/more-large.jpg'); ?>"><img src="<?php echo $this->getViewFileUrl('images/chat/profile/more-image-3.jpg'); ?>" alt="" class="img-thumbnail"></a></li>
                        	<li><a href="" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/chat/profile/more-large.jpg'); ?>"><img src="<?php echo $this->getViewFileUrl('images/chat/profile/more-image-4.jpg'); ?>" alt="" class="img-thumbnail"></a></li>
                        	<li><a href="" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $this->getViewFileUrl('images/chat/profile/more-large.jpg'); ?>"><img src="<?php echo $this->getViewFileUrl('images/chat/profile/more-image-5.jpg'); ?>" alt="" class="img-thumbnail"></a></li>
                        </ul>
                    </div>
                </div>
                <?php
                        endif;
                        $i ++;
                    endforeach;
                ?>
            </div>
        </div>
    </div>
</div>

<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 9331910;
    (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();

    var LC_API = LC_API || {};
    var livechat_chat_started = false;

    var LC_API = LC_API || {};
    LC_API.on_after_load = function() {
        // your code here
    };

    LC_API.on_before_load = function() {
        LC_API.hide_chat_window();
        // don't hide the chat window only if visitor
        // is currently chatting with an agent
        if (LC_API.visitor_engaged() === false && livechat_chat_started === false) {
            LC_API.hide_chat_window();
        }
    };

    LC_API.on_chat_started = function() {
        livechat_chat_started = true;
    };

    function openChat() {
        LC_API.open_chat_window();
    };
</script>
<!-- End of LiveChat code --> */ ?>