<?php $_product = $block->getProduct(); ?>
<?php 
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
    }
$stoneArr=array(27,28,29,30,17,18,19);
if (in_array($currCat, $stoneArr)): ?>
<div class="container-fluid banner-image-ready-to-ship">
    <div class="shipping-banner" id="ready-to-shipboximg">
    <div class="container">
        <div class="row" id="ready-to-shipboximg-image">
            <div class="col-md-7 text-center" id="shipping-banner-image">
                <img id="shipboximg" class="img-responsive" src='<?php echo $this->getViewFileUrl('images/black-box.png'); ?>' alt="Demo">
            </div>
            <div class="col-md-5">
                <div class="text-center">
                    <ul class="list-unstyled">
                        <li><h4 class="shipping-title">SHIPPING DETAILS</h4></li>
                        <li><div class="mn-hr"><hr></div></li>
                        <li>
                            <div class="rts-delivery">Delivery By:</div>
                            <h3 class="rts-delivery-date mrg-xt"><?php include ($block->getTemplateFile('Aghai_Shippingdate::product/view/ringshippingdate.phtml')) ?></h3>
                        </li>
                        <li><div class="mn-brown rts">Estimated delivery when</div></li>
                        <li><div class="mn-brown rts">ordered by 2PM PT today.</div></li>
                        <li class="space-sm"></li>
                        <li class="hidden-xs">
                            <div class="rts-delivery top"><h4 id="ringboxname" style="text-transform: uppercase">BLACK DIAMOND</h4>WOMAN IN LOVE</div>
                            <div class="mn-hr"><hr></div>
                        </li>
                        <li class="hidden-xs">
                            <div class="box-details">
                                <h4 id="shipboxtext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the Block </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<?php endif ?>