<?php $_product = $block->getProduct(); ?>

<?php 
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $registry = $objectManager->get('\Magento\Framework\Registry');
	 $currentProduct = $registry->registry('current_product');
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
    }
$stoneArr=array(27,28,29,30,17,18,19);
if (in_array($currCat, $stoneArr)): ?>
<div class="inscription mrg-gt">
   <a class="sec-col-under" data-toggle="modal" data-target="#add_inscription" href="#" prodid="inscription<?php echo $currentProduct->getId() ?>">ADD AN INSCRIPTION</a><span id="inscription<?php echo $currentProduct->getId() ?>" style="font-size: 15px;margin-left: 5px;"> </span>
</div> 
<?php endif ?>
