<?php $_product = $block->getProduct(); ?>
<?php 
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
    }
$stoneArr=array(27,28,29,30,17,18,19);
if (in_array($currCat, $stoneArr)): ?>
<?php echo $this->getLayout()->createBlock("Magento\Catalog\Block\Product\View")->setTemplate("Magento_Catalog::readytoship/ringbox.phtml")->toHtml(); ?>
<?php endif ?>
<?php
    $diamondBoxImgArr['diamondshape'] = 'black-box';
    $diamondBoxImgArr['pinkleather'] = 'pink-leather';
    $diamondBoxImgArr['wodden'] = 'wood-box';
?>
<script >
    //define global variables 
   var inscription =[],deliverydate=0,box=0;

    function saveInscription(){
       inscription['font'] = document.getElementById("fonts").value;
       inscription['text'] = document.getElementById("textbox").value;
       console.log('inscription '+inscription['font']+' <<==>> '+inscription['text']);
    }

    function selectBox($id){
        box = $id; 
        document.getElementById('shipboximg').src = "<?php echo $this->getViewFileUrl('images') ?>"+"/"+box+".png";
        document.getElementById('shipboxtext').innerHTML = box +"<?php echo " Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the "?>";
        document.getElementById('ringboxname').innerHTML = box;
        document.getElementById('ringboxsortname').innerHTML = "This box is " +box+" colored and bright. How amazing is that!";
    }
</script>
<script type="text/javascript">
    jQuery('.ringslider').click(function(){
      jQuery('.ringslider').removeClass('active');
      jQuery(this).addClass('active');
    });
</script>