<div class="select-box-wrap">
    <h5 class="h5"><span>Select your Ring Box</span></h5>
    <ul class="list-inline btn-group" data-toggle="buttons">
        <li class="btn btn-link diamond-box rts-box ringslider active" data-target="#select-box-carousel"  data-slide-to="0">
            <a href="#" data-toggle="popover" data-content="Diamond shaped ringbox" data-placement="top" data-trigger="focus"><i class="fa fa-question fa-tip"></i>
            </a>
            <a href="#select-ring-box" data-toggle="modal">
                <span class="ring-box-img rts" id="black-box">
                    <img class="img-responsive
                    "src='<?php echo $this->getViewFileUrl('images/ring-box/diamond-shaped-ringbox.png'); ?>' alt="ring-box1" />
                </span>
                <label>
                    <input type="radio" name="options" id="option1" autocomplete="off">
                    <span class="box-btn">Diamond</span>
                </label>
            </a>
            <div class="selectedBox hidden-xs">This box is black colored and bright. How amazing is that!</div>
        </li>
        <li class="btn btn-link pink-box rts-box ringslider"  data-target="#select-box-carousel" data-slide-to="1">
            <a href="#" data-toggle="popover" data-content="Pink-Leather ringbox" data-placement="top" data-trigger="focus"><i class="fa fa-question fa-tip"></i>
            </a>
            <a href="#select-ring-box" data-toggle="modal">
            <span class="ring-box-img rts" id="pink-leather">
                <img class="img-responsive
                "src='<?php echo $this->getViewFileUrl('images/ring-box/pink-leather-box.png'); ?>' alt="ring-box1" />
            </span>
            <label>
            <input type="radio" name="options" id="option2" autocomplete="off">
            <span class="box-btn">Pink Leather</span>
            </label>
            </a>
            <div class="selectedBox hidden-xs">This box is pink-leather colored and bright. How amazing is that!</div>
        </li>
        <li class="btn btn-link wooden-box rts-box ringslider"  data-target="#select-box-carousel" data-slide-to="2">
            <a href="#" data-toggle="popover" data-content="Engraved-Wood ringbox" data-placement="top" data-trigger="focus"><i class="fa fa-question fa-tip"></i>
            </a>
            <a href="#select-ring-box" data-toggle="modal">
            <span class="ring-box-img rts" id="wood-box">
                <img class="img-responsive
                "src='<?php echo $this->getViewFileUrl('images/ring-box/wooden-ring-box.png'); ?>' alt="ring-box1" />
            </span>
            <label>
            <input type="radio" name="options" id="option3" autocomplete="off">
            <span class="box-btn">Engraved wood</span>
            </label>
            </a>
            <div class="selectedBox hidden-xs">This box is wood-box colored and bright. How amazing is that!</div>
        </li>
    </ul>
    <div class="desc-box">
        <div class="box-description  hidden-xs" id="ringboxsortname">This box is black colored and bright. How amazing is that!</div>
    </div>
</div>

<script>
    function selectBox($id){
        box = $id; 
        document.getElementById('shipboximg').src = "<?php echo $this->getViewFileUrl('images') ?>"+"/"+box+".png";
        document.getElementById('shipboxtext').innerHTML = box +"<?php echo " Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the "?>";
        document.getElementById('ringboxname').innerHTML = box;
        document.getElementById('ringboxsortname').innerHTML = "This box is " +box+" colored and bright. How amazing is that!";
    }
</script>
<!-- <script type="text/javascript">
    jQuery('.ringslider').click(function(){
      jQuery('.ringslider').removeClass('active');
      jQuery(this).addClass('active');
      require(["jquery","js/jquery.arctext.js"], function(){
      $(function(){
          console.log(.arctext());
         });
        });
    });
</script> -->