<div class="block-content">
    <!-- ko ifnot: getCartParam('summary_count') -->
        <strong class="subtitle empty-cart" data-bind="visible: closeSidebar()">
            <!-- ko i18n: 'You have no items in your shopping cart.' --><!-- /ko -->
        </strong>
        <!-- ko if: getCartParam('cart_empty_message') -->
            <p class="minicart empty text"><!-- ko text: getCartParam('cart_empty_message') --><!-- /ko --></p>

            <div class="actions">
                <div class="secondary">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span><!-- ko text: $t('View and edit cart') --><!-- /ko --></span>
                    </a>
                </div>
            </div>
        <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: getCartParam('summary_count') -->
    <div data-action="scroll" class="minicart-items-wrapper">
        <ul id="mini-cart" class="minicart-items list-group" data-bind="foreach: { data: getCartItems(), as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
                <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} --><!-- /ko -->
            <!-- /ko -->
        </ul>
    </div>
    <!-- /ko -->

    <!-- ko if: getCartParam('summary_count') -->
    <div class="minicart-footer">
        <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}"><!-- ko i18n: 'View Cart' --><!-- /ko --></a>
        <!-- ko if: getCartParam('possible_onepage_checkout') -->
            <!-- ko foreach: getRegion('subtotalContainer') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <div class="clearfix"></div>
        <!-- ko if: getCartParam('possible_onepage_checkout') -->
        <a href="checkout/" class="btn btn-dark sharp btn-xl btn-block checkout">Checkout <i class="fa fa-long-arrow-right"></i></a>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
