<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
<?php if ($block->isHomePage()):?>
    <a class="navbar-brand">
<?php else: ?>	
    <a class="navbar-brand" href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
<?php endif ?>
        <img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
             alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
             <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </a>
<?php else:?>
    </a>
<?php endif?>

<ul class="list-inline visible-xs-inline-block mrg-xt pull-right">
    <li class="chat">
        <a href="" class="clearfix">
            <i class="em em-chat-img" style="background-image: url('http://placehold.it/60/3/3');"></i>
            <span class="details">
                <span class="name">16 Online</span>
                <span class="prof">Staff</span>
            </span>
        </a>
    </li>
    <li><a href="#" class="text-dark"><i class="fa fa-search"></i></a></li>
    <li><a href="#" class="text-dark"><i class="em em-shopping-cart"></i></a></li>
</ul>