<div class="top-row mobile-navbar">
	<ul class="list-inline">
		<li class="dropdown flag-dropdown">
			<span href="" class="dropdown-toggle" data-toggle="dropdown"><img class="flag-current-header" src="<?php echo $this->getViewFileUrl('images/icons/flags/flags_iso/24/us.png'); ?>" alt=""></span>
			<span class="caret"></span>
			<ul class="dropdown-menu dropdown-menu-left">
				<li>
					<a href="#"><img src="<?php echo $this->getViewFileUrl('/images/icons/flags/flags_iso/24/spain.png'); ?>" style="margin-right: 10px;">ESPANOL</a>
				</li>
				<li>
					<a href="#"><img src="<?php echo $this->getViewFileUrl('/images/icons/flags/flags_iso/24/germany-flag.png'); ?>" style="margin-right: 10px;">GERMAN</a>
				</li>
			</ul>
		</li>
		<li class="visible-xs-inline-block"><a href="tel:0733744110"><i class="em em-phone"></i></a></li>
	</ul>
</div>
<div class="bottom-row mobile-navbar" id="sticky-header-mobile">
	<div class="clearfix bg-white">
		<div class="col-xs-2 text-left">
			<a class="navbar-toggle" data-toggle="collapse" data-target="#mobileNavigation" aria-expanded="false" aria-controls="mobileNavigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
		</div>
		<div class="col-xs-5 text-left">
			<?php echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Header\Logo")->setTemplate("Magento_Theme::html/header/logo.phtml")->toHtml(); ?>
		</div>
		<div class="col-xs-5 text-right">
			<ul class="list-inline">
				<li><a class="searchBtn" data-toggle="collapse" data-target="#searchAutocomplete" aria-expanded="false" aria-controls="searchAutocomplete"><i class="em em-search"></i></a></li>
				<li class="link wishlist" data-bind="scope: 'wishlist'"><a><i class="em em-heart"></i><span class="counter qty label">0</span></a></li>
				<li><a href="<?php echo $this->getUrl(); ?>checkout/cart/"><i class="em em-shopping-cart"></i><span class="counter qty label">0</span></a></li>
			</ul>
		</div>
	</div>
</div>