<div class="collapse slide-collapse left-right" id="mobileNavigation">
    <div class="overlay" data-toggle="collapse" data-target="#mobileNavigation" aria-expanded="false" aria-controls="mobileNavigation"></div>
    <ul class="list-unstyled mobile-menumain">
        <li class="menu-list"><h4 class="h4"><a href="<?php echo $this->getUrl(); ?>engagement-rings"><i class="icon-ring font-xl" aria-hidden="true"></i><!-- <i class="em em-engagement-rings" aria-hidden="true"></i> --> Engagement Rings</a></h4></li>
        <li class="menu-list"><h4 class="h4"><a href="<?php echo $this->getUrl(); ?>wedding-rings"><i class="em em-wedding-rings" aria-hidden="true"></i> Wedding Rings</a></h4></li>
        <li class="menu-list"><h4 class="h4"><a href="<?php echo $this->getUrl(); ?>readytoship/colorless"><i class="em em-diamond-gemstone" aria-hidden="true"></i> Diamond</a></h4></li>
        <li class="menu-list"><h4 class="h4"><a href="<?php echo $this->getUrl(); ?>readytoship/gemstone"><i class="em em-diamond-gemstone" aria-hidden="true"></i> Gemstones</a></h4></li>
        <li class="menu-list">
            <h4 class="h4 collapsed collpasible" data-toggle="collapse" data-target="#readytoship" aria-expanded="false" aria-controls="readytoship"><a href="#"><i class="em em-ready-to-ship" aria-hidden="true"></i> Ready to Ship</a></h4>
            <ul class="list-unstyled collapse " id="readytoship">
                <li><a href="<?php echo $this->getUrl(); ?>fine-jewelry/rings">Rings</a></li>
                <li><a href="<?php echo $this->getUrl(); ?>fine-jewelry/pendants">Pendants</a></li>
                <li><a href="<?php echo $this->getUrl(); ?>fine-jewelry/pendants">Earrings</a></li>
                <li><a href="<?php echo $this->getUrl(); ?>fine-jewelry/bracelets">Bracelets</a></li>
            </ul>
        </li>
        <li class="menu-list">
            <h4 class="h4 collapsed collpasible" data-toggle="collapse" data-target="#gifts" aria-expanded="false" aria-controls="gifts"><a href="#"><i class="em em-gifts" aria-hidden="true"></i> Gifts</a></h4>
            <ul class="list-unstyled collapse" id="gifts">
                <li><a href="<?php echo $this->getUrl(); ?>">Birthday</a></li>
                <li><a href="<?php echo $this->getUrl(); ?>">Anniversary</a></li>
                <li><a href="<?php echo $this->getUrl(); ?>">Birth Jewelry</a></li>
                <li><a href="<?php echo $this->getUrl(); ?>">Bride’s Jewelry</a></li>
                <li><a href="<?php echo $this->getUrl(); ?>">I’m Sorry.. Jewelry</a></li>
            </ul>
        </li>
        <li class="menu-list"><h4 class="h4"><a href="<?php echo $this->getUrl(); ?>education-center-main"><i class="em em-education-center" aria-hidden="true"></i> Education Center</a></h4></li>
        <li class="menu-list"><hr></li>
        <li class="menu-list"><h4 class="h4"><a href="<?php echo $this->getUrl(); ?>wishlist"><i class="em em-favourite" aria-hidden="true"></i> Favorites</a></h4></li>
        <li class="menu-list"><h4 class="h4"><a href="<?php echo $this->getUrl(); ?>contact"><i class="em em-Customer-service" aria-hidden="true"></i> Customer Service</a></h4></li>
        <li class="menu-list"><h4 class="h4"><a href="<?php echo $this->getUrl(); ?>customer/account/login/"><i class="em em-user"></i> Sign in</a></h4></li>
    </ul>
</div>
<div class="collapse slide-collapse fade" id="searchAutocomplete">
    <?php echo $this->getLayout()->createBlock("Magento\Theme\Block\Html\Header\Logo")->setTemplate("Magento_Search::form.mini.phtml")->toHtml(); ?>
</div>
<div class="collapse slide-collapse fade" id="mobMiniCart">
    <?php echo $this->getLayout()->createBlock("Magento\Checkout\Block\Cart\Sidebar")->setTemplate("Magento_Checkout::cart/minicart.phtml")->toHtml(); ?>
</div>