<ul class="nav navbar-nav chat">
	<li class="clearfix">
		<i class="em em-chat-img em-3x" style="background-image: url('<?php echo $this->getViewFileUrl('/images/icons/stylist-header.jpg'); ?>'); background-color: #131313;"></i>
		<a href="" class="details">
			<span class="name">Katie. G</span>
			<span class="prof">Stylist</span>
		</a>
		<button class="btn btn-link btn-sm" data-chat-open data-open="#fixed-vertical-chat">Let's Talk</button>
	</li>
</ul>