<li class="hidden-xs"><a href="tel:073-3744110" class="font-bd"><!-- <i class="em em-phone"></i> --> <i class="fa fa-phone font-df mrg-sr" aria-hidden="true"></i>073-3744110</a></li>
<li class="dropdown dropdown-hover country-header hidden-xs">
	<a href="#" class="dropdown-toggle" id="country" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="em em-country"></i></a>
	  <!-- <ul class="dropdown-menu" aria-labelledby="country">
	    <li><a href="#" class="switcher-option font-sm">ctry1</a></li>
	    <li><a href="#" class="switcher-option font-sm">ctry2</a></li>
	    <li><a href="#" class="switcher-option font-sm">ctry3</a></li>
	    <li><a href="#" class="switcher-option font-sm">ctry4</a></li>
	  </ul> -->
</li>