<ul class="nav navbar-nav customer-info hidden-xs hidden-sm">
	<li><a href="javascript:void(0)" data-toggle="modal" data-target="#lifetime-warranty">Lifetime Warranty</a></li>
	<li><a href="javascript:void(0)" data-toggle="modal" data-target="#free-shipping">Free Shipping &amp; Returns</a></li>
	<li><a href="javascript:void(0)" data-toggle="modal" data-target="#money-back">100% Money Back</a></li>
</ul>