<?php $_filters = $block->getActiveFilters() ?>
<?php if (!empty($_filters)): ?>
<div class="filter-current" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false }}'>
    <ul class="list-inline">
        <?php
             foreach ($_filters as $_filter):
                if($_filter->getName()!='Price'){
             ?>
            <li>
                <?php $currentFilterName = $block->escapeHtml(__($_filter->getName())) . " " . $block->stripTags($_filter->getLabel()); ?>
                <a class="action remove btn btn-default btn-xs" href="<?php /* @escapeNotVerified */ echo $_filter->getRemoveUrl() ?>" title="<?php /* @escapeNotVerified */ echo $block->escapeHtml(__('Remove')) . " " . $currentFilterName;?>">
                    <span class="cross">&times;</span>
                    <?php /* @escapeNotVerified */ echo $block->stripTags($_filter->getLabel()) ?>
                </a>
            </li>
        <?php } endforeach; ?>
    </ul>
</div>
<?php endif; ?>
