<?php
/**
* Copyright © 2013-2017 Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/
use Magento\Framework\App\Action\Action;
// @codingStandardsIgnoreFile
?>
<?php
/**
* Product list template
*
* @var $block \Magento\Catalog\Block\Product\ListProduct
*/
?>
<script type="text/javascript">
    function choosethis($pid){
        var value1 = 0;
        value1 = document.getElementById("text").innerHTML;
        var chooseUrl = "<?php echo $this->getUrl() ?>"+"steps/index/choose?pid="+$pid+"&selectedAval=0&maxVal="+value1;
        //alert(+'<====url'+$pid+'====>'+ );
       window.location = chooseUrl;
}
</script>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');   
$imagewidth=45;
$imageheight=45; 
?>
<?php if (!$_productCollection->count()): ?>
  <div class="container ">
    <div class="no-product-found mrg-dt">
      <h3 class="text-center font-xxl font-lt">NO PRODUCT FOUND!</h3>
      <h3 class="text-center font-md font-nm">Please reset your filters and check again.</h3>
    </div>
  </div>
<!-- <div class="message info empty"><div><?php /* @escapeNotVerified */ // echo __('We can\'t find products matching the selection.') ?></div></div> -->
<?php else: ?>
<?php echo $block->getToolbarHtml() ?>
<?php echo $block->getAdditionalHtml() ?>
<?php
if ($block->getMode() == 'grid') {
$viewMode = 'grid';
$image = 'category_page_grid';
$showDescription = false;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
} else {
$viewMode = 'list';
$image = 'category_page_list';
$showDescription = true;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
}
/**
* Position for actions regarding image size changing in vde if needed
*/
$pos = $block->getPositioned();
?>
<div class="container">
    <div class="category-title">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-inline">
                    <label for="" class="label-control">Delivery date</label>
                    <select name="" id="" class="form-control input-sm">
                        <option value="">Friday, July 34</option>
                        <option value="">Friday, July 34</option>
                        <option value="">Friday, July 34</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-inline">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked data-class="realView" data-target=".real-diamond-view"><span class="check"></span> Real diamond view
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
    <div class="container">
        <div class="category-table-head">
            <div class="clearfix">
                <?php // favourites ?>
                <div class="col-sm-1 hidden-xs hidden-sm"><span class="head text-left">Favourites</span></div>
                <?php // shape ?>
                <div class="col-sm-1 col-xs-2">
                    <div class="dropdown">
                        <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shape <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <?php // carat ?>
                <div class="col-sm-1 col-xs-2">
                    <div class="dropdown">
                        <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Carat <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <?php // color ?>
                <div class="col-sm-2 col-xs-4">
                    <div class="dropdown">
                        <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Color <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <?php // cut ?>
                <div class="col-sm-1 col-xs-2">
                    <div class="dropdown">
                        <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cut <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <?php // certificate ?>
                <div class="col-sm-2 col-xs-1 hidden-xs">
                    <div class="dropdown">
                        <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certificate <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
                <?php // eye clean ?>
                <div class="col-sm-2 col-xs-2 hidden-xs">
                    <div class="dropdown">
                        <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eye Clean <i class="fa fa-angle-down" aria-hidden="true"></i> &nbsp; <span class="cursor-pointer" data-toggle="modal" data-target="#shape-popup"><i class="fa fa-question fa-tip" data-target="#eye-clean-score"></i></span></span>
                    </div>
                </div>
                <?php // price ?>
                <div class="col-sm-2 col-xs-2">
                    <div class="dropdown">
                        <span class="head" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Price <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-table-body match-pair">
            <div class="tab-results">
                    <h4 class="legend">Best Match</h4>
                <?php $iterator = 1; ?>
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                    <div class="item product product-item clearfix row-wrapper <?php echo ($iterator <= 3) ? 'best-match' : ''; ?>" data-toggle="collapse" data-target="#product-collapse-description-<?php echo $_product->getId();?>">
                        <div class="pair-category clearfix">
                            <?php // favourites ?>
                            <div class="col-sm-1 pad-zr hidden-xs hidden-sm">
                                <div class="lh-100 pull-left">
                                    <!-- compare and wishlist -->
                                    <span data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                        <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                            <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                                        <?php endif; ?>
                                    </span>
                                    <!-- compare and wishlist -->   
                                </div>
                                <?php 
                                  $Product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                  $image_url = $imageHelper->init($Product, 'product_page_image_small')->setImageFile($Product->getFile())->resize($imagewidth, $imageheight)->getUrl();
                                ?>
                                <div class="tab-wrap text-left">
                                    <img src='<?php echo $image_url; ?>' alt="diamond"  class="pull-right img-responsive" width="55">
                                </div>
                                <div class="tab-wrap text-left">
                                    <img src='<?php echo $image_url; ?>' alt="diamond"  class="pull-right img-responsive" width="55">
                                </div>
                            </div>
                            <?php // shape ?>
                            <div class="col-sm-1 col-xs-2">
                                <div class="tab-wrap">
                                    <span class="hidden-xs hidden-sm"><?php $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                    if ($_getMyAttr) 
                                    {
                                        echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    } ?></span>
                                    <i class="em em-em em-<?php echo strtolower(str_replace(' ', '-', $attrTestValue)); ?> visible-xs-inline-block visible-sm-inline-block"></i>
                                </div>
                                <div class="tab-wrap">
                                    <span class="hidden-xs hidden-sm"><?php $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                    if ($_getMyAttr) 
                                    {
                                        echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                    } ?></span>
                                    <i class="em em-em em-<?php echo strtolower(str_replace(' ', '-', $attrTestValue)); ?> visible-xs-inline-block visible-sm-inline-block"></i>
                                </div>
                            </div>
                            <?php // carat ?>
                            <div class="col-sm-1 col-xs-2">
                                <div class="tab-wrap">
                                    <?php 
                                        $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                        if ($_getMyAttr) {
                                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                        echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
                                        }
                                    ?>
                                </div>
                                <div class="tab-wrap">
                                    <?php 
                                        $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                        if ($_getMyAttr) {
                                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                        echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
                                        }
                                    ?>
                                </div>
                            </div>
                            <?php // color ?>
                            <div class="col-sm-2 col-xs-4">
                                <div class="tab-wrap">
                                    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_gemstone_color');
                                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                    ?>
                                </div>
                                <div class="tab-wrap">
                                    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_gemstone_color');
                                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                    ?>
                                </div>
                            </div>
                            <?php // cut ?>
                            <div class="col-sm-1 col-xs-2">
                                <div class="tab-wrap">
                                    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
                                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                    ?>
                                </div>
                                <div class="tab-wrap">
                                    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_make_cut_grade');
                                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                    ?>
                                </div>
                            </div>
                            <?php // certificate ?>
                            <div class="col-sm-2 col-xs-1 hidden-xs">
                                <div class="tab-wrap">
                                    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_grading_lab');
                                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                    ?>
                                </div>
                                <div class="tab-wrap">
                                    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_grading_lab');
                                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);}
                                    ?>
                                </div>
                            </div>
                            <?php // eye clean ?>
                            <div class="col-sm-2 col-xs-2 hidden-xs">
                                <div class="tab-wrap">
                                    <div class="eye-clean-review">
                                        <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
                                    </div>
                                </div>
                                <div class="tab-wrap">
                                    <div class="eye-clean-review">
                                        <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
                                    </div>
                                </div>
                            </div>
                            <?php // price ?>
                            <div class="col-sm-2 col-xs-2">
                                <div class="tab-wrap lh-100">
                                    <div class="visible-in-blk"><?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?></div>
                                    <span class="collapse-arrow pull-right"><i class="fa fa-chevron-down" data-toggle="collapse" data-target="#product-collapse-description-<?php echo $_product->getId();?>"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product description -->
                    <div class="product-collapse-description collapse" id="product-collapse-description-<?php echo $_product->getId();?>">
                        <button type="button" class="close" data-toggle="collapse" data-target="#product-collapse-description-<?php echo $_product->getId();?>">&times;</button>
                        <div class="clearfix product-item-info" data-container="product-grid">
                            <div class="col-sm-4">
                                <div class="pair-diamond-head center-block">
                                        <h3 class="product-super-title text-uppercase">
                                            <div class="product name product-item-name">
                                                <a class="product-item-link text-dark"
                                                   href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                                    <?php /* @escapeNotVerified */ //echo $_helper->productAttribute($_product, $_product->//getName(), 'name'); 
                                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                                    // Get Value
                                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                    if ($_getMyAttr) {
                                                        echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)." Gemstone</dd>";
                                                    }
                                                    ?>
                                                </a>
                                            </div>
                                        </h3>
                                        <h3 class="product-title text-uppercase">
                                           <?php 
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                                if ($_getMyAttr) {
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CARAT";
                                                }
                                             ?>
                                        </h3>
                                        <div class="product-sub-title text-uppercase">
                                            <?php $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
                                            if ($_getMyAttr) 
                                            {
                                                echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            } ?>
                                        </div>
                                        <span class="btn-eye-clean-score">
                                            <span class="text-capitalize mrg-dr">Eye Clean Score </span>
                                            <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
                                        </span>
                                    </div>
                                <div class="thumbnail">
                                    <div class="tab-content real-diamond-view realView center-block">
                                        <div class="tab-pane active sketch" id="sketchView<?php echo $_product->getId();?>">
                                            <div class="diamond-type-parameter rnd">
                                                <span class="dyp-table side-img">Table: 
                                                <?php
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_table');
                                                if ($_getMyAttr) {echo 
                                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                } 
                                                ?>
                                                </span>
                                                <span class="girdle side-img">Girdle: 
                                                <?php  
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                                                if ($_getMyAttr) {
                                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                }
                                                ?>
                                                </span>
                                                <span class="culet side-img">Culet:
                                                <?php  
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                                                if ($_getMyAttr) {
                                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                }
                                                ?>
                                                </span>
                                                <span class="depth side-img">Depth:
                                                <?php 
                                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                                                    if ($_getMyAttr) {
                                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                    echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."mm";
                                                    }
                                                ?>
                                                </span>
                                                <img class="skin_tone_image img-responsive" src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" />
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane active real" id="gallery_360_<?php echo $_product->getId();?>">
                                            <?php $productImage = $block->getImage($_product, $image);
                                                if ($pos != null) {
                                                    $position = ' style="left: 50px;'
                                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                                }
                                            ?>
                                            <?php // Product Image ?>
                                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="" tabindex="-1"><?php echo $productImage->toHtml(); ?></a>
                                        </div>
                                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                          $images = $product->getMediaGalleryImages();
                                          if($images->count()>0){?>
                                          <?php $_product->getId()?>
                                         <?php
                                          $i = 0;
                                          $child = 2; 
                                          foreach($images as $child){
                                            $i++;
                                            $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(255,195)
                                                        ->getUrl();

                                            $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                            ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                            ->getUrl();
                                            if($i==2) break;

                                            ?>
                                        <div role="tabpanel" class="tab-pane" id="gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><img class="img-responsive" data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" />
                                        </div>
                                                    <?php

                                                   }
                                                   ?>

                                                   <?php
                                                    }
                                            ?>  
                                    </div>
                                    <ul class="list-inline thumbnail-img real-diamond-view realView">
                                        <li class="sketch">
                                            <a href="#sketchView<?php echo $_product->getId();?>"  data-toggle="tab">
                                                <img src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" height="45" />
                                            </a>
                                        </li>
                                        <li class="real">
                                            <a href="#gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('MagicToolbox_Magic360::img/360icon.jpg'); ?>" height="45" /></a></li>
                                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                            $images = $product->getMediaGalleryImages();
                                            if($images->count()>0) {?>
                                                <?php 
                                                $_product->getId();
                                                $i = 0;
                                                $child = 1; 
                                                foreach($images as $child) {
                                                    $i++;
                                                    $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(81,53)
                                                    ->getUrl();

                                                    $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                                    ->getUrl();
                                                    if($i==2) break;
                                                ?>
                                                <li><a href="#gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" height="45" /></a></li>
                                                <?php } 
                                            }
                                        ?>
                                        <li>
                                            <?php include ($block->getTemplateFile('Magento_Catalog::product/simple-diamonds/gia-certificate.phtml')) ?>
                                        </li>                                 
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="pair-diamond-head center-block">
                                    <h3 class="product-super-title text-uppercase">
                                        <div class="product name product-item-name">
                                            <a class="product-item-link text-dark"
                                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                                <?php /* @escapeNotVerified */ //echo $_helper->productAttribute($_product, $_product->//getName(), 'name'); 
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                                // Get Value
                                                $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                if ($_getMyAttr) {
                                                    echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)." Gemstone</dd>";
                                                }
                                                ?>
                                            </a>
                                        </div>
                                    </h3>
                                    <h3 class="product-title text-uppercase">
                                       <?php 
                                            $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                            if ($_getMyAttr) {
                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CARAT";
                                            }
                                         ?>
                                    </h3>
                                    <div class="product-sub-title text-uppercase">
                                        <?php $_getMyAttr = $_product->getResource()->getAttribute('francy_description_name');
                                        if ($_getMyAttr) 
                                        {
                                            echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                        } ?>
                                    </div>
                                    <span class="btn-eye-clean-score">
                                        <span class="text-capitalize mrg-dr">Eye Clean Score </span>
                                        <?php include ($block->getTemplateFile('Magento_Catalog::eyeclean.phtml')) ?>
                                    </span>
                                </div>
                                <div class="thumbnail">
                                    <div class="tab-content real-diamond-view realView center-block">
                                        <div class="tab-pane active sketch" id="sketchView<?php echo $_product->getId();?>-1">
                                            <div class="diamond-type-parameter rnd">
                                                <span class="dyp-table side-img">Table: 
                                                <?php
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_table');
                                                if ($_getMyAttr) {echo 
                                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                } 
                                                ?>
                                                </span>
                                                <span class="girdle side-img">Girdle: 
                                                <?php  
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_girdle_from_to');
                                                if ($_getMyAttr) {
                                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                }
                                                ?>
                                                </span>
                                                <span class="culet side-img">Culet:
                                                <?php  
                                                $_getMyAttr = $_product->getResource()->getAttribute('stone_culet_size');
                                                if ($_getMyAttr) {
                                                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                }
                                                ?>
                                                </span>
                                                <span class="depth side-img">Depth:
                                                <?php 
                                                    $_getMyAttr = $_product->getResource()->getAttribute('stone_total_depth');
                                                    if ($_getMyAttr) {
                                                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                                    echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."mm";
                                                    }
                                                ?>
                                                </span>
                                                <img class="skin_tone_image img-responsive" src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" />
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane active real" id="pair_gallery_360_<?php echo $_product->getId();?>">
                                            <?php $productImage = $block->getImage($_product, $image);
                                                if ($pos != null) {
                                                    $position = ' style="left: 50px;'
                                                        . 'top:' . $productImage->getHeight() . 'px;"';
                                                }
                                            ?>
                                            <?php // Product Image ?>
                                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="" tabindex="-1"><?php echo $productImage->toHtml(); ?></a>
                                        </div>
                                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                          $images = $product->getMediaGalleryImages();
                                          if($images->count()>0){?>
                                          <?php $_product->getId()?>
                                         <?php
                                          $i = 0;
                                          $child = 2; 
                                          foreach($images as $child){
                                            $i++;
                                            $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                                ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(255,195)
                                                        ->getUrl();

                                            $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                            ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                            ->getUrl();
                                            if($i==2) break;

                                            ?>
                                        <div role="tabpanel" class="tab-pane" id="pair_gallery_image_<?php echo +$i.'_'.$_product->getId();?>"><img class="img-responsive" data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" />
                                        </div>
                                            <?php            }
                                                   ?>

                                                   <?php
                                                    }
                                            ?>  
                                    </div>
                                    <ul class="list-inline thumbnail-img real-diamond-view realView">
                                        <li class="sketch"><a href="#sketchView<?php echo $_product->getId();?>-1"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('images/diamond-3d-icon.png'); ?>" height="45" /></a></li>
                                        <li class="real active"><a href="#pair_gallery_360_<?php echo $_product->getId();?>"  data-toggle="tab"><img src="<?php echo $this->getViewFileUrl('MagicToolbox_Magic360::img/360icon.jpg'); ?>" height="45" /></a></li>
                                        <?php $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
                                            $images = $product->getMediaGalleryImages();
                                            if($images->count()>0) {?>
                                                <?php 
                                                $_product->getId();
                                                $i = 0;
                                                $child = 1; 
                                                foreach($images as $child) {
                                                    $i++;
                                                    $productImage = $_imagehelper->init($product, 'product_page_image_large')
                                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(81,53)
                                                    ->getUrl();

                                                    $productImagedata = $_imagehelper->init($product, 'product_page_image_large')
                                                    ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(285,240)
                                                    ->getUrl();
                                                    if($i==2) break;
                                                ?>
                                                <li><a href="#pair_gallery_image_<?php echo +$i.'_'.$_product->getId();?>" data-toggle="tab"><img data-id="smallthumbs-<?php echo $_product->getId();?>" data-img="<?php echo $productImagedata; ?>" src="<?php echo $productImage; ?>" height="45" /></a></li>
                                                <?php } 
                                            }
                                        ?>
                                        <li>
                                            <?php include ($block->getTemplateFile('Magento_Catalog::product/simple-diamonds/gia-certificate.phtml')) ?>
                                        </li>                                 
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <?php 
                                    //fetch catID
                                     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                     $categories = $_product->getCategoryIds(); /*will return category ids array */
                                    foreach($categories as $category){
                                        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                                        $currCat= $cat->getId();
                                    } 
                                    //determine label
                                    $stoneArr=array(47,46,45,24,23,22,44,43,42,41,20,15);
                                    $settingArr=array(36,37,38,39,40,14);
                                    $buttonTitle = __('Add to Cart'); 
                                    if(in_array($currCat, $settingArr)){
                                         $buttonTitle = __('Choose This');
                                    }
                                    if(in_array($currCat, $stoneArr)){
                                         $buttonTitle = __('Choose This');
                                    }
                                    $StepsCategories = array_merge($stoneArr,$settingArr);
                                ?>
                                <div class="action-fields">
                                    <span class="price-caption">
                                        <span class="price">
                                           <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                                        </span>
                                    </span>
                                    <div class="action-btn">
                                        <div class="product-item-inner">
                                            <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                                    <?php if ($_product->isSaleable()): ?>
                                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                        <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                            <?php echo $block->getBlockHtml('formkey');
                                                                   if(!in_array($currCat, $StepsCategories)):
                                                            ?>
                                                            <button type="submit"
                                                                    title="<?php echo $block->escapeHtml(__('Add To Cart')); ?>"
                                                                    class="action tocart primary btn btn-block btn-lg btn-dark">
                                                                <span><?php /* @escapeNotVerified */ echo __('Add To Cart') ?></span>
                                                            </button>
                                                             <?php endif;?>
                                                        </form>
                                                         <?php  if(in_array($currCat, $StepsCategories)):?>
                                                        <input type="button" class="primary btn btn-xl btn-block btn-dark" value="<?php echo  $buttonTitle;?>"  onclick="choosethis(<?php echo $_product->getId();?>);"  />
                                                        <?php endif;?>
                                                    <?php else: ?>
                                                        <?php if ($_product->getIsSalable()): ?>
                                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                        <?php else: ?>
                                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="btn btn-block btn-sm btn-link">View Diamond</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="attribute-definition pair-attributes">
                                    <dl class="dl-table">
                                        <?php 
                                            $_getMyAttr = $_product->getResource()->getAttribute('stock_number');
                                            // Get Value
                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            // Get Label
                                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                            if ($_getMyAttr) {
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                            }

                                            $_getMyAttr = $_product->getResource()->getAttribute('stone_cut_shape_of_stone');
                                            // Get Value
                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            // Get Label
                                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                            if ($_getMyAttr) {
                                                echo "<dd>".$stone_total_depth = number_format((float)$attrTestValue, 2, '.', '')."</dd>";
                                                echo "<dd>".$stone_total_depth = number_format((float)$attrTestValue, 2, '.', '')."</dd>";
                                                //echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                //echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                            }

                                            $_getMyAttr = $_product->getResource()->getAttribute('stone_carat_carat_weight');
                                            // Get Value
                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            // Get Label
                                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                            if ($_getMyAttr) {
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                            }

                                            $_getMyAttr = $_product->getResource()->getAttribute('stone_gemstone_color');
                                            // Get Value
                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            // Get Label
                                            echo "<dt>Color</dt>";
                                            if ($_getMyAttr) {
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                            }

                                            $_getMyAttr = $_product->getResource()->getAttribute('reference_to_idex_price_report');
                                            // Get Value
                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            // Get Label
                                            echo "<dt>Report</dt>";
                                            if ($_getMyAttr) {
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                            }

                                            $_getMyAttr = $_product->getResource()->getAttribute('stone_polish');
                                            // Get Value
                                            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
                                            // Get Label
                                            echo "<dt>".$attrTestLabel = $_getMyAttr->getStoreLabel()."</dt>";
                                            if ($_getMyAttr) {
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                                echo "<dd>".$attrTestValue = $_getMyAttr->getFrontend()->getValue($_product)."</dd>";
                                            }
                                        ?>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php $iterator ++ ; ?>
                <?php endforeach; ?>
            </div>
        </div>
        <?php include ($block->getTemplateFile('Magento_Catalog::category/loading-more-styles.phtml')) ?>
    </div>
</div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>

<style>
  .toolbar-sorter{
    <?php
      if($currCat = 45){
          echo 'display:none';
      }
    ?>
  }
</style>