<script type="text/javascript">
function choosethis($pid){
    var value1 = 0;
    value1 = document.getElementById("text").innerHTML;
   window.location = "<?php echo $this->getUrl()?>steps/index/choose?pid="+$pid+"&selectedAval=0&maxVal="+value1;
}
</script>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode(); 
$currencySymbol ='';
$symbol = array('AUD'=>'A$', 'GBP'=>'£', 'CAD'=>'CA$', 'EUR'=>'€', 'HKD'=>'HK$', 'SGD'=>'$', 'NZD'=>'NZ$', 'USD'=>'$');
$currencySymbol = $symbol[$currencyCode];
?>
<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
	$categories = $product->getCategoryIds(); /*will return category ids array*/
foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    }
	$pair_diamond=array(2,23,24,45,46,47);
	if (in_array($currCat, $pair_diamond)): ?>
<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
	$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
    $product->getId();
    //echo $product->getName();
?>
<!-- image -->
<?php 
	$prdId = $product->getId();
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$hotPrd = $objectManager->get('Magento\Catalog\Model\Product')->load($prdId);
	$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
	$image = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $hotPrd->getThumbnail();
?>
<div class="container">
	<div class="visible-xs text-center mrg-gb">
		<span class="toggle-text diamond1">1<sup>st</sup> Diamond</span>
		<span>
		  	<label class="switch">
		    	<input id="pair-slider" type="checkbox">
		    	<span class="slider round"></span>
		  	</label>
	  	</span>
	  	<span class="toggle-text diamond2">2<sup>nd</sup> Diamond</span>
	</div>
	<div class="clearfix" id="matchingPair">
		<div class="col-sm-6 text-center" id="pair-tab-1">
			<div class="pair-loader">
                <div class="loader-overlay"><span class="loader-img"></span></div>                    
                <?php include ($block->getTemplateFile('Magento_Catalog::gallery/gallery-gia-tabs.phtml')) ?>
                <div class="tab-content">
					<div class="tab-pane" id="threesixty"><?php include ($block->getTemplateFile('Magento_Catalog::gallery/gallery-tabs-360.phtml')) ?></div>
					<div  role="tab-panel" class="active tab-pane slideShow" id="productImg">
						<div class="hand-img">
							<img class="img-navigator-mobile visible-xs" src='<?php echo $this->getViewFileUrl('images/icons/image-navigator-mobile.png'); ?>' alt="image-navigator-mobile"/>
						</div>
						<div class="pair-diamonds">
							<?php include ($block->getTemplateFile('Magento_Catalog::gallery/gallery-tabs-360.phtml')) ?>
							<img class="img-responsive" src="<?php echo $image ?>" style= "width: 300px;" />
							<?php 
							$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
						  	$images = $product->getMediaGalleryImages();
						  	if($images->count()>0){?>
						  	<?php $product->getId()?>
						 	<?php
						  	$i = 0;
						  	$child = 2; 
						  	foreach($images as $child){
							    $i++;
							    $productImage = $_imagehelper->init($product, 'product_page_image_large')
							        ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(255,195)->getUrl();						    if($i==1) continue;

							    ?>
							<img src="<?php echo $productImage; ?>" />
				            <?php   }   ?>

							<?php   }   ?>
						</div>
						<div class="thumbnail-img text-center mrg-st pair-pager" id="pair-pager">
							<?php if ($imgExist > 1): ?>
							<div class="pair-prod-thumb">
								<a data-slide-index="0" href="" class="pair-prod-thumb active"><img src="<?php echo $this->getViewFileUrl('images/360icon.jpg');?>" alt="360-icon"></a>
							</div>
							<?php endif; ?>
							<?php 
							$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
						  	$images = $product->getMediaGalleryImages(); ?>
							<?php
								if ($imgExist > 1) {
									$i = 1;
								} else {
									$i = 0;
								}
			                    foreach($images as $child){ ?>
								<div class="pair-prod-thumb">
		                    		<a data-slide-index="<?php echo $i; ?>" href="" class="<?php echo ($i==0) ? 'active' : '' ?>"><img src="<?php echo $child->getUrl(); ?>" class="img-responsive"></a>
		                    	</div>
			                    <?php $i++; ?>
			                	<?php } ?>
            				<div class="pair-prod-thumb hidden-xs"><?php include ($block->getTemplateFile('Magento_Catalog::gia-certificate.phtml')) ?></div>
						</div>
					</div>
				</div>
				<div class="pair-diamond-head text-center mrg-gt">
					<h3 class="product-super-title text-uppercase">
					<div class="product name product-item-name">
						<?php echo $product->getName(); ?>
					</div>
					</h3>
					<h3 class="product-title text-uppercase">
						<?php 
	                        $_getMyAttr = $product->getResource()->getAttribute('stone_carat_carat_weight');
	                        if ($_getMyAttr) {
	                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);
	                        echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
	                        }
	                    ?>
					</h3>
                    <ul class="list-inline dotted-list product-sub-title text-uppercase">
                        <li>
                        	<?php $_getMyAttr = $product->getResource()->getAttribute('stone_make_cut_grade');
                            if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                            echo $attrTestValue .'cut';
                            ?>
                        </li>
                        <li>
                        	<?php $_getMyAttr = $product->getResource()->getAttribute('stone_color_color_of_stone');
                                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                                echo $attrTestValue .'color';
                            ?>
                        </li>
                        <li> 
                        	<?php $_getMyAttr = $product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
                            if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                            echo $attrTestValue .'clarity';
                            ?>
                        </li>
                    </ul>
					<span class="btn-eye-clean-score">Eye Clean Score
						<span class="cursor-pointer" data-toggle="popover" data-content="Eye Clean Score" data-placement="top"><i class="fa fa-question fa-tip"  data-target="#eye-clean-score" data-toggle="modal"></i></span> 
						<span class="eyeclean-score">
						    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_eye_clear');
						        if ($_getMyAttr) {
						            $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);
						            $eyecleanscore = round((floatval($attrTestValue) / 100)*5);
						            $active = 1;
						            while ( $active <= $eyecleanscore) {
						                echo "<i class='em em-diamond-active'></i> ";
						                $active ++;
						            }
						            while ( $active > $eyecleanscore && $active <= 5 ) {
						                echo "<i class='em em-diamond-inactive'></i> ";
						                $active ++;
						            }
						        }
						    ?>
						</span>
						<span class="eyeclean-result"><?php echo $eyecleanscore .'/5'; ?></span>
					</span>
				</div>
			</div>
		</div>
		<!-- pair diamond 2 -->
		<div class="col-sm-6 border-left text-center pair2" id="pair-tab-2">
			<div class="pair-loader">
                <div class="loader-overlay"><span class="loader-img"></span></div>                    
                <?php include ($block->getTemplateFile('Magento_Catalog::gallery/pair-gallery-tabs.phtml')) ?>
                <div class="tab-content">
					<div class="tab-pane" id="threesixty-pair"><?php include ($block->getTemplateFile('Magento_Catalog::gallery/gallery-tabs-360.phtml')) ?></div>
					<div  class="active tab-pane slideShow" id="productImg-pair">
						<div class="hand-img">
							<img class="img-navigator-mobile visible-xs" src='<?php echo $this->getViewFileUrl('images/icons/image-navigator-mobile.png'); ?>' alt="image-navigator-mobile"/>
						</div>
						<div class="pair-diamonds-2">
							<?php include ($block->getTemplateFile('Magento_Catalog::gallery/gallery-tabs-360.phtml')) ?>
							<img class="img-responsive" src="<?php echo $image ?>" style= "width: 300px;" />
							<?php 
							$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
						  	$images = $product->getMediaGalleryImages();
						  	if($images->count()>0){?>
						  	<?php $product->getId()?>
						 	<?php
						  		$i = 0;
							  	$child = 2; 
							  	foreach($images as $child){
							    $i++;
							    $productImage = $_imagehelper->init($product, 'product_page_image_large')
							        ->setImageFile($child->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(255,195)->getUrl();
							    if($i==1) continue;

						    ?>
						    <img src="<?php echo $productImage; ?>" />
			            	<?php } ?>

			           		<?php } ?>
						</div>
						<div class="thumbnail-img text-center mrg-st pair-pager-2" id="pair-pager-2">
							<?php if ($imgExist > 1): ?>
							<div class="pair-prod-thumb" ><a data-slide-index="0" href="" class="active"><img src="<?php echo $this->getViewFileUrl('images/360icon.jpg');?>" alt="360-icon" ></a></div>
							<?php endif; ?>
							<?php 
								$product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());
						  		$images = $product->getMediaGalleryImages(); ?>
							<?php
								if ($imgExist > 1) {
									$i = 1;
								} else {
									$i = 0;
								};
			                    foreach($images as $child) { ?>
			                    	<div class="pair-prod-thumb" ><a data-slide-index="<?php echo $i; ?>" href="" class="<?php echo ($i==0) ? 'active' : '' ?>"><img src="<?php echo $child->getUrl(); ?>" class="img-responsive"></a></div>
			                    	<?php $i++; ?>
			                	<?php } ?>
	        					<div class="pair-prod-thumb hidden-xs"><?php include ($block->getTemplateFile('Magento_Catalog::gia-certificate.phtml')) ?></div>
						</div>
					</div>
				</div>
				<div class="pair-diamond-head text-center mrg-gt">
					<h3 class="product-super-title text-uppercase">
					<div class="product name product-item-name">
						<?php echo $product->getName(); ?>
					</div>
					</h3>
					<h3 class="product-title text-uppercase">
						<?php 
	                        $_getMyAttr = $product->getResource()->getAttribute('stone_carat_carat_weight');
	                        if ($_getMyAttr) {
	                        $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);
	                        echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
	                        }
	                    ?>
					</h3>
                    <ul class="list-inline dotted-list product-sub-title text-uppercase">
                        <li>
                        	<?php $_getMyAttr = $product->getResource()->getAttribute('stone_make_cut_grade');
                            if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                            echo $attrTestValue .'cut';
                            ?>
                        </li>
                        <li>
                        	<?php $_getMyAttr = $product->getResource()->getAttribute('stone_color_color_of_stone');
                                if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                                echo $attrTestValue .'color';
                            ?>
                        </li>
                        <li> 
                        	<?php $_getMyAttr = $product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
                            if ($_getMyAttr) {$attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                            echo $attrTestValue .'clarity';
                            ?>
                        </li>
                    </ul>
					<span class="btn-eye-clean-score">Eye Clean Score 
						<span class="cursor-pointer" data-toggle="popover" data-content="Eye Clean Score" data-placement="top"><i class="fa fa-question fa-tip"></i></span>
						<span class="eyeclean-score">
						    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_eye_clear');
						        if ($_getMyAttr) {
						            $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);
						            $eyecleanscore = round((floatval($attrTestValue) / 100)*5);
						            $active = 1;
						            while ( $active <= $eyecleanscore) {
						                echo "<i class='em em-diamond-active'></i> ";
						                $active ++;
						            }
						            while ( $active > $eyecleanscore && $active <= 5 ) {
						                echo "<i class='em em-diamond-inactive'></i> ";
						                $active ++;
						            }
						        }
						    ?>
						</span>
						<span class="eyeclean-result"><?php echo $eyecleanscore .'/5'; ?></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix mrg-gt mrg-gb">
		<div class="col-sm-3 col-sm-offset-1">
			<h3 class="text-center text-uppercase product-title">
				<span>Total:</span> <span class="pair-price">
					<?php 
					//$price = $product->getPrice();
					echo $currencySymbol.number_format(floatval($product->getPrice()), 0, ".", ",");
			/*		$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); //
					echo $formattedPrice = $priceHelper->currency($price, true,false);*/
					?>
				</span>
			</h3>
		</div>
		<div class="col-sm-4 pad-zh">
			<?php  if(in_array($currCat, $pair_diamond)):?>
				<input type="button" class="primary btn btn-xxl btn-block btn-dark" value="select these diamonds"  onclick="choosethis(<?php echo $product->getId();?>);"  />
			 <?php endif;?>
		</div>
		<div class="col-sm-4">
			<div class="text-center pad-st pair-favourite pad-gl">
				<a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($block->getProduct()) ?>' class="action towishlist" data-action="add-to-wishlist"><span class="sec-col-under"><i class="em em-heart-plus mrg-xr" aria-hidden="true"></i> save to favourites</a>
			</div>
		</div>
	</div>
</div>
<style type="text/css">
	.simple-product-information{
		display: none;
	}
	.product-image-information {
    border-bottom: none;
}
</style>
<?php endif ?> 
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "wishlist": {
                    "component": "Magento_Wishlist/js/view/wishlist"
                }
            }
        }
    }
}
</script>