<?php
    $_product = $block->getProduct();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
    $productId = $product->getId();
    $categories = $product->getCategoryIds(); /*will return category ids array*/
foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    $currCatname = $cat->getName();
    }
    $pair_diamond=array(2,23,24,45,46,47);
    $heading = '';
    switch ($currCat){
        case 23:
            $heading = 'Diamond';
        break;
        case 24:
            $heading = 'Diamond';
        break;
        case 45:
            $heading = 'Fancy Diamond';
        break;
        case 46:
            $heading = 'Gemstone';
        break;
        case 47:
            $heading = 'Lab colourless Diamond';
        break;
    }
    if (in_array($currCat, $pair_diamond)): ?>
<div class="product-description-details">
	<div class="container">
		<div class="description-top">
            <h3 class="section-title text-center"><?php echo $heading; ?> details</h3>
            <!-- <div>
                <?php $_getMyAttr = $product->getResource()->getAttribute('short_description');
                if ($_getMyAttr) 
                {
                    echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);
                } ?>
            </div> -->
        </div>
		<div class="col-sm-8 center-block mrg-gt pair-description">
			<div class="clearfix">
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray">Shape</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs">Shape</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_cut_shape_of_stone');
                    if ($_getMyAttr){echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);} ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_cut_shape_of_stone');
                    if ($_getMyAttr){echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);} ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray" scope="row">Carat Weights</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs" scope="row">Carat Weights</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php 
                    $_getMyAttr = $product->getResource()->getAttribute('stone_carat_carat_weight');
                    if ($_getMyAttr) {
                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);
                    echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
                    }
                 ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php 
                    $_getMyAttr = $product->getResource()->getAttribute('stone_carat_carat_weight');
                    if ($_getMyAttr) {
                    $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);
                    echo $stone_caeat_size = number_format((float)$attrTestValue, 2, '.', '')."CT";
                    }
                 ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray">Color</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs">Color</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_color_color_of_stone');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_color_color_of_stone');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray">Polish</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs">Polish</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_polish');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_polish');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray">Depth</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs">Depth</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_total_depth');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_total_depth');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray" scope="row">Girdle</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs" scope="row">Girdle</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Girdle">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_girdle_from_to');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Girdle">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_girdle_from_to');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray">Cut</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs">Cut</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_make_cut_grade');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_make_cut_grade');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                 <div class="col-sm-4 col-xs-6 mrg-xb text-gray">Clarity</div>
                 <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs">Clarity</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_clarity_clarity_of_stone');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray" scope="row">Measurements</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs" scope="row">Measurements</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Measurements">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_measurements');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Measurements">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_measurements');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray" scope="row">Symmetry</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs" scope="row">Symmetry</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Symmetry">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('store_symmetry');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Symmetry">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('store_symmetry');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray" scope="row">Table</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs" scope="row">Table</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Table Width">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_table_width');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Table Width">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_table_width');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray" scope="row">Culet</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs" scope="row">Culet</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Culet">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_culet_size');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Culet">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_culet_size');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray" scope="row">Fluorescence</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs" scope="row">Fluorescence</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Fluorescence">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_fluorescence_intensity');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Fluorescence">
                    <?php $_getMyAttr = $product->getResource()->getAttribute('stone_fluorescence_intensity');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray" scope="row">Origin</div>
                <div class="col-sm-4 col-xs-6 mrg-xb text-gray visible-xs" scope="row">Origin</div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Certificate">
                <?php $_getMyAttr = $product->getResource()->getAttribute('country_of_manufacture');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="col-sm-4 col-xs-6 mrg-xb font-mb" data-th="Certificate">
                <?php $_getMyAttr = $product->getResource()->getAttribute('country_of_manufacture');
                        if ($_getMyAttr) {echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($product);}
                    ?>
                </div>
                <div class="clearfix visible-xs mrg-xb"></div>
                <div class="col-sm-4 hidden-xs"></div>		
                <?php 

                    $filesize = "";
                    $filename = 'idex/pdf/certificate_'.$productId.'.pdf';
                    if (file_exists($filename)) {
                        $filesize = filesize($filename);
                        $filesize = round($filesize / 1024, 2);
                    }
                    //echo "The size of your file is $filesize.";
                    $defult_path = $this->getViewFileUrl('images/gia-certificate.png');
                    if (file_exists($filename) && $filesize > 100) { 
                   echo '<div class="col-sm-3 col-xs-6 mrg-gb">
                    <div class="mrg-db gia_report visible-xs"><div class="text-gray">Reports: </div><span class="mrg-sl">Certified By GIA</span> </div>
                    <div class="gia-img gia-pair" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'" >
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        <img class="img-responsive" src="'.$defult_path.'" alt="image">
                    </div>
                    <div class="mrg-dt sec-col-under gia-report visible-xs" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'" >View Report</div>
                </div>';
                    } else if($filesize < 100) {
                      echo'<div class="col-sm-3 col-xs-6 mrg-gb">
                    <div class="mrg-db gia_report visible-xs"><div class="text-gray">Reports: </div><span class="mrg-sl">Certified By GIA</span> </div>
                    <div class="gia-img gia-pair" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'" >
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        <img class="img-responsive" src="'.$defult_path.'" alt="image">
                    </div>
                    <div class="mrg-dt sec-col-under gia-report visible-xs" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'" >View Report</div>
                </div>';
                    }
                ?>
                <?php 

                    $filesize = "";
                    $filename = 'idex/pdf/certificate_'.$productId.'.pdf';
                    if (file_exists($filename)) {
                        $filesize = filesize($filename);
                        $filesize = round($filesize / 1024, 2);
                    }
                    //echo "The size of your file is $filesize.";
                    $defult_path = $this->getViewFileUrl('images/gia-certificate.png');
                    if (file_exists($filename) && $filesize > 100) { 
                   echo '<div class="col-sm-3 col-xs-6 mrg-gb">
                    <div class="mrg-db gia_report visible-xs"><div class="text-gray">Reports: </div><span class="mrg-sl">Certified By GIA</span> </div>
                    <div class="gia-img gia-pair" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'" >
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        <img class="img-responsive" src="'.$defult_path.'" alt="image">
                    </div>
                    <div class="mrg-dt sec-col-under gia-report visible-xs" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'" >View Report</div>
                </div>';
                    } else if($filesize < 100) {
                      echo'<div class="col-sm-3 col-xs-6 mrg-gb col-sm-offset-1">
                    <div class="mrg-db gia_report visible-xs"><div class="text-gray">Reports: </div><span class="mrg-sl">Certified By GIA</span> </div>
                    <div class="gia-img gia-pair" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'" >
                        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        <img class="img-responsive" src="'.$defult_path.'" alt="image">
                    </div>
                    <div class="mrg-dt sec-col-under gia-report visible-xs" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'" >View Report</div>
                </div>';
                    }
                ?>
            	</div>
			</div>
		</div>
	</div>
</div>
<?php endif ?>