<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer\Actions\Remove */
?>
<li>
	<a href="#" title="<?php echo $block->escapeHtml(__('Remove item')); ?>" class="action action-delete"
	   data-post='<?php /* @escapeNotVerified */ echo $block->getDeletePostJson(); ?>'>
	   <i class="fa fa-trash"></i> Remove
	</a>
</li>