<div class="text-center">
    <div class="edu-cat-list dis-ib">
    	<div class="text-left pad-sl text-uppercase">
    		<div class="space-xs"></div>
			<h4 class="text-gray">Emrada's</h4>
			<h1 class="h1 pad-xb">Education center</h1>
			<div class="space-sm hidden-xs"></div>
		</div>
		<div class="dis-ib">
			<div class="rel">
				<img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/education-center/main-page/loose-diamonds.png') ?>" alt="
				Image">
				<div class="abs">
					<div>
						<h1 class="text-uppercase">loose diamonds</h1>
						<a href="4cs-diamond-details" class="sec-col-under">Learn More</a></u>
					</div>
				</div>
			</div>
		</div>
		<div class="dis-ib pad-zl xs-full">
			<div class="edu-cate-blocks">
				<div class="dis-ib">
					<div class="rel">
						<img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/education-center/main-page/engagement-rings.png') ?>" alt="Image">
						<div class="abs">
							<div>
								<h4 class="text-uppercase">engagement rings</h4>	
								<a href="engagement-rings-details" class="sec-col-under">Learn More</a>
							</div>
						</div>						
					</div>
				</div>
				<div class="dis-ib">
					<div class="rel">

						<img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/education-center/main-page/wedding-rings.png') ?>" alt="Image">
						<div class="abs">
							<div>
								<h4 class="text-uppercase">Wedding rings</h4>
								<a href="wedding-rings-details" class="sec-col-under">Learn More</a>
							</div>
						</div>	
					</div>
				</div>
				<div class="dis-ib">
					<div class="rel">
						<img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/education-center/main-page/engagement-rings.png') ?>" alt="Image">
						<div class="abs">
							<div>
								<h4 class="text-uppercase">Fine Jewellery</h4>
								<a href="bracelets-details" class="sec-col-under">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="edu-cate-blocks">
				<div class="dis-ib">
					<div class="rel">
						<img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/education-center/main-page/gemstones.png') ?>" alt="Image">
						<div class="abs">
							<div>
								<h4 class="text-uppercase">Gemstones</h4>
								<a href="gemstones-details" class="sec-col-under">Learn More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="dis-ib">
					<div class="rel">
						<img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/education-center/main-page/lab-diamonds.png') ?>" alt="Image">
						<div class="abs">
							<div>
								<h4 class="text-uppercase">lab diamonds</h4>
								<a href="lab-diamonds-details" class="sec-col-under">Learn More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="dis-ib">
					<div class="rel">
						<img class="img-responsive" src="<?php echo $this->getViewFileUrl('images/education-center/main-page/engagement-rings.png') ?>" alt="Image">
						<div class="abs">
							<div>
								<h4 class="text-uppercase">Gifts</h4>
								<a href="#" class="sec-col-under">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="space-lg"></div>
</div>
