<div id="edu-mobile-menu" class="rel neg-h15">
	<h5 data-toggle="collapse" data-target="#education_menu" class="edu-menu-btn visible-xs mrg-zv" aria-expanded="false">Education center Menu</h5>
	<div id="education_menu" class="collapse" aria-expanded="false">
		<h5 class="edu-menu-heading hidden-xs">Education Center</h5>
		<div class="border-top edu-menu">
			<h5 class="h5 collpasible collapsed text-uppercase" data-toggle="collapse" href="#edu-loose-diamonds" aria-expanded="false"><i class="em edu-loose-diamonds"></i>Loose diamonds</h5>
			<div class="collapse" aria-expanded="false" id="edu-loose-diamonds" role="tabpanel">
				<ul class="list-unstyled">
					<li><a href="4cs-diamond-details" class="diamonds-4cs">4cs of Diamonds</a></li>
					<li><a href="shapes" class="diamonds-shape">Shapes</a></li>
					<li><a href="anatomy" class="diamonds-anatomy">Anatomy</a></li>
					<li><a href="fancy-diamonds-details" class="diamonds-fancy">Fancy Color</a></li>
					<li><a href="grading" class="diamonds-grading">Grading</a></li>
					<li><a href="diamond-care" class="diamonds-care">Diamond Care</a></li>
					<li><a href="lab-diamond-details" class="lab-diamond-details">Lab diamonds</a></li>
				</ul>
			</div>
			<h5 class="h5 collpasible collapsed text-uppercase" data-toggle="collapse" href="#edu-engagement-rings" aria-expanded="false"><i class="em edu-rings"></i>Engagement rings</h5>
			<div class="collapse" aria-expanded="false" id="edu-engagement-rings" role="tabpanel">
				<ul class="list-unstyled">
					<li><a href="engagement-rings-details" class="ring-details">Engagement Rings</a></li>
					<li><a href="setting-types" class="ring-types">Setting Types</a></li>
					<li><a href="ring-sizing" class="ring-sizing">Ring Sizing</a></li>
					<li><a href="metal-types" class="ring-metal">Metal Types</a></li>
					<li><a href="perfect-engagement-rings" class="ring-perfect">Choose the Perfect Engagement Ring</a></li>
				</ul>
			</div>
			<h5 class="h5 collpasible collapsed text-uppercase" data-toggle="collapse" href="#edu-natural-gemstones" aria-expanded="false"><i class="em edu-gemstones"></i>Natural gemstones</h5>
			<div class="collapse" aria-expanded="false" id="edu-natural-gemstones" role="tabpanel">
				<ul class="list-unstyled">
					<li><a href="gemstones-details" class="gemstones-detail">Gemstones</a></li>
					<li><a href="blue-sapphires" class="blue-sapphires-detail">Blue Sapphires</a></li>
					<li><a href="green-emeralds-details" class="green-emeralds-detail">Green Emeralds</a></li>
					<li><a href="pink-sapphires-details" class="pink-sapphires-detail">Pink Sapphires</a></li>
					<li><a href="red-rubbies-details" class="red-rubbies-detail">Red Rubbies</a></li>
					<li><a href="yellow-sapphires" class="yellow-sapphires-detail">Yellow Sapphires</a></li>
				</ul>
			</div>
			<h5 class="h5 collpasible collapsed text-uppercase" data-toggle="collapse" href="#edu-wedding-rings" aria-expanded="false"><i class="em edu-wedd-rings"></i>Wedding Rings</h5>
			<div class="collapse" aria-expanded="false" id="edu-wedding-rings" role="tabpanel">
				<ul class="list-unstyled">
					<li><a href="wedding-rings-details" class="wedding-ring">Wedding Rings</a></li>
					<li><a href="wedding-ring-setting" class="wedding-setting">Setting Types</a></li>
					<li><a href="wedding-ring-sizing" class="wedding-sizing">Ring Sizing</a></li>
					<li><a href="wedding-ring-metal-types" class="wedding-metal">Metal Types</a></li>
					<li><a href="perfect-wedding-ring" class="wedding-perfect">Choose the Perfect Wedding Ring</a></li>
				</ul>
			</div>
			<h5 class="h5 collpasible collapsed text-uppercase" data-toggle="collapse" href="#edu-fine-jewellery" aria-expanded="false"><i class="em edu-jewelry"></i>Fine Jewellery</h5>
			<div class="collapse" aria-expanded="false" id="edu-fine-jewellery" role="tabpanel">
				<ul class="list-unstyled">
					<li><a href="bracelets-details" class="bracelets-detail">Bracelets</a></li>
					<li><a href="earrings-details" class="earrings-detail">Earrings</a></li>
					<li><a href="necklace-pendant-details" class="pendants-detail">Necklace &amp; Pendant</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="space-xs hidden-xs"></div>
</div>