<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="actions">
    <?php  $_order = $block->getOrder() ?>
    <!-- <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
        <a href="#" data-post='<?php /* @escapeNotVerified */ echo
        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
            ->getPostData($block->getReorderUrl($_order))
        ?>' class="action order">
            <span><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
        </a>
    <?php endif ?> -->
    <a class="action print print-order"
       href="<?php /* @escapeNotVerified */ echo $block->getPrintUrl($_order) ?>"
       onclick="this.target='_blank';">
        <i class="em em-print-order" aria-hidden="true"></i><br>
        <span class="text-dark font-mb pad-xt pad-sl">PRINT</span>
        <span><?php /* @escapeNotVerified */ echo __('') ?><!-- <?php /* @escapeNotVerified */ echo __('Print Order') ?> --></span>
    </a>
    <?php echo $block->getChildHtml(); ?>
</div>