<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block discount" id="block-discount" data-mage-init='{"collapsible":{"openedState": "active", "saveState": true}}'>
    <span class="text-sec text-underline cursor-pointer visible-in-blk mrg-sb" data-role="title">
        <i class="em em-sun"></i> <span id="block-discount-heading" role="heading" aria-level="2"><span class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><?php /* @escapeNotVerified */ echo __('Add Gift Code or Promo Code') ?></span></span>
    </span>
    <div class="collapse" id="collapseExample">
      <div class="content pad-db" data-role="content" aria-labelledby="block-discount-heading">
        <form id="discount-coupon-form"
              action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/couponPost') ?>"
              method="post"
              data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                               "removeCouponSelector": "#remove-coupon",
                                               "applyButton": "button.action.apply",
                                               "cancelButton": "button.action.cancel"}}'>
            <div class="fieldset coupon<?php strlen($block->getCouponCode()) ? ' applied' : ''?>">
                <input type="hidden" name="remove" id="remove-coupon" value="0" />
                <span class="field">
                    <span class="control">
                        <input type="text" class="input-text" id="coupon_code" name="coupon_code" value="<?php echo $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?php echo $block->escapeHtml(__('Enter discount code'));?>" />
                    </span>
                </span>
                <span class="actions-toolbar">
                    <span class="primary">
                        <button class="action apply primary btn btn-dark" type="submit" value="<?php /* @escapeNotVerified */ echo __('Validate') ?>">
                            <span><?php /* @escapeNotVerified */ echo __('Validate') ?></span>
                        </button>
                    </span>
                </span>
            </div>
        </form>
      </div>
    </div>
</div>
