<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<ol class="breadcrumb">
	<li class="">
		<a href="#" title="Go to Home Page">Home</a>
	</li>
	<li class="">Cart</li>
</ol>

<?php
/** @var $block \Magento\Checkout\Block\Cart */
	$a = 0;
?>
<div class="title-row">
	<?php if (!$block->hasError()): ?>
	<?php $methods = $block->getMethods('methods') ?: $block->getMethods('top_methods') ?>
	<div class="checkout methods items checkout-methods-items row">
		<div class="col-sm-6 col-xs-12"><h3 class="header semi-bold">Your Shopping Bag</h3></div>
		<?php foreach ($methods as $method): ?>
			<?php if($a == 0): ?>
			    <?php if ($methodHtml = $block->getMethodHtml($method)): ?>
			    <div class="col-sm-3 col-xs-12 pull-right text-right"><a href="<?php echo $this->getUrl(); ?>checkout" class="btn btn-dark btn-xxl btn-block btn-icon-right">Checkout <i class="fa fa-arrow-right"></i></a></div>
			    <?php endif; ?>
		    <?php endif; $a++; ?>

		<?php endforeach; ?>
	</div>
</div>
<?php endif; ?>
<!-- <div class="title-row">
	<div class="row">
		<div class="col-sm-3 col-xs-12 pull-right text-right"><a href="" class="btn btn-dark btn-xl btn-block btn-icon-right">Checkout <i class="fa fa-arrow-right"></i></a></div>
	</div>
</div> -->