<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<div class="cart-empty">
	<div class="container">
		<div class="space-lg">&nbsp;</div>
    	<?php echo $block->getChildHtml('checkout_cart_empty_widget'); ?>
		<h3 class="text-center header light"><?php /* @escapeNotVerified */ echo __('You have no items in your shopping cart.') ?></h3>
		<p class="text-center mrg-st"><?php /* @escapeNotVerified */ echo __('Click <a href="%1">here</a> to continue shopping.',
            $block->escapeUrl($block->getContinueShoppingUrl())) ?></p>
    	<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
		<div class="space-lg">&nbsp;</div>
	</div>
</div>
