<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Wishlist\Block\Cart\Item\Renderer\Actions\MoveToWishlist */
?>
<?php if ($block->isAllowInCart() && $block->isProductVisibleInSiteVisibility()): ?>
	<li>
	    <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getMoveFromCartParams(); ?>'
	       class="use-ajax action action-towishlist">
	        <i class="fa fa-heart-o"></i> <span><?php /* @escapeNotVerified */ echo __('Save to Favorite'); ?></span>
	    </a>
    </li>
<?php endif ?>