<?php 
$stonesArr = array(15,20,23,24,31,32,33,34,35,45,46,47,20,41,42,43,44,50,51,52,53,54,55);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
#$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$categories = $_product->getCategoryIds(); /*will return category ids array*/
#print_r($categories);die;
$ExistsAttr = 'FALSE';
foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
       # echo $cat->getId();
        if(in_array($cat->getId(),$stonesArr)){
            $ExistsAttr = 'TRUE';
        }
    }
if($ExistsAttr == 'TRUE'):
?>
<span class="eyeclean-score">
    <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_eye_clear');
        if ($_getMyAttr) {
            $attrTestValue = $_getMyAttr->getFrontend()->getValue($_product);
            $eyecleanscore = round((floatval($attrTestValue) / 100)*5);
            $active = 1;
            while ( $active <= $eyecleanscore) {
                echo "<i class='em em-diamond-active'></i> ";
                $active ++;
            }
            while ( $active > $eyecleanscore && $active <= 5 ) {
                echo "<i class='em em-diamond-inactive'></i> ";
                $active ++;
            }
        }
    ?>
</span>
<span class="eyeclean-result"><?php echo $eyecleanscore .'/5'; ?></span>
<?php endif; ?>