<!-- <span class="cursor-pointer amit surya" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php //echo $this->getViewFileUrl('images/gia-certificate.png') ?>"><i class="em em-gia em-3x"></i></span> -->
 <?php $_getMyAttr = $_product->getResource()->getAttribute('stone_grading_lab');
      if ($_getMyAttr) { $cirtificate__type = $_getMyAttr->getFrontend()->getValue($_product);}
      if(strtolower($cirtificate__type) != 'no'): ?>
 <?php
    $ProductId = $product->getId(); 
    $filesize = "";
    $filename = 'idex/pdf/certificate_'.$ProductId.'.pdf';
    if (file_exists($filename)) {
        $filesize = filesize($filename);
        $filesize = round($filesize / 1024, 2);
    }
    $cirtificate = array(
                        'AGS'=>'ags-certificate.jpg',
                        'EGL'=>'egl-certificate.jpg',
                        'GIA'=>'gia-certificate.jpg',
                        'GS'=>'gs-certificate.jpg',
                        'HRD'=>'hrd-certificate.jpg',
                        'IGI'=>'igi-certificate.jpg',
                        'IGL'=>'igl-certificate.jpg',
                        'VGR'=>'vgr-certificate.jpg',
                        );
    //echo "The size of your file is $filesize.";
    //$defult_path = $this->getViewFileUrl('images/'.$cirtificate[$cirtificate__type]);
    if (file_exists($filename) && $filesize > 100) {
        echo'<div class="gia-img fotorama__nav__frame fotorama__nav__frame--thumb"><span class="cursor-pointer" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'"><i class="em em-'.strtolower($cirtificate__type).' em-4x"></i></span></div>';
    } /*else if($filesize < 100) {
        echo'<span class="cursor-pointer" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'"><i class="em em-'.strtolower($cirtificate__type).' em-4x"></i></span>';
    }*/
?>

<?php endif; ?>