<h4 class="text-uppercase product-super-title" id="Prod-superHead" style="margin-bottom: 0px;"></h4>
<script type="text/javascript">
	function checkhead($attrId,$id){
		if($attrId==179 || 203 || 208){
			var skillsSelect = document.getElementById($id);
		    var selectedText = skillsSelect.options[skillsSelect.selectedIndex].text;
		    var selectedVal = skillsSelect.options[skillsSelect.selectedIndex].value;
			document.getElementById("Prod-superHead").innerHTML=selectedText;
			document.getElementById('selectedAval').value = selectedVal;
		}		
	}
	  
</script>