<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head hidden-xs">
					<h1 class="h1 pad-gt pad-gb">Engagement Rings</h1>
				</div>
				<div class="well well-simple padxs-zv">
					<h3 class="head">Engagement Rings</h3>
					<p>The moment of engagement - and your engagement ring - is your first big milestone as a couple. When you buy the ring you’re telling the world that you’re going to get married.</p>
					<p>A diamond engagement ring is a seriously big deal and it will attract a lot of attention from family and friends and colleagues. It’s definitely worth investing a little time in learning the basics before you buy an engagement ring. </p>
					<p>Everybody knows what a ring is, but when you’re buying the diamond engagement ring of your dreams it’s worth picking up a few technical details. </p>
				</div>
				<div class="well well-simple"><h3 class="head h3 pad-st">What’s a Ring?</h3></div>
				<img class="diamond-banner" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-ring-banner.png') ?>" alt="Image">
				<div class="well well-simple mrg-gt"><h3 class="head h3">A ring is usually divided into 4 parts:</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/ring-parts.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						<ul class="list-group text-uppercase">
							<li class="list-group-item"><span class="edu-head-color"><b>1</b> -</span> Hoop</li>
							<li class="list-group-item"><span class="edu-head-color"><b>2</b> -</span> Shoulder</li>
							<li class="list-group-item"><span class="edu-head-color"><b>3</b> -</span> Bezel</li>
							<li class="list-group-item"><span class="edu-head-color"><b>4</b> -</span> Stone or gem in its setting</li>
						</ul>
						<p class="font-sm">An engagement ring is usually worn on the fourth finger of the left hand (next to the little finger or pinky).</p>
					</div>
				</div>
				<p class="font-sm xs-tc">When you buy a ring, or design your own ring, the ring itself will often simply be referred to as a setting.</p>
				<div class="well well-simple"><h3 class="head h3">What’s a Ring made of?</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body">
						Ask most people what a ring is made of and 99% of them will say gold. At Emrada you can choose from 3 types of gold -  and platinum.
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="thumbnail rhover">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/yellow.png') ?>" alt="thumbnail">
							<div class="caption">
								<h3>YELLOW GOLD</h3>
								<a href="#" class="btn text-sec" role="button">view more</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail rhover">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/white.png') ?>" alt="thumbnail">
							<div class="caption">
								<h3>WHITE GOLD</h3>
								<a href="#" class="btn text-sec" role="button">view more</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail rhover">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/rose.png') ?>" alt="thumbnail">
							<div class="caption">
								<h3>ROSE GOLD</h3>
								<a href="#" class="btn text-sec" role="button">view more</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail rhover">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/platinum.jpg') ?>" alt="thumbnail">
							<div class="caption">
								<h3>PLATINUM</h3>
								<a href="#" class="btn text-sec" role="button">view more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-simple mrg-gt">
					<div class="media mrg-gb pad-sb">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/media-diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body mbd-simple">
							<p>The fineness or purity of gold is rated in karats. 24 kt gold is considered to be 100% pure. The gold used for rings is usually either 18kt or 14kt. </p>
						</div>
					</div>
					<div class="media mrg-gb">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/media-diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body mbd-simple">
							<p>Platinum is an extremely rare and durable precious metal that is considered to be even more valuable than gold. Platinum settings are an increasingly fashionable choice for diamond engagement rings.</p>
						</div>
					</div>
				</div>
				<div class="well edu-bg-blue border">
					<div class="padh-50 text-center">
						<h3>EMRADA  GUARANTEE</h3>
						<p>When you buy a White Gold ring at EMRADA it will not contain any nickel which can sometimes cause dermatitis in a small minority of people.</p>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head pad-sb">Styles, Settings, &amp; Sizings </h3>
					<h4>Keep it Simple - Keep it Fun</h4>
					<p>We like to keep things simple at Emrada and we believe that important decisions shouldn’t be stressful decisions. Our revolutionary algorithm and image recognition technology does the hard work of searching through over 500,000 stones and settings to find your perfect ring. But before you get down to the search you need to know a bit about the 3 S’s - Styles, Settings and Sizings. </p>
				</div>
				<div class="well well-simple">
					<h3 class="head h3">Styles</h3>
				</div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						<p>The style of ring that you choose is an intensely personal decision that is far more than just a fashion statement. Learn more about our different ring styles, or talk to a professional stylist to see what kind of ring will thrill your partner! </p>
					<div class="mrg-gt"><a href="#" class="btn btn-turkish">Talk to a Stylist</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Solitaire</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-rings/solitaire.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Simple, elegant and understated - yet very striking. A solitaire ring with a single stone matches every outfit and occasion.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Pavé</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-rings/pave.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Nothing catches the light, and flashes and sparkles, like a diamond encrusted pavé ring. Pavé is for serious diamond lovers. 
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Halo</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-rings/halo.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Halo stones feature a center stone, enhanced and complimented by a smaller exquisite cluster of pavé stones.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Vintage</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-rings/vintage.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Vintage combines classic designs and craftsmanship with the latest modern technology to produce timeless rings.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Sidestones</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-rings/side-stone.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Sidestones typically feature a center stone, flanked by an array of smaller stones. The design is eye catching.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">3 Stone</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-rings/three-stones.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						3 stone rings use two smaller diamonds to complement, and add depth and emphasis, to a larger center stone.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Tension Set</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-rings/tension.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Tension set rings use modern jewelry design to display every aspect of the diamond. A good choice of stone is vital.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Channel Set</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-rings/channel-set.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Channel set rings embed diamonds into a channel like groove on the side of the ring creating an elegant sparkling effect.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>