<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head hidden-xs">
					<h4>Engagement Rings</h4>
					<h1 class="h1">Choose the Perfect Engagement Ring</h1>
				</div>
				<div class="well well-simple padxs-zv xs-zmb">
					<h3 class="head">Choose the Perfect Engagement Ring</h3>
					<p>Emrada has revolutionized how people buy engagement rings online. Our new technology connects you directly to the world’s diamond databases. Our search tools use purpose designed image recognition software to scan over half a million diamond certificates in a split second. </p>
					<img class="diamond-banner hidden-xs" src="<?php echo $this->getViewFileUrl('images/education-center/perfect-engagement-ring/perfect-engagement-ring-banner.png') ?>" alt="Image">
					<p class="mrg-st">Every search brings you a stunning online display of diamonds that perfectly match your requirements. </p>
					<img class="diamond-banner visible-xs" src="<?php echo $this->getViewFileUrl('images/education-center/perfect-engagement-ring/perfect-engagement-ring-banner.png') ?>" alt="Image">
				</div>
				<div class="well well-simple">
					<h3 class="head">Emrada Stylists</h3>
					<p>An expert eye can work wonders when you’re trying to find the perfect diamond engagement ring. Our in house stylists have a strong background in jewelry design and fashion. They’ll ask all the questions you never thought of about your girlfriends tastes, style and preferences - and her appearance and dress sense.</p>
					<p>A private chat with an Emrada stylist can open your eyes to all kinds of new designs and combinations of rings, settings and stones. </p>
				</div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>All consultations with stylists are free</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Your stylist can check out your girlfriend’s social media profiles and match a ring style to her dress sense and personal tastes</p>
							</div>
						</div>
						<div class="media media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Learn how to get a bigger diamond and a better ring without increasing your budget</p>
							</div>
						</div>
					</div>
				</div>
				<p class="xs-tc">Emrada’s professional stylists are online 24/7 to offer help and advice about choosing the perfect engagement ring. Team up with a stylist now and start creating the ring of your dreams. </p>
				<div class="well well-simple xs-tc"><a href="#" class="btn btn-turkish">talk to a stylist</a></div>
				<div class="well edu-bg-blue">
					<div class="padh-50 text-center">
						<h2 class="pad-sb">How to get the Best Diamond for your Budget</h2>
						<h4>3 Useful Tips from our Jewelry Designers</h4>
						<p class="text-center"><b>One of the great things about buying a diamond engagement ring is that there are some simple tricks for making your money go a lot further. All it takes is a bit of patience, some basic knowledge and our high tech search tools will do the rest!</b></p>
					</div>
				</div>
				<section>
					<div class="well well-simple xs-zmb">
						<h3 class="head mrg-zt pad-xb pad-dt"><b>1</b> - Choose Eyeclean Diamonds </h3>
						<p>The presence of tiny flaws or inclusions can significantly reduce the grading - and the price - of a diamond. But often the flaws are only visible to a specialist appraiser using x10 magnification. The same principle applies to the diamond’s color and polish. Minute variations in color can have a major effect on prices.</p>
						<p>When you buy eyeclean diamonds all you’ll see is a beautiful sparkling diamond that’s full of fire, brilliance and scintillation. You’ll be amazed at the quality of the diamonds that your budget will stretch to. </p>
						<div class="well well-simple">
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>A wise choice of shape and cut can make a smaller diamond appear more spectacular than a larger one. </p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>Consider a VS1 or SI1 clarity grading when you buy a diamond.</p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>A diamond that is graded I for color may be much cheaper than an A or a D. But you’ll probably be unable to see the difference between an A and I stone of identical cut with the naked eye. </p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>A ‘good’ level of polish is usually fine for a diamond engagement ring. It will cost you less than an ‘excellent’ level of polish.</p>
								</div>
							</div>
						</div>
						<div class="xs-tc"><a href="loose-diamonds/colorless-diamonds.html" class="btn btn-turkish" target="_blank">browse diamonds</a></div>
					</div>
				</section>
				<section>
					<div class="well well-simple xs-zmb">
						<h3 class="head"><b>2</b> - Choose the Right Setting Style </h3>
						<p>Traditionally most rings used prong or bezel settings to hold stones in place. Technological advances have increased the choice of settings, positioning stones to best display their fire, sparkle and brilliance. The right setting can also make a smaller stone appear larger, more prominent and more striking. </p>
						<div class="well well-simple">
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>A skilful choice of ring and setting style significantly enhances the appearance of the main stone. </p>
								</div>
							</div>
						</div>
						<div class="xs-tc"><a href="settings/ring.html" class="btn btn-turkish" target="_blank">See Ring Styles</a></div>
					</div>
				</section>
				<section>
					<div class="well well-simple xs-zmb">
						<h3 class="head"><b>3</b> - Choose the Right Precious Metal </h3>
						<p>If you’re buying a gold engagement ring you have a choice of 14kt or 18kt gold. It’s possible to make a saving by opting for 14kt gold. Gold prices vary but a good rule of thumb is that a 14kt gold ring might cost 20% less than an 18kt ring. If you have more money in a few years time it will be possible to<a href="#" class="text-sec"> upgrade your ring</a>.</p>
						<div class="well well-simple">
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>White gold can match the elegance and sophistication of platinum at a cheaper price. </p>
								</div>
							</div>
						</div>
						<div class="xs-tc"><a href="engagement-rings.html" class="btn btn-turkish" target="_blank">Create your own Ring</a></div>
					</div>
				</section>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>