<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head hidden-xs">
					<h4>Engagement Rings</h4>
					<h1 class="h1">Setting Types</h1>
				</div>
				<!-- <div role="tabpanel" class="hidden-xs">
					Nav tabs
					<ul class="nav nav-tabs text-center" role="tablist">
						<li role="presentation" class="active">
							<a href="#eng-cut" aria-controls="home" role="tab" data-toggle="tab"><i class="em edu-tab-cut"></i>cut</a>
						</li>
						<li role="presentation">
							<a href="#eng-clarity" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-clarity"></i>clarity</a>
						</li>
						<li role="presentation">
							<a href="#eng-color" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-color"></i>color</a>
						</li>
						<li role="presentation">
							<a href="#eng-carat" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-carat"></i>carat</a>
						</li>
					</ul>
					Tab panes
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="eng-cut"></div>
						<div role="tabpanel" class="tab-pane" id="eng-clarity"></div>
						<div role="tabpanel" class="tab-pane" id="eng-color"></div>
						<div role="tabpanel" class="tab-pane" id="eng-carat"></div>
					</div>
				</div> -->
				<div class="well well-simple mrg-zb padxs-zv pad-xb">
					<h3 class="head pad-sb">Engagement Rings Setting Types </h3>
					<h3 class="font-lg">How to Choose your Engagement Ring Setting</h3>
					<p>A diamond or gemstone is the centerpiece of any ring and usually the first thing that captures the eye. When you buy a diamond ring you need to know two things:</p>
					<div class="well well-simple mrg-zb">
						<p><b class="edu-head-color font-md">1</b> - The stones will be held securely in place and will never fall off or be dislodged.</p>
						<p><b class="edu-head-color font-md">2</b> - The stones are displayed to their full advantage and can truly capture, refract and reflect the light. </p>
						<p>Settings also have an additional aesthetic value and a setting can be a fashion statement in its own right. </p>
					</div>
				</div>
				<div class="neg-h15"><img class="diamond-banner" src="<?php echo $this->getViewFileUrl('images/education-center/perfect-engagement-ring/perfect-engagement-ring-banner.png') ?>" alt="Image"></div>
				<div class="well well-simple mrg-zb">
					<p>All women have different sized and shaped hands. A clever choice of setting can subtly change the appearance of her hand, making her ring finger appear more slender and elegant.</p>
				</div>
				<section> <!-- prongs -->
					<div class="well well-simple padxs-zv xs-zmb">
						<div class="well well-simple pad-zb">
							<h3 class="head h3 edu-head-color">Prongs</h3>
						</div>
						<p class="visible-xs mrg-gb">Prongs are one of the oldest and simplest ways to attach a stone to a ring. The miniature arms grip the diamond or gemstone and hold it firmly in place. </p>
						<div class="media edu-bg-blue">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/setting-types/prong-setting.jpg') ?>" alt="Image">
							</a>
							<div class="media-body pad-zv">
								<div class="pad-gt xs-tc">
									<p class="font-sb hidden-xs">Prongs are one of the oldest and simplest ways to attach a stone to a ring. The miniature arms grip the diamond or gemstone and hold it firmly in place. </p>
									<div class="media border-btm media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Strength</b></p>
										<div class="media-body"><p class="text-gray"> Good</p></div>
									</div>
									<div class="media border-btm media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Display</b></p>
										<div class="media-body"><p class="text-gray">Very Good</p></div>
									</div>
									<div class="media media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Style</b></p>
										<div class="media-body"><p class="text-gray">Traditional</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Bezel -->
					<div class="well well-simple padxs-zb xs-zmb">
						<div class="well well-simple pad-zb">
							<h3 class="head edu-head-color">Bezel</h3>
						</div>
						<p class="visible-xs mrg-gb">A bezel is a traditional setting that encloses the outer edge or circumference of the stone. A white gold, platinum or palladium bezel setting can be used to enhance the appearance of stone and make a small diamond look bigger. </p>
						<div class="media edu-bg-blue">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/setting-types/bezel-setting.jpg') ?>" alt="Image">
							</a>
							<div class="media-body pad-zv">
								<div class="pad-gt xs-tc">
									<p class="font-sb hidden-xs">A bezel is a traditional setting that encloses the outer edge or circumference of the stone. A white gold, platinum or palladium bezel setting can be used to enhance the appearance of stone and make a small diamond look bigger. </p>
									<div class="media border-btm media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Strength</b></p>
										<div class="media-body"><p class="text-gray"> Good</p></div>
									</div>
									<div class="media border-btm media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Display</b></p>
										<div class="media-body"><p class="text-gray">Good</p></div>
									</div>
									<div class="media media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Style</b></p>
										<div class="media-body"><p class="text-gray">Traditional</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- tension -->
					<div class="well well-simple padxs-zb xs-zmb">
						<div class="well well-simple pad-zb">
							<h3 class="head edu-head-color">Tension</h3>
						</div>
						<p class="visible-xs mrg-gb">A tension setting makes use of the ring itself to grip the stone firmly in place. The diamond is inserted into a tiny groove in a specially hardened tension mounting. Diamonds that are tension mounted can almost seem to be free floating.  </p>
						<div class="media edu-bg-blue">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/setting-types/tension-setting.png') ?>" alt="Image">
							</a>
							<div class="media-body pad-zv">
								<div class="pad-gt xs-tc">
									<p class="font-sb hidden-xs">A tension setting makes use of the ring itself to grip the stone firmly in place. The diamond is inserted into a tiny groove in a specially hardened tension mounting. Diamonds that are tension mounted can almost seem to be free floating.  </p>
									<div class="media border-btm media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Strength</b></p>
										<div class="media-body"><p class="text-gray">Very Good</p></div>
									</div>
									<div class="media border-btm media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Display</b></p>
										<div class="media-body"><p class="text-gray">Very Good</p></div>
									</div>
									<div class="media media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Style</b></p>
										<div class="media-body"><p class="text-gray">Modern</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Channel -->
					<div class="well well-simple padxs-zb xs-zmb">
						<div class="well well-simple pad-zb">
							<h3 class="head edu-head-color">Channel</h3>
						</div>
						<p class=" mrg-gb visible-xs">Diamonds displayed in channel settings are held in place by reinforced metal strips that fix them securely into the ring band itself. The visual effect of channel settings can be stunning.</p>
						<div class="media edu-bg-blue">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/setting-types/channel-setting.png') ?>" alt="Image">
							</a>
							<div class="media-body pad-zv">
								<div class="pad-gt xs-tc">
									<p class="font-sb hidden-xs">Diamonds displayed in channel settings are held in place by reinforced metal strips that fix them securely into the ring band itself. The visual effect of channel settings can be stunning.</p>
									<div class="media border-btm media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Strength</b></p>
										<div class="media-body"><p class="text-gray">Very Good</p></div>
									</div>
									<div class="media border-btm media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Display</b></p>
										<div class="media-body"><p class="text-gray">Good</p></div>
									</div>
									<div class="media media-list">
										<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Style</b></p>
										<div class="media-body"><p class="text-gray">Luxurious</p></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="well well-simple xs-tc">
						<a href="engagement-rings.html" target="_blank" class="btn btn-turkish">Create your own Ring</a>
						<div class="white-break mrg-zh visible-xs"></div>
						<a href="fine-jewelry/rings.html" target="_blank" class="btn btn-red">ready to ship rings</a>
					</div>
				</section>
				<div class="space-lg"></div>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>