<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Review\Block\Customer\ListCustomer $block */
?>
<div class="dashboard-reviews">
<?php if ($block->getReviews() && count($block->getReviews())): ?>
    <div class="nav-reviews pad-xxl border-btm">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#account-product-review" class="">Product Reviews </a></li>
            <li class=""><a data-toggle="tab" href="#account-site-review" class="">Site Reviews </a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="account-product-review" class="tab-pane fade in active">

            <?php 
            //print_r($block->getReviews());
            foreach ($block->getReviews() as $_review): ?>
                <div class=" pad-gb border-btm pad-gt">
                    <div class="pad-sb">
                        <p class="pull-right"><?php /* @escapeNotVerified */ echo $block->dateFormat($_review->getReviewCreatedAt()); ?></p>
                        <div data-th="<?php echo $block->escapeHtml(__('Rating')) ?>" class="col summary">
                        <?php if ($_review->getSum()): ?>
                            <div class="rating-summary">
                                <div class="rating-result" title="<?php /* @escapeNotVerified */ echo($_review->getSum() / $_review->getCount()) ?>%">
                                   <!--  <span style="width:<?php /* @escapeNotVerified */ //echo($_review->getSum() / $_review->getCount()) ?>%;"><span><?php /* @escapeNotVerified */ //echo($_review->getSum() / $_review->getCount()) ?>%</span></span> -->
                                    <?php if($_review->getSum()>0){
                                        $eyecleanscore = round((floatval($_review->getSum()) / 100)*5); 
                                    } ?>
                                    <?php 
                                        $active = 1;
                                        while ( $active <= $eyecleanscore) {
                                            echo "<i class='fa fa-star text-primary'></i> ";
                                            $active ++;
                                        }
                                        while ( $active > $eyecleanscore && $active <= 5 ) {
                                            echo "<i class='fa fa-star-o'></i> ";
                                            $active ++;
                                        }
                                    ?>
                                </div>
                            </div>
                        <?php endif; ?>
                        </div>                
                    </div>
                    <div class="review-title font-sb" itemprop="name"><?php echo $_review['title'];?></div>
                    <div class="pad-sb">
                        <div class="review-content readmore-content" id="reviewRead" itemprop="description">
                            <span class="readmore-text">
                                <?php echo $_review['detail']; ?>
                            </span>
                            <?php if (str_word_count($_review['detail']) > 20): ?>
                                <a href="" class="sec-col-under readmore-btn font-xs" onclick="return false;">Read More</a>
                            <?php endif; ?>
                            <!-- <?php //if(strlen($_review['image'])>4):?> -->
                                <div class="review_screenshot mrg-dt">
                                    <span class="cursor-pointer" data-target="#review_screensort" data-toggle="modal" data-certificate="<?php echo $block->getUrl(); ?>pub/media/wysiwyg/reviewimages/reviewid_<?php echo $_review['review_id']; ?>.png"></i>
                                        <img src="<?php echo $block->getUrl(); ?>pub/media/wysiwyg/reviewimages/reviewid_<?php echo $_review['review_id']; ?>.png" class="img-responsive img-thumbnail" alt="Review Screenshot">
                                    </span>
                                </div>
                            <!-- <?php //endif;?> -->
                        </div>
                    </div>
                    <div class="pad-sb">On <a class="btn btn-link" href="<?php /* @escapeNotVerified */ echo $block->getProductLink() ?>id/<?php /* @escapeNotVerified */ echo $_review->getEntityPkValue() ?>"><?php echo $block->escapeHtml($_review->getName()) ?></a>
                    </div>
                    <div class="mz-social-login">
                        <i class="em em-facebook mrg-xr" aria-hidden="true"></i>
                        <i class="em em-twitter mrg-xr" aria-hidden="true"></i>
                        <i class="em em-whatsapp mrg-xr" aria-hidden="true"></i>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
        <div id="account-site-review" class="tab-pane fade in">
            <div class="border-btm pad-gt pad-gb">
                <ul class="list-unstyled">
                    <p class="review-date pull-right"><time class="review-details-value text-uppercase" itemprop="datePublished" datetime="10/22/17">10/22/17</time></p>
                    <li>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star-o text-primary"></i>
                        <i class="fa fa-star-o text-primary"></i>
                    </li>
                </ul>
                <div class="review-title font-sb pad-sb" itemprop="name">STUNNING QUALITY AND GREAT SERVICE!</div>
                <div class="review-content readmore-content" id="reviewRead" itemprop="description"><span class="readmore-text" style="max-height: none;">I bought this as a surprise engagement ring for my now fiancé. She loved the craftsmanship and was very impressed with the overall quality and the amount of sparkle in the sun. We are both very happy with the purchase and couldn't of had better service                            </span></div>
                <span class="mrg-dt">On Emrada.com</span>
            </div>
            <button type="button" class="btn btn-dark mrg-gt" data-toggle="collapse" data-target="#write-review-product">WRITE A REVIEW</button>
        </div>
    </div>
    <!--    <div class="table-wrapper reviews">
        <table class="data table table-reviews" id="my-reviews-table">
            <tbody>
                <?php foreach ($block->getReviews() as $_review): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('Created')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->dateFormat($_review->getReviewCreatedAt()); ?></td>
                    <td data-th="<?php echo $block->escapeHtml(__('Product Name')) ?>" class="col item">
                        <strong class="product-name">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getProductLink() ?>id/<?php /* @escapeNotVerified */ echo $_review->getEntityPkValue() ?>"><?php echo $block->escapeHtml($_review->getName()) ?></a>
                        </strong>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Rating')) ?>" class="col summary">
                    <?php if ($_review->getSum()): ?>
                        <div class="rating-summary">
                            <span class="label"><span><?php /* @escapeNotVerified */ echo __('Rating') ?>:</span></span>
                            <div class="rating-result" title="<?php /* @escapeNotVerified */ echo($_review->getSum() / $_review->getCount()) ?>%">
                                <span style="width:<?php /* @escapeNotVerified */ echo($_review->getSum() / $_review->getCount()) ?>%;"><span><?php /* @escapeNotVerified */ echo($_review->getSum() / $_review->getCount()) ?>%</span></span>
                            </div>
                        </div>
                    <?php endif; ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Review')) ?>" class="col description">
                        <?php echo $this->helper('Magento\Review\Helper\Data')->getDetailHtml($_review->getDetail()) ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                        <a href="<?php /* @escapeNotVerified */ echo $block->getReviewLink() ?>id/<?php /* @escapeNotVerified */ echo $_review->getReviewId() ?>" class="action more">
                            <span><?php /* @escapeNotVerified */ echo __('See Details') ?></span>
                        </a>
                    </td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div> -->
    <!-- <?php if ($block->getToolbarHtml()): ?>
        <div class="toolbar products-reviews-toolbar bottom">
            <?php echo $block->getToolbarHtml() ?>
        </div>
    <?php endif; ?> -->
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have submitted no reviews.') ?></span></div>
<?php endif; ?>
<!-- <div class="actions-toolbar">
    <div class="secondary">
        <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>">
            <span><?php /* @escapeNotVerified */ echo __('Back') ?></span>
        </a>
    </div>
</div> -->
</div>
<div class="space-lg hidden-xs"></div>