<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php 
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
  $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
  $stoneCategoryId = $category->getId();
  $singleDiamond = array(20,41,43,44,51,52,54,55);
  $gemstone = array(42,45,53);
  $PairDiamond = array(23,24,46,47);
  $alldiamond = array(20,41,43,44,51,52,54,55,42,45,53,23,24,46,47);
 
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode(); 
$currencySymbol ='';
$symbol = array('AUD'=>'A$', 'GBP'=>'£', 'CAD'=>'CA$', 'EUR'=>'€', 'HKD'=>'HK$', 'SGD'=>'$', 'NZD'=>'NZ$', 'USD'=>'$');
$currencySymbol = $symbol[$currencyCode];
if (in_array($stoneCategoryId, $alldiamond)) : ?>
<div class="category-title">
  <h2 class="h2">
      <?php if (in_array($stoneCategoryId, $singleDiamond)): ?>
          Diamonds Results
      <?php elseif (in_array($stoneCategoryId, $PairDiamond)): ?>
          Diamonds Results
      <?php elseif (in_array($stoneCategoryId, $gemstone)): ?>
         Gemstones Results
      <?php endif; ?>
      
      (<?php 
         echo __('%1',
              '<span class="toolbar-number">' . $block->getTotalNum() . '</span>')
      ?>)


      <?php 
      $budget = array(20,41,42,43,44,23,24,45,46,47,15,22);
          $SessionObj = $objectManager->create('Magento\Customer\Model\SessionFactory')->create();
          $RemainingBudgetCalc=$SessionObj->getTotalBudget();
          if($SessionObj->getProd1()){
                     $ProductObj = $objectManager->create('Magento\Catalog\Model\Product')->load($SessionObj->getProd1());
                     $productPrice = 0;
                      if(!$ProductObj->getPrice()>0){
                          $productPrice = $ProductObj->getFinalPrice();
                      }
                      if($ProductObj->getPrice()>0){
                          $productPrice = $ProductObj->getPrice();
                      }
                     $RemainingBudgetCalc = $SessionObj->getTotalBudget()-$productPrice;
            }
            if($SessionObj->getProd1()&&$SessionObj->getProd2()){
                     $ProductObj = $objectManager->create('Magento\Catalog\Model\Product')->load($SessionObj->getProd1());
                     $ProductObj2 = $objectManager->create('Magento\Catalog\Model\Product')->load($SessionObj->getProd2());
                     $productPrice1 = 0;
                      if(!$ProductObj->getPrice()>0){
                          $productPrice1 = $ProductObj->getFinalPrice();
                      }
                      if($ProductObj->getPrice()>0){
                          $productPrice1 = $ProductObj->getPrice();
                      }
                      $productPrice2 = 0;
                      if(!$ProductObj2->getPrice()>0){
                          $productPrice2 = $ProductObj2->getFinalPrice();
                      }
                      if($ProductObj2->getPrice()>0){
                          $productPrice2 = $ProductObj2->getPrice();
                      }
                     $productPrice = $productPrice1+$productPrice2;
                     $RemainingBudgetCalc = $SessionObj->getTotalBudget()-$productPrice;
            }


      if(in_array($stoneCategoryId,$budget)) :?>
          <small class="category-sub-title">for 
              <span id="remainingBudget"><?php echo $currencySymbol.rtrim(rtrim(number_format($RemainingBudgetCalc, 2),'0'), '.');?></span> 
              Remaining Budget
          </small>
      <?php endif ?>
  </h2>
  <?php if($SessionObj->getCurrentStep()>1){
            //echo '<h1 style="display:none;" >Ideal '.$ProductObj->getStoneCutShapeOfStone().' cut diamonds.</h1>';
        }
 ?>
</div>
<?php endif ?>
