<div class="col-sm-3">
	<div class="dash-left">
		<div>My Account</div>
		<div class="list-group">
			<a href="" class="list-group-item active">Account Dashboard</a>
			<a href="" class="list-group-item">My Orders</a>
			<a href="" class="list-group-item">Newsletter</a>
			<a href="" class="list-group-item">My Reviews</a>
			<a href="" class="list-group-item">My Favourities</a>
			<a href="" class="list-group-item">Reminder &amp; Blessing Program</a>
		</div>
	</div>
</div>