<div class="container">
	<div class="dashboard-account">
		<div class="clearfix">
			<?php include ($block->getTemplateFile('Magento_Customer::my-dashboard/left-dashboard-menu.phtml')) ?>
			<div class="col-sm-9">
				<div class="dash-right">
					<div>
						<h2>My Dashboard</h2>
						<div class="recent-order pad-gb">
							<div class="bg-gray">
								<span class="font-df mrg-sl">Recent Orders</span>
								<span class="sec-col-under pull-right mrg-dr">VIEW ALL</span>
							</div>
							<div class="clearfix">
								<div class="col-sm-3 pad-zl border-btm">
									<span class="font-sb">ORDER#</span>
								</div>
								<div class="col-sm-1 border-btm">
									<span class="font-sb">DATE</span>
								</div>
								<div class="col-sm-3 border-btm">
									<span class="font-sb">SHIP TO</span>
								</div>
								<div class="col-sm-1 border-btm">
									<span class="font-sb">TOTAL</span>
								</div>
								<div class="col-sm-4 border-btm">
									<span class="font-sb">STATUS</span>
								</div>
							</div>
							<div class="clearfix border-btm lh-40">
								<div class="col-sm-3 pad-zl">0005435GFD412</div>
								<div class="col-sm-1">8/8/2017</div>
								<div class="col-sm-3 text-capitalize">Dominic Levinson grey</div>
								<div class="col-sm-1">$2,500</div>
								<div class="col-sm-1"><span class="btn font-sm font-bd label label-default">PENDING</span></div>
								<div class="col-sm-1"><span class="sec-col-under mrg-gl">VIEW </span></div>
							</div>
							<div class="clearfix border-btm lh-40">
								<div class="col-sm-3 pad-zl">0005435GFD412</div>
								<div class="col-sm-1">8/8/2017</div>
								<div class="col-sm-3 text-capitalize">Dominic Levinson grey</div>
								<div class="col-sm-1">$2,500</div>
								<div class="col-sm-1">
									<span class="btn btn-primary-dark label label-default">SHIPPED</span>
								</div>
								<div class="col-sm-1">
									<span class="sec-col-under mrg-gl">VIEW</span>
								</div>
								<div class="col-sm-2">
									<span class="sec-col-under pull-right">TRACK ORDER</span>
								</div>
							</div>
						</div>
						<div class="reminder-blessing  pad-gb">
							<div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
								<span class="font-df mrg-sl">Reminder &amp; Blessing Program</span>
								<span class="sec-col-under pull-right mrg-dr">MANAGE CALENDER</span>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<h5 class="font-bd text-uppercase">Date</h5>
									<span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									<span class="btn btn-link pad-zl">EDIT</span>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<h5 class="font-bd text-uppercase">Date</h5>
									<span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									<span class="btn btn-link pad-zl">EDIT</span>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<h5 class="font-bd text-uppercase">Date</h5>
									<span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									<span class="btn btn-link pad-zl">EDIT</span>
								</div>
								<div class="col-sm-1"></div>
							</div>
						</div>
						<div class="address-information pad-gb">
							<div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
								<span class="font-df mrg-sl">Account Information</span>
								<span class="sec-col-under pull-right mrg-dr">MANAGE ADDRESSES</span>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<h5 class="font-bd">Contact Information</h5>
									<span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</span>
									<span class="btn btn-link pad-zl">EDIT</span>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-8">
									<div class="mrg-sb">
										<h5 class="font-bd">Newsleters</h5>
										<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</span>
									</div>
									<div class="col-sm-4 pad-zl">
										<div class="floating-label form-group review-field-nickname">
											<input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
											<label for="nickname_field"><span>EMAIL ADDRESS</span></label>
										</div>
									</div>
									<div class="col-sm-8 pad-zl pad-zr">
										<div class="form-group ">
											<label class="btn btn-default man address-label">
												<input type="radio" checked>MANsd
											</label>
											<label class="btn btn-default women address-label">
												<input type="radio">WOMEN
											</label>
											<label class="btn btn-default couple address-label">
												<input type="radio">COUPLE
											</label>
											<button class="submit btn btn-dark save btn-lg" name="Submit">SING UP</button>
										</div>
									</div>
								</div>
								<div class="col-sm-1"></div>
							</div>
						</div>
						<div class="address-book pad-gb">
							<div class="bg-gray pad-st pad-sb mrg-gt mrg-gb">
								<span class="font-df mrg-sl">Address Book</span>
								<span class="sec-col-under mrg-sr pull-right">MANAGE ADDRESSES</span>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<h5 class="font-bd">Default Billing Address</h5>
									<span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									<span class="btn btn-link pad-zl">EDIT ADDRESS</span>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<h5 class="font-bd">Default Shipping Address</h5>
									<span class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
									<span class="btn btn-link pad-zl">EDIT ADDRESS</span>
								</div>
								<div class="col-sm-1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>