<div class="modal fade" id="customer-service" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix modal-wrapper">
					<div class="col-sm-9 col-xs-12">
					    <h2 class="title">24/7 Customers Service</h2>
					    <div class="content">
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				    	</div>
				    	<a href="customer-service">Learn More</a>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div> <!-- customer service -->
<div class="container">
	<div class="modal fade in" id="lifetime-warranty" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
					<div class="modal-header tooltip-popup-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="title-left">Lifetime Warranty</h4>
					</div>
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
						    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
						    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				            </div>
				    		<a href="lifetime-warranty">Learn More</a>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="free-shipping" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
					<div class="modal-header tooltip-popup-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="title-left">Free Shipping</h4>
					</div>
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
						    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
						    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				            </div>
				    		<a href="<?php echo $this->getUrl(); ?>shipping">Learn More</a>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div> 
<div class="container">
	<div class="modal fade in" id="money-back" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
					<div class="modal-header tooltip-popup-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="title-left">Money Back</h4>
					</div>
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
						    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
						    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				            </div>
				    		<a href="money-back-guarantee">Learn More</a>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div> 
<!-- /.money back -->
<!-- gia certificate -->
<div class="modal fade" id="gia-certificate">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div class="modal-body">
				<img class="img-responsive certificateFrame" src="" alt="" id="certificate-img">
			</div>
		</div>
	</div>
</div> 
<div class="modal fade" id="gia-certificate-pdf">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div class="modal-body">
				<object type="application/pdf" data="" id="certificate-pdf" class="certificateFrame" width="100%" height="500">No Support</object>
			</div>
		</div>
	</div>
</div> <!-- /.gia certificate -->
<!-- Ring box-popup -->
<div class="modal fade " id="select-ring-box" role="dialog">
	<div class="modal-dialog modal-md">
	  <div class="modal-content ringbox-popup-content">
		<div class="popup-modal">
	 	  <div class="modal-body">
       		<button type="button" class="close" data-dismiss="modal">&times;</button>
       		<form class="form2"  id="form2">
	        	<div class="popup-content ringbox-content">
	              <div id="select-box-carousel" class="carousel slide" data-ride="carousel">
					  <div class="carousel-inner" role="listbox">
				    <div class="carousel-inner ringbox-carousel-inner" id="ringbox1-black-diamond">
					    <div class="item active ringslider" id="ringbox1-black-diamond">
					    	<h3 class="modal-title center-block">Black Leather Diamond Box</h3>
					        <div class="col-md-12">
								<img class="img-ringbox img-responsive" src='<?php echo $this->getViewFileUrl('images/Diamond-shaped-ringbox.jpg'); ?>' alt="jewellerybox">
							</div>
							<button class="btn btn-dark" value="Black Leather Diamond Box" onclick="selectBox('black-box');" type="button" data-dismiss="modal">SELECT THIS BOX</button>
	                        <h6>
	                            Deluxe Black Leather Diamond Ring box which is Multi-functional. Perfect for rings, stud earrings,  coin, or anything sparkle  to showcase or display. Wouldn't mind the big question being popped with the ring in THIS box! 
	                        </h6>
					    </div>
					    <div class="item ringbox2-pink-leather ringslider">
							<h3 class="modal-title center-block">Pink Leather Woman in Love</h3>
					        <div class="row">
								<img class="img-ringbox img-responsive" src='<?php echo $this->getViewFileUrl('images/Pink-leather-box.jpg'); ?>' alt="jewellerybox">
							</div>
							<button class="btn btn-dark" value="Pink Leather Woman in Love" type="button" onclick="selectBox('pink-leather');" data-dismiss="modal">SELECT THIS BOX</button>
	                        <h6>
	                            Emrada's coppery pink,The Perfect Choice for Melting Her Heart especially..looking for contemporary style designer engagement rings.
	                        </h6>
					    </div>
					    <div class="item ringbox3-royal-wooden ringslider">
					    	<h3 class="modal-title center-block">Royal Wooden Ring box</h3>
					        <div class="col-md-12">
								<img class="img-ringbox img-responsive" src='<?php echo $this->getViewFileUrl('images/wooden-ring-box.jpg'); ?>' alt="jewellerybox">
							</div>
							<button class="btn btn-dark" value="Royal Wooden Ring box" type="button" onclick="selectBox('wood-box');" data-dismiss="modal">SELECT THIS BOX</button>
	                        <h6>
	                            Natural Wood Log Ring Box by Jaccob McKay Studios, Melbourne Great for forest weddings, proposals/engagements or tooth fairy boxes!
	                        </h6>
					    </div>
					</div>
					</div>
				    <a class="left carousel-control ringbox-carousel-handle" href="#select-box-carousel" data-slide="prev">
				    	<span class="red-underline pad-gb pad-gt">< Previous Box</span>
				    </a>
				    <a class="right carousel-control ringbox-carousel-handle" href="#select-box-carousel" data-slide="next">
				    	<span class="red-underline pad-gb pad-gt">Next Box ></span>
				    </a>
		 		  </div>
	    		</div>
    		</form>
	 	  </div>
	 	</div>
	  </div>
	</div>
</div> <!-- Ring box-popup -->
<!-- Customer Review popup -->
<div class="modal fade " id="customer-review-popup" role="dialog">
	<div class="modal-dialog modal-md">
	  <div class="modal-content customer-review-content text-center">
		<div class="popup-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-left mrg-dl">WRITE A REVIEW </h4>
            </div>
	 	  <div class="modal-body">
		    <div class="row">
				  <div class="col-sm-12">
		        <div class="block review-add">
				    <div class="block-content">
				        <form action="<?php echo $this->getUrl('review/product/post'); ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'" novalidate="novalidate">
				            <input name="form_key" type="hidden" value="Vt805Byu43MS5oc8">
					        <fieldset class="fieldset review-fieldset" data-hasrequired="">
					            <!-- <legend class="legend review-legend text-center">
					            	<span>You're reviewing:</span>
					            	<strong>TAPERED BAGUETTE</strong>
					            </legend><br> -->
					            <span id="input-message-box"></span>
					            <fieldset class="field required review-field-ratings">
					                <div class="control">
					                    <div class="nested" id="product-review-table">
					                        <div class="field choice review-field-rating">
					                            <label class="label" id="Quality_rating_label"><span>Quality</span></label>
					                            <div class="control review-control-vote star">
					                                <input type="radio" name="ratings[1]" id="Quality_1" value="1" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_1_label" aria-required="true">
					                                <label class="rating-1" for="Quality_1" title="1 star" id="Quality_1_label">
					                                    <span>1 star</span>
					                                </label>
					                                <input type="radio" name="ratings[1]" id="Quality_2" value="2" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_2_label" aria-required="true">
					                                <label class="rating-2" for="Quality_2" title="2 stars" id="Quality_2_label">
					                                    <span>2 stars</span>
					                                </label>
					                                <input type="radio" name="ratings[1]" id="Quality_3" value="3" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_3_label" aria-required="true">
					                                <label class="rating-3" for="Quality_3" title="3 stars" id="Quality_3_label">
					                                    <span>3 stars</span>
					                                </label>
					                                <input type="radio" name="ratings[1]" id="Quality_4" value="4" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_4_label" aria-required="true">
					                                <label class="rating-4" for="Quality_4" title="4 stars" id="Quality_4_label">
					                                    <span>4 stars</span>
					                                </label>
					                                <input type="radio" name="ratings[1]" id="Quality_5" value="5" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_5_label" aria-required="true">
					                                <label class="rating-5" for="Quality_5" title="5 stars" id="Quality_5_label">
					                                    <span>5 stars</span>
					                                </label>
					                            </div>
					                        </div>
					                    </div>
					                    <input type="hidden" name="validate_rating" class="validate-rating" value="" aria-required="true">
					                </div>
					            </fieldset>
	                        <div class="clearfix">
	                            <div class="col-md-6">
	                                <div class="floating-label form-group review-field-nickname">
	                                    <input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
	                                    <label for="nickname_field"><span>NAME</span></label>
	                                </div>
	                            </div>
	                            <div class="col-md-6">
	                                <div class="floating-label form-group review-field-nickname">
	                                    <input required="" type="text" name="order-number" id="order-number" class="form-control" data-validate="{required:true}" data-bind="value: order-number()">
	                                    <label for="nickname_field"><span>ORDER NUMBER</span></label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="clearfix">
	                            <div class="col-md-12">
	                                <div class="floating-label form-group review-field-summary">
	                                    <input required="" type="text" name="title" id="summary_field" class="form-control" data-validate="{required:true}" data-bind="value: review().title">
	                                    <label for="summary_field"><span>TITTLE</span></label>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="clearfix">
	                            <div class="col-md-12">
	                                <div class="floating-label form-group review-field-text">
	                                    <textarea required="" name="detail" id="review_field" class="form-control" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
	                                    <label for="review_field" class="review-form-textarea"><span>REVIEW</span></label>
	                                </div>
	                            </div>
	                        </div>
	                        <span class="actions-toolbar review-form-actions mrg-db">
	                            <!-- <i class="em em-delete" aria-hidden="true" id="removeImage" onclick="removeReviewImage()"></i> -->
	                            <!-- <a href="" class="btn btn-default another-image">
	                            <input type="file" id="browse" name="fileupload" onchange="fileReviewUplod();" accept=".jpg, .jpeg, .png"/>
	                                <span class="another-image-plus">+</span> <span class="text-underline">Add another Image</span>
	                            </a> -->
	                            <a href="" class="btn btn-default">
	                            <input type="file" id="browse" name="fileupload" onchange="fileReviewUplod();" accept=".jpg, .jpeg, .png"/>
	                                <span class="another-image-plus">+</span> <span class="special-offers">Add an Image</span>
	                            </a>
	                            <img width="320" src="" id="fileOutput">
	                        </span>
	                        <script>
	                            function fileReviewUplode() {
	                                var input = event.target;
	                                var reader = new FileReader();
	                                reader.onload = function(){
	                                    var dataURL = reader.result;
	                                    var output = document.getElementById('fileOutputreview');
	                                    output.src = dataURL;
	                                };
	                                reader.readAsDataURL(input.files[0]);
	                                document.getElementById('fileOutputreview').style.display = 'inline-block';
	                                document.getElementById('del').style.display = 'inline-block';
	                                document.getElementById('add_Image').style.display = 'none';

	                            };
	                            function del(){
	                                document.getElementById('add_Image').style.display = 'inline-block';
	                                document.getElementById('fileOutputreview').style.display = 'none';
	                                document.getElementById('del').style.display = 'none';
	                            };
	                            // function fileReviewUplod() {
	                            //     var input = event.target;
	                            //     var reader = new FileReader();
	                            //     reader.onload = function(){
	                            //         var dataURL = reader.result;
	                            //         var output = document.getElementById('fileOutput');
	                            //         output.style.display = "block";
	                            //         document.getElementById('removeImage').style.display = "block";
	                            //         output.src = dataURL;
	                            //     };
	                            //     reader.readAsDataURL(input.files[0]);
	                            // }
	                            // function removeReviewImage() {
	                            //     this.style.display = 'none';
	                            //     document.getElementById('fileOutput').src = "";
	                            //     document.getElementById('fileOutput').style.display = 'none';
	                            // }
	                        </script>
					        </fieldset>
		                    <div class="actions-toolbar review-form-actions submit-review">
		                        <div class="primary actions-primary">
		                            <button type="submit" class="action submit primary btn btn-dark review-form-submit">
		                            <span>Submit Review</span>
		                            </button>
		                        </div>
		                    </div>
				        </form>
				    </div>
				</div>
			  </div>
			</div>
	 	  </div>
	 	</div>
	  </div>
	</div>
</div> <!-- /.Customer Review popup -->
<!-- Ring-Size Popup -->
<div class="modal fade" id="customer-service" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix modal-wrapper">
					
			    </div>
			</div>
		</div>
	</div>
</div> <!-- /.Ring-Size Popup -->
<?php
	$pid = "<script type='text/javascript'>
		var number = document.getElementById('review-ids').value;
        document.write(number);
	</script>";
 ?>
<!-- Customer review form phtml -->
<div class="modal fade" id="customer-review-form">
	<div class="modal-dialog">
		<div class="modal-content">
			 <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">WRITE A REVIEW </h4>
        		<h4 class="write-review font-sb" style="color: #4eb7c3;">SCORE:</h4>
            </div>
			<div class="modal-body">
					<!-- form starts -->
						  <!-- form start -->
			                <form action="<?php echo $this->getUrl('review/product/post',array('id'=>$pid)); ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'" enctype="multipart/form-data">
			                    <fieldset class="fieldset review-fieldset" data-hasrequired="">
			                        <span id="input-message-box"></span>
			                        <fieldset class="field required review-field-ratings">
			                            <div class="control">
			                                <div class="nested" id="product-review-table">
			                                    <div class="field choice review-field-rating">
			                                        <label class="label" id="Price_rating_label"><span>Price</span></label>
			                                    </div>
			                                    <div class="field choice review-field-rating">
			                                        <label class="label" id="Quality_rating_label"><span>Quality</span></label>
			                                        <div class="control review-control-vote star">
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_1" value="1" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_1_label">
			                                            <label class="rating-1" for="Quality_1" title="1 star" id="Quality_1_label">
			                                                <span>1 star</span>
			                                            </label>
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_2" value="2" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_2_label">
			                                            <label class="rating-2" for="Quality_2" title="2 stars" id="Quality_2_label">
			                                                <span>2 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_3" value="3" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_3_label">
			                                            <label class="rating-3" for="Quality_3" title="3 stars" id="Quality_3_label">
			                                                <span>3 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_4" value="4" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_4_label">
			                                            <label class="rating-4" for="Quality_4" title="4 stars" id="Quality_4_label">
			                                                <span>4 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_5" value="5" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_5_label">
			                                            <label class="rating-5" for="Quality_5" title="5 stars" id="Quality_5_label">
			                                                <span>5 stars</span>
			                                            </label>
			                                        </div>
			                                    </div>
			                                </div>
			                                <input type="hidden" name="validate_rating" class="validate-rating" value="">
			                            </div>
			                        </fieldset>
			                        <div class="clearfix">
			                            <div class="col-md-6">
			                                <div class="floating-label form-group review-field-nickname">
			                                    <input required="" type="text" name="nickname" id="nickname_field" placeholder="NAME" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
			                                    <!-- <label for="nickname_field"><span></span></label> -->
			                                </div>
			                            </div>
			                            <div class="col-md-6">
			                                <div class="floating-label form-group review-field-nickname">
			                                    <input required="" type="text" name="order-number" id="order-number" placeholder="ORDER NUMBER" class="form-control" data-validate="{required:true}" data-bind="value: order-number()">
			                                    <!-- <label for="nickname_field"><span></span></label> -->
			                                </div>
			                            </div>
			                        </div>
			                        <div class="clearfix">
			                            <div class="col-md-12">
			                                <div class="floating-label form-group review-field-summary">
			                                    <input required="" type="text" name="title" id="summary_field" placeholder="TITTLE" class="form-control" data-validate="{required:true}" data-bind="value: review().title">
			                                    <!-- <label for="summary_field"><span></span></label> -->
			                                </div>
			                            </div>
			                        </div>
			                        <div class="clearfix">
			                            <div class="col-md-12">
			                                <div class="floating-label form-group review-field-text">
			                                    <textarea required="" name="detail" id="review_field" class="form-control" placeholder="REVIEW" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
			                                    <!-- <label for="review_field" class="review-form-textarea"><span></span></label> -->
			                                </div>
			                            </div>
			                        </div>
			                        <span class="actions-toolbar review-form-actions mrg-db">
							            <img id="fileOutputreview" style="max-width: 75px;">
							            <i class="fa fa-trash" onclick="del();" aria-hidden="false" id="del"></i>
							            <a href="" class="btn btn-default" style="text-transform: none;">
							            <input type="file" id="browse" name="fileupload" onchange="fileReviewUplode();" accept=".jpg, .jpeg, .png"/>
							                <span><i class="fa fa-plus" aria-hidden="true"></i>Add an image</span>
							            </a>
							        </span>
							        <script>
							            function fileReviewUplod() {
							                var input = event.target;
							                var reader = new FileReader();
							                reader.onload = function(){
							                  var dataURL = reader.result;
							                  var output = document.getElementById('fileOutput');
							                  output.src = dataURL;
							                };
							                reader.readAsDataURL(input.files[0]);
							            }
							        </script>
			                    </fieldset>
			                    <div class="actions-toolbar review-form-actions submit-review">
			                        <div class="primary actions-primary">
			                            <button type="submit" class="action submit primary btn btn-dark review-form-submit">
			                            <span>Submit Review</span>
			                            </button>
			                        </div>
			                    </div>
			                </form>
			                <!-- form end -->
					<!-- form end -->
			</div>
			
		</div>
	</div>
</div> <!-- Customer review form phtml -->
<!-- ring size -->
<div class="modal fade" id="ring-size" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content tooltip-popup-content">
			<div class="modal-header tooltip-popup-header hidden-xs">
		     	<button type="button" class="close" data-dismiss="modal">&times;</button>
		     	<h4 class="title-left text-uppercase font-bd">Find my ring size</h4>
		    </div>
			<div class="modal-body pad-zl pad-st">
				<div class="visible-xs">
			     	<button type="button" class="close ring-size-close" data-dismiss="modal">&times;</button>
			     	<h3 class="title-left text-uppercase font-bd text-center  mrg-gt"">Find my ring size</h3>
			    </div>
				<div class="tab-content ring-size-popup">
					<ul  class="nav nav-tabs shape-nav-popup hidden-xs">
						<li class="active">
					        <a class="shape-tab-popup" href="#circle" data-toggle="tab">
					        	<h6 class="h6 text-uppercase font-xs">Circles</h6>
					        </a>
						</li>
						<li>
							<a class="shape-tab-popup" href="#ruler" data-toggle="tab">
								<h6 class="h6 text-uppercase font-xs">ruler</h6>
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="circle">
							<div class="row pad-sl">
								<div class="col-sm-7">
									<p class="font-mb mrg-st ring-size-para">To measure your ring size’ simply place any ring over the circles until you find a match.</p>
								</div>
								<div class="col-sm-5 col-xs-10 ring-size-select">
									<div class="center-block">
										<ul class="nav nav-tabs" id="ring-size-tabs" role="tablist">
										    <li role="presentation" class="dropdown active ring-list-drop"><a href="#" class="dropdown-toggle" id="ringTabDrop" data-toggle="dropdown" aria-controls="ring_contents" aria-expanded="false">Ring Size Format: </a><span class="caret"></span>
										        <ul class="dropdown-menu" aria-labelledby="ringTabDrop" id="ring_contents">
										            <li class=""><a href="#japan_ringsize" role="tab" data-toggle="tab" aria-expanded="false">Japan</a></li>
										            <li class=""><a href="#italy_ringsize" role="tab" data-toggle="tab" aria-expanded="false">Italy</a></li>
										            <li class=""><a href="#france_ringsize" role="tab" data-toggle="tab" aria-expanded="false">France</a></li>
										            <li class=""><a href="#spain_ringsize" role="tab" data-toggle="tab" aria-expanded="false">Spain</a></li>
										            <li class=""><a href="#germany_ringsize" role="tab" data-toggle="tab" aria-expanded="false">Germany</a></li>
										            <li class=""><a href="#uk_ringsize" role="tab" data-toggle="tab" aria-expanded="false">UK</a></li>
										            <li class=""><a href="#us_ringsize" role="tab" data-toggle="tab" aria-expanded="false">US</a></li>
										        </ul>
										    </li>
										</ul>
							        </div>
								</div>
							</div>
							<img class="img-responsive mrg-gb mrg-gt pad-sl" src='<?php echo $this->getViewFileUrl('images/ring-size-banner.png'); ?>' alt="ring-size-banner">
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane active" role="tabpanel" id="japan_ringsize" aria-labelledby="home-tab">
									<ul class="list-inline rlineht">
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14"><span class="center-text">14mm<br>Size 4</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14-5"><span class="center-text">14.5mm<br>Size 5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15"><span class="center-text">15mm<br>Size 7</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-3"><span class="center-text">15.3mm<br>Size 8</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-6"><span class="center-text">15.6mm<br>Size 9</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-2"><span class="center-text">16.2mm<br>Size 10</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-6"><span class="center-text">16.6mm<br>Size 11</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-9"><span class="center-text">16.9mm<br>Size 13</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-2"><span class="center-text">17.2mm<br>Size 14</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-8"><span class="center-text">17.8mm<br>Size 15</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-1"><span class="center-text">18.1mm<br>Size 16</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-5"><span class="center-text">18.5mm<br>Size 17</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-1"><span class="center-text">19.1mm<br>Size 18</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-4"><span class="center-text">19.4mm<br>Size 19</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-7"><span class="center-text">19.7mm<br>Size 20</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-4"><span class="center-text">20.4mm<br>Size 22</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-7"><span class="center-text">20.7mm<br>Size 23</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21"><span class="center-text">21mm<br>Size 24</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21-6"><span class="center-text">21.6mm<br>Size 25</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22"><span class="center-text">22mm<br>Size 26</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-3"><span class="center-text">22.3mm<br>Size 27</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-9"><span class="center-text">22.9mm<br>Size N/A</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-2"><span class="center-text">23.2mm<br>Size N/A</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-6"><span class="center-text">23.6mm<br>Size N/A</span></span></li>
								    </ul>
								</div>
							    <div class="tab-pane fade" role="tabpanel" id="italy_ringsize" aria-labelledby="profile-tab">
									<ul class="list-inline rlineht">
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14"><span class="center-text">14mm<br>Size 4</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14-5"><span class="center-text">14.5mm<br>Size 5.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15"><span class="center-text">15mm<br>Size 7</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-3"><span class="center-text">15.3mm<br>Size 8</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-6"><span class="center-text">15.6mm<br>Size 9</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-2"><span class="center-text">16.2mm<br>Size 10</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-6"><span class="center-text">16.6mm<br>Size 11</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-9"><span class="center-text">16.9mm<br>Size 12.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-2"><span class="center-text">17.2mm<br>Size 14</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-8"><span class="center-text">17.8mm<br>Size 15</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-1"><span class="center-text">18.1mm<br>Size 16</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-5"><span class="center-text">18.5mm<br>Size 17.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-1"><span class="center-text">19.1mm<br>Size 19</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-4"><span class="center-text">19.4mm<br>Size 20</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-7"><span class="center-text">19.7mm<br>Size 21.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-4"><span class="center-text">20.4mm<br>Size 23</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-7"><span class="center-text">20.7mm<br>Size 24</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21"><span class="center-text">21mm<br>Size 25</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21-6"><span class="center-text">21.6mm<br>Size 26.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22"><span class="center-text">22mm<br>Size 28</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-3"><span class="center-text">22.3mm<br>Size 28</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-9"><span class="center-text">22.9mm<br>Size 32</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-2"><span class="center-text">23.2mm<br>Size 33</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-6"><span class="center-text">23.6mm<br>Size N/A</span></span></li>
								    </ul>
							    </div>
							    <div class="tab-pane fade" role="tabpanel" id="france_ringsize" aria-labelledby="dropdown1-tab">
									<ul class="list-inline rlineht">
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14"><span class="center-text">14mm<br>Size 44</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14-5"><span class="center-text">14.5mm<br>Size N/A</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15"><span class="center-text">15mm<br>Size 46.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-3"><span class="center-text">15.3mm<br>Size 48</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-6"><span class="center-text">15.6mm<br>Size 49.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-2"><span class="center-text">16.2mm<br>Size 50.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-6"><span class="center-text">16.6mm<br>Size 52</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-9"><span class="center-text">16.9mm<br>Size 53</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-2"><span class="center-text">17.2mm<br>Size 54.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-8"><span class="center-text">17.8mm<br>Size 55.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-1"><span class="center-text">18.1mm<br>Size 57</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-5"><span class="center-text">18.5mm<br>Size 58</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-1"><span class="center-text">19.1mm<br>Size 59.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-4"><span class="center-text">19.4mm<br>Size 61</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-7"><span class="center-text">19.7mm<br>Size 62</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-4"><span class="center-text">20.4mm<br>Size 63.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-7"><span class="center-text">20.7mm<br>Size 64.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21"><span class="center-text">21mm<br>Size 66</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21-6"><span class="center-text">21.6mm<br>Size 67</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22"><span class="center-text">22mm<br>Size 68.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-3"><span class="center-text">22.3mm<br>Size 69.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-9"><span class="center-text">22.9mm<br>Size 71</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-2"><span class="center-text">23.2mm<br>Size 72.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-6"><span class="center-text">23.6mm<br>Size 73.5</span></span></li>
								    </ul>
							    </div>
							    <div class="tab-pane fade" role="tabpanel" id="spain_ringsize" aria-labelledby="dropdown2-tab">
									<ul class="list-inline rlineht">
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14"><span class="center-text">14mm<br>Size 4</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14-5"><span class="center-text">14.5mm<br>Size N/A</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15"><span class="center-text">15mm<br>Size 6.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-3"><span class="center-text">15.3mm<br>Size 8</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-6"><span class="center-text">15.6mm<br>Size 9.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-2"><span class="center-text">16.2mm<br>Size 10.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-6"><span class="center-text">16.6mm<br>Size 12</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-9"><span class="center-text">16.9mm<br>Size 13.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-2"><span class="center-text">17.2mm<br>Size 14.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-8"><span class="center-text">17.8mm<br>Size 16</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-1"><span class="center-text">18.1mm<br>Size 17</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-5"><span class="center-text">18.5mm<br>Size 18.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-1"><span class="center-text">19.1mm<br>Size 20</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-4"><span class="center-text">19.4mm<br>Size 21</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-7"><span class="center-text">19.7mm<br>Size 22.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-4"><span class="center-text">20.4mm<br>Size 23.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-7"><span class="center-text">20.7mm<br>Size 25</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21"><span class="center-text">21mm<br>Size 26</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21-6"><span class="center-text">21.6mm<br>Size 27.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22"><span class="center-text">22mm<br>Size 29</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-3"><span class="center-text">22.3mm<br>Size 30</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-9"><span class="center-text">22.9mm<br>Size 32</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-2"><span class="center-text">23.2mm<br>Size 33</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-6"><span class="center-text">23.6mm<br>Size 34.5</span></span></li>
								    </ul>
							    </div>
							    <div class="tab-pane fade" role="tabpanel" id="germany_ringsize" aria-labelledby="dropdown2-tab">
									<ul class="list-inline rlineht">
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14"><span class="center-text">14mm<br>Size 44</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14-5"><span class="center-text">14.5mm<br>Size N/A</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15"><span class="center-text">15mm<br>Size 47</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-3"><span class="center-text">15.3mm<br>Size 48</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-6"><span class="center-text">15.6mm<br>Size 49</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-2"><span class="center-text">16.2mm<br>Size 51</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-6"><span class="center-text">16.6mm<br>Size 52</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-9"><span class="center-text">16.9mm<br>Size 53</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-2"><span class="center-text">17.2mm<br>Size 54</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-8"><span class="center-text">17.8mm<br>Size 56</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-1"><span class="center-text">18.1mm<br>Size 57</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-5"><span class="center-text">18.5mm<br>Size 58</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-1"><span class="center-text">19.1mm<br>Size 60</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-4"><span class="center-text">19.4mm<br>Size 61</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-7"><span class="center-text">19.7mm<br>Size 62</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-4"><span class="center-text">20.4mm<br>Size 64</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-7"><span class="center-text">20.7mm<br>Size 65</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21"><span class="center-text">21mm<br>Size 66</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21-6"><span class="center-text">21.6mm<br>Size 68</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22"><span class="center-text">22mm<br>Size 69</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-3"><span class="center-text">22.3mm<br>Size 70</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-9"><span class="center-text">22.9mm<br>Size 72</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-2"><span class="center-text">23.2mm<br>Size 73</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-6"><span class="center-text">23.6mm<br>Size 74</span></span></li>
								    </ul>
							    </div>
							    <div class="tab-pane fade" role="tabpanel" id="uk_ringsize" aria-labelledby="dropdown2-tab">
									<ul class="list-inline rlineht">
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14"><span class="center-text">14mm<br>Size F</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14-5"><span class="center-text">14.5mm<br>Size G</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15"><span class="center-text">15mm<br>Size H</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-3"><span class="center-text">15.3mm<br>Size I</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-6"><span class="center-text">15.6mm<br>Size J</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-2"><span class="center-text">16.2mm<br>Size K</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-6"><span class="center-text">16.6mm<br>Size L</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-9"><span class="center-text">16.9mm<br>Size M</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-2"><span class="center-text">17.2mm<br>Size N</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-8"><span class="center-text">17.8mm<br>Size O</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-1"><span class="center-text">18.1mm<br>Size P</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-5"><span class="center-text">18.5mm<br>Size Q</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-1"><span class="center-text">19.1mm<br>Size R</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-4"><span class="center-text">19.4mm<br>Size S</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-7"><span class="center-text">19.7mm<br>Size T</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-4"><span class="center-text">20.4mm<br>Size U</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-7"><span class="center-text">20.7mm<br>Size V</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21"><span class="center-text">21mm<br>Size W</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21-6"><span class="center-text">21.6mm<br>Size X</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22"><span class="center-text">22mm<br>Size Y</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-3"><span class="center-text">22.3mm<br>Size Z</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-9"><span class="center-text">22.9mm<br>Size Z+2</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-2"><span class="center-text">23.2mm<br>Size Z+3</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-6"><span class="center-text">23.6mm<br>Size Z+4</span></span></li>
								    </ul>
							    </div>
							    <div class="tab-pane fade" role="tabpanel" id="us_ringsize" aria-labelledby="dropdown2-tab">
									<ul class="list-inline rlineht">
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14"><span class="center-text">14mm<br>Size 3</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-14-5"><span class="center-text">14.5mm<br>Size 3.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15"><span class="center-text">15mm<br>Size 4</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-3"><span class="center-text">15.3mm<br>Size 4.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-15-6"><span class="center-text">15.6mm<br>Size 5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-2"><span class="center-text">16.2mm<br>Size 5.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-6"><span class="center-text">16.6mm<br>Size 6</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-16-9"><span class="center-text">16.9mm<br>Size 6.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-2"><span class="center-text">17.2mm<br>Size 7</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-17-8"><span class="center-text">17.8mm<br>Size 7.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-1"><span class="center-text">18.1mm<br>Size 8</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-18-5"><span class="center-text">18.5mm<br>Size 8.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-1"><span class="center-text">19.1mm<br>Size 9</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-4"><span class="center-text">19.4mm<br>Size 9.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-19-7"><span class="center-text">19.7mm<br>Size 10</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-4"><span class="center-text">20.4mm<br>Size 10.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-20-7"><span class="center-text">20.7mm<br>Size 11</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21"><span class="center-text">21mm<br>Size 11.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-21-6"><span class="center-text">21.6mm<br>Size 12</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22"><span class="center-text">22mm<br>Size 12.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-3"><span class="center-text">22.3mm<br>Size 13</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-22-9"><span class="center-text">22.9mm<br>Size 13.5</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-2"><span class="center-text">23.2mm<br>Size 14</span></span></li>
									    <li class="ring-size"><span class="ring-size-circles effect-1 rsize-23-6"><span class="center-text">23.6mm<br>Size 14.5</span></span></li>
								    </ul>
							    </div>
							</div>
						</div>
						<div class="tab-pane" id="ruler">
							<div class="row mrg-sl hidden-xs">
								<div class="col-sm-7 pad-zl">
									<p class="font-mb mrg-st ring-size-para">In order to measure your finger size, cut a strip of paper and place it around your finger. Mark the spot on the paper where it completes a circle. Place the strip of paper against the on screen ruler and measure your finger.</p>
								</div>
								<div class="col-sm-5 col-xs-11 ring-size-select pad-zl">
									<label class="font-nm sort-by-options text-gray">Ring Size format: </label>
									<select id="" data-role="" class="sorter-options form-control input-sm">
					                    <option value="usa" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;USA</option>
					                    <option value="uk" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UK</option>
					                    <option value="france" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FRANCE</option>
					                    <option value="germany" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Germany</option>
						            </select>
								</div>
								<img class="img-responsive mrg-gb pad-xxl pad-gt" src='<?php echo $this->getViewFileUrl('images/ruler-banner.png'); ?>' alt="ruler-banner">
								<img class="img-responsive mrg-gb pad-xxl mrgt-xxl pad-gt hidden-xs" src='<?php echo $this->getViewFileUrl('images/ring-size-ruler.png'); ?>' alt="ring-size-ruler">
							</div>
						</div>
					</div>
				</div>
			</div>
	 	  	<div class="modal-footer tooltip-popup-footer">
				<img class="logo-popup-footer img-responsive" src='<?php echo $this->getViewFileUrl('images/emrada-logo-main.png'); ?>' alt="Emrada logo">
				<h6 class="small-footer-white">HELP CENTER</h6>
		  	</div>
		</div>
	</div>
</div> <!-- /.ring size -->
<!-- quickview -->
<div class="modal fade" id="quickview">
	<div class="modal-dialog modal-lg">
		<div class="modal-content quickview-content">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<!-- <div class="modal-body" id="quickview-file"></div> -->
			<div class="modal-body pad-zb"></div>
		</div>
	</div>
</div> <!-- /.quickview -->
<!-- login popup -->
<div class="modal fade" id="loginpopup" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	     	<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<?php echo $this->getLayout()->createBlock("Bss\SocialLogin\Block\SocialLogin\Authentication")->setTemplate("Bss_SocialLogin::popup/form/login.phtml")->toHtml(); ?>
				<?php echo $this->getLayout()->createBlock("Bss\SocialLogin\Block\SocialLogin\Authentication")->setTemplate("Bss_SocialLogin::popup/form/sociallogin.phtml")->toHtml(); ?>
			</div>
	    </div>
  	</div>
</div> <!-- /.login popup -->
<!-- forgot popup -->
<div class="modal fade" id="forgotpopup" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	     	<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<?php echo $this->getLayout()->createBlock("Bss\SocialLogin\Block\SocialLogin\Forgot")->setTemplate("Bss_SocialLogin::popup/form/forgotpassword.phtml")->toHtml(); ?>
			</div>
	    </div>
  	</div>
</div> <!-- /.forgot popup -->
<!-- register popup -->
<div class="modal fade" id="registrationpopup" tabindex="-1" role="dialog">
  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	     	<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<?php echo $this->getLayout()->createBlock("Bss\SocialLogin\Block\SocialLogin\Create")->setTemplate("Bss_SocialLogin::popup/form/register.phtml")->toHtml(); ?>
				<?php echo $this->getLayout()->createBlock("Bss\SocialLogin\Block\SocialLogin\Create")->setTemplate("Bss_SocialLogin::popup/form/sociallogin.phtml")->toHtml(); ?>
			</div>
	    </div>
  	</div>
</div> <!-- /.register popup -->
<!-- video popup modal starts-->
<div class="modal fade" id="video-popup">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<?php
				    $objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
				    $cmsPage = $objectManagerCms->get('\Magento\Cms\Model\Page');
				    $cmsPageName = $cmsPage->getIdentifier()."<br>";
				    $Identifier = $cmsPage->getId();
				    if ($Identifier == 2):
				?>
				<iframe id="video_player" class="video-frame" width="100.3%" height="345" src="https://www.youtube.com/embed/cHTBOXrSEvE">
</iframe>
			<?php elseif ($cmsPage): ?>
				<iframe id="video_player" class="video-frame" width="100.3%" height="345" src="https://www.youtube.com/embed/9Et97-vv_dM">
</iframe>
			<?php endif; ?>
			</div>
		</div>
	</div>
</div>
<!-- video popup modal ends -->