<!--Diamond carat-->
<div class="modal fade" id="diamond-carat-explained" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content tooltip-popup-content">
			<div class="popup-modal">
				<div class="modal-header tooltip-popup-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="title-left">Diamond Carat/size</h4>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="content">
							<p>A carat (ct) is an international unit of measurement used to describe the weight of diamonds, gemstones and pearls. Two diamonds of identical carat weight could have different prices depending on their cut, clarity and color gradings. A carat is equal to 0.2 g or the approximate weight of a paper clip. </p>
							<div class="row">
								<div class="col-sm-10 center-block text-center">
									<span class="text-gray text-uppercase font-df">Actual diamond size on size 6 hand</span>
									<img class="img-responsive img-hand" src='<?php echo $this->getViewFileUrl('images/hand-img.png'); ?>' alt="hand-img">
								</div>
								<img id="img-carat" src='<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-0.25.png'); ?>' alt="Diamond">
							</div>
							<img class="ring-size-img" src='<?php echo $this->getViewFileUrl('images/ring-size-img.png'); ?>' alt="ring-size-img">
							<div class="carat-range-slider">
								<div class="range-slider">
								  <span class="carat-label-left">0.25 CARAT</span>
								  <input id="range_slider_carat" class="range-slider__range atribute-slider-range" type="range" value="1" min="1" max="10" step="1">
								  <span class="range-slider__value">0</span>
								  <span class="carat-label-right">2.50 CARAT</span>
					                <div class="carat_attribute0 xsmall-black-text" style="display: block;">
					                	<span>0.25 CARAT</span>
					                </div>
					                <div class="carat_attribute1 xsmall-black-text">
					                	<span>0.50 CARAT</span>
					                </div>
					                <div class="carat_attribute2 xsmall-black-text">
					                	<span>0.75 CARAT</span>
					                </div>
					                <div class="carat_attribute3 xsmall-black-text">
					                	<span>1.00 CARAT</span>
					                </div>
					                <div class="carat_attribute4 xsmall-black-text">
					                	<span>1.25 CARAT</span>
					                </div>
					                <div class="carat_attribute5 xsmall-black-text">
					                	<span>1.50 CARAT</span>
					                </div>
					                <div class="carat_attribute6 xsmall-black-text">
					                	<span>1.75 CARAT</span>
					                </div>
					                <div class="carat_attribute7 xsmall-black-text">
					                	<span>2.00 CARAT</span>
					                </div>
					                <div class="carat_attribute8 xsmall-black-text">
					                	<span>2.25 CARAT</span>
					                </div>
					                <div class="carat_attribute9 xsmall-black-text">
					                	<span>2.50 CARAT</span>
					                </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
		</div>
	</div>
</div> <!--/.Diamond carat-->
<script>
	var img_carat_array 	= [
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-0.25.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-0.50.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-0.75.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-1.00.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-1.25.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-1.50.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-1.75.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-2.00.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-2.25.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-size-2.50.png'); ?>'
							];
    // <![CDATA[
    require(['jquery'], function ($) {
    	$('#range_slider_carat').on('change', function() {
			var thisValcarat = $(this).val() - 1,
				imgChange = $('#img-carat');
    		imgChange.attr('src', img_carat_array[thisValcarat]);
    		$('.xsmall-black-text').css('display', 'none');
    		$('.carat_attribute'+thisValcarat).fadeIn();
    	});
    });
    // ]]>

</script>