
<!--Diamond clarity-->
<div class="modal fade" id="diamond-clarity-explained" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content tooltip-popup-content">
			<div class="popup-modal">
				<div class="modal-header tooltip-popup-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="title-left">Diamond CLARITY </h4>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="content">
							<p>A tiny number of diamonds are considered to be flawless. They contain no internal faults (inclusions) or surface blemishes. Most diamonds contain some tiny inclusions that may only be visible under x10 magnification. Clarity gradings measure the quality of a diamond and affect its price. </p>
							<div class="row">
								<div class="text-center">
									<img id="img-clarity" src='<?php echo $this->getViewFileUrl('images/Wizard/S2.jpg'); ?>' alt="Diamond">
								</div>
							</div>
							<div class="clarity-range-slider" data-shikha="A">
								<div class="range-slider">
								  <input id="range_slider_clarity"  class="range-slider__range atribute-slider-range" type="range" value="1" min="1" max="8" step="1">
								  <span class="range-slider__value">0</span>
								  	<ul class="range-labels">
									  <li>SI2</li>
									  <li>SI1</li>
									  <li>VS2</li>
									  <li>VS1</li>
									  <li>VVS2</li>
									  <li>VVS1</li>
									  <li>IF</li>
									  <li>FL</li>
									</ul>
					                <div class="clarity_attribute0 diamond-attribute-pointerup" style="display: block;">
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">SI2</strong><br>
					                    <small class="small-black">SI2 diamonds have inclusions that are often visible to the naked eye, but they will not necessary be immediately obvious. Flaws can sometimes be overcome by positioning the diamond so that the flaw is hidden by the ring setting. Care should be taken when buying an SI1 diamond, but they can often result in a stunning diamond engagement ring. </small>
					                </div>
					                <div class="clarity_attribute1 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">SI1</strong><br>
					                    <small class="small-black">SI1 diamonds have inclusions that may be visible to the naked eye. This can sometimes be overcome by positioning the diamond so that the flaw is hidden by the ring setting. Care should be taken when buying an SI1 diamond, but they can often result in a stunning diamond engagement ring. </small>
					                </div>
					                <div class="clarity_attribute2 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">VS2</strong><br>
					                    <small class="small-black">Very slightly included 2. Difficult to see inclusions under 10x magnification. Typically cannot see inclusions with the naked eye. Slightly more inclusions than VS1.</small>
					                </div>
					                <div class="clarity_attribute3 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">VS1</strong><br>
					                    <small class="small-black">VS1 diamonds contain inclusions that are usually not visible to the naked eye under ordinary lighting conditions. Although not ‘technically perfect’ VSI diamonds can represent great value for money and form the centerpiece of a beautiful diamond engagement ring.</small>
					                </div>
					                <div class="clarity_attribute4 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">VVS2</strong><br>
					                    <small class="small-black">VVS2 diamonds contain inclusions (usually only visible from the crown) that cannot be seen by the naked eye. The inclusions are only visible to an expert appraiser using x10 magnification. VVS2 diamonds often have the appearance of an FL or IF stone but at a considerably cheaper price. </small>
					                </div>
					                <div class="clarity_attribute5 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">VVS1</strong><br>
					                    <small class="small-black">VVSI diamonds contain inclusions (usually only visible from the pavilion) that cannot be seen by the naked eye. The inclusions are only visible to an expert appraiser using x10 magnification. VVSI diamonds often have the appearance of an FL or IF stone but at a considerably cheaper price. </small>
					                </div>
					                <div class="clarity_attribute6 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">IF</strong><br>
					                    <small class="small-black">Flawless diamonds are free of internal inclusions, even when viewed by an expert appraiser under x10 magnification. Flawless diamonds are very rare stones that are highly sought after. </small>
					                </div>
					                <div class="clarity_attribute7 diamond-attribute-pointerup">
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">FL</strong><br>
					                    <small class="small-black">Flawless diamonds are free of internal inclusions and surface blemishes, even when viewed by an expert appraiser under x10 magnification. Flawless diamonds are exceptionally rare and are prized by collectors. </small>
					                </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
		</div>
	</div>
</div>
<script>
	var img_clarity_array  =  [
								'<?php echo $this->getViewFileUrl('images/Wizard/S2.jpg'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/S11.jpg'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/VS2.jpg'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/VS1.jpg'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/VVS2.jpg'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/VVS1.jpg'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/IF.jpg'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/FL.jpg'); ?>'
							];
    // <![CDATA[
    require(['jquery'], function ($) {
    	$('#range_slider_clarity').on('change', function() {
			var thisValClarity = $(this).val() - 1,
				imgChange = $('#img-clarity');
    		imgChange.attr('src', img_clarity_array[thisValClarity]);
    		$(this).siblings('.diamond-attribute-pointerup').css('display', 'none');
    		$(this).siblings('.clarity_attribute'+thisValClarity).show();
    	});
    });
    // ]]>
</script>