<!--Diamond cut-->
<div class="modal fade" id="diamond-cut-explained" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content tooltip-popup-content">
			<div class="popup-modal">
				<div class="modal-header tooltip-popup-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="title-left">Diamond CUT </h4>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="content">
							<p>Naturally occuring rough diamonds must be cut before they can be used as jewelry. The quality of the cut affects how light is refracted and reflected by the diamond, creating fire, brilliance and scintillation. The higher the cut grading the better the quality of the diamond.    </p>
							<div class="text-center">
								<img id="img-cut" src='<?php echo $this->getViewFileUrl('images/Wizard/super-ideal.png'); ?>' alt="Diamond">
								<!-- <img id="diamond-large-cut" src='<?php echo $this->getViewFileUrl('images/Wizard/diamond-large.png'); ?>' alt="Diamond"> -->
							</div>
							<div class="cut-range-slider">
								<div class="range-slider">
								  	<ul class="range-labels">
									  <li>TRIPLE EX </li>
									  <li>EXCELLENT</li>
									  <li>VERY GOOD</li>
									  <li>GOOD</li>
									  <li>FAIR</li>
									</ul>
								  <input id="range_slider" class="range-slider__range atribute-slider-range" type="range" value="1" min="1" max="5" step="1">
								  <span class="range-slider__value">0</span>
					                <div class="cut_attribute0 diamond-attribute-pointerup" style="display: block;">
					                    <small class="xsmall-black">DIAMOND CUT</small><br>
					                    <strong class="strong-white">Triple EX </strong><br>
					                    <small class="small-black">A Triple EX cut diamond is a rare stone that epitomises luxury and perfection. Triple Ex cut diamonds combine three Excellent gradings:
					                    	<ul>
					                    		<li>Cut - Excellent</li>
					                    		<li>Polish - Excellent</li>
												<li>Symmetry - Excellent</li>
					                    	</ul>
					                    These unique diamonds sparkle and scintillate with a blaze of fire and brilliance. They are a special purchase that will become a personal treasure. </small>
					                </div>
					                <div class="cut_attribute1 diamond-attribute-pointerup">
					                    <small class="xsmall-black">DIAMOND CUT</small><br>
					                    <strong class="strong-white">Excellent</strong><br>
					                    <small class="small-black">Excellent cut diamonds display maximal fire and brilliance. Nearly all light is reflected and refracted resulting in a stunning diamond that flashes and glitters with every tiny movement. </small>
					                </div>
					                <div class="cut_attribute2 diamond-attribute-pointerup">
					                    <small class="xsmall-black">DIAMOND CUT</small><br>
					                    <strong class="strong-white">VERY GOOD</strong><br>
					                    <small class="small-black">A Very Good graded diamond has most of the superior qualities of an Excellent cut, but for a lower price. A Very Good diamond will easily impress with its fire and brilliance and is an excellent choice. </small>
					                </div>
					                <div class="cut_attribute3 diamond-attribute-pointerup">
					                    <small class="xsmall-black">DIAMOND CUT</small><br>
					                    <strong class="strong-white">GOOD</strong><br>
					                    <small class="small-black">A Good diamond reflects most of the light that enters the stone, creating a high standard of fire and brilliance. A Good cut represents great value for money and is a very popular purchase. </small>
					                </div>
					                <div class="cut_attribute4 diamond-attribute-pointerup">
					                    <small class="xsmall-black">DIAMOND CUT</small><br>
					                    <strong class="strong-white">FAIR</strong><br>
					                    <small class="small-black">Adequate quality cut which reflects some light while maximizing weight. While not as brilliant as a good cut, still a quality diamond.</small>
					                </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
		</div>
	</div>
</div> <!--/.Diamond cut-->
<script>
	var img_cut_array 	= 	[
								'<?php echo $this->getViewFileUrl('images/Wizard/super-ideal.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/ideal.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/very-good.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/good.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/fair.png'); ?>'
							];

    // <![CDATA[
    require(['jquery'], function ($) {
    	$('#range_slider').on('change', function() {
			var thisVal = $(this).val() - 1,
				imgChange = $('#img-cut');
    		imgChange.attr('src', img_cut_array[thisVal]);
    		$('.diamond-attribute-pointerup').css('display', 'none');
    		$('.cut_attribute'+thisVal).fadeIn();
    	});
    });
    // ]]>
</script>