<!--Diamond color-->
<div class="modal fade" id="diamond-color-explained" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content tooltip-popup-content">
			<div class="popup-modal">
				<div class="modal-header tooltip-popup-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="title-left">Diamond COLOR </h4>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="content">
							<p>Color is the natural color visible in a diamond and does not change over time. Colorless diamonds allow more light to pass through than a colored diamond, releasing more sparkle and fire.</p>
							<div class="row">
								<div class="col-sm-6 center-block">
									<img id="img-color" src='<?php echo $this->getViewFileUrl('images/Wizard/diamond-color-j.png'); ?>' alt="Diamond">
								</div>
							</div>
							<div class="color-range-slider">
								<div class="range-slider">
								  <input id="range_slider_color" class="range-slider__range atribute-slider-range" type="range" value="1" min="1" max="7" step="1">
								  <span class="range-slider__value">0</span>
								  	<ul class="range-labels">
									  <li>J</li>
									  <li>I</li>
									  <li>H</li>
									  <li>G</li>
									  <li>F</li>
									  <li>E</li>
									  <li>D</li>
									</ul>
					                <div class="color_attribute0 diamond-attribute-pointerup" style="display: block;">
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">J</strong><br>
					                    <small class="small-black">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</small>
					                </div>
					                <div class="color_attribute1 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">I</strong><br>					                    
					                    <small class="small-black">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</small>
					                </div>
					                <div class="color_attribute2 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">H</strong><br>
					                    <small class="small-black">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</small>
					                </div>
					                <div class="color_attribute3 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">G</strong><br>
					                    <small class="small-black">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</small>
					                </div>
					                <div class="color_attribute4 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">F</strong><br>
					                    <small class="small-black">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</small>
					                </div>
					                <div class="color_attribute5 diamond-attribute-pointerup">
					                	<span class="white-block-atri"></span>
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">E</strong><br>
					                    <small class="small-black">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</small>
					                </div>
					                <div class="color_attribute6 diamond-attribute-pointerup">
					                    <small class="xsmall-black">DIAMOND COLOR</small><br>
					                    <strong class="strong-white">D</strong><br>
					                    <small class="small-black">Superior quality cut that reflects nearly as much light as the ideal cut whiile at a substantially lower.</small>
					                </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
		</div>
	</div>
</div> <!--/.Diamond color-->
<script>
	var img_color_array  =  [
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-color-j.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-color-I.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-color-H.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-color-G.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-color-F.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-color-E.png'); ?>',
								'<?php echo $this->getViewFileUrl('images/Wizard/diamond-color-D.png'); ?>'
							];
    // <![CDATA[
    require(['jquery'], function ($) {
    	$('#range_slider_color').on('change', function() {
			var thisValColor = $(this).val() - 1,
				imgChange = $('#img-color');
    		imgChange.attr('src', img_color_array[thisValColor]);
    		$(this).siblings('.diamond-attribute-pointerup').css('display', 'none');
    		$(this).siblings('.color_attribute'+thisValColor).fadeIn();
    	});
    });
    // ]]>
</script>