<link rel="stylesheet" href="<?php echo $this->getUrl(); ?>assets/fonts.css">
<div class="modal fade " id="add_inscription" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content incription-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix">
					<div class="col-md-12 col-sm-12">
						<div class="popup-content">
							<h3 class="sub-title">ADD AN INSCRIPTION</h3>
							<form class="form1" method="post"   onsubmit="return mySubmitFunction();" >
								<div class="form-group">
								  <div class="col-sm-11 center-block">
								  	<input type="text"  name="username" id="arctextbox" class="form-control inscription-input text-center" maxlength="20" placeholder="Type here your Inscription" onFocus="countChars('arctextbox','char_count',20)" onKeyDown="countChars('arctextbox','char_count',20)" onKeyUp="countChars('arctextbox','char_count',20)">
									<h6 class="grey-small"><span id="char_count">20</span> Characters Left</h6>
								  </div>
								</div>
								<h4><span class="titlefont"> CHOOSE LETTER TYPE </span></h4>
								<div class="form-group font-change"> 
									<label class="btn btn-default first-style active">
										<input type="radio"  name="fonts" id="fonts" value="BodoniXT" autocomplete="off" onClick="document.getElementById('arcText').style.fontFamily = 'BodoniXT';" checked="">Aa
									</label> 
									<label class="btn btn-default second-style">
										<input type="radio" name="fonts" id="fontsz" value="signature_of_the_ancient_Rg" style="font-size: 30px;" autocomplete="off" onClick="document.getElementById('arcText').style.fontFamily = 'signature_of_the_ancient_Rg';">Aa
									</label> 
								</div>
								
								<div class="Preview">
									<p class="grey-small"> PREVIEW </p>
									<h3 class="example1 font_1" style="text-shadow: rgb(227, 227, 227) 1px 1px; display: block;">
										<div id="arcText" style="font-size: 15px;color: black;text-transform: uppercase;"></div>
									</h3>
									<button onclick="saveInscription();" data-dismiss="modal" class="submit .transparentButton btn btn-dark save btn-lg" name="Submit">SAVE</button>
									<div>
										<button type="button" class="btn btn-secondary cancel" id="InscriptionClose" data-dismiss="modal">CANCEL</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    function countChars(arctextbox, counter, max) {
    	var curcount = document.getElementById(arctextbox).value.length;
    	var res = Number(max)-Number(curcount);
    	//console.log('>>>>>Res'+res);
    	 document.getElementById('char_count').innerHTML = res;
    	 populatedataonArc(arctextbox);
    	//alert(arctextbox+'<<>>'+counter+'<<>>'+max+'<<>>'+curcount);
		/*var count = max - document.getElementById(arctextbox).value.length;
		var x = document.getElementById("arctextbox").value;
		document.getElementById("arcText").innerHTML = "" + x;
		document.getElementById("incription_message").innerHTML = "" + x;
		if (count < 0) { document.getElementById(counter).innerHTML = "<span style=\"color: red;\">" + count + "</span>"; }
		else { document.getElementById(counter).innerHTML = count; }*/
    }
    function changeFont(font){
        document.getElementById("arcText").style.fontFamily = font.value;
    }
    function populatedataonArc(arctextbox){
    	var curcount = document.getElementById(arctextbox).value.length;
    	if(curcount<=5){
    		document.getElementById("arcText").innerHTML = document.getElementById(arctextbox).value;
    	}
    	if(curcount==6){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[5]+'</span>';	
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==7){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-3deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-1deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(3deg);">'+arrayOfText[6]+'</span>';	
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==8){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-4deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-3deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(4deg);">'+arrayOfText[7]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==9){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-4deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-3deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(3deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(4deg);">'+arrayOfText[8]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==10){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(-5deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-4deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-3deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-1deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(3deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(4deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(5deg);">'+arrayOfText[9]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==11){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(-6deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(-5deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-3deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-1deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(3deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(4deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(5deg);">'+arrayOfText[10]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==12){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(-6deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(-5deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-4deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-1deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(4deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(5deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(6deg);">'+arrayOfText[11]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==13){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(4px) rotate(-7deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(-6deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-4deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-3deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-1deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(3deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(4deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(5deg);">'+arrayOfText[11]+'</span>';
			   htmlOutput += '<span class="char13" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(6deg);">'+arrayOfText[12]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==14){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(4px) rotate(-7deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(-6deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(-5deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-4deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-3deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(3deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(5deg);">'+arrayOfText[11]+'</span>';
			   htmlOutput += '<span class="char13" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(6deg);">'+arrayOfText[12]+'</span>';
			   htmlOutput += '<span class="char14" style="display: inline-block; transition: none; transform: translateX(0px) translateY(4px) rotate(7deg);">'+arrayOfText[13]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==15){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block;transition: none;transform: translateX(0px) translateY(5px) rotate(-8deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block;transition: none;transform: translateX(0px) translateY(3px) rotate(-7deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block;transition: none;transform: translateX(0px) translateY(2px) rotate(-6deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(-4deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(-3deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-2px) rotate(-2deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-2px) rotate(-1deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-2px) rotate(0deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-2px) rotate(0deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-2px) rotate(1deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-2px) rotate(3deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(4deg);">'+arrayOfText[11]+'</span>';
			   htmlOutput += '<span class="char13" style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(5deg);">'+arrayOfText[12]+'</span>';
			   htmlOutput += '<span class="char14" style="display: inline-block;transition: none;transform: translateX(0px) translateY(2px) rotate(7deg);">'+arrayOfText[13]+'</span>';
			   htmlOutput += '<span class="char15" style="display: inline-block;transition: none;transform: translateX(0px) translateY(5px) rotate(8deg);">'+arrayOfText[14]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==16){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(6px) rotate(-9deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(5px) rotate(-8deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(-6deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(-5deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-4deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-3deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(3deg);">'+arrayOfText[11]+'</span>';
			   htmlOutput += '<span class="char13" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(5deg);">'+arrayOfText[12]+'</span>';
			   htmlOutput += '<span class="char14" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(6deg);">'+arrayOfText[13]+'</span>';
			   htmlOutput += '<span class="char15" style="display: inline-block; transition: none; transform: translateX(0px) translateY(4px) rotate(7deg);">'+arrayOfText[14]+'</span>';
			   htmlOutput += '<span class="char16" style="display: inline-block; transition: none; transform: translateX(0px) translateY(6px) rotate(8deg);">'+arrayOfText[15]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==17){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1" style="display: inline-block; transition: none; transform: translateX(0px) translateY(7px) rotate(-10deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2" style="display: inline-block; transition: none; transform: translateX(0px) translateY(6px) rotate(-9deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3" style="display: inline-block; transition: none; transform: translateX(0px) translateY(4px) rotate(-7deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(-6deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(-5deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(-4deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(-1deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block; transition: none; transform: translateX(0px) translateY(0px) rotate(3deg);">'+arrayOfText[11]+'</span>';
			   htmlOutput += '<span class="char13" style="display: inline-block; transition: none; transform: translateX(0px) translateY(1px) rotate(4deg);">'+arrayOfText[12]+'</span>';
			   htmlOutput += '<span class="char14" style="display: inline-block; transition: none; transform: translateX(0px) translateY(2px) rotate(5deg);">'+arrayOfText[13]+'</span>';
			   htmlOutput += '<span class="char15" style="display: inline-block; transition: none; transform: translateX(0px) translateY(3px) rotate(6deg);">'+arrayOfText[14]+'</span>';
			   htmlOutput += '<span class="char16" style="display: inline-block; transition: none; transform: translateX(0px) translateY(5px) rotate(8deg);">'+arrayOfText[15]+'</span>';
			   htmlOutput += '<span class="char17" style="display: inline-block; transition: none; transform: translateX(0px) translateY(7px) rotate(9deg);">'+arrayOfText[16]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==18){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(8px) rotate(-12deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(7px) rotate(-11deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(5px) rotate(-9deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(3px) rotate(-8deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(2px) rotate(-7deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(1px) rotate(-6deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(-5deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(-3deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(-2deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(-1deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(0deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(1deg);">'+arrayOfText[11]+'</span>';
			   htmlOutput += '<span class="char13" style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[12]+'</span>';
			   htmlOutput += '<span class="char14" style="display: inline-block;transition: none;transform: translateX(0px) translateY(1px) rotate(3deg);">'+arrayOfText[13]+'</span>';
			   htmlOutput += '<span class="char15" style="display: inline-block;transition: none;transform: translateX(0px) translateY(2px) rotate(4deg);">'+arrayOfText[14]+'</span>';
			   htmlOutput += '<span class="char16" style="display: inline-block;transition: none;transform: translateX(0px) translateY(4px) rotate(6deg);">'+arrayOfText[15]+'</span>';
			   htmlOutput += '<span class="char17" style="display: inline-block;transition: none;transform: translateX(0px) translateY(6px) rotate(7deg);">'+arrayOfText[16]+'</span>';
			   htmlOutput += '<span class="char18" style="display: inline-block;transition: none;transform: translateX(0px) translateY(9px) rotate(8deg);">'+arrayOfText[17]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}  	
    	if(curcount==19){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(9px) rotate(-12deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(8px) rotate(-11deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(6px) rotate(-9deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(4px) rotate(-8deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(3px) rotate(-7deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(2px) rotate(-6deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(1px) rotate(-5deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(1px) rotate(-3deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(-2deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(-1deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(0deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(1deg);">'+arrayOfText[11]+'</span>';
			   htmlOutput += '<span class="char13" style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(2deg);">'+arrayOfText[12]+'</span>';
			   htmlOutput += '<span class="char14" style="display: inline-block;transition: none;transform: translateX(0px) translateY(1px) rotate(3deg);">'+arrayOfText[13]+'</span>';
			   htmlOutput += '<span class="char15" style="display: inline-block;transition: none;transform: translateX(0px) translateY(2px) rotate(4deg);">'+arrayOfText[14]+'</span>';
			   htmlOutput += '<span class="char16" style="display: inline-block;transition: none;transform: translateX(0px) translateY(3px) rotate(6deg);">'+arrayOfText[15]+'</span>';
			   htmlOutput += '<span class="char17" style="display: inline-block;transition: none;transform: translateX(0px) translateY(5px) rotate(7deg);">'+arrayOfText[16]+'</span>';
			   htmlOutput += '<span class="char18" style="display: inline-block;transition: none;transform: translateX(0px) translateY(7px) rotate(8deg);">'+arrayOfText[17]+'</span>';
			   htmlOutput += '<span class="char19" style="display: inline-block;transition: none;transform: translateX(0px) translateY(9px) rotate(10deg);">'+arrayOfText[18]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    	if(curcount==20){
    	   var arcOriginaltext =  document.getElementById(arctextbox).value;
           var arrayOfText = arcOriginaltext.split("");
           var htmlOutput = '<span class="char1 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(10px) rotate(-12deg);">'+arrayOfText[0]+'</span>';
               htmlOutput += '<span class="char2 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(7px) rotate(-11deg);">'+arrayOfText[1]+'</span>';
               htmlOutput += '<span class="char3 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(5px) rotate(-9deg);">'+arrayOfText[2]+'</span>';
			   htmlOutput += '<span class="char4 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(3px) rotate(-8deg);">'+arrayOfText[3]+'</span>';
			   htmlOutput += '<span class="char5 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(2px) rotate(-7deg);">'+arrayOfText[4]+'</span>';
			   htmlOutput += '<span class="char6 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(1px) rotate(-6deg);">'+arrayOfText[5]+'</span>';	
			   htmlOutput += '<span class="char7 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(-5deg);">'+arrayOfText[6]+'</span>';	
			   htmlOutput += '<span class="char8 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(-3deg);">'+arrayOfText[7]+'</span>';
			   htmlOutput += '<span class="char9 " style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(-2deg);">'+arrayOfText[8]+'</span>';
			   htmlOutput += '<span class="char10" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(-1deg);">'+arrayOfText[9]+'</span>';
			   htmlOutput += '<span class="char11" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(0deg);">'+arrayOfText[10]+'</span>';
			   htmlOutput += '<span class="char12" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(1deg);">'+arrayOfText[11]+'</span>';
			   htmlOutput += '<span class="char13" style="display: inline-block;transition: none;transform: translateX(0px) translateY(-1px) rotate(2deg);">'+arrayOfText[12]+'</span>';
			   htmlOutput += '<span class="char14" style="display: inline-block;transition: none;transform: translateX(0px) translateY(0px) rotate(3deg);">'+arrayOfText[13]+'</span>';
			   htmlOutput += '<span class="char15" style="display: inline-block;transition: none;transform: translateX(0px) translateY(1px) rotate(4deg);">'+arrayOfText[14]+'</span>';
			   htmlOutput += '<span class="char16" style="display: inline-block;transition: none;transform: translateX(0px) translateY(2px) rotate(6deg);">'+arrayOfText[15]+'</span>';
			   htmlOutput += '<span class="char17" style="display: inline-block;transition: none;transform: translateX(0px) translateY(3px) rotate(7deg);">'+arrayOfText[16]+'</span>';
			   htmlOutput += '<span class="char18" style="display: inline-block;transition: none;transform: translateX(0px) translateY(5px) rotate(8deg);">'+arrayOfText[17]+'</span>';
			   htmlOutput += '<span class="char19" style="display: inline-block;transition: none;transform: translateX(0px) translateY(8px) rotate(10deg);">'+arrayOfText[18]+'</span>';
			   htmlOutput += '<span class="char20" style="display: inline-block;transition: none;transform: translateX(0px) translateY(11px) rotate(11deg);">'+arrayOfText[19]+'</span>';
				document.getElementById("arcText").innerHTML = htmlOutput;
    	}
    }
</script>