<div class="container">
	<div class="modal fade in" id="style-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('style-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="shape-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('shape-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="metal-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('metal-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="polish-diamond-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('polish-diamond-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="fluorescence-diamond-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('fluorescence-diamond-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="eye-clean-score" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('eye-clean-score')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="symmetry-diamond-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('symmetry-diamond-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="certificate-diamond-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('certificate-diamond-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="color-diamond-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('color-diamond-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="table-diamond-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('table-diamond-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="depth-diamond-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('depth-diamond-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="algorithm-slider-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('algorithm-slider-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="intensity-diamond-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('intensity-diamond-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="women-style-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('women-style-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="men-style-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('men-style-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="necklace-style-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('necklace-style-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="bracelets-style-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('bracelets-style-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="earrings-style-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('earrings-style-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="modal fade in" id="gemstones-color-attribute" role="dialog">
		<div class="modal-dialog shape-default-popup">
		    <div class="modal-content shape-popup-content tooltip-popup-content">
			    <div class="popup-modal">
				    <div class="modal-body">
				        <div class="clearfix">
							<div class="popup-content">
								<div id="exTab2">
									<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('gemstones-color-attribute')->toHtml();?>
								</div>
				            </div>
				        </div>
				    </div>
			    </div>
			<?php include ($block->getTemplateFile('Magento_Theme::help-center.phtml')) ?>
			</div>
		</div>
	</div>
</div>