<!-- <div class="gia-img" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php //echo $this->getViewFileUrl('images/gia-certificate.png') ?>" ><i class="em em-gia em-4x"></i>
</div> -->
<?php 
    $_getMyAttr = $_product->getResource()->getAttribute('stone_grading_lab');
    if ($_getMyAttr) {$cirtificate_image = $_getMyAttr->getFrontend()->getValue($_product);}
    ?>  

<?php if(strtolower($cirtificate_image) != 'no'): ?>
<?php
    $ProductId = $product->getId(); 
    $filesize = "";
    $filename = 'idex/pdf/certificate_'.$ProductId.'.pdf';
    if (file_exists($filename)) {
        $filesize = filesize($filename);
        $filesize = round($filesize / 1024, 2);
    }
    $cirtificate_image = "";
    $cirtificate = array(
    'AGS'=>'ags-certificate.jpg',
    'EGL'=>'egl-certificate.jpg',
    'GIA'=>'gia-certificate.jpg',
    'GS'=>'gs-certificate.jpg',
    'HRD'=>'hrd-certificate.jpg',
    'IGI'=>'igi-certificate.jpg',
    'IGL'=>'igl-certificate.jpg',
    'VGR'=>'vgr-certificate.jpg',
    );
    //echo "The size of your file is $filesize.";
    $defult_path = $this->getViewFileUrl('images/'.$cirtificate[$cirtificate_image]);
    if (file_exists($filename) && $filesize > 100) {
        echo'<li><div class="gia-img" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'" ><i class="em em-'.strtolower($cirtificate_image).' em-4x"></i>
            </div></li>';
    } else if($filesize < 100) {
        echo'<li><div class="gia-img" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'" ><i class="em em-'.strtolower($cirtificate_image).' em-4x"></i>
            </div></li>';
    }
?> 
<?php endif; ?>  
