<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Wishlist\Block\Link */
$Href='';
$WishCount=0;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$whishlishCollection = $objectManager->create('\Magento\Wishlist\Model\ResourceModel\Item\Collection');
if ($customerSession->isLoggedIn()) {
$whishlishCollection=$whishlishCollection->addCustomerIdFilter($customerSession->getCustomerId());
   $Href='href="'.$this->getUrl().'wishlist"';
   $WishCount=count($whishlishCollection);
}
?>
<li class="link wishlist" data-bind="scope: 'wishlist'">
    <a <?php echo $Href; ?>><i class="em em-heart"></i>
        
        <span class="counter qty label"><?php echo $WishCount; ?></span>
      
    </a>
</li>