
<div id="mz-fav-jewellery" class="tab-pane fade">
    <div class="diamond-earrings pad-gt pad-gb">
        <h4>Diamond Earrings (4)</h4>
        <div class="mrg-zl pad-xt pad-xb font-sb my-favorite-header pad-zl text-center">
            <div class="row">
                <div class="col-sm-2">
                    <span class="font-sb pull-right">SHAPE <i class="fa fa-angle-down font-df font-bd" aria-hidden="true"></i></span>
                </div>
                <div class="col-sm-6 pad-zl pad-zr">
                    <div class="col-sm-3">
                        <span class="font-sb">METAL TYPE</span>
                    </div>
                    <div class="col-sm-3 pad-zl">
                        <span class="font-sb">METAL WEIGHT</span>
                    </div>
                    <div class="col-sm-3 pad-zl">
                        <span class="font-sb">SIDE STONE</span>
                    </div>
                    <div class="col-sm-3 pad-zl">
                        <span class="font-sb">TOTAL CARAT</span>
                    </div>
                </div>
                <div class="col-sm-1 pad-zl">
                    <span class="font-sb">ID</span>
                </div>
                <div class="col-sm-1 pad-zl">
                    <span class="font-sb">PRICE</span>
                </div>
                <div class="col-sm-1">
                    <span class="font-sb"></span>
                </div>
                <div class="col-sm-1">
                    <span class="font-sb"></span>
                </div>
            </div>
        </div>
        <div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
            <div class="row">
                <div class="col-sm-2">
                <i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
                <img class="favourite-product-img" src="http://placehold.it/35/" alt="">
                <span class="font-sb mrg-gl">ROUND</span>
            </div>
            <div class="col-sm-6 pad-zl pad-zr">
                <div class="col-sm-3">
                    <span class="font-sb">WHITE GOLD</span>
                </div>
                <div class="col-sm-3">
                    <span class="font-sb">18K</span>
                </div>
                <div class="col-sm-3">
                    <span class="font-sb">SIDE STONE</span>
                </div>
                <div class="col-sm-3">
                    <span class="font-sb">18K</span>
                </div>
            </div>
            <div class="col-sm-1">
                <span class="font-sb">1234567</span>
            </div>
            <div class="col-sm-1">
                <span class="font-sb">$980</span>
            </div>
            <div class="col-sm-1">
                <span class="font-sm btn btn-link marg-bn">VIEW</span>
            </div>
            <div class="col-sm-1 pad-zl">
                <span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
            </div>
        </div>
    </div>
    <div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
        <div class="row">
            <div class="col-sm-2">
            <i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
            <img class="favourite-product-img" src="http://placehold.it/35/" alt="">
            <span class="font-sb mrg-gl">ROUND</span>
        </div>
        <div class="col-sm-6 pad-zl pad-zr">
            <div class="col-sm-3">
                <span class="font-sb">WHITE GOLD</span>
            </div>
            <div class="col-sm-3">
                <span class="font-sb">18K</span>
            </div>
            <div class="col-sm-3">
                <span class="font-sb">SIDE STONE</span>
            </div>
            <div class="col-sm-3">
                <span class="font-sb">18K</span>
            </div>
        </div>
        <div class="col-sm-1">
            <span class="font-sb">1234567</span>
        </div>
        <div class="col-sm-1">
            <span class="font-sb">$980</span>
        </div>
        <div class="col-sm-1">
            <span class="font-sm btn btn-link marg-bn">VIEW</span>
        </div>
        <div class="col-sm-1 pad-zl">
            <span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
        </div>
    </div>
</div>
<div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
    <div class="row">
        <div class="col-sm-2">
        <i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
        <img class="favourite-product-img" src="http://placehold.it/35/" alt="">
        <span class="font-sb mrg-gl">ROUND</span>
    </div>
    <div class="col-sm-6 pad-zl pad-zr">
        <div class="col-sm-3">
            <span class="font-sb">WHITE GOLD</span>
        </div>
        <div class="col-sm-3">
            <span class="font-sb">18K</span>
        </div>
        <div class="col-sm-3">
            <span class="font-sb">SIDE STONE</span>
        </div>
        <div class="col-sm-3">
            <span class="font-sb">18K</span>
        </div>
    </div>
    <div class="col-sm-1">
        <span class="font-sb">1234567</span>
    </div>
    <div class="col-sm-1">
        <span class="font-sb">$980</span>
    </div>
    <div class="col-sm-1">
        <span class="font-sm btn btn-link marg-bn">VIEW</span>
    </div>
    <div class="col-sm-1 pad-zl">
        <span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
    </div>
</div>
</div>
</div>
<div class="diamond-earrings pad-gt pad-gb">
<h4>Diamond Rings (3)</h4>
<div class="mrg-zl pad-xt pad-xb font-sb my-favorite-header pad-zl text-center">
<div class="row">
    <div class="col-sm-2">
        <span class="font-sb pull-right">SHAPE <i class="fa fa-angle-down font-df font-bd" aria-hidden="true"></i></span>
    </div>
    <div class="col-sm-6 pad-zl pad-zr">
        <div class="col-sm-3">
            <span class="font-sb">METAL TYPE</span>
        </div>
        <div class="col-sm-3 pad-zl">
            <span class="font-sb">METAL WEIGHT</span>
        </div>
        <div class="col-sm-3 pad-zl">
            <span class="font-sb">SIDE STONE</span>
        </div>
        <div class="col-sm-3 pad-zl">
            <span class="font-sb">TOTAL CARAT</span>
        </div>
    </div>
    <div class="col-sm-1 pad-zl">
        <span class="font-sb">ID</span>
    </div>
    <div class="col-sm-1 pad-zl">
        <span class="font-sb">PRICE</span>
    </div>
    <div class="col-sm-1">
        <span class="font-sb"></span>
    </div>
    <div class="col-sm-1">
        <span class="font-sb"></span>
    </div>
</div>
</div>
<div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
<div class="row">
    <div class="col-sm-2">
    <i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
    <img class="favourite-product-img" src="http://placehold.it/35/" alt="">
    <span class="font-sb mrg-gl">ROUND</span>
</div>
<div class="col-sm-6 pad-zl pad-zr">
    <div class="col-sm-3">
        <span class="font-sb">WHITE GOLD</span>
    </div>
    <div class="col-sm-3">
        <span class="font-sb">18K</span>
    </div>
    <div class="col-sm-3">
        <span class="font-sb">SIDE STONE</span>
    </div>
    <div class="col-sm-3">
        <span class="font-sb">18K</span>
    </div>
</div>
<div class="col-sm-1">
    <span class="font-sb">1234567</span>
</div>
<div class="col-sm-1">
    <span class="font-sb">$980</span>
</div>
<div class="col-sm-1">
    <span class="font-sm btn btn-link marg-bn">VIEW</span>
</div>
<div class="col-sm-1 pad-zl">
    <span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
</div>
</div>
</div>
<div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
<div class="row">
<div class="col-sm-2">
<i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
<img class="favourite-product-img" src="http://placehold.it/35/" alt="">
<span class="font-sb mrg-gl">ROUND</span>
</div>
<div class="col-sm-6 pad-zl pad-zr">
<div class="col-sm-3">
    <span class="font-sb">WHITE GOLD</span>
</div>
<div class="col-sm-3">
    <span class="font-sb">18K</span>
</div>
<div class="col-sm-3">
    <span class="font-sb">SIDE STONE</span>
</div>
<div class="col-sm-3">
    <span class="font-sb">18K</span>
</div>
</div>
<div class="col-sm-1">
<span class="font-sb">1234567</span>
</div>
<div class="col-sm-1">
<span class="font-sb">$980</span>
</div>
<div class="col-sm-1">
<span class="font-sm btn btn-link marg-bn">VIEW</span>
</div>
<div class="col-sm-1 pad-zl">
<span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
</div>
</div>
</div>
<div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
<div class="row">
<div class="col-sm-2">
<i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
<img class="favourite-product-img" src="http://placehold.it/35/" alt="">
<span class="font-sb mrg-gl">ROUND</span>
</div>
<div class="col-sm-6 pad-zl pad-zr">
<div class="col-sm-3">
<span class="font-sb">WHITE GOLD</span>
</div>
<div class="col-sm-3">
<span class="font-sb">18K</span>
</div>
<div class="col-sm-3">
<span class="font-sb">SIDE STONE</span>
</div>
<div class="col-sm-3">
<span class="font-sb">18K</span>
</div>
</div>
<div class="col-sm-1">
<span class="font-sb">1234567</span>
</div>
<div class="col-sm-1">
<span class="font-sb">$980</span>
</div>
<div class="col-sm-1">
<span class="font-sm btn btn-link marg-bn">VIEW</span>
</div>
<div class="col-sm-1 pad-zl">
<span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
</div>
</div>
</div>
</div>
<div class="diamond-earrings pad-gt pad-gb">
<h4>Diamond Pendants (4)</h4>
<div class="mrg-zl pad-xt pad-xb font-sb my-favorite-header pad-zl text-center">
<div class="row">
<div class="col-sm-2">
<span class="font-sb pull-right">SHAPE <i class="fa fa-angle-down font-df font-bd" aria-hidden="true"></i></span>
</div>
<div class="col-sm-6 pad-zl pad-zr">
<div class="col-sm-3">
<span class="font-sb">METAL TYPE</span>
</div>
<div class="col-sm-3 pad-zl">
<span class="font-sb">METAL WEIGHT</span>
</div>
<div class="col-sm-3 pad-zl">
<span class="font-sb">SIDE STONE</span>
</div>
<div class="col-sm-3 pad-zl">
<span class="font-sb">TOTAL CARAT</span>
</div>
</div>
<div class="col-sm-1 pad-zl">
<span class="font-sb">ID</span>
</div>
<div class="col-sm-1 pad-zl">
<span class="font-sb">PRICE</span>
</div>
<div class="col-sm-1">
<span class="font-sb"></span>
</div>
<div class="col-sm-1">
<span class="font-sb"></span>
</div>
</div>
</div>
<div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
<div class="row">
<div class="col-sm-2">
<i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
<img class="favourite-product-img" src="http://placehold.it/35/" alt="">
<span class="font-sb mrg-gl">ROUND</span>
</div>
<div class="col-sm-6 pad-zl pad-zr">
<div class="col-sm-3">
<span class="font-sb">WHITE GOLD</span>
</div>
<div class="col-sm-3">
<span class="font-sb">18K</span>
</div>
<div class="col-sm-3">
<span class="font-sb">SIDE STONE</span>
</div>
<div class="col-sm-3">
<span class="font-sb">18K</span>
</div>
</div>
<div class="col-sm-1">
<span class="font-sb">1234567</span>
</div>
<div class="col-sm-1">
<span class="font-sb">$980</span>
</div>
<div class="col-sm-1">
<span class="font-sm btn btn-link marg-bn">VIEW</span>
</div>
<div class="col-sm-1 pad-zl">
<span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
</div>
</div>
</div>
<div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
<div class="row">
<div class="col-sm-2">
<i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
<img class="favourite-product-img" src="http://placehold.it/35/" alt="">
<span class="font-sb mrg-gl">ROUND</span>
</div>
<div class="col-sm-6 pad-zl pad-zr">
<div class="col-sm-3">
<span class="font-sb">WHITE GOLD</span>
</div>
<div class="col-sm-3">
<span class="font-sb">18K</span>
</div>
<div class="col-sm-3">
<span class="font-sb">SIDE STONE</span>
</div>
<div class="col-sm-3">
<span class="font-sb">18K</span>
</div>
</div>
<div class="col-sm-1">
<span class="font-sb">1234567</span>
</div>
<div class="col-sm-1">
<span class="font-sb">$980</span>
</div>
<div class="col-sm-1">
<span class="font-sm btn btn-link marg-bn">VIEW</span>
</div>
<div class="col-sm-1 pad-zl">
<span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
</div>
</div>
</div>
<div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm text-center">
<div class="row">
<div class="col-sm-2">
<i class="fa fa-trash font-df pad-xl font-bd" aria-hidden="true"></i></span>
<img class="favourite-product-img" src="http://placehold.it/35/" alt="">
<span class="font-sb mrg-gl">ROUND</span>
</div>
<div class="col-sm-6 pad-zl pad-zr">
<div class="col-sm-3">
<span class="font-sb">WHITE GOLD</span>
</div>
<div class="col-sm-3">
<span class="font-sb">18K</span>
</div>
<div class="col-sm-3">
<span class="font-sb">SIDE STONE</span>
</div>
<div class="col-sm-3">
<span class="font-sb">18K</span>
</div>
</div>
<div class="col-sm-1">
<span class="font-sb">1234567</span>
</div>
<div class="col-sm-1">
<span class="font-sb">$980</span>
</div>
<div class="col-sm-1">
<span class="font-sm btn btn-link marg-bn">VIEW</span>
</div>
<div class="col-sm-1 pad-zl">
<span class="font-lt btn btn-grey font-xs  label label-default label-width pad-dr pad-dl">SELECT</span>
</div>
</div>
</div>
</div>
</div>
<div id="menu2" class="tab-pane fade">
<h3>Menu 2</h3>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
</div>
</div>