<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Wishlist\Block\Customer\Wishlist */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
#$WishlistFact = $objectManager->get('Magento\Wishlist\Model\Item')->create();
$CustomerSession = $objectManager->create('\Magento\Customer\Model\Session');
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$currency = $objectManager->get('\Magento\Directory\Model\Currency');
 #$collection = $WishlistFact->addCustomerIdFilter($CustomerSession->getCustomerId());
$stoneArr=array(47,46,45,24,23,22,44,43,42,41,20,15);
$jewellery=array(37,38,39,40,27,28,29,30,17,18,19);
$whishlishCollection = $objectManager->create('\Magento\Wishlist\Model\ResourceModel\Item\Collection');//
$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');    
      # print_r($whishlishCollection);die;
$_in_wishlist = false;
$WishCount=0;
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
if ($CustomerSession->isLoggedIn()) {
$whishlishCollection=$whishlishCollection->addCustomerIdFilter($CustomerSession->getCustomerId());
$WishCount=count($whishlishCollection);
}
?>
<div class="favourites tab-minimal">
    <ul class="nav nav-tabs text-uppercase no-border">
      <li class="active mrg-gr"><a class="fav-diamond pad-zh" href="#mz-favourite-diamond" data-toggle="tab"><span class="font-md font-mb">Diamonds</span></a></li>
      <li class=""><a class="fav-diamond pad-zh" href="#mz-fav-jewellery" data-toggle="tab"><span class="font-md font-mb">Jewellery</span></a></li>
    </ul>
    <div class="tab-content">
        <div id="mz-favourite-diamond" class="tab-pane fade in active">
          <div class=" mrg-zl pad-zl pad-st pad-gb font-sb my-favorite-header mrg-gt">
              <div class="Clearfix">
                  <div class="col-sm-2 col-xs-3">
                      <span class="font-sb pull-right">SHAPE <i class="fa fa-angle-down font-df font-bd hidden-xs" aria-hidden="true"></i></span>
                  </div>
                  <div class="col-sm-1 col-xs-1">
                      <span class="font-sb">CARAT</span>
                  </div>
                  <div class="col-sm-1 hidden-xs">
                      <span class="font-sb">COLOR</span>
                  </div>
                  <div class="col-sm-1 hidden-xs">
                      <span class="font-sb text-center">CLARITY</span>
                  </div>
                  <div class="col-sm-7 pad-zl col-xs-8">
                      <div class="col-sm-1 hidden-xs">
                          <span class="font-sb">CUT</span>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                          <span class="font-sb ">CERTIFICATE</span>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                          <span class="font-sb ">EYE CLEAN</span>
                      </div>
                      <div class="col-sm-3 col-xs-6">
                          <span class="font-sb ">STOCK NUMBER</span>
                      </div>
                      <div class="col-sm-1 pad-zl col-xs-3">
                          <span class="font-sb fav-price">PRICE</span>
                      </div>
                      <div class="visible-xs col-xs-3">
                      </div>
                  </div>
              </div>
          </div>
          <?php
              foreach ($whishlishCollection as $product):
              $ProductID = $product->getProductId();
              $ItemProdArr[$product->getProductId()] = $product->getId();
              $Product = '';
              $Product = $objectManager->create('Magento\Catalog\Model\Product')->load($ProductID);                 
              $categories = $Product->getCategoryIds(); /*will return category ids array */
              foreach($categories as $category){
                  $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                  $currCat= $cat->getId();
              }                 
          if(in_array($currCat,$stoneArr)):
            $imagewidth=40;
            $imageheight=40;          
            $image_url = $imageHelper->init($Product, 'product_page_image_small')->setImageFile($Product->getFile())->resize($imagewidth, $imageheight)->getUrl();
                 
           ?>
          <div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm">
            <div class="row">
              <div class="col-sm-2 col-xs-4">
                <a href="<?php echo $this->getUrl()?>completestep/index/customremovewishlist?itemid=<?php echo $ItemProdArr[$Product->getId()];?>"> <i class="em em-delete font-df pad-xl font-bd" aria-hidden="true"></i>
                </a>
                <img class="favourite-product-img" src="<?php echo $image_url;?>" alt="">
                <span class="font-sb mrg-xl prod-name"><?php echo $Product->getAttributeText('stone_cut_shape_of_stone');?></span>
              </div>
              <div class="col-sm-1 text-center col-xs-1">
                <span class="font-sb"><?php echo round($Product->getStoneCaratCaratWeight(),2)?></span>
              </div>
              <div class="col-sm-1 text-center hidden-xs">
                <span class="font-sb"><?php echo $Product->getAttributeText('stone_color_color_of_stone');?></span>
              </div>
              <div class="col-sm-1 text-center hidden-xs">
                <span class="font-sb text-center"><?php echo $Product->getAttributeText('stone_clarity_clarity_of_stone');?></span>
              </div>
              <div class="col-sm-5">
                <div class="col-sm-1 pad-zl text-center hidden-xs">
                  <span class="font-sb"><?php echo $Product->getAttributeText('stone_make_cut_grade');?></span>
                </div>
                <div class="col-sm-3 text-center hidden-xs">
                  <span class="font-sb "><?php echo $Product->getAttributeText('stone_grading_lab');?></span>
                </div>
                <div class="col-sm-3 text-center hidden-xs">
                  <span class="font-sb "><?php echo $Product->getAttributeText('stone_eye_clear');?></span>
                </div>
                <div class="col-sm-4 text-center col-xs-3">
                  <span class="font-sb "><?php echo $Product->getStockNumber()?></span>
                </div>
                <div class="col-sm-1 text-center col-xs-3">
                  <span class="font-sb "><?php echo  $priceHelper->currency($Product->getPrice(), true, false); ?></span>
                </div>
              </div>
              <div class="col-sm-1 col-xs-1 view-favourite-btn">
              <a href="<?php echo $Product->getProductUrl()?>"><span class="font-sm btn btn-link pull-right marg-bn">VIEW</span></a>
              </div>
              <div class="col-sm-1 pad-zl col-xs-1 select-favourite-btn">
              <a href="<?php echo $this->getUrl()?>completestep/index/customrtsadd?pid=<?php echo $Product->getId()?>"> <span class="font-lt btn btn-grey font-sm  label label-default label-width pad-dr pad-dl">SELECT</span></a>
              </div>
            </div>
          </div>
          <?php
            endif;
         endforeach;?>
       </div>
       <div id="mz-fav-jewellery" class="tab-pane fade">
          <div class=" mrg-zl pad-zl pad-st pad-gb font-sb my-favorite-header mrg-gt">
              <div class="Clearfix">
                  <div class="col-sm-2 col-xs-3">
                      <span class="font-sb pull-right">SHAPE <i class="fa fa-angle-down font-df font-bd hidden-xs" aria-hidden="true"></i></span>
                  </div>
                  <div class="col-sm-1 col-xs-1">
                      <span class="font-sb">CARAT</span>
                  </div>
                  <div class="col-sm-1 hidden-xs">
                      <span class="font-sb">COLOR</span>
                  </div>
                  <div class="col-sm-1 hidden-xs">
                      <span class="font-sb text-center">CLARITY</span>
                  </div>
                  <div class="col-sm-7 pad-zl col-xs-8">
                      <div class="col-sm-1 hidden-xs">
                          <span class="font-sb">CUT</span>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                          <span class="font-sb ">CERTIFICATE</span>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                          <span class="font-sb ">EYE CLEAN</span>
                      </div>
                      <div class="col-sm-3 col-xs-6">
                          <span class="font-sb ">STOCK NUMBER</span>
                      </div>
                      <div class="col-sm-1 pad-zl col-xs-3">
                          <span class="font-sb fav-price">PRICE</span>
                      </div>
                      <div class="visible-xs col-xs-3">
                      </div>
                  </div>
              </div>
          </div>
          <?php
              foreach ($whishlishCollection as $product):
              $ProductID = $product->getProductId();
              $ItemProdArr[$product->getProductId()] = $product->getId();
              $Product = '';
              $Product = $objectManager->create('Magento\Catalog\Model\Product')->load($ProductID);                 
              $categories = $Product->getCategoryIds(); /*will return category ids array */
              foreach($categories as $category){
                  $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
                  $currCat= $cat->getId();
              }                 
          if(in_array($currCat,$jewellery)):
            $imagewidth=40;
            $imageheight=40;          
            $image_url = $imageHelper->init($Product, 'product_page_image_small')->setImageFile($Product->getFile())->resize($imagewidth, $imageheight)->getUrl();
                 
           ?>
          <div class="mrg-zl pad-xxt pad-xxb font-lt font-xs border-btm">
            <div class="row">
              <div class="col-sm-2 col-xs-4">
                <a href="<?php echo $this->getUrl()?>completestep/index/customremovewishlist?itemid=<?php echo $ItemProdArr[$Product->getId()];?>"> <i class="em em-delete font-df pad-xl font-bd" aria-hidden="true"></i>
                </a>
                <img class="favourite-product-img" src="<?php echo $image_url;?>" alt="">
                <span class="font-sb mrg-xl prod-name"><?php echo $Product->getAttributeText('stone_cut_shape_of_stone');?></span>
              </div>
              <div class="col-sm-1 text-center col-xs-1">
                <span class="font-sb"><?php echo round($Product->getStoneCaratCaratWeight(),2)?></span>
              </div>
              <div class="col-sm-1 text-center hidden-xs">
                <span class="font-sb"><?php echo $Product->getAttributeText('stone_color_color_of_stone');?></span>
              </div>
              <div class="col-sm-1 text-center hidden-xs">
                <span class="font-sb text-center"><?php echo $Product->getAttributeText('stone_clarity_clarity_of_stone');?></span>
              </div>
              <div class="col-sm-5">
                <div class="col-sm-1 pad-zl text-center hidden-xs">
                  <span class="font-sb"><?php echo $Product->getAttributeText('stone_make_cut_grade');?></span>
                </div>
                <div class="col-sm-3 text-center hidden-xs">
                  <span class="font-sb "><?php echo $Product->getAttributeText('stone_grading_lab');?></span>
                </div>
                <div class="col-sm-3 text-center hidden-xs">
                  <span class="font-sb "><?php echo $Product->getAttributeText('stone_eye_clear');?></span>
                </div>
                <div class="col-sm-4 text-center col-xs-3">
                  <span class="font-sb "><?php echo $Product->getStockNumber()?></span>
                </div>
                <div class="col-sm-1 text-center col-xs-3">
                  <span class="font-sb "><?php echo  $priceHelper->currency($Product->getPrice(), true, false); ?></span>
                </div>
              </div>
              <div class="col-sm-1 col-xs-1 view-favourite-btn">
              <a href="<?php echo $Product->getProductUrl()?>"><span class="font-sm btn btn-link pull-right marg-bn">VIEW</span></a>
              </div>
              <div class="col-sm-1 pad-zl col-xs-1 select-favourite-btn">
              <a href="<?php echo $this->getUrl()?>completestep/index/customrtsadd?pid=<?php echo $Product->getId()?>"> <span class="font-lt btn btn-grey font-sm  label label-default label-width pad-dr pad-dl">SELECT</span></a>
              </div>
            </div>
          </div>
          <?php
            endif;
         endforeach;?>
       </div>
    </div>
</div>
