<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-title bg-gray-title">
        <span class="font-df mrg-sl"><?php /* @escapeNotVerified */ echo __('Address Book') ?></span>
        <a class="action edit btn btn-link pull-right" href="<?php /* @escapeNotVerified */ echo $block->getAddressBookUrl() ?>"><?php /* @escapeNotVerified */ echo __('Manage Addresses') ?></a>
    </div>
    <div class="block-content row">
        <div class="box box-billing-address col-sm-4">
            <h5 class="box-title font-bd"><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></h5>
            <div class="box-content">
                <address>
                    <?php echo $block->getPrimaryBillingAddressHtml() ?>
                </address>
            </div>
            <div class="box-actions">
                <a class="action edit btn btn-link pad-zl" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryBillingAddressEditUrl() ?>" data-ui-id="default-billing-edit-link"><?php /* @escapeNotVerified */ echo __('Edit Address') ?></a>
            </div>
        </div>
        <div class="box box-shipping-address col-sm-4">
            <h5 class="box-title font-bd"><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></h5>
            <div class="box-content">
                <address>
                    <?php echo $block->getPrimaryShippingAddressHtml() ?>
                </address>
            </div>
            <div class="box-actions">
                <a class="action edit btn btn-link pad-zl" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryShippingAddressEditUrl() ?>" data-ui-id="default-shipping-edit-link"><?php /* @escapeNotVerified */ echo __('Edit Address') ?></a>
            </div>
        </div>
    </div>
    <div class="space-xs"></div>
</div>
<div class="space-lg hidden-xs"></div>