<div class="clearfix pad-zl pad-zr">
    <form action="<?php echo $this->getUrl()?>steps/index/dashboardnewsletter" method="post" enctype="multipart/form-data" >
    <div class="col-sm-4 pad-xr pad-zl">
        <div class="floating-label form-group review-field-nickname">
            <?php
             $preFilledEmail = 'abc@emrada.com';
            $ObjectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $customerSession = $ObjectManager->create('Magento\Customer\Model\Session');
            if($customerSession->isLoggedIn()) {
                $preFilledEmail =   $customerSession->getCustomer()->getEmail();
               /* $customerSession->getCustomer()->getId();
                $customerSession->getCustomer()->getName(); 
                $customerSession->getCustomer()->getEmail();                
                $customerSession->getCustomer()->getGroupId(); // get Customer Group Id*/
            }           
             
            ?>
            <input required="" type="email" name="subsemail" id="nickname_field" value="<?php echo $block->escapeHtml($preFilledEmail) ?>" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
            <label for="nickname_field"><span>EMAIL ADDRESS</span></label>
        </div>
    </div>
    <div class="col-sm-8 pad-zl pad-zr">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default man address-label active">
                <input name="gender" value="MAN" type="radio" checked="">MAN
            </label>
            <label class="btn btn-default women address-label">
                <input name="gender" value="WOMAN" type="radio">WOMEN
            </label>
            <label class="btn btn-default couple address-label">
                <input name="gender" value="COUPLE" type="radio">COUPLE
            </label>
        </div>
        <button class="submit btn btn-dark save btn-lg" name="Submit">SING UP</button>
    </div>
    </form>
</div>