<?php include ($block->getTemplateFile('Magento_Customer::account/dashboard/my-dashboard.phtml')) ?>
<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-info">
    <div class="block-title bg-gray-title"><span class="font-df mrg-sl"><?php /* @escapeNotVerified */ echo __('Account Information') ?></span></div>
    <div class="block-content row">
        <div class="box box-information col-sm-4">
            <h5 class="box-title font-bd"><?php /* @escapeNotVerified */ echo __('Contact Information') ?></h5>
            <div class="box-content">
                <p>
                    <?php echo $block->escapeHtml($block->getName()) ?><br>
                    <?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                </p>
            </div>
            <div class="box-actions">
                <a class="action edit btn btn-link pad-zl" href="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/edit') ?>">
                    <span><?php /* @escapeNotVerified */ echo __('Edit') ?></span>
                </a>
                <a href="<?php /* @escapeNotVerified */ echo $block->getChangePasswordUrl() ?>" class="action change-password">
                    <?php /* @escapeNotVerified */ echo __('Change Password') ?>
                </a>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="box box-newsletter col-sm-8">
                <h5 class="box-title font-bd"><?php /* @escapeNotVerified */ echo __('Newsletters') ?>
                </h5>
                <div class="box-content">
                    <p>
                        <?php if ($block->getIsSubscribed()): ?>
                            <?php /* @escapeNotVerified */ echo __('You subscribe to "General Subscription".') ?>
                        <?php else: ?>
                            <?php /* @escapeNotVerified */ echo __('You don\'t subscribe to our newsletter.') ?>
                        <?php endif; ?>
                    </p>
                    <?php /* Extensions placeholder */ ?>
                    <?php echo $block->getChildHtml('customer.account.dashboard.info.extra')?>
                </div>
                <?php include ($block->getTemplateFile('Magento_Customer::account/dashboard/dashboard-newsletter.phtml')) ?>
            </div>
        <?php endif; ?>
    </div>
    <div class="space-xs"></div>
</div>