<div class="dash-right">
	<div class="bg-gray-title">
		<span class="font-df mrg-sl">Reminder &amp; Blessing Program</span>
		<a href="<?php echo $this->getUrl();?>reminders" class="btn btn-link pull-right">MANAGE CALENDER</a>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h5 class="font-bd text-uppercase">May 12, 2017</h5>
			<div class="">Jane Levi's Anniversary, Wife Blessing or Greeting Style Here.</div>
			<a class="btn btn-link pad-zl" href="<?php echo $this->getUrl();	?>reminders">EDIT</a>
		</div>
		<div class="col-sm-4">
			<h5 class="font-bd text-uppercase">August 22,2017</h5>
			<div class="">Louis Backmen's Birthday, Sister Blessing or Greeting Style Here.</div>
			<a class="btn btn-link pad-zl" href="<?php echo $this->getUrl();?>reminders">EDIT</a>
		</div>
		<div class="col-sm-4">
			<h5 class="font-bd text-uppercase">August 22, 2017</h5>
			<div class="">Louis Backmen's Birthday, Sister Blessing or Greeting Style Here.</div>
			<a class="btn btn-link pad-zl" href="<?php echo $this->getUrl();?>reminders">EDIT</a>
		</div>
	</div>
	<div class="space-xs"></div>
</div>