<?php
	$product = $block->getProduct(); 
	$Objectinstance = \Magento\Framework\App\ObjectManager::getInstance();	
	 //baseurl
	$storeManager = $Objectinstance->get('\Magento\Store\Model\StoreManagerInterface');
	$BaseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$settings = array(14,15,16,25);
if(!in_array($product->getAttributeSetId(), $settings)){
	echo '<h4>Mapping Not Available for This Product.</h4>';#exit;
}

if(in_array($product->getAttributeSetId(), $settings)):
	$Mapping = $Objectinstance->create('Aghai\Steps\Model\Mapping');
	$Mapping = $Mapping->getCollection()->addFieldToFilter('pid', array('eq' => $product->getId()));
	
?>
<?php if(count($Mapping)>2){echo '<h5 style="color:green;" >Mapping Available</h5>';}else{echo '<h5 style="color:red;" >Not Mapped.</h5>';} ?>
<form action="<?php echo $block->getUrl('steps/index/savemapping');?>" method="post" enctype="multipart/form-data" >
	<input type="hidden" name="product_pid" value="<?php echo $product->getId();?>" />
		<?php echo $this->getBlockHtml('formkey')?>
		<h4>Diamond Shapes::</h4>
		<label>Prince <input type="checkbox" value="prince1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Radiant <input type="checkbox" value="radiant1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Triangle <input type="checkbox" value="triangle1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Trilliant <input type="checkbox" value="trilliant" name="stone_cut_shape_of_stone[]" /></label>
		<label>Baguette <input type="checkbox" value="baguette" name="stone_cut_shape_of_stone[]" /></label>
		<label>Square <input type="checkbox" value="square" name="stone_cut_shape_of_stone[]" /></label>
		<label>Hexagon <input type="checkbox" value="hexagon" name="stone_cut_shape_of_stone[]" /></label>
		<label>Octagon <input type="checkbox" value="octagon1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Asscher <input type="checkbox" value="asscher8" name="stone_cut_shape_of_stone[]" /></label>
		<label>Cushion <input type="checkbox" value="cushion9" name="stone_cut_shape_of_stone[]" /></label>
		<label>Star <input type="checkbox" value="star1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Gabrielle <input type="checkbox" value="gabrielle1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Bullet <input type="checkbox" value="bullet1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Kite <input type="checkbox" value="kite1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Rose <input type="checkbox" value="rose1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Special <input type="checkbox" value="special1" name="stone_cut_shape_of_stone[]" /></label>
		<label>Rough <input type="checkbox" value="rough1" name="stone_cut_shape_of_stone[]" /></label>
		<hr style="color:blue;" />
		<h4>Diamond Size/Carat::</h4>
		<label>Min <input type="text" name="stone_carat_carat_weight_min" /></label>
		<label>Max <input type="text" name="stone_carat_carat_weight_max" /></label>
		<hr style="color:blue;" />

		<!-- tabs start -->
		    <div class="tab">
			  <button class="tablinks" onclick="openCity(event, 'Colorless')">Colorless/Lab Colorless</button>
			  <button class="tablinks" onclick="openCity(event, 'Fancy')">Fancy/LabFancy</button>
			  <button class="tablinks" onclick="openCity(event, 'Gemstone')">Gemstone</button>
			 <!--  <button class="tablinks" onclick="openCity(event, 'LabColorless')">LabColorless</button>
			  <button class="tablinks" onclick="openCity(event, 'LabFancy')">LabFancy</button> -->
			</div>

			<div id="Colorless" class="tabcontent">			 
			    <h4> Diamond Color::</h4>
				<label>D <input type="checkbox" value="d1" name="diamond_colorless_color[]" /></label>
				<label>E <input type="checkbox" value="e1" name="diamond_colorless_color[]" /></label>
				<label>F <input type="checkbox" value="f4" name="diamond_colorless_color[]" /></label>
				<label>G <input type="checkbox" value="g1" name="diamond_colorless_color[]" /></label>
				<label>H <input type="checkbox" value="h" name="diamond_colorless_color[]" /></label>
				<label>I <input type="checkbox" value="i" name="diamond_colorless_color[]" /></label>
				<label>J <input type="checkbox" value="j" name="diamond_colorless_color[]" /></label>
				<label>K <input type="checkbox" value="k" name="diamond_colorless_color[]" /></label>
				<label>L <input type="checkbox" value="l" name="diamond_colorless_color[]" /></label><!-- 
				<label>M <input type="checkbox" value="640" name="diamond_colorless_color[]" /></label>
				<label>N <input type="checkbox" value="641" name="diamond_colorless_color[]" /></label> -->
				 <h4>Cut::</h4>
				<label>Ideal <input type="checkbox" value="ideal" name="diamond_colorless_cut[]" /></label>
				<label>Excellent <input type="checkbox" value="excellent" name="diamond_colorless_cut[]" /></label>
				<label>Very Good <input type="checkbox" value="verygood1" name="diamond_colorless_cut[]" /></label>
				<label>Good <input type="checkbox" value="good1" name="diamond_colorless_cut[]" /></label>
				<label>Fair <input type="checkbox" value="fair" name="diamond_colorless_cut[]" /></label>
				<label>Poor <input type="checkbox" value="poor" name="diamond_colorless_cut[]" /></label><!-- 
				<label>Unusual <input type="checkbox" value="727" name="diamond_colorless_cut[]" /></label> -->
				 <h4>Clarity::</h4>
				<label>FL <input type="checkbox" value="fl" name="diamond_colorless_clarity[]" /></label>
				<label>IF <input type="checkbox" value="if" name="diamond_colorless_clarity[]" /></label>
				<label>VVS1 <input type="checkbox" value="vvs1" name="diamond_colorless_clarity[]" /></label>
				<label>VVS2 <input type="checkbox" value="vvs2" name="diamond_colorless_clarity[]" /></label>
				<label>VS1 <input type="checkbox" value="vs1" name="diamond_colorless_clarity[]" /></label>
				<label>VS2 <input type="checkbox" value="vs24" name="diamond_colorless_clarity[]" /></label>
				<label>SI1 <input type="checkbox" value="si14" name="diamond_colorless_clarity[]" /></label>
				<label>SI2 <input type="checkbox" value="si24" name="diamond_colorless_clarity[]" /></label>
				<label>SI3 <input type="checkbox" value="si3" name="diamond_colorless_clarity[]" /></label>
				<label>I1 <input type="checkbox" value="i14" name="diamond_colorless_clarity[]" /></label>
				<label>I2 <input type="checkbox" value="i2" name="diamond_colorless_clarity[]" /></label>
				<label>I3 <input type="checkbox" value="i3" name="diamond_colorless_clarity[]" /></label>
				 <h4>Polish::</h4>
				<label>Ideal <input type="checkbox" value="ideal" name="diamond_colorless_polish[]" /></label>
				<label>Excellent <input type="checkbox" value="excellent" name="diamond_colorless_polish[]" /></label>
				<label>VeryGood <input type="checkbox" value="verygood2" name="diamond_colorless_polish[]" /></label>
				<label>Good  <input type="checkbox" value="good2" name="diamond_colorless_polish[]" /></label>
				<label>Fair  <input type="checkbox" value="fair" name="diamond_colorless_polish[]" /></label>
				<h4>Symmetry::</h4>
				<label>Ideal <input type="checkbox" value="ideal1" name="diamond_colorless_symmetry[]" /></label>
				<label>Excellent  <input type="checkbox" value="excellent1" name="diamond_colorless_symmetry[]" /></label>
				<label>VeryGood <input type="checkbox" value="verygood3" name="diamond_colorless_symmetry[]" /></label>
				<label>Good  <input type="checkbox" value="fair1" name="diamond_colorless_symmetry[]" /></label>
				<label>Fair  <input type="checkbox" value="poor2" name="diamond_colorless_symmetry[]" /></label><!-- 
				<label>Poor  <input type="checkbox" value="751" name="diamond_colorless_symmetry[]" /></label> -->
				<h4>Fluorescence::</h4>
				<label>None  <input type="checkbox" value="none" name="diamond_colorless_fluorescence[]" /></label>
				<label>VerySlight   <input type="checkbox" value="veryslight" name="diamond_colorless_fluorescence[]" /></label>
				<label>Faint,Slight  <input type="checkbox" value="faintslight" name="diamond_colorless_fluorescence[]" /></label>
				<label>Medium   <input type="checkbox" value="medium" name="diamond_colorless_fluorescence[]" /></label>
				<label>Strong   <input type="checkbox" value="strong" name="diamond_colorless_fluorescence[]" /></label>
				<label>Very Strong    <input type="checkbox" value="verystrong" name="diamond_colorless_fluorescence[]" /></label>
				<h4>Certificate::</h4>
				<label>AGS  <input type="checkbox" value="ags" name="diamond_colorless_certificate[]" /></label>
				<label>GIA  <input type="checkbox" value="gia" name="diamond_colorless_certificate[]" /></label>
				<label>GS  <input type="checkbox" value="gs" name="diamond_colorless_certificate[]" /></label>
				<label>HRD  <input type="checkbox" value="hrd" name="diamond_colorless_certificate[]" /></label>
				<label>IGI  <input type="checkbox" value="igi" name="diamond_colorless_certificate[]" /></label>
				<label>IGL  <input type="checkbox" value="igl" name="diamond_colorless_certificate[]" /></label>
				<h4>Depth::</h4>
				<label>Min <input type="text" name="diamond_depth_min" /></label>
				<label>Max <input type="text" name="diamond_depth_max" /></label>
				<h4>Table::</h4>
				<label>Min <input type="text" name="diamond_table_min" /></label>
				<label>Max <input type="text" name="diamond_table_max" /></label>
			</div>

			<div id="Fancy" class="tabcontent">			 
			    <h4>Fancy Diamond Color::</h4>
				<label>Yellow <input type="checkbox" value="yellow" name="diamond_fancy_color[]" /></label>
				<label>Orange <input type="checkbox" value="orange" name="diamond_fancy_color[]" /></label>
				<label>Cognac <input type="checkbox" value="cognac" name="diamond_fancy_color[]" /></label>
				<label>Champagne <input type="checkbox" value="champagne" name="diamond_fancy_color[]" /></label>
				<label>Brown <input type="checkbox" value="brown" name="diamond_fancy_color[]" /></label>
				<label>Green <input type="checkbox" value="green" name="diamond_fancy_color[]" /></label>
				<label>Blue <input type="checkbox" value="blue1" name="diamond_fancy_color[]" /></label>
				<label>Red <input type="checkbox" value="red" name="diamond_fancy_color[]" /></label>
				<label>Pink <input type="checkbox" value="pink1" name="diamond_fancy_color[]" /></label>
				<label>Purple <input type="checkbox" value="purple1" name="diamond_fancy_color[]" /></label>
				<label>Gray <input type="checkbox" value="gray" name="diamond_fancy_color[]" /></label>
				<label>Black <input type="checkbox" value="black" name="diamond_fancy_color[]" /></label>
				<label>Chameleon <input type="checkbox" value="chameleon" name="diamond_fancy_color[]" /></label>
				<label>Other <input type="checkbox" value="other1" name="diamond_fancy_color[]" /></label>
				 <h4>Cut::</h4>
				<label>Ideal <input type="checkbox" value="ideal2" name="diamond_fancy_cut[]" /></label>
				<label>Excellent <input type="checkbox" value="excellent" name="diamond_fancy_cut[]" /></label>
				<label>Very Good <input type="checkbox" value="verygood" name="diamond_fancy_cut[]" /></label>
				<label>Good <input type="checkbox" value="good" name="diamond_fancy_cut[]" /></label>
				<label>Fair <input type="checkbox" value="fair" name="diamond_fancy_cut[]" /></label>
				<label>Poor <input type="checkbox" value="poor1" name="diamond_fancy_cut[]" /></label>
				<label>Unusual <input type="checkbox" value="unusual1" name="diamond_fancy_cut[]" /></label>
			</div>

			<div id="Gemstone" class="tabcontent">			  
			   <h4>Gemstone Color::</h4>
				<label>BLUE SAPPHIRE <input type="checkbox" value="bluesapphire" name="diamond_gemstone_color[]" /></label>
				<label>PINK SAPPHIRE <input type="checkbox" value="pinksapphire" name="diamond_gemstone_color[]" /></label>
				<label>WHITE SAPPHIRE <input type="checkbox" value="whitesapphire" name="diamond_gemstone_color[]" /></label>
				<label>RED RUBY <input type="checkbox" value="redruby" name="diamond_gemstone_color[]" /></label>
				<label>EMERALD  <input type="checkbox" value="emerald7" name="diamond_gemstone_color[]" /></label>
				<label>YELLOW SAPPHIRE <input type="checkbox" value="yellowsapphire" name="diamond_gemstone_color[]" /></label>
				<label>PEACH  SAPPHIRE <input type="checkbox" value="peachsapphire" name="diamond_gemstone_color[]" /></label>
				<label>AQUAMARINE <input type="checkbox" value="aquamarine1" name="diamond_gemstone_color[]" /></label>
				<label>MORGANITE <input type="checkbox" value="morganite1" name="diamond_gemstone_color[]" /></label>
				<label>MOISSANITE <input type="checkbox" value="moissanite1" name="diamond_gemstone_color[]" /></label>
				
		    </div>
		    <div id="LabColorless" class="tabcontent">			  
			      <h4> Diamond Color::</h4>
				<label>D <input type="checkbox" value="631" name="diamond_labcolorless_color[]" /></label>
				<label>E <input type="checkbox" value="632" name="diamond_labcolorless_color[]" /></label>
				<label>F <input type="checkbox" value="633" name="diamond_labcolorless_color[]" /></label>
				<label>G <input type="checkbox" value="634" name="diamond_labcolorless_color[]" /></label>
				<label>H <input type="checkbox" value="635" name="diamond_labcolorless_color[]" /></label>
				<label>I <input type="checkbox" value="636" name="diamond_labcolorless_color[]" /></label>
				<label>J <input type="checkbox" value="637" name="diamond_labcolorless_color[]" /></label>
				<label>K <input type="checkbox" value="638" name="diamond_labcolorless_color[]" /></label>
				<label>L <input type="checkbox" value="639" name="diamond_labcolorless_color[]" /></label>
				<label>M <input type="checkbox" value="640" name="diamond_labcolorless_color[]" /></label>
				<label>N <input type="checkbox" value="641" name="diamond_labcolorless_color[]" /></label>
				 <h4>Cut::</h4>
				<label>Ideal <input type="checkbox" value="721" name="diamond_labcolorless_cut[]" /></label>
				<label>Excellent <input type="checkbox" value="722" name="diamond_labcolorless_cut[]" /></label>
				<label>Very Good <input type="checkbox" value="723" name="diamond_labcolorless_cut[]" /></label>
				<label>Good <input type="checkbox" value="724" name="diamond_labcolorless_cut[]" /></label>
				<label>Fair <input type="checkbox" value="725" name="diamond_labcolorless_cut[]" /></label>
				<label>Poor <input type="checkbox" value="726" name="diamond_labcolorless_cut[]" /></label>
				<label>Unusual <input type="checkbox" value="727" name="diamond_labcolorless_cut[]" /></label>
				 <h4>Clarity::</h4>
				<label>FL <input type="checkbox" value="708" name="diamond_labcolorless_clarity[]" /></label>
				<label>IF <input type="checkbox" value="709" name="diamond_labcolorless_clarity[]" /></label>
				<label>VVS1 <input type="checkbox" value="710" name="diamond_labcolorless_clarity[]" /></label>
				<label>VVS2 <input type="checkbox" value="711" name="diamond_labcolorless_clarity[]" /></label>
				<label>VS1 <input type="checkbox" value="712" name="diamond_labcolorless_clarity[]" /></label>
				<label>VS2 <input type="checkbox" value="713" name="diamond_labcolorless_clarity[]" /></label>
				<label>SI1 <input type="checkbox" value="714" name="diamond_labcolorless_clarity[]" /></label>
				<label>SI2 <input type="checkbox" value="715" name="diamond_labcolorless_clarity[]" /></label>
				<label>SI3 <input type="checkbox" value="716" name="diamond_labcolorless_clarity[]" /></label>
				<label>I1 <input type="checkbox" value="717" name="diamond_labcolorless_clarity[]" /></label>
				<label>I2 <input type="checkbox" value="718" name="diamond_labcolorless_clarity[]" /></label>
				<label>I3 <input type="checkbox" value="719" name="diamond_labcolorless_clarity[]" /></label>
				 <h4>Polish::</h4>
				<label>Ideal <input type="checkbox" value="739" name="diamond_labcolorless_polish[]" /></label>
				<label>Excellent <input type="checkbox" value="740" name="diamond_labcolorless_polish[]" /></label>
				<label>VeryGood <input type="checkbox" value="741" name="diamond_labcolorless_polish[]" /></label>
				<label>Good  <input type="checkbox" value="742" name="diamond_labcolorless_polish[]" /></label>
				<label>Fair  <input type="checkbox" value="743" name="diamond_labcolorless_polish[]" /></label>
				<h4>Symmetry::</h4>
				<label>Ideal <input type="checkbox" value="746" name="diamond_labcolorless_symmetry[]" /></label>
				<label>Excellent  <input type="checkbox" value="747" name="diamond_labcolorless_symmetry[]" /></label>
				<label>VeryGood <input type="checkbox" value="748" name="diamond_labcolorless_symmetry[]" /></label>
				<label>Good  <input type="checkbox" value="749" name="diamond_labcolorless_symmetry[]" /></label>
				<label>Fair  <input type="checkbox" value="750" name="diamond_labcolorless_symmetry[]" /></label>
				<label>Poor  <input type="checkbox" value="751" name="diamond_labcolorless_symmetry[]" /></label>
				<h4>Fluorescence::</h4>
				<label>None  <input type="checkbox" value="771" name="diamond_labcolorless_fluorescence[]" /></label>
				<label>VerySlight   <input type="checkbox" value="772" name="diamond_labcolorless_fluorescence[]" /></label>
				<label>Faint,Slight  <input type="checkbox" value="773" name="diamond_labcolorless_fluorescence[]" /></label>
				<label>Medium   <input type="checkbox" value="774" name="diamond_labcolorless_fluorescence[]" /></label>
				<label>Strong   <input type="checkbox" value="775" name="diamond_labcolorless_fluorescence[]" /></label>
				<label>Very Strong    <input type="checkbox" value="776" name="diamond_labcolorless_fluorescence[]" /></label>
				<h4>Certificate::</h4>
				<label>AGS  <input type="checkbox" value="728" name="diamond_labcolorless_certificate[]" /></label>
				<label>GIA  <input type="checkbox" value="733" name="diamond_labcolorless_certificate[]" /></label>
				<label>GS  <input type="checkbox" value="734" name="diamond_labcolorless_certificate[]" /></label>
				<label>HRD  <input type="checkbox" value="735" name="diamond_labcolorless_certificate[]" /></label>
				<label>IGI  <input type="checkbox" value="736" name="diamond_labcolorless_certificate[]" /></label>
				<label>IGL  <input type="checkbox" value="737" name="diamond_labcolorless_certificate[]" /></label>
				<h4>Depth::</h4>
				<label>Min <input type="text" name="diamond_labdepth_min" /></label>
				<label>Max <input type="text" name="diamond_labdepth_max" /></label>
				<h4>Table::</h4>
				<label>Min <input type="text" name="diamond_labtable_min" /></label>
				<label>Max <input type="text" name="diamond_labtable_max" /></label>
		    </div>
		    <div id="LabFancy" class="tabcontent">			 
			   <h4>LabFancy Diamond Color::</h4>
				<label>Yellow <input type="checkbox" value="662" name="diamond_labfancy_color[]" /></label>
				<label>Orange <input type="checkbox" value="663" name="diamond_labfancy_color[]" /></label>
				<label>Cognac <input type="checkbox" value="664" name="diamond_labfancy_color[]" /></label>
				<label>Champagne <input type="checkbox" value="665" name="diamond_labfancy_color[]" /></label>
				<label>Brown <input type="checkbox" value="666" name="diamond_labfancy_color[]" /></label>
				<label>Green <input type="checkbox" value="667" name="diamond_labfancy_color[]" /></label>
				<label>Blue <input type="checkbox" value="668" name="diamond_labfancy_color[]" /></label>
				<label>Red <input type="checkbox" value="669" name="diamond_labfancy_color[]" /></label>
				<label>Pink <input type="checkbox" value="670" name="diamond_labfancy_color[]" /></label>
				<label>Purple <input type="checkbox" value="671" name="diamond_labfancy_color[]" /></label>
				<label>Gray <input type="checkbox" value="672" name="diamond_labfancy_color[]" /></label>
				<label>Black <input type="checkbox" value="673" name="diamond_labfancy_color[]" /></label>
				<label>Chameleon <input type="checkbox" value="674" name="diamond_labfancy_color[]" /></label>
				<label>Other <input type="checkbox" value="675" name="diamond_labfancy_color[]" /></label>
				 <h4>Cut::</h4>
				<label>Ideal <input type="checkbox" value="721" name="diamond_labfancy_cut[]" /></label>
				<label>Excellent <input type="checkbox" value="722" name="diamond_labfancy_cut[]" /></label>
				<label>Very Good <input type="checkbox" value="723" name="diamond_labfancy_cut[]" /></label>
				<label>Good <input type="checkbox" value="724" name="diamond_labfancy_cut[]" /></label>
				<label>Fair <input type="checkbox" value="725" name="diamond_labfancy_cut[]" /></label>
				<label>Poor <input type="checkbox" value="726" name="diamond_labfancy_cut[]" /></label>
				<label>Unusual <input type="checkbox" value="727" name="diamond_labfancy_cut[]" /></label>
		    </div>
		<!-- tabs ends -->
		<hr/>
		 <h5>Better Size Better Quality Algorithm</h5>
		 <select name="bsbq" >
		 	<option value="1" >Clarity Set</option>
		 	<option value="2" >Color Set</option>
		 </select>
	<br/><button>Save Changes</button>
</form>
<?php endif; ?>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    event.preventDefault();
}
</script>

<style>
body {font-family: Arial;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>
