<?php
	$product = $block->getProduct(); 
	$Objectinstance = \Magento\Framework\App\ObjectManager::getInstance();
	$PortfolioModel = $Objectinstance->create('Aghai\Steps\Model\Portfolio');
	$PortfolioModel = $PortfolioModel->getCollection()->addFieldToFilter('pid', array('eq' => $product->getId()));
	 //baseurl
	$storeManager = $Objectinstance->get('\Magento\Store\Model\StoreManagerInterface');
	$BaseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

?>
<h4>ProductID:: <?php echo $product->getId();?></h4>
<?php if(count($PortfolioModel)>0):?>
<table border="1" id="portfolio-table-populated" >
	<thead>	 
		<th>ChildID</th>
		<th>Total Childs</th>
		<th>Upload Images</th>
		<th>360</th>
		<th>Delete</th>
	</thead>
	<?php
			 foreach ($PortfolioModel as $port):
	?>
	<tr>		 
		<td><?php echo $port->getChildId(); ?></td>
		<td><?php echo $port->getTotalchilds(); ?></td>
		<td><img width="50px" height="50px"  src="<?php echo $BaseUrl.$port->getFirstImg();?>" /></td>
		<td><input type="checkbox" <?php if($port->getThree60()){echo 'checked';} ?> name="three60" /></td>
		<td><a href="<?php echo $block->getUrl('steps/index/delete',array('portfolio_pid'=>$product->getId(),'childId'=>$port->getChildId()));?>">Delete</a></td>
	</tr>
    <?php endforeach; ?>	
</table>
<?php endif;?>

<br/><br/>
<form action="<?php echo $block->getUrl('steps/index/index');?>" method="post" enctype="multipart/form-data" >
	<input type="hidden" name="portfolio_pid" value="<?php echo $product->getId();?>" />
	<?php echo $this->getBlockHtml('formkey')?>
<table border="1" id="portfolio-table" >
	<thead>	 
		<th>ChildID</th> 
		<th>Upload Images</th>
		<th>360</th> 
	</thead>	
	<tr>		 
		<td><input type="text" name="childId"></td> 
		<td><input type="file" multiple name="upload_portfolioimg[]"></td>
		<td><input type="checkbox" name="three60" /></td>
	</tr>
</table>
<br/>
<!-- <a onclick="addrows()" href="javascript:void(0)">Add Row</a><br/>
 --><button>Save Changes</button>
</form>


<script type="text/javascript">
	function addrows(){
		//alert('Adding Row');
		var table = document.getElementById("portfolio-table");
		var rowCount = table.rows.length;
	    var row = table.insertRow(rowCount);
	    var cell1 = row.insertCell(0);
	    var cell2 = row.insertCell(1);
	    var cell3 = row.insertCell(2);
	    cell1.innerHTML = "<input type='text' name='childId'>";
	    cell2.innerHTML = "<input type='file' multiple name='upload_portfolioimg[]' >";
	    cell3.innerHTML = "<input type='checkbox' name='three60' />";
	}
</script>