<?php include ($block->getTemplateFile('Aghai_Steps::steps.phtml')) ?>
<div class="complete-step-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="product media">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="left-thumb">
                                <div class="thumbnail_prod">
                                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/37/20/59/3720597c51e840e856c5278c2074f72e.jpg">
                                </div>
                                <div class="thumbnail_prod">
                                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/37/20/59/3720597c51e840e856c5278c2074f72e.jpg">
                                </div>
                                <div class="thumbnail_prod">
                                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/37/20/59/3720597c51e840e856c5278c2074f72e.jpg">
                                </div>
                                <div class="thumbnail_prod">
                                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/37/20/59/3720597c51e840e856c5278c2074f72e.jpg">
                                </div>
                                <div class="thumbnail_prod">
                                    <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/originals/37/20/59/3720597c51e840e856c5278c2074f72e.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 text-center">
                            <div class="text-center available">
                                <div class="text-uppercase available-item1"> ONLY 1 AVAILABLE! </div>
                                <div class="text-capitalize available-item2">In another user cart </div>
                            </div>
                            <div class="gallery-placeholder">
                                <div class="complete_main_image">
                                    <img src="https://s-media-cache-ak0.pinimg.com/originals/37/20/59/3720597c51e840e856c5278c2074f72e.jpg" class="fotorama__img complete_main_image_view">
                                </div>
                            </div>
                            <div class="delivery-date text-center pad-xt">
                                <div class="delivery-text text-uppercase">order now for a free delivery</div>
                                <div class="date-of-delivery">Monday, July 30</div>
                            </div>
                            <div class="image-list clearfix">
                                <ul class="list-unstyled font-df">
                                    <li><i class="fa fa-truck" aria-hidden="true"></i> Free FedEx Shipping</li>
                                    <li><i class="fa fa-circle-o-notch" aria-hidden="true"></i> Free 30 Days Returns</li>
                                </ul>
                                <ul class="list-unstyled font-df">
                                    <li><i class="fa fa-arrows-h" aria-hidden="true"></i> Money back guarantee</li>
                                    <li><i class="fa fa-universal-access" aria-hidden="true"></i> Free Lifetime Warranty</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="friend-opinion">
                        <ul class="list-inline list-unstyled social">
                            <li>
                                <h5>Ask a friend for opinion</h5>
                            </li>
                            <li>
                                <ul class="list-unstyled list-inline social-icons">
                                    <!-- <li>
                                        <a href="http://34.251.77.144/emradanew/sendfriend/product/send/id/976/cat_id/14/" class="action mailto friend"><i class="fa fa-envelope font-lg" aria-hidden="true"></i>E-mail</a>
                                    </li> -->
                                    <li>
                                         <a target="_blank" class="action mailto friend text-sec" href="http://52.30.75.208/emradadev4/sendfriend/product/send/id/17/">
                                        <i class="em em-e-mail mrg-xr" aria-hidden="true"></i>E-mail
                                     </a>
                                    </li>
                                    <!-- FACEBOOK -->
                                    <li>
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F34.251.77.144%2Femradanew%2Fengagement-rings%2Ftapered-baguette.html&amp;t=TAPERED+BAGUETTE" onclick="javascript:window.open(this.href,&quot;&quot;,&quot;width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes&quot;);return false" title="Share on FaceBook">
                                        <i class="fa fa-facebook-square font-lg" aria-hidden="true"></i>Facebook</a>
                                    </li>
                                    <li><!-- TWITTER -->
                                    <a href="http://twitter.com/home/?status=http%3A%2F%2F34.251.77.144%2Femradanew%2Fengagement-rings%2Ftapered-baguette.html(TAPERED+BAGUETTE)" onclick="javascript:window.open(this.href,&quot;&quot;,&quot;width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes&quot;);return false" title="Share on Twitter">
                                    <i class="fa fa-twitter font-lg" aria-hidden="true"></i>Twitter</a>
                                </li>
                                <li><!-- TWITTER -->
                                <a href="http://web.whatsapp.com/home/?status=http%3A%2F%2F34.251.77.144%2Femradanew%2Fengagement-rings%2Ftapered-baguette.html(TAPERED+BAGUETTE)" onclick="javascript:window.open(this.href,&quot;&quot;,&quot;width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes&quot;);return false" title="Share on Twitter">
                                    <i class="fa fa-whatsapp font-lg" aria-hidden="true"></i>Whatsapp
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="product-info-main">
            <div class="product-titles">
                <div class="mrg-bt-25">
                    <h4 class="text-uppercase"> 14k White Gold 2mm Knife Edge Solitaire Engagement Ring </h4>
                    <div>
                        <span class="text-uppercase">Sku: 170001w15 </span>
                        <span class="text-primary">$780 </span>
                        <a href="#" class="sec-col-under">CHANGE</a>
                    </div>
                </div>
                <div class="mrg-bt-25">
                    <h4 class="text-uppercase">0.25 Carat K-vvs2 Good Cut Round Diamond</h4>
                    <div>
                        <span class="text-uppercase"> Sku:1908006 </span>
                        <span class="text-primary"> $1,000 </span>
                        <a href="#" class="sec-col-under"> CHANGE </a>
                    </div>
                </div>
            </div>
            <div class="mrg-bt-25">
                <div class="price"> $1,780</div>
                <div class="star_review mrg-dl">
                    <a href=""><i class="fa fa-star"></i></a>
                    <a href=""><i class="fa fa-star"></i></a>
                    <a href=""><i class="fa fa-star"></i></a>
                    <a href=""><i class="fa fa-star"></i></a>
                    <a href=""><i class="fa fa-star"></i></a>
                    <a class="sec-col-under mrg-xl">56 Review</a>
                </div>
            </div>
            <div class="ring-size">
                <div class="ring-box">
                    <select id="step_attri" class="form-control">
                        <option value="">Select ring size</option>
                        <option value="891">3</option>
                        <option value="892">3 1/4</option>
                        <option value="893">3 1/2</option>
                        <option value="1049">3 3/4</option>
                        <option value="1050">4</option>
                        <option value="1051">4 1/4</option>
                        <option value="1052">4 1/2</option>
                        <option value="1053">4 3/4</option>
                        <option value="1054">5</option>
                        <option value="1055">5 1/4</option>
                        <option value="1056">6</option>
                        <option value="1057">7</option>
                        <option value="1058">8</option>
                        <option value="1059">9</option>
                        <option value="1060">10</option>
                        <option value="1061">11</option>
                        <option value="1062">12</option>
                    </select>
                </div>
                <div class="mrg-dl find-ring-size"><a href="#" class="sec-col-under text-capitalize">Find my ring size</a></div>
            </div>
            <div class="inscription mrg-gt">
                <a class="sec-col-under" data-toggle="modal" data-target="#add_inscription" href="#">ADD INSCRIPTION</a>
            </div>
            <div class="select-box-wrap">
                <h5 class="h5"><span>Select your Ring Box</span></h5>
                <div class="list-inline btn-group" data-toggle="buttons">
                    <label class="btn btn-link">
                        <a href="#" class="tooltip-btn ringbox-tip" data-container="body" data-toggle="popover" data-placement="top" data-content="Ring Box">?
                        </a>
                        <span class="ring-box-img">
                            <img class="img-responsive
                            "src='<?php echo $this->getViewFileUrl('images/ring-box1.jpg'); ?>' alt="ring-box1" />
                        </span>
                        <input type="radio" name="options" id="option1" autocomplete="off">
                        <span class="btn btn-link btn-sm"><a data-toggle="modal" data-target="#select-ring-box" href="#">Diamond</a></span>
                    </label>
                    <label class="btn btn-link">
                        <a href="#" class="tooltip-btn ringbox-tip" data-container="body" data-toggle="popover" data-placement="top" data-content="Ring Box">?
                        </a>
                        <span class="ring-box-img">
                            <img class="img-responsive
                            "src='<?php echo $this->getViewFileUrl('images/ring-box2.jpg'); ?>' alt="ring-box1" />
                        </span>
                        <input type="radio" name="options" id="option2" autocomplete="off">
                        <span class="btn btn-link btn-sm"><a data-toggle="modal" data-target="#select-ring-box" href="#">Pink Leather</a></span>
                    </label>
                    <label class="btn btn-link active">
                        <a href="#" class="tooltip-btn ringbox-tip" data-container="body" data-toggle="popover" data-placement="top" data-content="Ring Box">?
                        </a>
                        <span class="ring-box-img">
                            <img class="img-responsive
                            "src='<?php echo $this->getViewFileUrl('images/ring-box3.jpg'); ?>' alt="ring-box1" />
                        </span>
                        <input type="radio" name="options" id="option3" autocomplete="off">
                        <span class="btn btn-link btn-sm"><a data-toggle="modal" data-target="#select-ring-box" href="#">Engraved wood</a></span>
                    </label>
                </div>
            </div>
            <div class="mrg-gt">
                <button type="submit" title="CHECK OUT NOW" class="btn btn-lg btn-block btn-dark text-uppercase" id="product-addtocart-button">checkout now</button>
            </div>
            <div class="mrg-st text-center cart-btn">
                <a href="#" class="btn btn-link sec-col-under">add to cart</a>
            </div>
            <div class="text-center mrg-dt">
                <a href="#" class="btn btn-xl btn-block btn-link sec-col-under text-capital">
                    <i class="fa fa-heart-o" aria-hidden="true"></i> save to favourites
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="shipping-banner">
<div class="container">
<div class="row">
    <div class="col-md-6 text-center">
        <img src='<?php echo $this->getViewFileUrl('images/ring_box.jpg'); ?>' alt="Demo">
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <ul class="list-unstyled">
                <li><h5>SHIPPING DETAILS</h5></li>
                <li><div class="mn-hr"><hr></div></li>
                <li>Delivery By:</li>
                <li><div class="mn-padding"><h3><strong>Friday,14th July</strong></h3></div></li>
                <li><div class="mn-brown">Estimated delivery when</div></li>
                <li><div class="mn-brown">ordered by 2PM PT today.</div></li>
            </ul>
        </div>
        
    </div>
    
</div>
</div>
</div>
<div class="container">
<div class="block review-list padding-container" id="customer-reviews">
<h3 class="secondary-title">
Customer Reviews        </h3>
<div class="review-head">
    <div class="row">
        <div class="col-sm-2 text-right">
            <strong>TOTAL SCORE</strong>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list-inline">
                        <li>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                            <i class="fa fa-star text-primary"></i>
                        </li>
                        <a class="red-underline" href="javavoid(0)"> 45 REVIEWS</a>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div class="text-right">
                        <ul class="list-inline">
                            <li>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-default dropdown-toggle sort_dropdwn" data-toggle="dropdown">Sort:Highest Rating
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Sort:lowest Rating</a></li>
                                        <li><a href="#">Sort:Highest Rating</a></li>
                                        <li><a href="#">Sort:Highest Rating</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><button type="button" class="btn btn-dark" data-toggle="modal" data-target="#customer-review-popup">WRITE A REVIEW</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-content review-wrapper">
    <div class="review-item">
        <div class="row">
            <div class="col-sm-2">
                <div class="text-right">
                    <p>9/12/17</p>
                    <div class="review-details">
                        <div class="review-author text-uppercase">
                            <strong class="review-details-value" itemprop="author">Michale j</strong>
                        </div>
                        <p><a href="#">verified buyer</a></p>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-10">
                <div class="review-ratings">
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <div class="rating-summary" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                        <div class="rating-result" title="100%">
                            <span itemprop="ratingValue">100%</span>
                        </div>
                    </div>
                    <div class="rating-summary" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                        <div class="rating-result" title="100%">
                            <span itemprop="ratingValue">100%</span>
                        </div>
                    </div>
                </div>
                <div class="review-title">summary</div>
                <div>The product is good.</div>
            </div>
        </div>
    </div>
    <div class="review-item">
        <div class="row">
            <div class="col-sm-2">
                <div class="text-right">
                    <p>9/12/17</p>
                    <div class="review-details">
                        <div class="review-author text-uppercase">
                            <strong class="review-details-value" itemprop="author">Michale j</strong>
                        </div>
                        <p><a href="#">verified buyer</a></p>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-10">
                <div class="review-ratings">
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    <div class="rating-summary" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                        <div class="rating-result" title="100%">
                            <span itemprop="ratingValue">100%</span>
                        </div>
                    </div>
                </div>
                <div class="rating-summary" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                    <div class="rating-result" title="100%">
                        <span itemprop="ratingValue">100%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-title">Product summary</div>
        <div>The product is good.</div>
    </div>
</div>
</div>
</div>
<div class="more-reviews mrg-gt text-center"><button type="button" class="btn btn-default"> More Reviews </button></div>
</div>
</div>
<style type="text/css">
@media(min-width: 768px){
.complete_main_image_view {
width: 60%;
}
}
.image-list {
margin-top: 15px;
padding-top: 15px;
width: inherit;
margin: auto;
}
.image-list ul {
float: left;
}
.image-list ul+ul {
float: right;
}
.thumbnail_prod {
width: 70px;
height: 70px;
}
@media (max-width:500px){
.image-list ul+ul {
float: none;
display: inline-grid;
}
}
/*----recent css-----*/
.left-thumb{
padding: 10px;
}
.product-titles span {
padding-right: 10px;
font-size: 14px;
}
.star_review {
display: inline-block;
}
.ring-box{
width: 250px;
display: inline-block;
}
.find-ring-size{
display: inline-block;
}
.text-capital{
text-transform: capitalize;
}
.cart-btn a {
font-size: 17px;
font-weight: 500;
text-transform: capitalize;
}
.mrg-bt-25{
margin-bottom: 30px;
}
.shipping-banner {
margin: 30px 0px;
padding: 60px 0px;
}
.mn-hr {
width: 10%;
display: inline-block;
}
</style>