<?php 
    $ProductId = $StoneProd->getId(); 
    $_product = $block->getProduct();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Catalog\Model\Product')->load($ProductId);
    $cirtificate__type = $product->getAttributeText('stone_grading_lab');
    if(strtolower($cirtificate__type) != 'no'): ?>
<?php
    $ProductId = $StoneProd->getId();
    $filesize = "";
    //$filename = 'idex/pdf/certificate_6936.pdf';
    $filename = 'idex/pdf/certificate_'.$ProductId.'.pdf';
    if (file_exists($filename)) {
        $filesize = filesize($filename);
        $filesize = round($filesize / 1024, 2);
    }
      $cirtificate = array(
                        'AGS'=>'ags-certificate.jpg',
                        'EGL'=>'egl-certificate.jpg',
                        'GIA'=>'gia-certificate.jpg',
                        'GS'=>'gs-certificate.jpg',
                        'HRD'=>'hrd-certificate.jpg',
                        'IGI'=>'igi-certificate.jpg',
                        'IGL'=>'igl-certificate.jpg',
                        'VGR'=>'vgr-certificate.jpg',
                        );
    //echo "The size of your file is $filesize.";

    //$defult_path = $this->getViewFileUrl('images/'.$cirtificate[$cirtificate__type]);
    if (file_exists($filename) && $filesize > 100) { 
   echo '<div class="gia-img" data-target="#gia-certificate-pdf" data-toggle="modal" data-certificate="'.$this->getUrl().$filename.'" >
        <i class="em em-'.strtolower($cirtificate__type).' em-4x"></i></div>
    ';
    } /*else if($filesize < 100) {
      echo'<li><div class="gia-img" data-target="#gia-certificate" data-toggle="modal" data-certificate="'.$defult_path.'" >
        <i class="em em-'.strtolower($cirtificate__type).' em-4x"></i>
        </li>';
    }*/
    ?>
<?php endif; ?>