<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magento\Framework\View\Element\Html\Links */
?>
<?php /** @var $block \Magento\Customer\Block\Account\Navigation */ ?>
<div class="col-sm-3 neg-h15">
    <div class="visible-xs my-zone-btn" data-toggle="collapse" data-target="#my_zone_menu">Account Dashboard</div>
    <div class="block account-nav hidden-xs">
        <div class="content mrg-dt">
            <nav class="account-nav">
                <ul class="nav items">
                    <?php echo $block->getChildHtml();?>
                    <li class="nav item"><a href="<?php echo $this->getUrl(); ?>reminders">Reminder &amp; Blessing Program</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="block account-nav  hidden-sm hidden-md hidden-lg collapse" id="my_zone_menu">
        <div class="content mrg-dt">
            <nav class="account-nav">
                <ul class="nav items">
                    <?php echo $block->getChildHtml();?>
                    <li class="nav item"><a href="<?php echo $this->getUrl(); ?>reminders">Reminder &amp; Blessing Program</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>