<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Edit $block */
?>
<div class="dash-right">
    <div class="bg-gray-title">
        <span class="font-df mrg-sl">My Details</span>
    </div>
    <form class="form form-edit-account row" action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>" autocomplete="off">
        <fieldset class="fieldset info col-sm-6">
            <?php echo $block->getBlockHtml('formkey')?>
            <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>

            <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
            <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
            <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
            <?php if ($_dob->isEnabled()): ?>
                <?php echo $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
            <?php endif ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <?php echo $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
            <?php endif ?>
            <?php if ($_gender->isEnabled()): ?>
                <?php echo $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
            <?php endif ?>
            <div class="row">
                <div class="col-sm-6">
                    <div class="floating-label form-group email required">
                        <input type="email" name="email" id="email" autocomplete="email" data-input="change-email" value="<?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="form-control" data-validate="{required:true, 'validate-email':true}" required />
                        <label for="email"><span><?php /* @escapeNotVerified */ echo __('Email address') ?></span></label>
                    </div>
                </div>
                <div class="col-sm-6 pad-zl">
                    <div class="floating-label form-group email required">
                        <input type="tel" name="phone" id="phone" data-input="change-phone" class="form-control" data-validate="{required:true, 'validate-phone':true}" required />
                        <label for="email"><span><?php /* @escapeNotVerified */ echo __('Phone') ?></span></label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group new password required" data-container="new-password" data-mage-init='{"passwordStrengthIndicator": {}}'>
                        <div class="floating-label">
                            <input type="password" class="form-control" name="password" id="password"
                                data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                                data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                                data-input="new-password"
                                data-validate="{required:true, 'validate-customer-password':true}"
                                autocomplete="off" required />
                            <label for="password"><span><?php /* @escapeNotVerified */ echo __('New Password') ?></span></label>
                        </div>
                        <div id="password-strength-meter-container" data-role="password-strength-meter" >
                            <div id="password-strength-meter" class="password-strength-meter">
                                <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                                <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                                    <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pad-zl">
                    <div class="floating-label form-group confirm password required" data-container="confirm-password">
                        <input type="password" class="form-control" name="password_confirmation" id="password-confirmation"
                                data-input="confirm-password"
                                autocomplete="off" required />
                        <label for="password-confirmation"><span><?php /* @escapeNotVerified */ echo __('Confirm New Password') ?></span></label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6 radio mrg-zv">
                    <label class="btn btn-default btn-lg btn-block btn-outline childChecked">
                        <input type="radio" name="gender" id="Man" autocomplete="off" checked> Man
                    </label>
                </div>
                <div class="col-sm-6 radio mrg-zv pad-zl">
                    <label class="btn btn-default btn-lg btn-block btn-outline">
                        <input type="radio" name="gender" id="Woman" autocomplete="off"> Woman
                    </label>
                </div>
            </div>
        </fieldset>
        <div class="col-sm-12">
            <hr>
            <div class="col-sm-3">
                <div class="actions-toolbar row mrg-dt">
                    <div class="primary">
                        <button type="submit" class="action save primary btn btn-dark btn-block btn-xxl" title="<?php /* @escapeNotVerified */ echo __('Save') ?>"><span><?php /* @escapeNotVerified */ echo __('Save Changes') ?></span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="space-lg"></div>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = <?php /* @escapeNotVerified */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;
        
        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?php /* @escapeNotVerified */ echo __('Change Email') ?>",
                "titleChangePassword": "<?php /* @escapeNotVerified */ echo __('Change Password') ?>",
                "titleChangeEmailAndPassword": "<?php /* @escapeNotVerified */ echo __('Change Email and Password') ?>"
            }
        }
    }
</script>
