<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

?>
<div class="col-sm-4 center-block">
    <div class="login-wrapper">
        <div class="wrap">
            <h3 class="h3">Forgot My password</h3>
            <form class="form password forget"
                  action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/forgotpasswordpost') ?>"
                  method="post"
                  id="form-validate"
                  data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                    <div class="mrg-gb text-wrap text-left"><?php /* @escapeNotVerified */ echo __('No problem. Enter your E-mail here and we\'ll send you a link to reset it.'); ?></div>
                    <div class="field email required form-group floating-label mrgb-30">
                        <div class="control">
                            <input required type="text" name="email" alt="email" id="email_address" class="input-text form-control" value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
                            <label for="email_address"><?php /* @escapeNotVerified */ echo __('E-mail Address') ?></label>
                        </div>
                    </div>
                    <?php echo $block->getChildHtml('form_additional_info'); ?>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action submit primary btn btn-dark btn-lg btn-block send mrg-gb"><?php /* @escapeNotVerified */ echo __('Continue') ?><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="secondary">
                        <a class="action back btn btn-link btn-block" href="<?php /* @escapeNotVerified */ echo $block->getLoginUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Cancel') ?></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>