<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<div class="col-sm-4 center-block">
    <div class="block block-customer-login login-wrapper">
        <h3 class="h3"><?php /* @escapeNotVerified */ echo __('My Account') ?>
        </h3>
        <h4 class="h4 pad-dt"><?php /* @escapeNotVerified */ echo __('Login in to your Account') ?></h4>
        <div class="panel pane-bg-color">
            <div class="panel-body"><span class="new-here">New Here? </span><a href="<?php echo $this->getUrl(); ?>customer/account/create/" data-toggle="" data-target="#" data-dismiss="" class="btn btn-sm btn-dark mrg-sl">Create New Account</a></div>
        </div>
        <div class="block-content wrap pad-zh" aria-labelledby="block-customer-login-heading">
            <form class="form form-login form-customer-login"
                  action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
                  method="post"
                  id="login-form"
                  data-mage-init='{"validation":{}}'>
                <?php echo $block->getBlockHtml('formkey'); ?>
                <fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                    
                    <div class="field email required floating-label form-group email">
                        <div class="control">
                            <input required name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text form-control" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}">
                            <label for="email"><?php /* @escapeNotVerified */ echo __('Email') ?></label>
                        </div>
                    </div>
                    <div class="field password required floating-label form-group password">
                        <div class="control">
                            <input required name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text form-control" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}">
                            <label for="pass"><?php /* @escapeNotVerified */ echo __('Password') ?></label>
                        </div>
                    </div>
                    <?php echo $block->getChildHtml('form_additional_info'); ?>
                    <div class="actions-toolbar">
                        <div class="secondary form-group">
                            <a class="action remind sec-col-under fogot-pw" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></a>
                        </div>
                        <div class="primary"><button type="submit" class="action login primary btn btn-dark btn-lg btn-block " name="send" id="send2"><?php /* @escapeNotVerified */ echo __('Continue') ?><i class="fa fa-arrow-right" aria-hidden="true"></i></button></div>
                    </div>
                    <div class="or">or</div>
                    <div class="social-login-popup mrg-sl">
                        <div id="add_button_login_byclass" style="display: block;">
                            <div class="sociallogin-login">
                                <div class="sociallogin-buttons">
                                    <ul class="list-inline">
                                        <li title="Sign in with Facebook">
                                            <a class="sociallogin-button-link sociallogin-button-click btn btn-facebook" rel="nofollow" href="javascript:void(0);" data-href="https://www.facebook.com/dialog/oauth?client_id=1934755420174490&amp;redirect_uri=http://52.30.75.208/emradadev4/sociallogin/account/login/type/facebook/&amp;response_type=code&amp;display=popup" data-width="650" data-height="350">
                                                <i class="fa fa-facebook"></i>
                                                <!-- <span class="sociallogin-button-auto">
                                                <span class="sociallogin-button-icon">
                                                </span>
                                                </span> -->
                                            Sign in with Facebook</a>
                                        </li>
                                        <li title="Sign in with Google">
                                            <a class="sociallogin-button-link sociallogin-button-click btn btn-googleplus" rel="nofollow" href="javascript:void(0);" data-href="https://accounts.google.com/o/oauth2/auth?response_type=code&amp;redirect_uri=http%3A%2F%2F52.30.75.208%2Femradadev4%2Fsociallogin%2Faccount%2Flogin%2Ftype%2Fgoogleplus%2F&amp;client_id=806632194076-n9npq2dlipott48c7nh66c96948fhmde.apps.googleusercontent.com&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&amp;state=&amp;access_type=offline&amp;approval_prompt=auto" data-width="630" data-height="650">
                                                <i class="fa fa-google"></i>
                                                <!-- <span class="sociallogin-button-auto">
                                                <span class="sociallogin-button-icon">
                                                </span>
                                                </span> -->
                                            Sign in with Google</a>
                                        </li>
                                        <li title="Sign in with Instagram">
                                            <a class="sociallogin-button-link sociallogin-button-click btn btn-instagram" rel="nofollow" href="javascript:void(0);" data-href="https://api.instagram.com/oauth/authorize?response_type=code&amp;redirect_uri=http%3A%2F%2F52.30.75.208%2Femradadev4%2Fsociallogin%2Faccount%2Flogin%2Ftype%2Finstagram%2F&amp;client_id=123456789101111213141516&amp;scope=basic" data-width="650" data-height="350">
                                                <i class="fa fa-instagram"></i>
                                                <!-- <span class="sociallogin-button-auto">
                                                <span class="sociallogin-button-icon">
                                                </span>
                                                </span> -->
                                            Sign in with Instagram</a>
                                        </li>
                                        <li title="Sign in with Pinterest">
                                            <a class="sociallogin-button-link sociallogin-button-click btn btn-pinterest" rel="nofollow" href="javascript:void(0);" data-href="https://api.pinterest.com/oauth/?client_id=123456789101111213141516&amp;redirect_uri=http://52.30.75.208/emradadev4/sociallogin/account/login/type/pinterest/&amp;response_type=code&amp;display=popup&amp;scope=read_public" data-width="650" data-height="350">
                                                <i class="fa fa-pinterest"></i>
                                                <!-- <span class="sociallogin-button-auto">
                                                <span class="sociallogin-button-icon">
                                                </span>
                                                </span> -->
                                            Sign in with Pinterest</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        <div style="clear: both;"></div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
