<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<div class="login-wrapper">
    <div class="col-sm-4 center-block" id="social-form-create">
        <?php echo $block->getChildHtml('form_fields_before')?>
        <?php /* Extensions placeholder */ ?>
        <?php echo $block->getChildHtml('customer.form.register.extra')?>
        <form class="form create account form-create-account wrap" action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
            <fieldset class="fieldset create info">
                <h3 class="h3 text-center pad-gb pad-gt"><?php /* @escapeNotVerified */ echo __('Create New Account') ?></h3>
                <!-- <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Personal Information') ?></span></legend><br> -->
                <div class="panel pane-bg-color mrgb-30-imp">
                    <div class="panel-body"><span class="new-here"> Already have an account? </span><a href="<?php echo $this->getUrl(); ?>customer/account/login/" data-toggle="" data-target="#" data-dismiss="" class="btn btn-sm btn-dark mrg-sl">Sign in</a></div>
                </div>
                <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
                <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
                <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                <?php if ($block->isNewsletterEnabled()): ?>
                    <!-- <div class="field choice newsletter">
                        <input type="checkbox" name="is_subscribed" title="<?php /* @escapeNotVerified */ echo __('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                        <label for="is_subscribed" class="label"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Newsletter') ?></span></label>
                    </div> -->
                    <?php /* Extensions placeholder */ ?>
                    <?php echo $block->getChildHtml('customer.form.register.newsletter')?>
                <?php endif ?>

                <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
                <?php if ($_dob->isEnabled()): ?>
                    <?php echo $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
                <?php endif ?>

                <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
                <?php if ($_taxvat->isEnabled()): ?>
                    <?php echo $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
                <?php endif ?>

                <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
                <?php if ($_gender->isEnabled()): ?>
                    <?php echo $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
                <?php endif ?>
            </fieldset>
            <?php if ($block->getShowAddressFields()): ?>
                <fieldset class="fieldset address">
                    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Address Information') ?></span></legend><br>
                    <input type="hidden" name="create_address" value="1" />
                    <div class="field company">
                        <label for="company" class="label"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
                        <div class="control">
                            <input type="text" name="company" id="company" value="<?php echo $block->escapeHtml($block->getFormData()->getCompany()) ?>" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                        </div>
                    </div>
                    <div class="field telephone">
                        <label for="telephone" class="label"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
                        <div class="control">
                            <input type="text" name="telephone" id="telephone" value="<?php echo $block->escapeHtml($block->getFormData()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>">
                        </div>
                    </div>

                    <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

                    <div class="field street required">
                        <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
                        <div class="control">
                            <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getFormData()->getStreet(0)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                            <div class="nested">
                                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                                <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                    <div class="field additional">
                                        <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i ?>">
                                            <span><?php /* @escapeNotVerified */ echo __('Address') ?></span>
                                        </label>
                                        <div class="control">
                                            <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i ?>" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                                        </div>
                                    </div>
                                <?php endfor; ?>
                            </div>
                        </div>
                    </div>

                    <div class="field required">
                        <label for="city" class="label"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                        <div class="control">
                            <input type="text" name="city" value="<?php echo $block->escapeHtml($block->getFormData()->getCity()) ?>" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
                        </div>
                    </div>

                    <div class="field region required">
                        <label for="region_id" class="label"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
                        <div class="control">
                            <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                            </select>
                            <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" style="display:none;">
                        </div>
                    </div>

                    <div class="field zip required">
                        <label for="zip" class="label"><span><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></span></label>
                        <div class="control">
                            <input type="text" name="postcode" value="<?php echo $block->escapeHtml($block->getFormData()->getPostcode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                        </div>
                    </div>

                    <div class="field country required">
                        <label for="country" class="label"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                        <div class="control">
                            <?php echo $block->getCountryHtmlSelect() ?>
                        </div>
                    </div>
                    <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
                    <?php if ($addressAttributes): ?>
                        <?php $addressAttributes->setEntityType('customer_address'); ?>
                        <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                        <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                        <?php echo $addressAttributes->setShowContainer(false)->toHtml()?>
                    <?php endif;?>
                    <input type="hidden" name="default_billing" value="1">
                    <input type="hidden" name="default_shipping" value="1">
                </fieldset>

            <?php endif; ?>
            <fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                <!-- <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Sign-in Information') ?></span></legend><br> -->
                <div class="field required form-group floating-label">
                    <div class="control">
                        <input required type="text" name="email" autocomplete="email" id="email_address" value="<?php echo $block->escapeHtml($block->getFormData()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text form-control" data-validate="{required:true, 'validate-email':true}">
                        <label for="email_address"><?php /* @escapeNotVerified */ echo __('Email') ?></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="field password required form-group floating-label" data-mage-init='{"passwordStrengthIndicator": {}}'>
                            <div class="control">
                                <input required type="password" name="password" id="password"
                                       title="<?php /* @escapeNotVerified */ echo __('Password') ?>"
                                       class="input-text form-control"
                                       data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                                       data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                                       data-validate="{required:true, 'validate-customer-password':true}"
                                       autocomplete="off">
                                <label for="password"><?php /* @escapeNotVerified */ echo __('Password') ?></label>
                               <!--  <div id="password-strength-meter-container" data-role="password-strength-meter" >
                                   <div id="password-strength-meter" class="password-strength-meter">
                                       <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                                       <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                                           <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                                       </span>
                                   </div>
                               </div> -->
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 pad-zl">
                        <div class="field confirmation required form-group floating-label">
                            <div class="control">
                                <input required type="password" name="password_confirmation" title="<?php /* @escapeNotVerified */ echo __('Confirm Password') ?>" id="password-confirmation" class="input-text form-control" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
                                <label for="password-confirmation"><?php /* @escapeNotVerified */ echo __('Confirm Password') ?></label>
                            </div>
                        </div>
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
            </fieldset>
            <div class="row btn-group" data-toggle="buttons">
                <div class="col-sm-6 form-group">
                    <label class="btn btn-outline btn-block active"><input type="radio" name="options" id="option1" autocomplete="off" checked="">Man</label>
                </div>
                <div class="col-sm-6 pad-zl form-group">
                    <label class="btn btn-outline btn-block"><input type="radio" name="options" id="option2" autocomplete="off">Woman</label>
                </div>
            </div>
            <hr>
            <div class="form-group text-left special-offers">
                <div class="checkbox font-sm">
                    <label for="is_subscribed"><input type="checkbox" name="is_subscribed" title="Sign Up for Newsletter" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> checked>
                    <span class="check"></span> Sign up for special offers and stay on top of trends</label>
                </div>
            </div>
            <div class="form-group text-left terms">
                <div class="checkbox font-sm">
                    <label for="terms_conditions">
                        <input type="checkbox" name="terms_conditions" title="Terms and conditions" value="1" id="terms_conditions" checked="checked" required="">
                        <span class="check"></span> I agree to the <a href="terms-and-conditions">Terms and Conditions</a>
                    </label> 
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary form-group">
                    <button type="submit" class="action submit primary btn btn-dark btn-lg btn-block" title="<?php /* @escapeNotVerified */ echo __('Continue') ?>"><?php /* @escapeNotVerified */ echo __('Continue') ?> <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                </div>
                <!-- <span class="new-here"> Already have an account? </span>
                <span class="secondary">
                    <a class="btn btn-sm btn-dark mrg-sl" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><?php /* @escapeNotVerified */ echo __('Sign in') ?></a>
                </span> -->
            </div>
            <div class="or">or</div>
            <div class="social-login-popup mrg-sl">
                <div id="add_button_login_byclass" style="display: block;">
                    <div class="sociallogin-login">
                        <div class="sociallogin-buttons">
                            <ul class="list-inline">
                                <li title="Sign in with Facebook">
                                    <a class="sociallogin-button-link sociallogin-button-click btn btn-facebook" rel="nofollow" href="javascript:void(0);" data-href="https://www.facebook.com/dialog/oauth?client_id=1934755420174490&amp;redirect_uri=http://52.30.75.208/emradadev4/sociallogin/account/login/type/facebook/&amp;response_type=code&amp;display=popup" data-width="650" data-height="350">
                                        <i class="fa fa-facebook"></i>
                                        <!-- <span class="sociallogin-button-auto">
                                        <span class="sociallogin-button-icon">
                                        </span>
                                        </span> -->
                                    Sign in with Facebook</a>
                                </li>
                                <li title="Sign in with Google">
                                    <a class="sociallogin-button-link sociallogin-button-click btn btn-googleplus" rel="nofollow" href="javascript:void(0);" data-href="https://accounts.google.com/o/oauth2/auth?response_type=code&amp;redirect_uri=http%3A%2F%2F52.30.75.208%2Femradadev4%2Fsociallogin%2Faccount%2Flogin%2Ftype%2Fgoogleplus%2F&amp;client_id=806632194076-n9npq2dlipott48c7nh66c96948fhmde.apps.googleusercontent.com&amp;scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email&amp;state=&amp;access_type=offline&amp;approval_prompt=auto" data-width="630" data-height="650">
                                        <i class="fa fa-google"></i>
                                        <!-- <span class="sociallogin-button-auto">
                                        <span class="sociallogin-button-icon">
                                        </span>
                                        </span> -->
                                    Sign in with Google</a>
                                </li>
                                <li title="Sign in with Instagram">
                                    <a class="sociallogin-button-link sociallogin-button-click btn btn-instagram" rel="nofollow" href="javascript:void(0);" data-href="https://api.instagram.com/oauth/authorize?response_type=code&amp;redirect_uri=http%3A%2F%2F52.30.75.208%2Femradadev4%2Fsociallogin%2Faccount%2Flogin%2Ftype%2Finstagram%2F&amp;client_id=123456789101111213141516&amp;scope=basic" data-width="650" data-height="350">
                                        <i class="fa fa-instagram"></i>
                                        <!-- <span class="sociallogin-button-auto">
                                        <span class="sociallogin-button-icon">
                                        </span>
                                        </span> -->
                                    Sign in with Instagram</a>
                                </li>
                                <li title="Sign in with Pinterest">
                                    <a class="sociallogin-button-link sociallogin-button-click btn btn-pinterest" rel="nofollow" href="javascript:void(0);" data-href="https://api.pinterest.com/oauth/?client_id=123456789101111213141516&amp;redirect_uri=http://52.30.75.208/emradadev4/sociallogin/account/login/type/pinterest/&amp;response_type=code&amp;display=popup&amp;scope=read_public" data-width="650" data-height="350">
                                        <i class="fa fa-pinterest"></i>
                                        <!-- <span class="sociallogin-button-auto">
                                        <span class="sociallogin-button-icon">
                                        </span>
                                        </span> -->
                                    Sign in with Pinterest</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                <div style="clear: both;"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-validate');
    var ignore = <?php /* @escapeNotVerified */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;
    
    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');

});
</script>
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>
