<div class="modal-footer tooltip-popup-footer">
	<img class="logo-popup-footer img-responsive" src='<?php echo $this->getViewFileUrl('images/emrada-logo-main.png'); ?>' alt="Emrada logo">
	<h6 class="small-footer-white" href="contact">HELP CENTER</h6>
</div>