<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Review\Block\Form
 */
?>
<div class="block review-add">
    <!-- <div class="block-title text-center"><strong><?php /* @escapeNotVerified */ echo __('Write Your Own Review') ?></strong></div> -->
<div class="block-content">
<?php if ($block->getAllowWriteReviewFlag()): ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getAction() ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'" enctype="multipart/form-data">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <?php echo $block->getChildHtml('form_fields_before')?>
    <fieldset class="fieldset review-fieldset" data-hasrequired="<?php __('* Required Fields'); ?>">
        <!-- <legend class="legend review-legend text-center"><span><?php /* @escapeNotVerified */ //cho __("You're reviewing:"); ?></span><strong><?php echo $block->escapeHtml($block->getProductInfo()->getName()) ?></strong></legend><br /> -->
        <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
        <span id="input-message-box"></span>
        <h4 class="color-gray write-review">WRITE A REVIEW</h4>
        <h4 class="write-review font-sb font-sm" style="color: #4eb7c3;">SCORE:</h4>
        <fieldset class="field required review-field-ratings">
            <?php /* <legend class="label"><span><?php @escapeNotVerified  echo __('Your Rating') ?><span></legend><br/> */ ?>
            <div class="control">
                <div class="nested" id="product-review-table">
                    <?php foreach ($block->getRatings() as $_rating): ?>
                        <div class="field choice review-field-rating">
                            <label class="label" id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label"><span><?php echo $block->escapeHtml($_rating->getRatingCode()) ?></span></label>
                            <div class="control review-control-vote star">
                            <?php $options = $_rating->getOptions();?>
                            <?php $iterator = 1; foreach ($options as $_option): ?>
                                <input
                                    type="radio"
                                    name="ratings[<?php /* @escapeNotVerified */ echo $_rating->getId() ?>]"
                                    id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>"
                                    value="<?php /* @escapeNotVerified */ echo $_option->getId() ?>"
                                    class="radio"
                                    data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                    aria-labelledby="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label <?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>_label" />
                                <label
                                    class="rating-<?php /* @escapeNotVerified */ echo $iterator; ?>"
                                    for="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>"
                                    title="<?php /* @escapeNotVerified */ echo __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?>"
                                    id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>_label">
                                    <span><?php /* @escapeNotVerified */ echo __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?></span>
                                </label>
                            <?php $iterator++; ?>
                            <?php endforeach; ?>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
                <input type="hidden" name="validate_rating" class="validate-rating" value="" />
            </div>
        </fieldset>
        <?php endif ?>
        <div class="col-md-6">
            <div class="floating-label form-group review-field-nickname">
                <input required type="text" name="nickname" id="nickname_field" placeholder=" " class="form-control" data-validate="{required:true}" data-bind="value: nickname()" />
                <label for="nickname_field"><span><?php /* @escapeNotVerified */ echo __('name') ?></span></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="floating-label form-group review-field-nickname">
                <input required type="text" name="order-number" id="order-number" placeholder=" " class="form-control" data-validate="{required:true}" data-bind="value: order-number()" />
                <label for="order-number"><span><?php /* @escapeNotVerified */ echo __('order number') ?></span></label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="floating-label form-group review-field-summary">
                <input required type="text" name="title" id="summary_field" placeholder=" " class="form-control" data-validate="{required:true}" data-bind="value: review().title" />
                <label for="summary_field"><span><?php /* @escapeNotVerified */ echo __('title') ?></span></label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="floating-label form-group review-field-text">
                <textarea required name="detail" id="review_field" class="form-control" placeholder=" " cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
                <label for="review_field" class="review-form-textarea"><span><?php /* @escapeNotVerified */ echo __('review') ?></span></label>
            </div>
        </div>
        <span class="actions-toolbar review-form-actions mrg-db">
            <img id="fileOutputreview" style="max-width: 75px;">
            <i class="em em-remove" onclick="del();" aria-hidden="false" id="del"></i>
            <a href="" class="btn btn-default" style="text-transform: none;" id="add_Image">
            <input type="file" id="browse" name="fileupload" onchange="fileReviewUplode();" accept=".jpg, .jpeg, .png"/>
                <span><i class="fa fa-plus" aria-hidden="true"></i> Add an Image</span>
            </a>
        </span>
    </fieldset>
    <?php echo $this->getLayout()->createBlock("Bss\SocialLogin\Block\Recaptcha")->setTemplate("Bss_SocialLogin::recaptcha.phtml")->toHtml(); ?>
         <div class="recaptcha field required" style="overflow:hidden;position:relative;margin-bottom:10px;">
            <div id="tab-login-recaptcha"></div>
            <input type="text" id="login-recaptcha" name="login-recaptcha" value="" class="bss-recaptcha" data-validate="{required:true, 'required-entry':true}" readonly style="visibility:hidden; position:absolute; left:-1000000px" />
        </div>
       <div class="actions-toolbar review-form-actions submit-review">
        <div class="primary actions-primary">
            <button type="submit" class="action submit primary btn btn-dark review-form-submit"><span><?php /* @escapeNotVerified */ echo __('Submit Review') ?></span></button>
        </div>
    </div>
    <div class="g-recaptcha" data-sitekey="6Lf9hDgUAAAAAJUPZebMM961z0s4zwTJMw34gVgh"></div>
</form>

<script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
    },
    "#review-form": {
        "Magento_Review/js/error-placement": {}
    }
}
</script>
<?php else: ?>
    <div class="message info notlogged" id="review-form">
        <div>
            <?php /* @escapeNotVerified */ echo __('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()) ?>
        </div>
    </div>
<?php endif ?>
</div>
</div>
<script type="text/javascript">
    function fileReviewUplode() {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function(){
            var dataURL = reader.result;
            var output = document.getElementById('fileOutputreview');
            output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
        document.getElementById('fileOutputreview').style.display = 'inline-block';
        document.getElementById('del').style.display = 'inline-block';
        document.getElementById('add_Image').style.display = 'none';

    };
    function del(){
        document.getElementById('add_Image').style.display = 'inline-block';
        document.getElementById('fileOutputreview').style.display = 'none';
        document.getElementById('del').style.display = 'none';
    };
</script> 