<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */
$_item = $block->getItem();
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
if($childProd = current($_item->getChildrenItems())){
    $productImage = $_imagehelper->init($childProd->getProduct(), 'category_page_list', array('height' => 156 , 'width'=> 170))->getUrl();
}
else{
    $productImage = $_imagehelper->init($_item->getProduct(), 'category_page_list', array('height' => 156 , 'width'=> 170))->getUrl();
}
//$productName = $block->escapeHtml($_item->getName());
//echo $_item->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getProduct()->getId($_item->getId()));
//echo $product->getThumbnail();
?>
<div id="order-item-row-<?php /* @escapeNotVerified */ echo $_item->getId() ?>">
    <div class="item-info clearfix items">
        <div data-th="Item" class="col item col-sm-3">
            <div class="thumbnail img-thumbnail no-border">
                <a href="<?php echo  $product->getProductUrl();?>" title="" tabindex="-1" class="product-item-photo visbile-in-blk">
                    <span class="product-image-container" style="width:110px;">
                        <span class="product-image-wrapper" style="padding-bottom: 145.45454545455%;">
                            <img src="<?=$productImage?>" title="<?= $block->escapeHtml($_item->getName()) ?>" alt="<?= $block->escapeHtml($_item->getName()) ?>" />
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="col col-sm-4 name name-order-list" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>"> 
            <div class="text-gray mrg-xb">YOUR SETTING</div>       
            <span class="product name product-item-name"><?php echo $block->escapeHtml($_item->getName()) ?></span>
            <?php if ($_options = $block->getItemOptions()): ?>
            <div class="item-options">
            <?php foreach ($_options as $_option) : ?>
                <div><?php echo $block->escapeHtml($_option['label']) ?></div>
                <?php if (!$block->getPrintStatus()): ?>
                    <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                    <div>
                        <?php if (isset($_formatedOptionValue['full_view'])): ?>
                            <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                        <?php else: ?>
                            <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                        <?php endif; ?>
                    </div>
                <?php else: ?>
                    <div>
                        <?php echo nl2br($block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value']))) ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            </div>
            <?php endif; ?>
            <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
            <?php if ($addtInfoBlock) :?>
                <?php echo $addtInfoBlock->setItem($_item)->toHtml(); ?>
            <?php endif; ?>
            <?php echo $block->escapeHtml($_item->getDescription()) ?>
            <div class="col sku" data-th="<?php echo $block->escapeHtml(__('SKU')); ?>"><?php /* @escapeNotVerified */ echo $block->prepareSku($block->getSku()) ?></div>
            <a href="" class="my-zone-link">CHANGE</a> 
        </div>
        <!-- <div class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
            <?php echo $block->getItemPriceHtml(); ?>
        </div> -->
        <div class="col qty col-sm-2" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
            <ul class="items-qty list-unstyled">
            <?php if ($block->getItem()->getQtyOrdered() > 0): ?>
                <li class="item">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Ordered'); ?></span>
                    <span>QUANTITY:</span>
                    <span class="content"><?php /* @escapeNotVerified */ echo $block->getItem()->getQtyOrdered()*1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyShipped() > 0): ?>
                <li class="item">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Shipped'); ?></span>
                    <span>QUANTITY:</span>
                    <span class="content"><?php /* @escapeNotVerified */ echo $block->getItem()->getQtyShipped()*1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyCanceled() > 0): ?>
                <li class="item">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Canceled'); ?></span>
                    <span>QUANTITY:</span>
                    <span class="content"><?php /* @escapeNotVerified */ echo $block->getItem()->getQtyCanceled()*1 ?></span>
                </li>
            <?php endif; ?>
            <?php if ($block->getItem()->getQtyRefunded() > 0): ?>
                <li class="item">
                    <span class="title"><?php /* @escapeNotVerified */ echo __('Refunded'); ?></span>
                    <span>QUANTITY:</span>
                    <span class="content"><?php /* @escapeNotVerified */ echo $block->getItem()->getQtyRefunded()*1 ?></span>
                </li>
            <?php endif; ?>
            </ul>
        </div>
        <div class="col subtotal col-sm-3" data-th="<?php echo $block->escapeHtml(__('Subtotal')); ?>">
            <?php echo $block->getItemRowTotalHtml(); ?>
        </div>
    </div>
</div>