<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Natural Gemstones</h4>
					<h1 class="h1">Blue Sapphires</h1>
				</div>
				<div class="well well-simple">
					<h3 class="head">Blue Sapphires</h3>
					<p>Sapphires are one of the hardest gemstones, with only diamonds and moissanite being more durable. Most sapphires on sale today come in various shades of blue, but there are also exotic - and very rare - yellow and pink sapphires. Pink sapphires in particular are regarded as collectors pieces and are highly valued for their beautiful and mysterious appearance.</p>
				</div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body">
						<p>Sapphires are the traditional birthstone for the month of September and are associated with the star sign Taurus. They are a great choice of gemstone for an engagement ring or wedding for anybody who is a Taurus and also make a great jewelry gift.<br>Check out Emrada’s exciting range of sapphire earrings, sapphire bracelets, necklaces and pendants. Or you can talk to an Emrada stylist about how to choose the perfect sapphire gift on a budget!</p>
					</div>
				</div>
				<div class="well well-simple mrg-zb">
					<p class="pad-gb">Naturally occurring pure blue sapphires are rare and attract high prices. Most untreated stones come in varying shades of purple, violet, green and gray. Gray reduces the brightness of blue sapphires and detracts from their value. </p>
					<p class="pad-gb">Violet and purple can often add to the beauty of a blue sapphire, giving the stone a unique character and individuality. A greenish color is an inherent element of blue sapphires (particularly when the stone is viewed from a right angle) but is seen as detracting from the overall quality of a stone. </p>
					<p>Sapphires are dichroic stones, meaning that their color will vary depending on the direction from which they are viewed.  Sapphires are cut to remove or minimise the effect of greenish elements. The cutter will try to ensure that the best blue color shows through the sapphire’s crown.  </p>
				</div>
				<div class="well edu-bg-blue text-center pad-50">
					<p class="pad-sb">A high quality blue stone is generally considered to be 85% primary blue in colour with no more than 15% violet or purple admixture. Greenish and greyish hues should not be visible to the naked eye. </p>
				</div>
				<div class="well well-simple mrg-zb">
					<div class="media mrg-gb edu-bg-blue mrg-zb">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/blue-sapphires/blue-sapphires.jpg') ?>" alt="Image">
						</a>
						<div class="media-body">
							<p>Unlike diamonds, inclusions can sometimes enhance the beauty of a blue sapphire and add to its value. Star sapphires contain needle-like inclusions that intersect to create a star shaped effect. When a dark blue sapphire resembles the sky the star like inclusion can be particularly dramatic. </p>
						</div>
					</div>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head h3">Stylist's Recommendation</h3></div>
				<div class="well well-simple mrg-zb">
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/blue-sapphires/blue-sapphires-2.jpg') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv">
							<p class="pad-gt">Blue sapphires are usually displayed to their best advantage with white gold or platinum. You can also create a wonderful 3 stone ring with a diamond center stone flanked by two sapphires. A ring like that will quickly become a treasured possession.</p>
							<p>Blue sapphires are also wonderful gemstones for necklaces and earrings. They can be strikingly beautiful, particularly if you’ve dressed elegantly for a special dinner or formal event.</p>
							<p>Blue sapphires are also a traditional gift for anybody celebrating their 65th wedding anniversary! </p>
						</div>
					</div>
				</div>
				<div class="well well-simple xs-tc pad-zt"><a href="#" class="btn btn-turkish">Talk to a stylist</a></div>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>