<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Natural Gemstones</h4>
					<h1 class="h1">Gemstones</h1>
				</div>
				<div class="space-xs"></div>
				<iframe id="google_map" width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCB3-eg6Ah_lgQUJI2rVEpf8XO5u3_jioE&q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
				<div class="well well-simple mrg-zb">
					<h3 class="head">Rough Guide to Gemstones</h3>
					<p class="mrg-zb">Gemstones or precious stones often make an interesting alternative to diamonds when you are choosing an engagement ring. There are many different kinds of gemstones and semi-precious stones on the market, but the most popular and best-known stones are sapphires, emeralds and rubies. If you want to design your own engagement ring or want to buy a three stone ring it’s definitely worth checking out Emrada’s collection of fine gemstones. </p>
				</div>
				<div class="well well-simple mrg-zb">
					<h3 class="head">Why Choose a Gemstone</h3>
					<p class="pad-sb">Some people find diamonds fascinating and never grow tired of watching them flash and sparkle. They also love the elegance, prestige and feeling of luxury that comes with a beautiful diamond engagement ring.</p>
					<p class="mrg-zb">But the magic of cut and polished diamonds doesn’t captivate everybody. A minority of jewelry lovers  prefer high quality gemstones. Sapphires, rubies and emeralds have their own magic and have been the centerpieces of some of the most famous pieces of jewelry in history. Gemstones can also be set alongside diamonds to create beautiful three stone rings or more complex designs.</p>
				</div>
				<div class="well well-simple mrg-zb pad-zb"><h3 class="head">Gemstone Color </h3>
					<p class="visible-xs">Gemstones come in many different colors, or even combinations of colors. There are three key terms for describing all the variations of color.</p>
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/gemstones/gemstone-color.jpg') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv xs-tc">
							<div class="pad-gt">
								<p class=hidden-xs>Gemstones come in many different colors, or even combinations of colors. There are three key terms for describing all the variations of color.</p>
								<h4 class="h4 edu-head-color xs-head xs-tc">Hue</h4>
								<p>Hue is the primary color of the gemstone e.g. red, blue or green etc. </p>
								<h4 class="h4 edu-head-color xs-head xs-tc">Saturation</h4>
								<p>Saturation is the vividness or brightness of the hue</p>
								<h4 class="h4 edu-head-color xs-head xs-tc">Tone</h4>
								<p>Tone is the lightness to darkness of the hue.</p>
							</div>
						</div>
					</div>					
				</div>
				<div class="well well-simple mrg-zb pad-zb">
					<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Gemstone Anatomy</h3>
						<h4 class="pad-sb">Cut, Clarity and Polish</h4>
						<p class="pad-db">Gemstones contain more inclusions (internal flaws) than diamonds and are not graded as stringently. Instead of a x10 appraisal with a loupe, gemstones will be checked by the naked eye under ordinary lighting conditions. The stones that pass this basic test are graded as ‘eye clean’. The GIA divides gemstones into three broad categories for clarity.</p>			
						<div class="row">
							<div class="col-sm-4">
								<div class="thumbnail border-thumb thumb-left">
									<img src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/gemstones/blue-sapphires-type-2.jpg') ?>" alt="thumbnail">
									<div class="caption text-left">
										<h4 class="font-sb">Sapphire</h4>
										<h5>Type 2</h5>
										<p>Usually some inclusions visible to the naked eye</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail border-thumb thumb-left">
									<img src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/gemstones/ruby-type-2.jpg') ?>" alt="thumbnail">
									<div class="caption text-left">
										<h4 class="font-sb">Ruby</h4>
										<h5>Type 2</h5>
										<p>Usually some inclusions visible to the naked eye</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail border-thumb thumb-left">
									<img src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/gemstones/emerald-type-3.jpg') ?>" alt="thumbnail">
									<div class="caption text-left">
										<h4 class="font-sb">Emerald</h4>
										<h5>Type 3</h5>
										<p>Almost always some inclusions visible to the naked eye</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p>Gemstones are cut according to the same basic principles as diamonds with the crown or table facets designed to capture light and the pavilion facets designed to reflect light internally. A gemstone’s final shape will often be dictated by its visible inclusions, as the cutter tries to exclude flaws or minimise them. A well cut stone will not show any inner darkness or windowing.</p>
				<p>All cut gemstones are finished with a professional polish. A well polished stone reflects and refracts light and has a good sparkle under normal light conditions. </p>
				<div class="space-xs"></div>
				<div class="well edu-bg-blue text-center pad-50">
					<p class="pad-sb font-md">Almost all modern gemstones and precious stones are heat treated to enhance their color. This is standard practice across the world and doesn’t affect a stone’s authenticity or worth. Instead heat treatment results in a stone with significantly better color saturation and tone.</p>
				</div>				
			</div>
			<div class="space-lg"></div>
			<div class="space-xs hidden-xs"></div>
		</div>
	</div>
</div>