<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Natural Gemstones</h4>
					<h1 class="h1">Green Emeralds</h1>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Green Emeralds</h3>
					<p>Emeralds are one of the most popular choices of gemstone. Their mysterious green color has captivated people for thousands of years and and they were prized as jewellry by the ancient Egyptians and many other cultures. </p>
					<p class="pad-st">Emeralds obtain their green color from chromium or occasionally vanadium impurities. The level of these impurities determines the tone and saturation of the green. Emeralds can vary from very pale light green stones, to lustrous dark gems with a deep and subtle beauty. </p>
					<div class="pad-st">The actual color of emeralds can vary from bluish green to a yellowish green but the most popular stones are a vivid verdant green with a medium to dark tone, a high level of transparency, and no visible inclusions. Unlike diamonds, emeralds are not appraised with a x10 loupe but are assessed by the naked eye. Stones that pass such an appraisal are known as ‘eye clean’.</div>
					<img class="diamond-banner mrg-gt" src="<?php echo $this->getViewFileUrl('images/education-center/diamond-big.png') ?>" alt="Image">
					<div class="well edu-bg-blue text-center pad-50">
						<p>Emeralds are the traditional birthstone for the month of May and are associated with the star signs Cancer and Taurus.</p>
					</div>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head h3">Stylist's Recommendation</h3></div>
				<div class="well well-simple">
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/green-emeralds/green-emeralds.jpg') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv xs-tc">
							<p class="pad-gt">If you want to display an emerald to its best advantage consider a white gold or platinum setting. Many people like to complement their emerald centerpiece with a halo or micro pave cluster of diamonds. </p>
							<p>Emeralds are often given as a 20th wedding anniversary gift. Sometimes a family will come together to buy a joint gift of an emerald necklace or emerald earrings as a celebration. </p>
							<div class="white-break"></div>
							<div class="pad-xt white-break"><a href="#" class="btn btn-turkish">talk to stylist</a></div>
						</div>
					</div>
				</div>
				<div class="space-lg"></div>
				<div class="space-lg hidden-xs"></div>
			</div>
		</div>
	</div>
</div>