<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Natural Gemstones</h4>
					<h1 class="h1">Pink Sapphires</h1>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Pink Sapphires</h3>
					<p>Pink sapphires are rare and highly prized gemstones. They gain their color from the presence of chromium impurities. The greater the pink saturation, the higher the value of the stone. Pink sapphires vary in tone and saturation from very pale pastel shades to vivid deep pinks that almost qualify as rubies. Most pink stones are cut into cushion or oval shapes and strike a reasonable balance between brilliance and stone size.</p>
					<img class="diamond-banner mrg-gt" src="<?php echo $this->getViewFileUrl('images/education-center/diamond-big.png') ?>" alt="Image">
					<div class="well edu-bg-blue text-center pad-50">
						<p>Sapphires are the traditional birthstone for the month of September and are associated with the star sign Taurus.</p>
					</div>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head h3">Stylist's Recommendation</h3></div>
				<div class="well well-simple">
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/pink-sapphires/pink-sapphires.jpg') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv xs-tc">
							<p class="pad-gt">Pink sapphires have many different tones and saturation levels and no two stones are alike. That said, most people who buy these rare gemstones generally opt for solitaire or halo settings in white gold or platinum. Rose gold can also create a very soft and warm effect with certain pink sapphires.</p>
							<p>Pink sapphires are very rare and extremely beautiful stones that can make a really special gift for a woman who loves fine jewelry. A pink sapphire pendant or earrings can be a wonderful birthday present. Sometimes a family will come together to buy a joint gift of an emerald necklace or emerald earrings as a celebration.  </p>
						</div>
					</div>
					<div class="pad-xt xs-tc"><a href="#" class="btn btn-turkish">talk to stylist</a></div>
				</div>
				<div class="space-lg"></div>
				<div class="space-lg hidden-xs"></div>
			</div>
		</div>
	</div>
</div>