<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Natural Gemstones</h4>
					<h1 class="h1">Red Rubies</h1>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Red Rubies</h3>
					<p>Like pink sapphires, red rubies are corundum stones that gain their coloring from chromium impurities. The difference between a pink sapphire and a true ruby depends on the level of chromium and the hue it creates. Different cultures and regions have slightly different criteria, but in the US and Europe a ruby is always a distinctive red colour.</p>
					<p class="pad-st">The ideal stone is a vivid medium dark red hue with a similar tone and saturation. Unlike diamonds, rubies are not appraised with a x10 loupe but are assessed by the naked eye. Stones that pass such an appraisal are known as ‘eye clean’.</p>
					<p class="pad-st">Rubies mined in different countries are famous for their special characteristics and different hues. Thai rubies are said to be garnet red in color, while Sri Lankan rubies can have pinkish or purplish shades and a high level of clarity.</p>
					<div class="pad-st"> Both Sri Lankan and Burmese rubies have a tendency to fluoresce. The eight year US ban on the import of Burmese (Myanmar) rubies was lifted in 2016 and we are now seeing more of these beautiful stones on the market.</div>
					<img class="diamond-banner mrg-gt" src="<?php echo $this->getViewFileUrl('images/education-center/diamond-big.png') ?>" alt="Image">
					<div class="well edu-bg-blue text-center pad-50">
						<p>Rubies are the traditional birthstone for the month of July and are associated with the star sign Cancer and Sagittarius.</p>
					</div>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head h3">Stylist's Recommendation</h3></div>
				<div class="well well-simple">
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/red-ruby/red-rubies.jpg') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv xs-tc">
							<p class="pad-gt">A red ruby is a really versatile stone that will sit beautifully on any color of ring or with any combination of diamonds or other stones. Some people create very simple and elegant solitaire ruby rings, but a halo or side stones arrangement will often really enhance a good ruby. </p>
							<p>A 40th wedding anniversary is known as the ruby wedding anniversary and is traditionally celebrated with a gift of red rubies. Ruby bracelets and earrings have become popular jewelry gifts in recent years.</p>
						</div>
					</div>
					<div class="pad-xt xs-tc"><a href="#" class="btn btn-turkish">talk to stylist</a></div>
				</div>
				<div class="space-lg"></div>
				<div class="space-sm hidden-xs"></div>
			</div>
		</div>
	</div>
</div>