<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Natural Gemstones</h4>
					<h1 class="h1">Yellow Sapphires</h1>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Yellow Sapphires</h3>
					<p>Yellow sapphires sometimes resemble fancy canary diamonds at first glance. They can vary from a classic bright yellow to greenish or orange hues. Yellow sapphires take their color from trace elements of iron and generally contain fewer inclusions than other colors of sapphire.<br/>
					One advantage of yellow sapphires is that traditionally fewer compromises were made between the quality of the cut and the size of the stone. It’s often possible to find high quality stones in radiant cuts.</p>
					<img class="diamond-banner mrg-gt" src="<?php echo $this->getViewFileUrl('images/education-center/diamond-big.png') ?>" alt="Image">
					<div class="well edu-bg-blue text-center pad-50">
						<p>Sapphires are the traditional birthstone for the month of September and are associated with the star sign Taurus.</p>
					</div>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head h3">Stylist's Recommendation</h3></div>
				<div class="well well-simple">
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/natrual-gemstones/yellow-sapphires/yellow-sapphires.jpg') ?>" alt="Image">
						</a>
						<div class="media-body xs-tc">
							<p class="pad-gt">The choice of an unusual yellow sapphire shows boldness, self confidence and originality. It also compliments a woman with a warm and radiant personality.</p>
							<p>A sunburst yellow sapphire set on a white gold or platinum ring will be an immediate talking point at any social gathering. Yellow sapphire jewelry is versatile enough to wear with jeans and a t-shirt or formal eveningwear. A yellow sapphire ring can be matched with yellow sapphire earrings or a necklace.</p>
						</div>
					</div>
					<div class="pad-xt xs-tc"><a href="#" class="btn btn-turkish">talk to stylist</a></div>
				</div>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>