<!-- <?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * New Customer block template
 *
 * @var $block \Magento\Customer\Block\Form\Login\Info
 */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer text-center">
    <div class="block-title">
        <h3 class="h3 pad-gb"><strong id="block-new-customer-heading" role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo __('NEW CUSTOMERS') ?></strong></h3>
    </div>
    <div class="col-sm-4 center-block mrgb-xxl">
        <div class="block-content" aria-labelledby="block-new-customer-heading">
            <h6><?php /* @escapeNotVerified */ echo __('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.') ?></h6>
            <div class="actions-toolbar mrg-gt">
                <div class="primary">
                    <a href="<?php /* @escapeNotVerified */ echo $block->getCreateAccountUrl() ?>" class="action create primary btn btn-sm btn-dark mrg-sl"><span><?php /* @escapeNotVerified */ echo __('Create an Account') ?></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
 -->