<div class="container mrg-gt">
    <div class="">
        <div class="reminder-page-title product-title">Reminder and Greeting Program</div>
    </div>
    <div class="reminder-icon visible-xs"></div>
    <div class="account">
        <div class="clearfix bg-primary">
            <div class="col-sm-3 neg-h15">
                <div class="visible-xs my-zone-btn" data-toggle="collapse" data-target="#reminder_menu">Reminder &amp; Blessing Program</div>
                <div class="block account-nav hidden-xs">
                    <div class="content mrg-dt">
                        <nav class="account-nav">
                            <ul class="nav items">
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>customer/account/">Account Dashboard</a>
                                </li>
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>customer/account/edit/">My Account</a>
                                </li>
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>sales/order/history/">My Orders</a>
                                </li>
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>review/customer/">My Reviews</a>
                                </li>
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>wishlist/">My Favorites</a>
                                </li>
                                <li class="nav item current">
                                    <strong>Reminder &amp; Blessing Program</strong>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="block account-nav hidden-sm hidden-md hidden-lg collapse" id="reminder_menu">
                    <div class="content mrg-dt">
                        <nav class="account-nav">
                            <ul class="nav items">
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>customer/account/">Account Dashboard</a>
                                </li>
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>customer/account/edit/">My Account</a>
                                </li>
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>sales/order/history/">My Orders</a>
                                </li>
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>review/customer/">My Reviews</a>
                                </li>
                                <li class="nav item">
                                    <a href="<?php echo $this->getUrl(); ?>wishlist/">My Favorites</a>
                                </li>
                                <li class="nav item current">
                                    <strong>Reminder &amp; Blessing Program</strong>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="reminders">
                    <div class="clearfix">
                        <div class="col-sm-4 border-btm pad-db mrg-gb pad-zl">
                            <div class="font-sb mrg-gt">Laura Smith</div>
                            <ul class="list-unstyled pad-db">
                                <li class="pad-dt text-gray">Date</li>
                                <li class="text-dark font-sm font-sb">23/06/2017</li>
                                <li class="pad-dt text-gray">Relationship</li>
                                <li class="text-dark font-sm font-sb">WIFE</li>
                                <li class="pad-dt text-gray">Blessing or greeting style</li>
                                <li class="text-dark font-sm font-sb">STYLE OF BLESSING</li>
                                <li class="pad-dt text-gray ">Event</li>
                                <li class="text-dark font-sm font-sb">ANNIVERSARY</li>
                                <a href="#" class="btn btn-link pad-zl pad-dt">EDIT</a>
                            </ul>
                        </div>
                        <div class="col-sm-4 border-btm pad-db mrg-gb pad-zl">
                            <div class="font-sb mrg-gt">Laura Smith</div>
                            <ul class="list-unstyled pad-db">
                                <li class="pad-dt text-gray">Date</li>
                                <li class="text-dark font-sm font-sb">23/06/2017</li>
                                <li class="pad-dt text-gray">Relationship</li>
                                <li class="text-dark font-sm font-sb">WIFE</li>
                                <li class="pad-dt text-gray">Blessing or greeting style</li>
                                <li class="text-dark font-sm font-sb">STYLE OF BLESSING</li>
                                <li class="pad-dt text-gray ">Event</li>
                                <li class="text-dark font-sm font-sb">ANNIVERSARY</li>
                                <a href="#" class="btn btn-link pad-zl pad-dt">EDIT</a>
                            </ul>
                        </div>
                        <div class="col-sm-4 border-btm pad-db mrg-gb pad-zl">
                            <div class="font-sb mrg-gt">Laura Smith</div>
                            <ul class="list-unstyled pad-db">
                                <li class="pad-dt text-gray">Date</li>
                                <li class="text-dark font-sm font-sb">23/06/2017</li>
                                <li class="pad-dt text-gray">Relationship</li>
                                <li class="text-dark font-sm font-sb">WIFE</li>
                                <li class="pad-dt text-gray">Blessing or greeting style</li>
                                <li class="text-dark font-sm font-sb">STYLE OF BLESSING</li>
                                <li class="pad-dt text-gray ">Event</li>
                                <li class="text-dark font-sm font-sb">ANNIVERSARY</li>
                                <a href="#" class="btn btn-link pad-zl pad-dt">EDIT</a>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="mrg-gt reminder-box-container ">
                                <div class="reminder-box-heading pad-gb"><span class="h4 set-reminder">Set Your Reminder <span class="font-bd h4 pull-right set-reminder mrg-zt">04</span></span>
                                <hr class="set-reminder-hr"></div>
                                <form action="" class="review-form" method="post" id="" data-role="" data-bind="" enctype="">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="floating-label form-group mz-reminder">
                                                <input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                                                <label for="nickname_field"><span>Name of Subject</span></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="floating-label mz-reminder">
                                                <input required="" type="date" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="floating-label form-group mz-reminder">
                                                <input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
                                                <label for="nickname_field"><span>Relationship</span></label>
                                            </div>
                                            <span class="font-xs bg-gray reminder-example">e.g. Girlfriend, Fiance, Wife etc.</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="" id="" class="mz-reminder btn-block mz-style">
                                                <option value="">Romantic</option>
                                                <option value="">Witty</option>
                                                <option value="">Grateful</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">                                            
                                            <select name="" id="" class="mz-reminder btn-block mz-style">
                                                <option value="">Birthday</option>
                                                <option value="">Anniversary</option>
                                                <option value="">Day</option>
                                                <option value="">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="space-xs"></div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button type="submit" class="action primary tocart btn btn-xl btn-block btn-dark">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-lg hidden-xs"></div>
            </div>
        </div>
    </div>
</div>
<div class="space-lg hidden-xs"></div></div></div></div>
