<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) {
    $customerid = $customerSession->getCustomer()->getId()."<br/>";  // get Customer Id
  }


$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStoreId = $storeManager->getStore()->getId();
$rating = $objectManager->get("Magento\Review\Model\ResourceModel\Review\CollectionFactory");

$collection = $rating->create()->addStoreFilter(
            $currentStoreId
        )->addStatusFilter(
            \Magento\Review\Model\Review::STATUS_APPROVED
        )->addFieldToFilter('customer_id', array('eq' => $customerid))->setDateOrder();

       foreach ($collection->getData() as $ReviewID){
            $review_id = $ReviewID['review_id'];
        }
            
 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$rating = $objectManager->get("Magento\Review\Model\ResourceModel\Review\Product\CollectionFactory");
$collection = $rating->create()
        ->addStatusFilter(
            \Magento\Review\Model\Review::STATUS_APPROVED
        )->setDateOrder();
        foreach ($collection as $review) {
             //echo ' ReviewID:'.$review['review_id'].' Sku:'.$review['sku'].'<br/>';
             $ReviewSkuArr[$review['review_id']] = $review['sku'];
         }
#print_r($collection->getData());die;

echo 'Final::'.$ReviewSkuArr[$review_id];
 ?>
<div class="zone-review">
    <h2>My Reviews <span class="pull-right marg-bn"><i class="fa fa-commenting-o" aria-hidden="true"></i></span></h2>
    <div class="nav-reviews pad-xxl border-btm">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#home" class="">Product Reviews (7)</a></li>
            <li class=""><a data-toggle="tab" href="#menu1" class="">Site Reviews (1)</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
             <?php
                $review = 0;
                foreach ($collection->getData() as $key => $value):
            ?>
            <div class="border-btm mz-review-details pad-gb">
                <div class="clearfix">
                    <ul class="list-unstyled pad-xxt pull-left">
                        <li>
                            
                        </li>
                    </ul>
                    <p class="review-date pad-xxt pull-right"><time class="review-details-value text-uppercase" itemprop="datePublished" datetime="<?php echo $value['created_at']; ?>"><?php echo $value['created_at']; ?></time></p>
                </div>
                <div class="review-title font-sb pad-sb" itemprop="name"><?php echo $value['title']; ?></div>
                <div class="review-content readmore-content" id="reviewRead" itemprop="description"><span class="readmore-text" style="max-height: none;"><?php echo $value['detail']; ?></span></div>
                <div class="review_screenshot mrg-gt mrg-xb">
                    <!-- <?php //if(strlen($value['image'])>4):?>
                        <div class="review_screenshot">
                            <img src="<?php //echo $block->getUrl(); ?>pub/media/wysiwyg/reviewimages/<?php //echo $value['image']; ?>" class="img-responsive img-thumbnail" alt="Review Screenshot">
                        </div>
                    <?php //endif;?> -->
                </div>
                <span>On<a href="#" class="btn btn-link"><?php echo $ReviewSkuArr[$review_id]; ?></a></span>
                <div class="mz-social-login">
                    <i class="em em-facebook mrg-xr" aria-hidden="true"></i>
                    <i class="em em-twitter mrg-xr" aria-hidden="true"></i>
                    <i class="em em-whatsapp mrg-xr" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <?php $review++; endforeach; ?>
        <div id="menu1" class="tab-pane fade in active">
            <div class="border-btm mz-review-details pad-gb">
                <ul class="list-unstyled pad-xxt">
                    <p class="review-date pull-right"><time class="review-details-value text-uppercase" itemprop="datePublished" datetime="10/22/17">10/22/17</time></p>
                    <li>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star text-primary"></i>
                        <i class="fa fa-star-o text-primary"></i>
                        <i class="fa fa-star-o text-primary"></i>
                    </li>
                </ul>
                <div class="review-title font-sb pad-sb" itemprop="name">STUNNING QUALITY AND GREAT SERVICE!</div>
                <div class="review-content readmore-content" id="reviewRead" itemprop="description"><span class="readmore-text" style="max-height: none;">I bought this as a surprise engagement ring for my now fiancé. She loved the craftsmanship and was very impressed with the overall quality and the amount of sparkle in the sun. We are both very happy with the purchase and couldn't of had better service                            </span></div>
                <span class="mrg-dt">On Emrada.com</span>
            </div>
            <button type="button" class="btn btn-dark mrg-gt" data-toggle="collapse" data-target="#write-review-product">WRITE A REVIEW</button>
        </div>
    </div>
</div>
<div class="space-lg hidden-xs"></div>