<?php
	$cid = $block->getRequest()->getParam('cid');
	if(!$cid){
		echo 'Category ID did not received';die;
	}
	echo '<h2>Ads Images for Category ID:'.$cid.'</h2>';


?>
<a href="<?php echo $block->getBUrl();?>steps/index/deleteads?mode=all&catid=<?php echo $cid;?>"> Delete All Ads for this category</a><br/>
<form action="<?php echo $block->getBUrl();?>steps/index/adssave" method="post" enctype="multipart/form-data" >
	<div><input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */ echo $block->getFormKey() ?>" /></div>
	<input type="hidden" name="categoryid" value="<?php echo $cid;?>" >
<div id="adsedit-area" >
		<span>Position: <input type="text" name="position[]" > <br/>Image: <input type="file" name="pictures[]">&nbsp;</span> <hr/>
</div>
<a href="javascript:void(0);" onclick="addimage()" > + Add More images</a> <br/><br/>
<button>Save Everything</button>
</form>
<script type="text/javascript">
	function addimage(){
	var d1 = document.getElementById('adsedit-area');		 
d1.insertAdjacentHTML('beforeend', '<span>Position: <input type="text" name="position[]" > <br/>Image: <input type="file" name="pictures[]">&nbsp;</span><hr/>');
	}
</script>