<?php
 
            $Objectinstance = \Magento\Framework\App\ObjectManager::getInstance();
            $categoryCollection = $Objectinstance->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
            $categories = $categoryCollection->create();
            $categories->addAttributeToSelect('*');
             $categories = array(36=>'Settings',4=>'Fine Jewellery',14=>'Engagement Rings',17=>'Wedding Rings');
            foreach ($categories as $position => $name ) {
                echo ' ID: '.$position.'    Name: '.$name.' <a href="'.$block->getBUrl().'steps/index/adsedit?cid='.$position.'"  > Edit </a><br />';
                $block->getChilds($position);
                echo '<hr />';
            }



?>