<!-- customer service -->
<div class="modal fade" id="customer-service" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix modal-wrapper">
					<div class="col-sm-9 col-xs-12">
					    <h2 class="title">24/7 Customers Service</h2>
					    <div class="content">
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				    	</div>
				    	<a href="customer-service">Learn More</a>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div> <!-- /.customer service -->
<!-- lifetime warranty -->
<div class="modal fade" id="lifetime-warranty" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix modal-wrapper">
					<div class="col-sm-9 col-xs-12">
					    <h2 class="title">Lifetime Warranty</h2>
					    <div class="content">
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				    	</div>
				    	<a href="lifetime-warranty">Learn More</a>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div> <!-- /.lifetime warranty -->
<!-- free shipping -->
<div class="modal fade" id="free-shipping" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix modal-wrapper">
					<div class="col-sm-9 col-xs-12">
					    <h2 class="title">Free Shipping</h2>
					    <div class="content">
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				    	</div>
				    	<a href="free-shipping-and-returns">Learn More</a>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div> <!-- /.free shipping -->
<!-- money back -->
<div class="modal fade" id="money-back" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix modal-wrapper">
					<div class="col-sm-9 col-xs-12">
					    <h2 class="title">Money Back</h2>
					    <div class="content">
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
					    	<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				    	</div>
				    	<a href="money-back-guarantee">Learn More</a>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div> <!-- /.money back -->
<!--Diamond carat-->
<div class="modal fade" id="diamond-carat-explained" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="popup-modal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="title">CARAT </h2>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="-content">
							<p>A carat is the unit used to measure a diamond's weight. One carat equals 200 milligrams or 0.2 grams. Although carat weight and the size of a diamond are related, the carat does not directly measure diamond size.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer"> -->
		</div>
	</div>
</div> <!--/.Diamond carat -->
<!--Diamond cut-->
<div class="modal fade" id="diamond-cut-explained" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="popup-modal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="title">CUT </h2>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="content">
							<p>A carat is the unit used to measure a diamond's weight. One carat equals 200 milligrams or 0.2 grams. Although carat weight and the size of a diamond are related, the carat does not directly measure diamond size.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer"> -->
		</div>
	</div>
</div> <!--/.Diamond cut-->
<!--Diamond color-->
<div class="modal fade" id="diamond-color-explained" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="popup-modal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="title">COLOR </h2>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="content">
							<p>Color is the natural color visible in a diamond and does not change over time. Colorless diamonds allow more light to pass through than a colored diamond, releasing more sparkle and fire.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer"> -->
		</div>
	</div>
</div> <!--/.Diamond color-->
<!--Diamond clarity-->
<div class="modal fade" id="diamond-clarity-explained" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="popup-modal">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="title">CLARITY </h2>
				</div>
				<div class="modal-body">
					<div class="clearfix">
						<div class="content">
							<p>Color is the natural color visible in a diamond and does not change over time. Colorless diamonds allow more light to pass through than a colored diamond, releasing more sparkle and fire</p>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer"> -->
		</div>
	</div>
</div> <!--/.Diamond clarity-->

<!-- add inscription popup -->
<div class="modal fade " id="add_inscription" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content incription-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix">
					<div class="col-md-12 col-sm-12">
						<div class="popup-content">
							<h3 class="sub-title">ADD AN INSCRIPTION</h3>
							<form class="form1" method="post"   onsubmit="return mySubmitFunction();" >
								<div class="form-group">
								  <div class="col-sm-11 center-block">
									<input type="text"  name="username" id="textbox" class="form-control inscription-input text-center" maxlength="20" placeholder="Type here your Inscription" onFocus="countChars('textbox','char_count',20)" onKeyDown="countChars('textbox','char_count',20)" onKeyUp="countChars('textbox','char_count',20)">
									<h6 class="grey-small"><span id="char_count"> </span> Characters Left</h6>
								  </div>
								</div>
								<h4><span class="titlefont"> CHOOSE LETTER TYPE </span></h4>
								<!-- <div class="form-group">
									<span id="2ndstyle" type="image" class="white"  value="Bold"><img src="https://ion.r2net.com/images/font_1.gif"/></span>
									<input type="radio" name="fonts" value="Lucida" onClick="document.getElementById('demo').style.fontFamily = 'Lucida Sans',serif;" checked>
									<span id="2ndstyle" type="image" class="white" value="Bold" style="font-size: 30px;"><img src="https://ion.r2net.com/images/font_2.gif"/></span>
									<input type="radio" name="fonts" value="Palace" onClick="document.getElementById('demo').style.fontFamily = 'Palace Script MT',serif;"  >
								</div> -->
								<div class="form-group font-change"> 
									<label class="btn btn-default first-style active">
										<input type="radio"  name="fonts" id="fonts" value="Lucida" autocomplete="off" onClick="document.getElementById('demo').style.fontFamily = 'Lucida Sans,serif';" checked="">Aa
									</label> 
									<label class="btn btn-default second-style">
										<input type="radio" name="fonts" id="fonts" value="Palace" style="font-size: 30px;" autocomplete="off" onClick="document.getElementById('demo').style.fontFamily = 'Palace Script MT,serif';">Aa
									</label> 
								</div>
								
								<div class="Preview">
									<p class="grey-small"> PREVIEW </p>
									<h3 class="example1 font_1" style="text-shadow: rgb(227, 227, 227) 1px 1px; display: block;"><span id="demo"></span></h3>
									<button onclick="saveInscription();" data-dismiss="modal" class="submit .transparentButton btn btn-dark save btn-lg" name="Submit">SAVE</button>
									<div>
										<button type="button" class="btn btn-secondary cancel" id="InscriptionClose" data-dismiss="modal">CANCEL</button>
									</div>
								</div>
							</form>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    function countChars(textbox, counter, max) {
      var count = max - document.getElementById(textbox).value.length;
      var x = document.getElementById("textbox").value;
      document.getElementById("demo").innerHTML = "" + x;
      if (count < 0) { document.getElementById(counter).innerHTML = "<span style=\"color: red;\">" + count + "</span>"; }
      else { document.getElementById(counter).innerHTML = count; }
    }
    </script>
    <script>
        function changeFont(font){
            document.getElementById("demo").style.fontFamily = font.value;
        }
</script>
<!-- /.add inscription popup -->

<!-- gia certificate -->
<div class="modal fade" id="gia-certificate">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div class="modal-body">
				<img class="img-responsive" src="" alt="" id="certificate-img">
			</div>
		</div>
	</div>
</div> <!-- /.gia certificate -->
<!-- Ring box-popup -->
<div class="modal fade " id="select-ring-box" role="dialog">
	<div class="modal-dialog modal-md">
	  <div class="modal-content ringbox-popup-content">
		<div class="popup-modal">
	 	  <div class="modal-body">
	        <div class="clearfix">
	        	<div class="col-md-12 col-sm-12">
		       		<button type="button" class="close" data-dismiss="modal">&times;</button>
		       		<form class="form2"  id="form2">
			        	<div class="popup-content ringbox-content">
			        		<div class="row">
				        		<div class="col-sm-12">
					              <div id="myCarousel" class="carousel slide " data-ride="carousel" data-interval="false">
								    <div class="carousel-inner ringbox-carousel-inner" id="ringbox1-black-diamond">
									    <div class="item active" id="ringbox1-black-diamond">
									    	<h3 class="modal-title center-block">Black Leather Diamond Box</h3>
									        <div class="col-md-12">
												<img class="img-ringbox img-responsive" src='<?php echo $this->getViewFileUrl('images/Diamond-shaped-ringbox.jpg'); ?>' alt="jewellerybox">
											</div>
											<!-- <button type="button" class="btn btn-dark">SELECT THIS BOX</button> -->
											<button class="btn btn-dark" value="Black Leather Diamond Box" onclick="selectBox('diamondshape');" type="button" data-dismiss="modal">SELECT THIS BOX</button>
					                        <h6>
					                            Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. 
					                            Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. 
					                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...                            
					                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus... 
					                        </h6>
									    </div>

									    <div class="item ringbox2-pink-leather">
											<h3 class="modal-title center-block">Pink Leather Woman in Love</h3>
									        <div class="col-md-12">
												<img class="img-ringbox img-responsive" src='<?php echo $this->getViewFileUrl('images/Pink-leather-box.jpg'); ?>' alt="jewellerybox">
											</div>
											<!-- <button type="button" class="btn btn-dark">SELECT THIS BOX</button> -->
											<button class="btn btn-dark" value="Pink Leather Woman in Love" type="button" onclick="selectBox('pinkleather');" data-dismiss="modal">SELECT THIS BOX</button>
					                        <h6>
					                            Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. 
					                            Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. 
					                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...                            
					                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus... 
					                        </h6>
									    </div>
								    
									    <div class="item ringbox3-royal-wooden">
									    	<h3 class="modal-title center-block">Royal Wooden Ring box</h3>
									        <div class="col-md-12">
												<img class="img-ringbox img-responsive" src='<?php echo $this->getViewFileUrl('images/wooden-ring-box.jpg'); ?>' alt="jewellerybox">
											</div>
											<!-- <button type="button" class="btn btn-dark">SELECT THIS BOX</button> -->
											<button class="btn btn-dark" value="Royal Wooden Ring box" type="button" onclick="selectBox('wodden');" data-dismiss="modal">SELECT THIS BOX</button>
					                        <h6>
					                            Sed vel lectus. Donec odio urna, tempus molestie, porttitor ut, iaculis quis, sem. Phasellus rhoncus. 
					                            Aenean id metus id velit ullamcorper pulvinar. Vestibulum fermentum tortor id mi. 
					                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus...                            
					                            Pellentesque ipsum. Nulla non arcu lacinia neque faucibus... 
					                        </h6>
									    </div>
									    <!-- <button type="button" class="btn btn-dark">SELECT THIS BOX</button> -->
									</div>

								    <!-- Left and right controls -->
								    <a class="left carousel-control ringbox-carousel-handle" href="#myCarousel" data-slide="prev">
								    	<!-- <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> -->
								    	<span class="red-underline pad-gb pad-gt">< Previous Box</span>
								    </a>
								    <a class="right carousel-control ringbox-carousel-handle" href="#myCarousel" data-slide="next">
								    	<!-- <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> -->
								    	<span class="red-underline pad-gb pad-gt">Next Box ></span>
								    </a>
						 		  </div>
						 		</div>
						 	</div>
			    		</div>
		    		</form>
	  			</div>
	  		</div>
	 	  </div>
	 	</div>
	  </div>
	</div>
</div>
<!-- Ring box-popup -->

<!-- Customer Review popup -->
<div class="modal fade " id="customer-review-popup" role="dialog">
	<div class="modal-dialog modal-md">
	  <div class="modal-content customer-review-content text-center">
		<div class="popup-modal">
	     <!-- <div class="modal-header"> 
	     </div>-->
	     <button type="button" class="close" data-dismiss="modal">&times;</button>
	 	  <div class="modal-body">
		    <div class="clearfix">
				  <div class="col-sm-12">
		        <div class="block review-add">
				  <div class="block-title text-center"><strong>Write Your Own Review</strong></div>
				    <div class="block-content">
				        <form action="http://34.251.77.144/emradanew/review/product/post/id/976/" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'" novalidate="novalidate">
				            <input name="form_key" type="hidden" value="Vt805Byu43MS5oc8">
				        <fieldset class="fieldset review-fieldset" data-hasrequired="">
				            <legend class="legend review-legend text-center">
				            	<span>You're reviewing:</span>
				            	<strong>TAPERED BAGUETTE</strong>
				            </legend><br>
				            <span id="input-message-box"></span>
				            <fieldset class="field required review-field-ratings">
				                <div class="control">
				                    <div class="nested" id="product-review-table">
				                        <div class="field choice review-field-rating">
				                            <label class="label" id="Quality_rating_label"><span>Quality</span></label>
				                            <div class="control review-control-vote">
				                                <input type="radio" name="ratings[1]" id="Quality_1" value="1" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_1_label" aria-required="true">
				                                <label class="rating-1" for="Quality_1" title="1 star" id="Quality_1_label">
				                                    <span>1 star</span>
				                                </label>
				                                <input type="radio" name="ratings[1]" id="Quality_2" value="2" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_2_label" aria-required="true">
				                                <label class="rating-2" for="Quality_2" title="2 stars" id="Quality_2_label">
				                                    <span>2 stars</span>
				                                </label>
				                                <input type="radio" name="ratings[1]" id="Quality_3" value="3" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_3_label" aria-required="true">
				                                <label class="rating-3" for="Quality_3" title="3 stars" id="Quality_3_label">
				                                    <span>3 stars</span>
				                                </label>
				                                <input type="radio" name="ratings[1]" id="Quality_4" value="4" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_4_label" aria-required="true">
				                                <label class="rating-4" for="Quality_4" title="4 stars" id="Quality_4_label">
				                                    <span>4 stars</span>
				                                </label>
				                                <input type="radio" name="ratings[1]" id="Quality_5" value="5" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_5_label" aria-required="true">
				                                <label class="rating-5" for="Quality_5" title="5 stars" id="Quality_5_label">
				                                    <span>5 stars</span>
				                                </label>
				                            </div>
				                        </div>
				                        <div class="field choice review-field-rating">
				                            <label class="label" id="Price_rating_label"><span>Price</span></label>
				                            <div class="control review-control-vote">
				                                <input type="radio" name="ratings[3]" id="Price_1" value="11" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_1_label" aria-required="true">
				                                <label class="rating-1" for="Price_1" title="1 star" id="Price_1_label">
				                                    <span>1 star</span>
				                                </label>
				                                <input type="radio" name="ratings[3]" id="Price_2" value="12" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_2_label" aria-required="true">
				                                <label class="rating-2" for="Price_2" title="2 stars" id="Price_2_label">
				                                    <span>2 stars</span>
				                                </label>
				                                <input type="radio" name="ratings[3]" id="Price_3" value="13" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_3_label" aria-required="true">
				                                <label class="rating-3" for="Price_3" title="3 stars" id="Price_3_label">
				                                    <span>3 stars</span>
				                                </label>
				                                <input type="radio" name="ratings[3]" id="Price_4" value="14" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_4_label" aria-required="true">
				                                <label class="rating-4" for="Price_4" title="4 stars" id="Price_4_label">
				                                    <span>4 stars</span>
				                                </label>
				                                <input type="radio" name="ratings[3]" id="Price_5" value="15" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_5_label" aria-required="true">
				                                <label class="rating-5" for="Price_5" title="5 stars" id="Price_5_label">
				                                    <span>5 stars</span>
				                                </label>
				                            </div>
				                        </div>
				                    </div>
				                    <input type="hidden" name="validate_rating" class="validate-rating" value="" aria-required="true">
				                </div>
				            </fieldset>
				            <div class="floating-label form-group review-field-nickname">
				                <input required="" type="text" name="nickname" id="nickname_field" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
				                <label for="nickname_field"><span>Nickname</span></label>
				            </div>
				            <div class="floating-label form-group review-field-summary">
				                <input required="" type="text" name="title" id="summary_field" class="form-control" data-validate="{required:true}" data-bind="value: review().title">
				                <label for="summary_field"><span>Summary</span></label>
				            </div>
				            <div class="floating-label form-group review-field-text">
				                <textarea required="" name="detail" id="review_field" class="form-control" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
				                <label for="review_field"><span>Review</span></label>
				            </div>
				        </fieldset>
				        <div class="actions-toolbar review-form-actions">
				            <div class="primary actions-primary">
				                <button type="submit" class="action submit btn btn-primary"><span>Submit Review</span></button>
				            </div>
				        </div>
				        </form>
				    </div>
				</div>
			  </div>
			</div>
	 	  </div>
	 	</div>
	  </div>
	</div>
</div>
<!-- /.Customer Review popup -->
<!-- Ring-Size Popup -->
<div class="modal fade" id="customer-service" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix modal-wrapper">
					
			    </div>
			</div>
		</div>
	</div>
</div>
<!-- /.Ring-Size Popup -->
<?php  
		/*$__product ='';
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$__product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');*/
		$pid = "<script type='text/javascript'>
		var number = document.getElementById('review-ids').value;
        document.write(number);
      </script>";
 ?>
<!-- Customer review form phtml -->
<div class="modal fade" id="customer-review-form">
	<div class="modal-dialog">
		<div class="modal-content">
			 <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">WRITE A REVIEW </h4>
            </div>
			<div class="modal-body">
					<!-- form starts -->
						  <!-- form start -->
			                <form action="<?php echo $this->getUrl('review/product/post',array('id'=>$pid)); ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'" enctype="multipart/form-data">
			                    <fieldset class="fieldset review-fieldset" data-hasrequired="">
			                        <span id="input-message-box"></span>
			                        <fieldset class="field required review-field-ratings">
			                            <div class="control">
			                                <div class="nested" id="product-review-table">
			                                    <div class="field choice review-field-rating">
			                                        <label class="label" id="Price_rating_label"><span>Price</span></label>
			                                        <div class="control review-control-vote">
			                                            <input type="radio" name="ratings[3]" id="Price_1" value="11" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_1_label">
			                                            <label class="rating-1" for="Price_1" title="1 star" id="Price_1_label">
			                                                <span>1 star</span>
			                                            </label>
			                                            <input type="radio" name="ratings[3]" id="Price_2" value="12" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_2_label">
			                                            <label class="rating-2" for="Price_2" title="2 stars" id="Price_2_label">
			                                                <span>2 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[3]" id="Price_3" value="13" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_3_label">
			                                            <label class="rating-3" for="Price_3" title="3 stars" id="Price_3_label">
			                                                <span>3 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[3]" id="Price_4" value="14" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_4_label">
			                                            <label class="rating-4" for="Price_4" title="4 stars" id="Price_4_label">
			                                                <span>4 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[3]" id="Price_5" value="15" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Price_rating_label Price_5_label">
			                                            <label class="rating-5" for="Price_5" title="5 stars" id="Price_5_label">
			                                                <span>5 stars</span>
			                                            </label>
			                                        </div>
			                                    </div>
			                                    <div class="field choice review-field-rating">
			                                        <label class="label" id="Quality_rating_label"><span>Quality</span></label>
			                                        <div class="control review-control-vote">
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_1" value="1" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_1_label">
			                                            <label class="rating-1" for="Quality_1" title="1 star" id="Quality_1_label">
			                                                <span>1 star</span>
			                                            </label>
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_2" value="2" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_2_label">
			                                            <label class="rating-2" for="Quality_2" title="2 stars" id="Quality_2_label">
			                                                <span>2 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_3" value="3" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_3_label">
			                                            <label class="rating-3" for="Quality_3" title="3 stars" id="Quality_3_label">
			                                                <span>3 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_4" value="4" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_4_label">
			                                            <label class="rating-4" for="Quality_4" title="4 stars" id="Quality_4_label">
			                                                <span>4 stars</span>
			                                            </label>
			                                            <input type="radio" name="ratings[<?php echo $pid; ?>]" id="Quality_5" value="5" class="radio" data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}" aria-labelledby="Quality_rating_label Quality_5_label">
			                                            <label class="rating-5" for="Quality_5" title="5 stars" id="Quality_5_label">
			                                                <span>5 stars</span>
			                                            </label>
			                                        </div>
			                                    </div>
			                                </div>
			                                <input type="hidden" name="validate_rating" class="validate-rating" value="">
			                            </div>
			                        </fieldset>
			                        <div class="clearfix">
			                            <div class="col-md-6">
			                                <div class="floating-label form-group review-field-nickname">
			                                    <input required="" type="text" name="nickname" id="nickname_field" placeholder="NAME" class="form-control" data-validate="{required:true}" data-bind="value: nickname()">
			                                    <!-- <label for="nickname_field"><span></span></label> -->
			                                </div>
			                            </div>
			                            <div class="col-md-6">
			                                <div class="floating-label form-group review-field-nickname">
			                                    <input required="" type="text" name="order-number" id="order-number" placeholder="ORDER NUMBER" class="form-control" data-validate="{required:true}" data-bind="value: order-number()">
			                                    <!-- <label for="nickname_field"><span></span></label> -->
			                                </div>
			                            </div>
			                        </div>
			                        <div class="clearfix">
			                            <div class="col-md-12">
			                                <div class="floating-label form-group review-field-summary">
			                                    <input required="" type="text" name="title" id="summary_field" placeholder="TITTLE" class="form-control" data-validate="{required:true}" data-bind="value: review().title">
			                                    <!-- <label for="summary_field"><span></span></label> -->
			                                </div>
			                            </div>
			                        </div>
			                        <div class="clearfix">
			                            <div class="col-md-12">
			                                <div class="floating-label form-group review-field-text">
			                                    <textarea required="" name="detail" id="review_field" class="form-control" placeholder="REVIEW" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
			                                    <!-- <label for="review_field" class="review-form-textarea"><span></span></label> -->
			                                </div>
			                            </div>
			                        </div>
			                        <span class="actions-toolbar review-form-actions">
			                            <input type="file" id="browse" name="fileupload" style="display: none" onchange="Handlechange();" accept=".jpg, .jpeg, .png">
			                            <input type="button" style="display: none" value="+ Add an Image" id="image-upload-review" class="text-capitalize action btn btn-default" onclick="HandleBrowseClick();">
			                        </span>
			                    </fieldset>
			                    <div class="actions-toolbar review-form-actions submit-review">
			                        <div class="primary actions-primary">
			                            <button type="submit" class="action submit primary btn btn-dark review-form-submit">
			                            <span>Submit Review</span>
			                            </button>
			                        </div>
			                    </div>
			                </form>
			                <!-- form end -->
					<!-- form end -->
			</div>
			
		</div>
	</div>
</div>
<!-- Find my ring size popup -->
<!-- <a data-toggle="modal" data-target="#ring-size">Find my Ring SIze</a> -->
<div class="modal fade" id="ring-size" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body">
				<div class="clearfix">
					<div class="col-md-12 col-s-12">
						<h3 class="text-center">
							<img src="" alt="" style="" > Ring Size Wizard
							<button class="btn btn-default" data-toggle="tab" href="#ringsize">Old ring</button>
							<button class="btn btn-default" data-toggle="tab" href="#ringsize1">Measure</button>
						</h3>
						<div class="tab-content ring-size-popup pad-xxl">
							<div id="ringsize" class="tab-pane fade active in">
								<p class="pad-gt">The best way to find her ring size is to ask her friends or family. Her mother, sister or best friends usually know this type of information. If you are still stumped, use our handy ring size wizard. </p>
								<br/>
								<p>Simply answer a few questions, and you'll have your ring size in no time.</p>
								<span><h4>Do you have an old ring that fits?</h4></span>
								<label for="chkYes">
								    <input type="radio" id="chkYes" name="chkOldRing" onclick="DivShowHide1(), DivShowHide2()" />
								    Yes
								</label>
								<label for="chkNo">
								    <input type="radio" id="chkNo" name="chkOldRing" onclick="DivShowHide1(), DivShowHide2()" />
								    No
								</label>
								<div id="dvOldRingYes" style="display: none">
									<div class="border-whl ring-size-box">
									  <div class="row">
									  	<div class="col-md-8 col-sm-6">
									  		<h4>Measure your ring size online</h4>
									  		<p>Our amazing technology can help you figure out your</p>
									  		<p>ring size... right on the screen.</p></div>
									    <div class="col-md-4 col-sm-6"><img src="https://ion.r2net.com/Images/RingSizerFinder/ring-size-online.jpg" alt=""></div>
									  	<button class="btn btn-dark" data-toggle="modal" data-target="#ring-size-one" href="#" >START NOW</button>
									  </div>
									</div>
								</div>
								<div id="dvOldRingNo" style="display: none">
								   <h4>What do you prefer?</h4>
								  	<ul class="list-unstyled">
									    <li>
										  	<label for="chkYestwo">
											    <input type="radio" id="chkYestwo" name="chkOldRing" onclick="DivShowHide3(), DivShowHide4()" />
											    Measure your finger online 
										  	</label>
									    </li>
									    <li>
										  	<label for="chkNotwo">
										      <input type="radio" id="chkNotwo" name="chkOldRing" onclick="DivShowHide3(), DivShowHide4()" />
										      Request free ring sizer
										  	</label>
									    </li>
									</ul>
									<div id="dvOldRingYestwo" style="display: none">
										<div class="border-whl ring-size-box">
										  <div class="row">
										  	<div class="col-md-8 col-sm-6">
										  		<h4>Measure your ring size online</h4>
										  		<p>Our precise calibration lets you figure out your ring size</p>
										  		<p>by measuring your finger.</p></div>
										    <div class="col-md-4 col-sm-6"><img src="https://ion.r2net.com/Images/RingSizerFinder/finger-size-online.png" alt=""></div>
										  	<button class="btn btn-dark" data-toggle="modal" data-target="#ring-size-one" href="#" >START NOW</button>
										  </div>
										</div>
									</div>
									<div id="dvOldRingNotwo" style="display: none">
										<div class="border-whl ring-size-box">
										  <div class="row">
											  <div class="col-md-8col-sm-6">
												  <h4>Request free ring sizer</h4>
												  <p>We are happy to mail you a free ring sizer.</p>
												  <p>Just complete the form below and we'll get one to you right away.</p>
											  </div>
											  <div class="col-md-4 col-sm-6"><img src="https://ion.r2net.com/Images/RingSizerFinder/ring-size-kit.png" alt="">
											  </div>
										  	  <button class="btn btn-dark" data-toggle="modal" data-target="#ring-size-two" href="#" >REQUEST NOW</button>
										  </div>
										</div>
									</div>
								</div>
							</div>
							<div id="ringsize1" class="tab-pane fade">
								<p class="pad-gt">Having trouble finding the correct size for you engagement ring or wedding band? Here are some helpful tips:</p>
								<h4>Measure your finger</h4>
								<a data-toggle="modal" data-target="#ring-size-one" href="#">Measure your finger online</a> or <a data-toggle="modal" data-target="#ring-size-two" href="#">Request a free Emrada sizing kit.</a>
								<h4>Ask a friend or relative</h4>
								<p>Her mom, sister or best friend could probably get the information without raising too much suspicion.</p>
								<bold>
									<strong>Ring Size Converter: </strong>
								</bold>
								<select name="" id="">
									<option value="">mm</option>
									<option value="">46</option>
									<option value="">47</option>
									<option value="">47.5</option>
									<option value="">48</option>
								</select>
								<select name="" id="">
									<option value="">uk</option>
									<option value="">30</option>
									<option value="">31</option>
									<option value="">32</option>
									<option value="">33</option>
								</select>
								<select name="" id="">
									<option value="">us</option>
									<option value="">15</option>
									<option value="">16</option>
									<option value="">17</option>
									<option value="">18</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ring-size-one" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body pad-gr pad-xxl">
				<div class="clearfix">
					<div class="col-md-12 col-sm-12">
						<h3 class="text-center">Determine your ring size online</h3>
						<h4 class="text-center">How to measure ring size online</h4>
						<div class="row">
						  <div class="col-md-3 col-sm-3">
						    <img src="https://ion.r2net.com/Images/RingSizerFinder/ringsizercard.jpg" class="img-responsive" alt="">
						  </div>
						  <div class="col-md-9 col-sm-9">
						  	<h5>Learn how to determine your ring size quickly and easily.</h5>
							<p>You will need to calibrate your screen. To do so, just place a credit card or driver's license on the screen as indicated and then drag sliders so that they fit the card. Establishing the width of the card is essenttial for the ring sizer to work accurately.</p>
						  </div>
						</div>
						<h4 class="text-center">The are two methods of finding your ring size:</h4>
						<div class="row">
						  <div class="col-md-3 col-sm-3">
						    <img src="https://ion.r2net.com/Images/RingSizerFinder/ring-size-online.jpg" alt="" class="img-responsive">
						  </div>
						  <div class="col-md-9 col-sm-9">
						  <p><strong>1.</strong> Use any ring that fits the finger you plan to wear your new ring on and place it over the circles. Match the ring to the circle that completely fills the inside of the ring without overlapping. The size written inside the matching circle is your ring size.</p>
						  </div>
						</div>
						<br>
						<div class="row">
						  <div class="col-md-3 col-sm-3">
						    <img src="https://ion.r2net.com/Images/RingSizerFinder/finger-size-online.png" class="img-responsive" alt="">
						  </div>
						  <div class="col-md-9 col-sm-9">
						  <p> <strong>2.</strong>  Use our virtual ruler to find your ring size. First, cut a thin strip of paper that can comfortably wrap around the base of the appropriate finger. Mark the spot on the paper where it completes a circle. Place the strip of paper against the ruler and match your size.</p>
						  </div>
						</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ring-size-two" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="modal-body pad-xxl">
				<div class="clearfix">
					<div class=" col-md-12 col-sm-12">
						<h3 class="text-center">Request a free ring sizer</h3>
						<p>Emrada would be glad to send you a free ring sizer. Just enter your information below and we'll get one in the mail right away.</p>
						<div class="col-md-9 center-block">
							<p style="padding:10px 0 10px 0;"><b>Please note:</b>
						        Ring Sizers are only available to customers living within the United States.
						    </p>
						    <div class="row">
						    	<div class="col-md-6">
						    		<div class="floating-label form-group email">
			                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
			                            <label for="email">First Name</label>
		                        	</div>
						    	</div>
						    	<div class="col-md-6">
						    		<div class="floating-label form-group email">
			                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
			                            <label for="email">Phone</label>
		                        	</div>
						    	</div>
						    	<div class="col-md-6">
						    		<div class="floating-label form-group email">
			                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
			                            <label for="email">Last Name</label>
		                        	</div>
						    	</div>
						    	<div class="col-md-6">
						    		<div class="floating-label form-group email">
			                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
			                            <label for="email">Email</label>
		                        	</div>
						    	</div>
						    	<div class="clearfix">
							    	<div class="col-md-6">
							    		<div class="floating-label form-group email">
				                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
				                            <label for="email">Address 1</label>
			                        	</div>
							    	</div>
							    	<div class="col-md-6">
							    		<div class="mrg-st">
										    <label class="radio-inline">
										      <input type="radio" name="ring-size-male">Male
										    </label>
										    <label class="radio-inline">
										      <input type="radio" name="ring-size-female">Female
										    </label>
										</div>
							    	</div>
							    </div>
						    	<div class="clearfix">
							    	<div class="col-md-6">
							    		<div class="floating-label form-group email">
				                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
				                            <label for="email">Address 2</label>
			                        	</div>
							    	</div>
							    	<div class="col-md-6">
							    		<div class="floating-label form-group email">
				                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
				                            <label for="email">Age</label>
			                        	</div>
							    	</div>
							    </div>
							    <div class="clearfix">
							    	<div class="col-md-6">
							    		<div class="floating-label form-group email">
				                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
				                            <label for="email">City</label>
			                        	</div>
							    	</div>
							    	<div class="col-md-6">
							    		<div class="floating-label form-group email">
				                            <input name="username" value="" autocomplete="off" id="email" type="text" class="form-control" title="Email" data-validate="{required:true, 'validate-email':true}" required="">
				                            <label for="email">Zip</label>
			                        	</div>
							    	</div>
							    </div>
							    <div class="clearfix">
							    	<div class="col-md-6">
							    		<select name="" id="">
											<option value="">State</option>
											<option value="">abc</option>
											<option value="">efg</option>
											<option value="">hij</option>
											<option value="">klm</option>
										</select>
							    	</div>
							    	<div class="col-md-6">
							    		<button class="btn btn-dark btn-full btn-lg" data-dismiss="modal">SEND</button>
							    	</div>
							    </div>
						    </div>
						</div>
					</div>
			    </div>
			</div>
		</div>
	</div>
<a class="" data-toggle="modal" href='#quickview'>Quick view</a>
<div class="modal fade" id="quickview">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<div class="modal-body">
				<div class="clearfix pad-dt">
					<div class="col-sm-7 text-center">
						<div class="gallery-quickview">
							<div id="quick-view-left" class="quick-view quick-left">
								<div class=""><a data-slide-index="0" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
								<div class="mrg-xt"><a data-slide-index="1" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
								<div class="mrg-xt"><a data-slide-index="2" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
								<div class="mrg-xt"><a data-slide-index="3" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
								<div class="mrg-xt"><a data-slide-index="4" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></div>
							</div>
							<div class="quickview" id="quickview-img">
								<img src="http://placehold.it/300x300" class=" ">
								<img src="http://placehold.it/300x300" class=" ">
								<img src="http://placehold.it/300x300" class=" ">
								<img src="http://placehold.it/300x300" class=" ">
								<img src="http://placehold.it/300x300" class=" ">
							</div>
							<ul id="" class="list-inline quick-view mrg-dt">
								<li><a data-slide-index="0" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></li>
								<li><a data-slide-index="1" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></li>
								<li><a data-slide-index="2" href=""><img src="http://placehold.it/50x50" class="img-responsive"></a></li>
							</ul>
						</div>
				    </div>
				    <div class="col-sm-5">
				    	<div class="product-information">
				    		<h4 class="text-uppercase product-super-title" id="Prod-superHead" style="margin-bottom: 0px;">18k white gold</h4>
					    	<h3 class="product-title text-uppercase">
								<span class="base" data-ui-id="page-title-wrapper">14K WHITE GOLD 2MM KNIFE EDGE SOLITAIRE ENGAGEMENT RING</span>
							</h3>
							<div class="setting-price">
								<div class="price-box price-final_price" data-role="priceBox" data-product-id="1">
									<span class="price">$251.00</span>
								</div>
								<div class="price-text">Setting price</div>
							</div>
							<div class="product-reviews-summary">
							    <span class="product-score">
							        <i class="fa fa-star"></i>
							        <i class="fa fa-star"></i>
							        <i class="fa fa-star"></i>
							        <i class="fa fa-star"></i>
							        <i class="fa fa-star-o"></i>
							    </span>
							    <div class="reviews-actions">
							        <a class="action view btn btn-link" href="#reviews"><span itemprop="reviewCount">3</span>&nbsp;<span>Reviews</span></a>
					            </div>
					            <div class="product attribute overview">
                					<div class="value" itemprop="description">Anna has become the dominant form of the Ann family, having been firmly in the Top 25 for years and only slipping in the past couple years. Anna offers a touch of the exotic and a bit more style 
                					</div>
    							</div>
				                <select class="mrg-gb form-control" aria-required="true">                    
					                <option value="">Choose an Option...</option>
					                <option value="219">Rose Gold 14k</option>
					                <option value="220">White Gold 14k</option>
					                <option value="221">Yellow Gold 14k</option>
					                <option value="222">White Gold 18k</option>
					                <option value="223">Yellow Gold 18k</option>
					                <option value="224">Platinum</option>
				            	</select>
				            	<input type="button" class="primary btn btn-xl btn-block btn-dark" value="Choose This Setting" onclick="choosethis(1);">
				            	<div class="product-addto-links">
								    <div class="text-center pad-dt">
										<a href="#" class="sec-col-under"><i class="em em-heart-plus mrg-xr" aria-hidden="true"></i> save to favourites</a>
									</div>
								</div>
							</div>
						</div>
				    </div>
				</div>
				<div class="clearfix border-top mrg-gt">
					<div class="col-sm-8">
						<div class="friend-opinion mrgb-30">
						    <ul class="list-inline social">
						        <li>
						            <h5>Ask a friend for opinion</h5>
						        </li>
						        <li>
						            <ul class="list-inline social-icons ">
						                <li>
						                    <a class="text-sec" href="">
						                        <i class="em em-e-mail mrg-xr" aria-hidden="true"></i>E-mail
						                    </a>
						                </li>
						                <!-- FACEBOOK -->
						                <li>
						                    <a class="text-sec" href="">
						                        <i class="em em-facebook mrg-xr" aria-hidden="true"></i>Facebook
						                    </a>
						                </li>
						                <li><!-- TWITTER -->
						                    <a class="text-sec" href="">
						                        <i class="em em-twitter mrg-xr" aria-hidden="true"></i>Twitter
						                    </a>
						                </li>
						                <li><!-- TWITTER -->
						                    <a class="text-sec" href="">
						                        <i class="em em-whatsapp mrg-xr" aria-hidden="true"></i>Whatsapp
						                    </a>
						                </li>
						            </ul>
						        </li>
						    </ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="ship-returns text-center text-uppercase">
							<i class="fa fa-flag-o mrg-xr" aria-hidden="true"></i>
							<a href="free-shipping-and-returns">
								<span class="sec-col-under"> free shipping </span><span class="amp-symbol"> &amp; </span><span class="sec-col-under">free returns</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    function DivShowHide1() {
        var chkYes = document.getElementById("chkYes");
        var dvOldRingYes = document.getElementById("dvOldRingYes");
        dvOldRingYes.style.display = chkYes.checked ? "block" : "none";
    }
  function DivShowHide2() {
        var chkNo = document.getElementById("chkNo");
        var username = document.getElementById("dvOldRingNo");
        username.style.display = chkYes.checked ? "none" : "block";
    }
  function DivShowHide3() {
        var chkYestwo = document.getElementById("chkYestwo");
        var dvOldRingYestwo = document.getElementById("dvOldRingYestwo");
        dvOldRingYestwo.style.display = chkYestwo.checked ? "block" : "none";
    }
  function DivShowHide4() {
        var chkNotwo = document.getElementById("chkNotwo");
</div>
<!-- Quick view -->
        var username = document.getElementById("dvOldRingNotwo");
        username.style.display = chkYestwo.checked ? "none" : "block";
    }
</script>