<?php

 $pid = $block->getRequest()->getParam('pid');
#  $pid=$this->getRequest()->getPost('pid');
 if ($pid):
    // echo 'Product ID '.$pid.'<br>';

    $pid = $this->getRequest()->getParam('pid');
        $_product=$this->getLoadProduct($pid);
        $images = $_product->getMediaGalleryImages();
        $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
       # $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
        $product =   $objectManager->create('Magento\Catalog\Model\Product')->load($pid);// $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
        $_product->getId();
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
        $currencyCode = $currencysymbol->getStore()->getCurrentCurrencyCode(); 
        $currencySymbol ='';
        $symbol = array('AUD'=>'A$', 'GBP'=>'£', 'CAD'=>'CA$', 'EUR'=>'€', 'HKD'=>'HK$', 'SGD'=>'$', 'NZD'=>'NZ$', 'USD'=>'$');
        $currencySymbol = $symbol[$currencyCode];
        $SessionObj = $objectManager->create('Magento\Customer\Model\SessionFactory')->create();        
        $appState = $objectManager->get('\Magento\Framework\App\State');           
        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
        $currency = $objectManager->get('\Magento\Directory\Model\Currency');
        $store = $storeManager->getStore();
        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
        $BaseUrl = $storeManager->getStore()->getBaseUrl();
        $categories = $_product->getCategoryIds(); /*will return category ids array */
        foreach($categories as $category){
            $Objectinstance = $objectManager;
            $cat = $Objectinstance->create('Magento\Catalog\Model\Category')->load($category);
            $CatUrl= $cat->getUrl();
            $CurrentCat = $cat->getId();
            $settingArr=array(36,37,38,39,40,14);
            $readytoship = array(2,27,28,29,30,18,19);
        }
        $SessionObj->setQuickviewId($pid);
          $productPrice = 0;
            if(!$product->getPrice()>0){
                $productPrice = $product->getFinalPrice();
            }
            if($product->getPrice()>0){
                $productPrice = $product->getPrice();
            }

        //portfolio images starts                
                  $PortfolioModel = $Objectinstance->create('Aghai\Steps\Model\Portfolio');
                  $PortfolioModel = $PortfolioModel->getCollection()->addFieldToFilter('pid', array('eq' => $pid));
                  $StaticImagesListArr= [];
                  foreach ($PortfolioModel as $port){
                      //$COreBasePath = 'portfolio360images/'.$_product->getId().'/'.$port->getChildId().'/';
                      $COreBasePath = 'portfolio360images/'.$pid.'/'.$port->getChildId().'/resize/';
                      
                            $dir_path = $COreBasePath; 
                            $extensions_array = array('jpg','png','jpeg');
                            $ImgUrlsStr = '';
                            if(is_dir($dir_path))
                            {
                                $files = scandir($dir_path);
                                $count = count($files);
                               for($i = 0; $i < $count; $i++)
                                {
                                    if($files[$i] !='.' && $files[$i] !='..')
                                    {
                                        // get file name
                                       if( $ImgUrlsStr != ''){
                                         $ImgUrlsStr .=' '.$this->getUrl().$dir_path.$files[$i];
                                       }
                                       if( $ImgUrlsStr == ''){
                                         $ImgUrlsStr .=$this->getUrl().$dir_path.$files[$i];
                                       }
                                    }
                                }
                                $StaticImagesListArr[$port->getChildId()] = $ImgUrlsStr;
                            }
                  }
        //portfolio images end
        /*if(in_array($CurrentCat, $settingArr)){
        $buttonTitle =('Choose This Setting');
        }
        if(in_array($CurrentCat, $weddingArr)){
        $buttonTitle =('Add to cart');
        }*/
        /*review reating*/
        $RatingOb = $objectManager->create('Magento\Review\Model\Rating')->getEntitySummary($pid);
        //echo $_product->getId();
        echo '<script>
        function choosethis($pid){
        var chooseUrl = "'.$BaseUrl.'steps/index/choose?pid="+$pid+"&selectedAval=0&maxVal=3,000";           
        window.top.location.href = chooseUrl;
        //console.log(location.href);
        }  
        </script>
        <link rel="stylesheet" href="http://52.30.42.79/emradabv1/pub/static/version1513348886/frontend/Aghai/Emrada/en_US/MagicToolbox_Magic360/css/magic360.css">
        <script src="http://52.30.42.79/emradabv1/pub/static/version1513348886/frontend/Aghai/Emrada/en_US/MagicToolbox_Magic360/js/magic360.js">
        <script type="text/x-magento-init">
            {
                "*": {
                    "magic360": "'.$this->getBaseUrl().'/MagicToolbox_Magic360/js/magic360",
                    "Magento_Ui/js/core/app": {
                        "components": {
                            "wishlist": {
                                "component": "Magento_Wishlist/js/view/wishlist"
                            }
                        }
                    }
                }
            }
            // <![CDATA[
            require(["jquery", "magic360"], function ($, magic360) {
                
            });
            // ]]>
        </script>';

        echo '<div class="clearfix pad-dt">
            <div class="loader-overlay"><span class="loader-img"></span></div>  
            <div class="col-sm-7 text-center">
                <div class="gallery-quickview clearfix">
                    <ul class="list-unstyled left-nav quick-view-thumb-slider pull-left">';
                        $a=0;
                        foreach($images as $child){
                        echo '<li class="slider_img"><a data-slide-index="'.$a.'" href=""><img class="img-responsive" src="'.$child->getUrl().'" ></a></li>';
                        $a++;
                        } 
                    echo '</ul>
                    <div class="slider-block">
                        <ul class="quick-view-slider">';
                        $dir_path = 'magic360images/'.$_product->getSku().'/';
                        $extensions_array = array('jpg','png','jpeg');
                        $imgExist = '';
                        if(is_dir($dir_path))
                        {
                            $files = scandir($dir_path);
                            $count = count($files);
                            $imgExist = count($files);
                           for($i = 0; $i < $count; $i++)
                            {
                                if($files[$i] !='.' && $files[$i] !='..')
                                {  // get file name
                                   $FinalImagesArr[] = $files[$i];
                                   //$FinalImage = $files[$i];
                                   //print_r($files);die;                        
                                   if( $imgExist != ''){
                                     $imgExist .=' '.$this->getUrl().$dir_path.$files[$i];
                                   }
                                   if( $imgExist == ''){
                                     $imgExist .=$this->getUrl().$dir_path.$files[$i];
                                   }
                                }
                            }
                            echo '
                            <li class="slide"><a class="Magic360" data-options="filename:Anim-0{col}.jpg;columns:100;rows:1;autospin-start:hover;initialize-on:hover;mousewheel-step: 1;"><img src="'.$this->getUrl().$dir_path.$FinalImagesArr[0].'">
                            </a></li>';
                        }
                        echo '<li class="slide"><a class="Magic360" data-options="filename:Anim-0{col}.jpg; columns:100; rows:1; hint:false; autospin-start:hover; initialize-on:hover; mousewheel-step: 1;" href="'.$this->getUrl().$dir_path.$FinalImagesArr[0].'"><img src="'.$this->getUrl().$dir_path.$FinalImagesArr[0].'">
                                </a></li>';
                        foreach ($PortfolioModel as $port): 
                        echo '<li class="slide">
                                <a class="Magic360" data-options="filename:resized_portfolio_{col}.png;columns:100;rows:1;autospin-start:hover;initialize-on:hover;mousewheel-step: 1;" href="'.$BaseUrl.$port->getFirstImg().'"><img src="'.$BaseUrl.$port->getFirstImg().'">
                                </a>
                            </li>';
                         endforeach;
                        foreach($images as $child){
                        echo '<li class="slide"><img class="img-responsive" src="'.$child->getUrl().'" ></li>';
                        }
                        echo '
                        </ul>
                        <ul id="" class="list-inline horizontal quick-view-thumb-slider mrg-dt">';
                            $j=$a;                      
                            foreach ($PortfolioModel as $port): 
                            echo '<li class="slider_img"><a data-slide-index="'.$j.'" href=""><img src="'.$BaseUrl.$port->getFirstImg().'"></a></li>';
                            $j++;
                            endforeach;
                        echo '</ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="product-information text-left">
                    <h4 class="text-uppercase product-super-title" id="Prod-superHead-quickview"></h4>
                    <h3 class="product-title text-uppercase">
                    <span class="base" data-ui-id="page-title-wrapper">'.$_product->getName().'</span>
                    </h3>
                    <div class="setting-price">
                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="1">
                            <span class="price">'.$currencySymbol.rtrim(rtrim(number_format($productPrice, 2),'0'), '.').'</span>
                        </div>
                        <div class="price-text">Setting price</div>
                    </div>
                    <div class="product-reviews-summary">';
                    if ($RatingOb->getCount()>0) {
                        echo '<div class="quickviw-review">
                                <span class="product-score">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </span><div class="reviews-actions">
                                    <a target="_blank" class="action view btn btn-link" href="'.$BaseUrl.'steps/index/reviews?pid='.$_product->getId().'">
                                        <span itemprop="reviewCount">'.$RatingOb->getCount().' Reviews</span>
                                    </a>
                                </div>
                            </div>'; 
                        } 
                        echo '<div class="product attribute overview">
                            <div class="value" itemprop="description">'.$_product->getShortDescription().'</div>
                        </div>';
                        if ($_product->getData('type_id') == "configurable"):
                        
                            //get the configurable data from the product
                            $config = $_product->getTypeInstance(true);
                            //loop through the attributes
                            foreach($config->getConfigurableAttributesAsArray($_product) as $attributes):
                                echo '<div class="input-box configurable control mrg-db " id="choose-an-option"><select name="super_attribute['.$attributes["attribute_id"] .']" id="attribute'.$attributes["attribute_id"] .'">';
                                foreach($attributes["values"] as $values)
                                    {
                                        echo "<option>".$values['label']."</option>";
                                    };echo '</select><span class="select-style" >Choose an Option..</span></div>';
                            endforeach;
                        endif;
                        if(in_array($CurrentCat, $settingArr)){
                        echo '<input type="button" class="primary btn btn-xxl btn-block btn-dark" value="Choose This Setting" onclick="choosethis('.$pid.');" disabled="disabled">';
                        }
                        if(in_array($CurrentCat, $readytoship)){
                            $onclick = "window.location.href='".$BaseUrl."completestep/index/customadd?pid=".$pid."&selectedAval=0'";
                        echo '<input type="button" class="primary btn btn-xl btn-block btn-dark" value="Add To Cart" onclick="'.$onclick.'" disabled="disabled"/>';
                        }
                        echo '<div class="product-addto-links text-center">';
                         //   if ($this->getWishlistHelper()->isAllow());
                                echo'<a href="'.$BaseUrl.'completestep/index/customaddwishlist?pid='.$pid.'&selectedAval=0"
                                   class="action towishlist sec-col-under"
                                   title=""
                                   aria-label=""
                                  
                                   role="button">
                                    <i class="em em-heart-plus mrg-xr" aria-hidden="true"></i> save to favourites</a>
                                </a>';
                             echo'
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix friend-opinion border-top mrg-gt">
            <div class="col-sm-8">
                <ul class="list-inline social">
                    <li>
                        <h5>Ask a friend for opinion</h5>
                    </li>
                    <li>
                        <ul class="list-inline social-icons ">
                            <li>
                                <a target="_blank" class="action mailto friend text-sec" href="'.$this->_Prohelper->getEmailToFriendUrl($_product).'">
                                    <i class="em em-e-mail mrg-xr" aria-hidden="true"></i>E-mail
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="text-sec" href="https://www.facebook.com/sharer/sharer.php?u='.urlencode($_product->getProductUrl()).'&t='.urlencode($_product->getName()).'" onclick="javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false">
                                    <i class="em em-facebook mrg-xr" aria-hidden="true"></i>Facebook
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="text-sec" href="http://twitter.com/home/?status='.urlencode($_product->getProductUrl()).'" onclick="javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false">
                                    <i class="em em-twitter mrg-xr" aria-hidden="true"></i>Twitter
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="text-sec" href="http://web.whatsapp.com/home/?status='.urlencode($_product->getProductUrl()).' '.(urlencode($_product->getName())).'" onclick="javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false">
                                    <i class="em em-whatsapp mrg-xr" aria-hidden="true"></i>Whatsapp
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="ship-returns text-center text-uppercase">
                    <i class="fa fa-flag-o mrg-xr" aria-hidden="true"></i>
                    <a target="_blank" href="free-shipping-and-returns">
                        <span class="sec-col-under"> free shipping </span><span class="amp-symbol"> &amp; </span><span class="sec-col-under">free returns</span>
                    </a>
                </div>
            </div>
        </div>';
?>
<?php

        else:
            echo 'Product ID not Received.';
        endif;
?>