<?php 
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$pid = $block->getRequest()->getParam('pid');
if(!$pid){
    echo 'You Cannot Access this Now.';die;
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$ProductObj = $objectManager->create('Magento\Catalog\Model\Product');
$SettingProd = $ProductObj->load($pid);

//prepare reviews count
    $RatingOb=$objectManager->create("Magento\Review\Model\Review");
    $RatingOb=$objectManager->get("Magento\Review\Model\ReviewFactory");
    $RatingOb->create()->getEntitySummary($SettingProd, 1);
    $ReviewsCnt = $SettingProd->getRatingSummary()->getReviewsCount();
    if($ReviewsCnt>0){
         $rating = $SettingProd->getRatingSummary();
         $eyecleanscore = round((floatval($rating['rating_summary']) / 100)*5); 
    }



$ratings = $objectManager->get("Magento\Review\Model\ResourceModel\Review\CollectionFactory");
$collection = $ratings->create()
        ->addStatusFilter(
            \Magento\Review\Model\Review::STATUS_APPROVED
        )->addEntityFilter(
            'product',
            $SettingProd->getId()
        )->setDateOrder();
 ?>


<div class="container">
    <div class="block review-list padding-container" id="customer-reviews">
        <h3 class="secondary-title">Customer Reviews</h3>
        <div class="review-head">
            <div class="row">
                <div class="col-sm-2 text-right">
                    <strong>TOTAL SCORE</strong>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="list-inline text-primary">
                                <li>
                                    <?php 
                                        $active = 1;
                                        while ( $active <= $eyecleanscore) {
                                            echo "<i class='fa fa-star'></i> ";
                                            $active ++;
                                        }
                                        while ( $active > $eyecleanscore && $active <= 5 ) {
                                            echo "<i class='fa fa-star-o'></i> ";
                                            $active ++;
                                        }
                                    ?>
                                </li>
                                <a class="sec-col-underline" href="#customer-reviews"><?php echo $ReviewsCnt;?> <?php echo($ReviewsCnt == 1) ? __('Review') : __('Reviews') ?></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php
            $review = 0;
            foreach ($collection->getData() as $key => $value):
        ?>
            <div class="block-content review-wrapper">
                <div class="review-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="text-right">
                                <time class="review-details-value text-uppercase" itemprop="datePublished" datetime="<?php /* @escapeNotVerified */ echo $block->formatDate($value['created_at'], $format) ?>"><?php /* @escapeNotVerified */ echo $block->formatDate($value['created_at'], $format) ?>
                                </time>
                                <div class="review-details">
                                    <div class="review-author text-uppercase">
                                        <strong class="review-details-value" itemprop="author"><?php echo $value['nickname']; ?></strong>
                                    </div>
                                    <p><a href="#">verified buyer</a></p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm-10">
                                <div class="review-ratings">
                                    <ul class="list-inline text-primary">
                                        <li>
                                            <?php 
                                                $active = 1;
                                                while ( $active <= $eyecleanscore) {
                                                    echo "<i class='fa fa-star'></i> ";
                                                    $active ++;
                                                }
                                                while ( $active > $eyecleanscore && $active <= 5 ) {
                                                    echo "<i class='fa fa-star-o'></i> ";
                                                    $active ++;
                                                }
                                            ?>
                                        </li>
                                    </ul>
                                </div>
                            <div class="review-title"><?php echo $value['title']; ?></div>
                            <div class="review-content readmore-content" id="reviewRead" itemprop="description">
                                <span class="readmore-text">
                                    <?php echo $value['detail']; ?>
                                </span>
                                <?php if (str_word_count($value['detail']) > 20): ?>
                                    <a href="" class="sec-col-under readmore-btn" onclick="return false;">Read More</a>
                                <?php endif; ?>
                                <?php if(strlen($value['image'])>4):?>
                                    <div class="review_screenshot">
                                        <span class="cursor-pointer" data-target="#gia-certificate" data-toggle="modal" data-certificate="<?php echo $block->getUrl(); ?>pub/media/wysiwyg/reviewimages/<?php echo $value['image']; ?>"></i>
                                            <img src="<?php echo $block->getUrl(); ?>pub/media/wysiwyg/reviewimages/<?php echo $value['image']; ?>" class="img-responsive img-thumbnail" alt="Review Screenshot"></span>
                                    </div>
                                <?php endif;?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <?php $review++; endforeach; ?>
    </div>
    <div class="more-reviews mrg-gt text-center" style="margin-top: -38px;">
            <div class="more-reviews">
                <span style="background-color: white;">No More Reviews</span>
            </div>
        </div>
</div>