<?php if (count($block->getStores())>1): ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<li class="dropdown hidden-xs" id="switcher-language<?php /* @escapeNotVerified */ echo $id?>">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?php echo $block->escapeHtml($block->getStoreName()) ?> <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <?php foreach ($block->getStores() as $_lang): ?>
            <?php if ($_lang->getId() != $block->getCurrentStoreId()): ?>
                <li class="view-<?php echo $block->escapeHtml($_lang->getCode()); ?> switcher-option">
                    <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getTargetStorePostData($_lang); ?>'>
                        <?php echo $block->escapeHtml($_lang->getName()) ?>                            
                    </a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</li>
<?php endif; ?>