<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Store\Block\Switcher $block */
//$SortNameArr=array('ENGLISH'=>'EN','ESPANOL'=>'ES','DEUTSCH'=>'DE','FRANCAIS'=>'FR','ITALIANO'=>'IT');
?>
<?php if (count($block->getGroups())>1): ?>
<li class="dropdown switcher store switcher-store" id="switcher-store">
        <?php foreach ($block->getGroups() as $_group): ?>
        <?php if ($_group->getId() == $block->getCurrentGroupId()): ?>
        <?php 
        $CountryFlags = array(
                'ESPANOL'=>'spain',
                'UNITED STATES'=>'us',
                'GERMAN'=>'germany-flag'
            );
         ?><a href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            data-toggle="dropdown"
            class="dropdown-toggle header-stores"
            role="button"
            tabindex="0"
            data-mage-init='{"dropdown":{}}'
            data-toggle="dropdown"
            data-trigger-keypress-button="true"
            id="switcher-store-trigger">
                <img class="flag-current-header" src="<?php echo $this->getViewFileUrl('images/icons/flags/flags_iso/24/'.$CountryFlags[$block->escapeHtml($_group->getName())].'.png'); ?>" style="margin-right: 10px;"><span class="text font-sm"><?php echo  $block->escapeHtml($_group->getName()); ?> <span class="caret"></span></span><span class="caret"></span>  
            </a>
        <?php endif; ?>
        <?php endforeach; ?>
        <ul class="dropdown-menu switcher-dropdown" aria-labelledby="switcher-store" data-target="dropdown">
            <!-- <li class="switcher-option active_currency">
                <?php foreach ($block->getGroups() as $_group): ?>
                <?php if ($_group->getId() == $block->getCurrentGroupId()): ?>
                <?php 
                $CountryFlags = array(
                        'ESPANOL'=>'spain',
                        'UNITED STATES'=>'us',
                        'GERMAN'=>'germany-flag'
                    );
                 ?><a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" lass="action toggle switcher-trigger"
                         role="button"
                         tabindex="0"
                         data-mage-init='{"dropdown":{}}'
                         data-toggle="dropdown"
                         data-trigger-keypress-button="true"
                         id="switcher-store-trigger">
                        <img src="<?php echo $this->getViewFileUrl('images/icons/flags/flags_iso/24/'.$CountryFlags[$block->escapeHtml($_group->getName())].'.png'); ?>" style="margin-right: 10px;"><span class="font-sm"><?php echo  $block->escapeHtml($_group->getName()); ?></span> 
                    </a>
                <?php endif; ?>
                <?php endforeach; ?>
            </li> -->
            <?php foreach ($block->getGroups() as $_group): ?>
            <?php if (!($_group->getId() == $block->getCurrentGroupId())): ?>
                <li class="switcher-option font-sm">
                    <a href="#" data-post='<?= /* @noEscape */ $block->getTargetStorePostData($_group->getDefaultStore()) ?>'>
                        <img src="<?php echo $this->getViewFileUrl('images/icons/flags/flags_iso/24/'.$CountryFlags[$block->escapeHtml($_group->getName())].'.png'); ?>" style="margin-right: 10px;"><?php echo  $block->escapeHtml($_group->getName()); ?>
                    </a>
                </li>
            <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    <!-- </div> -->
</li>
<?php endif; ?>
