<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Catalog\Product\View\Addto\Compare */
?>
<?php $_product = $block->getProduct();
 	//fetch catID
 	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 	$categories = $_product->getCategoryIds(); /*will return category ids array */
	foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
    $currCatname = $cat->getName();

    }
    $pair_diamond=array(2,23,24,45,46,47);
 ?>
<?php if (!in_array($currCat, $pair_diamond)): ?>
<div class="text-center pad-dt">
<a href="#" class="sec-col-under" data-post='<?php /* @escapeNotVerified */ echo $block->getPostDataParams();?>'
        data-role="add-to-links" class="action tocompare"><i class="em em-heart-plus mrg-xr" aria-hidden="true"></i> save to favourites</a>
</div>
<?php endif ?>