<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var $block Magento\Wishlist\Block\Catalog\Product\ProductList\Item\AddTo\Wishlist */
?>
<?php if ($block->getWishlistHelper()->isAllow()): ?>
    <a href="#"
       class="action towishlist"
       title="<?php echo $block->escapeHtml(__('save to favourites')); ?>"
       aria-label="<?php echo $block->escapeHtml(__('save to favourites')); ?>"
       data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($block->getProduct()); ?>'
       data-action="add-to-wishlist"
       role="button">
        <i class="em em-heart-plus mrg-xr" aria-hidden="true"></i> save to favourites</a>
    </a>
<?php endif; ?>
