<div class="table-wrapper" data-bind="blockLoader: isLoading">
	<h5 class="header bold" data-bind="text: $t('Total')">Total</h5>
    <table class="data table totals">
        <tbody>
        <!-- ko foreach: elems() -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
</div>