<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<div class="col-sm-1">
	<strong class="product-item-name">
	    <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($item) ?>" title="<?php echo $block->escapeHtml($product->getName()) ?>" class="product-item-link font-sm btn btn-link pull-right marg-bn">
	        <!-- <?php //echo $block->escapeHtml($product->getName()) ?> -->
	        <?php /* @escapeNotVerified */ echo __('View') ?>
	    </a>
	</strong>	
</div>