<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Model\Item $item */
?>
<div class="col-sm-1 text-center">
    <span class="font-sb">0.75</span>
</div>
<div class="col-sm-1 text-center">
    <span class="font-sb">H</span>
</div>
<div class="col-sm-1 text-center">
    <span class="font-sb text-center">S11</span>
</div>
<div class="col-sm-5">
	<div class="row">
	    <div class="col-sm-1 text-center">
	        <span class="font-sb">IDEAL</span>
	    </div>
	    <div class="col-sm-3 text-center">
	        <span class="font-sb mrg-dl">GIA</span>
	    </div>
	    <div class="col-sm-3 text-center">
	        <span class="font-sb ">3/5</span>
	    </div>
	    <div class="col-sm-4 text-center">
	        <span class="font-sb ">1234567</span>
	    </div>
		<div class="col-sm-1 pad-zl">
		<?php foreach ($block->getChildNames() as $childName): ?>
		    <?php /* @escapeNotVerified */ echo $block->getLayout()->renderElement($childName, false); ?>
		<?php endforeach;?>
		</div>
	</div>
</div>
