<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="col-sm-2 mrgn-st">
<a href="#" data-role="remove" data-post-remove='<?php /* @escapeNotVerified */ echo $block->getItemRemoveParams($block->getItem()); ?>' title="<?php /* @escapeNotVerified */ echo __('') ?>" class="btn-remove action delete pull-left">
	    <span><?php /* @escapeNotVerified */ echo __('');?><i class="em em-delete" aria-hidden="true"></i></span>
</a>