<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 //@codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;

$block->setChild('product_list_toolbar_pager', $this->getLayout()->createBlock('Magento\Theme\Block\Html\Pager'));
?>
<?php if ($block->getCollection()->getSize()): ?>
    <div class="toolbar toolbar-products" data-mage-init='<?php /* @escapeNotVerified */ echo $block->getWidgetOptionsJson(); ?>'>
        <!-- <?php //if ($block->isExpanded()):  ?>
            <?php //include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/viewmode.phtml')) ?>
        <?php //endif; ?> -->

        <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/amount.phtml')) ?>

        <!-- <?php //echo $block->getPagerHtml() ?>
        
        <?php //include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/limiter.phtml'))  ?>
        
        <?php //if ($block->isExpanded()): ?>
            <?php //include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/sorter.phtml'))  ?>
        <?php //endif;  ?>  -->
        
        <div class="toolbar-pager-custom" style="display: none;">
        <?php echo $block->getPagerHtml() ?>
        <?php  
        //echo $this->getLayout()->createBlock('\Magento\Theme\Block\Html\Pager')->setCollection($block->getCollection())->setTemplate('Magento_Theme::html/pager.phtml')->toHtml(); 
        ?>
        </div>
    </div>
<?php endif ?>
