<div class="well well-simple mrg-zb">
	<div class="well well-simple mrg-zb padxs-zt">
		<h3 class="head pad-sb">Diamond Cut</h3>
		<p>Each rough diamond is painstakingly cut to size - or into a few smaller stones - by an expert diamond cutter. <br>Some of the world’s best known diamond cutters come from families with generations of experience working diamonds.</p>
		<div class="well well-simple mrg-zb pad-zb">
			<h5 class="font-sb edu-head-color">Brilliance, Fire and Scintillation</h5>
			<p>The true purpose of the cutting process is not simply to rework a rough diamond into a new shape. <br>The difference between a top quality diamond and an average diamond lies in its proportions, symmetry and polish. <br>A well cut stone displays:</p>
			<div class="well well-simple mrg-zb pad-zb">
				<div class="row equal-ht">
					<div class="col-sm-4">
						<div class="thumbnail border-thumb equal thumb-left">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/cut/brilliance.png') ?>" alt="thumbnail">
							<div class="caption text-left">
								<h5 class="font-sb edu-head-color">Brilliance</h5>
								<p>The polished diamond reflects white light from both the surface and inside the stone.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="thumbnail border-thumb equal thumb-left">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/cut/fire.jpg') ?>" alt="thumbnail">
							<div class="caption text-left">
								<h5 class="font-sb edu-head-color">Fire</h5>
								<p>A good stone disperses light into the colours of the visible spectrum, creating fiery flashes of color.</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="thumbnail border-thumb equal thumb-left">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/cut/scintillation.jpg') ?>" alt="thumbnail">
							<div class="caption text-left">
								<h5 class="font-sb edu-head-color">Scintillation</h5>
								<p>When a diamond catches the light it produces sparkling flashes of light and darkness that are called scintillation.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<h5 class="font-sb edu-head-color pad-gb xs-tc">A diamond’s cut is assessed according to 5 standard GIA gradings: You might also see similar gradings from the IGI and AGS.</h5>
<div class="well edu-bg-blue xs-tc neg-h15">
	<div class="media border-btm media-list">
		<a class="pull-left mw75" href="#">Excellent</a>
		<div class="media-body"><p> Optimal fire and brilliance with a striking sparkling effect.</p></div>
	</div>
	<div class="media border-btm media-list">
		<a class="pull-left mw75" href="#">Very Good</a>
		<div class="media-body"><p>Plenty of fire and brilliance - close to Excellent but at a cheaper price</p></div>
	</div>
	<div class="media border-btm media-list">
		<a class="pull-left mw75" href="#">Good</a>
		<div class="media-body"><p>Reflects most of the light that enters the stone - usually a high quality diamond at an affordable price.</p></div>
	</div>
	<div class="media border-btm media-list">
		<a class="pull-left mw75" href="#">Fair</a>
		<div class="media-body"><p>Not sold at Emrada</p></div>
	</div>
	<div class="media media-list">
		<a class="pull-left mw75" href="#">Poor</a>
		<div class="media-body"><p>Not sold at Emrada</p></div>
	</div>
</div>
<div class="well well-simple">
	<div class="well well-simple"><h3 class="head h3">ideal cut Diamond</h3></div>
	<div class="media mrg-gb edu-bg-blue neg-h15">
		<a class="pull-left diamond-sketch pad-zv" href="#">
			<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/ideal-cut-diamond.png') ?>" alt="Image">
		</a>
		<div class="media-body">
			<p>An ideal cut diamond represents perfection - or as close to perfection as the cutting process can achieve. An ideal cut stone is a round, brilliant or princess cut diamond that achieves the optimal proportions between the table and pavilion and their facets.</p>
			<p>It is also polished to an excellent standard and will refract light for maximum fire and brilliance. </p>
		</div>
	</div>
</div>
<div class="mrg-gt xs-tc"><a href="loose-diamonds/colorless-diamonds.html" target="_blank" class="btn btn-turkish">Browse diamonds</a></div>
<div class="space-lg"></div>