<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Loose Diamonds</h4>
					<h1 class="h1">The 4Cs of Diamonds</h1>
				</div>
				<div role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs text-center neg-h15" role="tablist">
						<li role="presentation" class="active">
							<a href="#eng-cut" aria-controls="home" role="tab" data-toggle="tab"><i class="em edu-tab-cut"></i>cut</a>
						</li>
						<li role="presentation">
							<a href="#eng-clarity" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-anatony-clarity"></i>clarity</a>
						</li>
						<li role="presentation">
							<a href="#eng-color" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-anatony-color"></i>color</a>
						</li>
						<li role="presentation">
							<a href="#eng-carat" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-anatony-carat"></i>carat</a>
						</li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="eng-cut">
							<?php include ($block->getTemplateFile('Magento_Theme::education-center/loose-diamonds/4cs-cut.phtml'));?>
						</div>
						<div role="tabpanel" class="tab-pane" id="eng-clarity">
							<?php include ($block->getTemplateFile('Magento_Theme::education-center/loose-diamonds/4cs-clarity.phtml'));?>
						</div>
						<div role="tabpanel" class="tab-pane" id="eng-color">
							<?php include ($block->getTemplateFile('Magento_Theme::education-center/loose-diamonds/4cs-color.phtml'));?>
						</div>
						<div role="tabpanel" class="tab-pane" id="eng-carat">
							<?php include ($block->getTemplateFile('Magento_Theme::education-center/loose-diamonds/4cs-carat-weight.phtml'));?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="space-lg hidden-xs"></div>
<div class="space-lg hidden-xs"></div>
<div class="space-lg hidden-xs"></div>