<div class="well well-simple mrg-zb">
	<div class="well well-simple mrg-zb padxs-zt"><h3 class="head pad-sb">Carat Weight</h3>
		<p>Diamonds are rated and sold by their carat weight, but prices are influenced by the cut, clarity and colour. Two stones of identical carat weight could have very different prices. Good quality large diamonds are much rarer than smaller ones, which is why the price increases exponentially with carat size. For example a 3 carat stone could be ten times more expensive than a 1 carat stone. Perhaps one in every million rough diamonds is big enough to yield a cut and polished 1 carat stone.  </p>
	</div>
</div>
<div class="well well-simple pad-zv">
	<h3 class="head mrg-gb xs-tc">A common mistake is to confuse ‘carat’ with ‘karat’. </h3>
	<div class="well edu-bg-blue mrg-zb neg-h15">
		<div class="media border-btm media-list">
			<a class="pull-left" href="#">
				<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
			</a>
			<div class="media-body padxs-zh"><p>Carat (ct) is a unit of measurement used to weigh diamonds and gemstones</p></div>	
		</div>
		<div class="media border-btm media-list">
			<a class="pull-left" href="#">
				<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
			</a>
			<div class="media-body padxs-zh"><p>Karat (kt) measures the fineness of gold e.g. 18kt gold or 14kt gold. </p></div>
		</div>
		<h4 class="edu-head-color mrg-gt">For Example:</h4>
		<p>You might buy an 18kt yellow gold solitaire ring with a 0.95ct radiant cut diamond center stone.</p>
	</div>
</div>
<div class="well well-simple">
	<p>Generally speaking, when you buy a diamond engagement ring it’s better to focus on the cut and clarity of the stone rather than its carat weight. Some diamonds are cut with a deep pavilion to increase their carat weight, but this does nothing to improve the overall quality of the stone.</p>
</div>
<div class="media mrg-gb edu-bg-blue">
	<a class="pull-left" href="#">
		<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
	</a>
	<div class="media-body">
		<p>The word carat comes from the carob seeds that were originally used as units of measurements when weighing diamonds. Carob seeds were almost always a standard size and weight and could be relied upon to give a uniform result anywhere in the world.</p>
		<p>A modern carat is 0.2 grams - roughly the weight of a paper clip. </p>
	</div>
</div>
<div class="well well-simple xs-tc"><a href="loose-diamonds/colorless-diamonds.html" target="_blank" class="btn btn-turkish">browse diamonds</a></div>