<div class="well well-simple mrg-zb">
	<div class="well well-simple mrg-zb padxs-zt"><h3 class="head pad-sb">Clarity</h3>
		<p>Almost every diamond contains some imperfections, these are known as inclusions (occurring inside the diamond) or blemishes (found on it’s surface). The imperfections occur naturally as a result of the immense pressures and extreme heat when diamonds are formed deep beneath the earth’s surface. Inclusions and blemishes reduce the brilliance of a diamond because they disrupt the path of light through the stone. </p>
		<p class="pad-st">Diamond cutters cut rough diamonds to either discard inclusions or to position them where they will have minimal effect on the quality of the stone. In the majority of diamonds inclusions are invisible to the naked eye and can only be seen by a trained appraiser using x10 magnification. </p>
		<p class="pad-st mrg-zb">Diamonds are graded for clarity by internationally recognised institutes like the GIA, IGI and AGS</p>
		<div class="well well-simple mrg-zb"><h3 class="head">Flawless Diamonds</h3></div>
		<p>Round diamonds account for almost 75% of all sales and there are good reasons for their popularity. A modern round cut stone can display an almost perfect cut with superb brilliance, fire and scintillation. The round diamond’s archetypal cone shape maximizes light return through the top of the stone. </p>
		<p class="pad-st">The proportions and angles of the crown and pavilion are calculated to enhance this effect, in conjunction with the diamond’s 58 polished facets. If you want to surprise a woman with a diamond engagement ring, a round cut stone is your single best choice. </p>

		<div class="well well-simple mrg-zb pad-zb	">
			<div class="media mrg-gb edu-bg-blue">
				<a class="pull-left" href="#">
					<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/flawless-diamonds.jpg') ?>" alt="Image">
				</a>
				<div class="media-body">
					<p>Flawless diamonds are to all intents and purposes perfect. They are also exceptionally rare - and extremely expensive - with only about 0.02% of stones being graded as FL. </p>
				</div>
			</div>
		</div>	
		<div class="well well-simple mrg-zb">
			<div class="well well-simple pad-zt"><h3 class="head h3">Internally Flawless Diamonds</h3></div>
			<div class="media mrg-gb edu-bg-blue">
				<a class="pull-left" href="#">
					<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/internally-flawless-diamonds.jpg') ?>" alt="Image">
				</a>
				<div class="media-body">
					<p>Internally Flawless Diamonds have no visible inclusions and only blemishes. The faults are only visible to a skilled appraiser using x10 magnification. IF diamonds appear flawless to the naked eye and account for just 3% of all diamonds.</p>
				</div>
			</div>
		</div>
<!--Very very slightly included diamonds -->
		<div class="well well-simple xs-zmb xs-zmb">
			<div class="well well-simple"><h3 class="head h3">Very very slightly included Diamonds</h3></div>
			<div class="media mrg-gb">
				<a class="pull-left xs-fullw" href="#">
					<img class="media-object xs-fullw" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/very-very-slightly-included-diamonds.png') ?>" alt="Image">
				</a>
				<div class="media-body pad-zv hidden-xs">
					<img class="media-object pad-zv pad-50" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/very-very-slightly-included-diamonds.png') ?>" alt="Image">
				</div>
			</div>
		</div>
		<p>VVS1 and VVS2 diamonds contain slight inclusions that are difficult for a skilled appraiser to detect, even under x10 magnification. VVS1 and VVS2 stones usually appear flawless.</p>
		
<!--Very slightly included Diamonds -->
		<div class="well well-simple xs-zmb xs-zmb">
			<div class="well well-simple"><h3 class="head h3">Very slightly included Diamonds</h3></div>
			<div class="media mrg-gb">
				<a class="pull-left xs-fullw" href="#">
					<img class="media-object xs-fullw" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/very-slightly-included-diamonds.jpg') ?>" alt="Image">
				</a>
				<div class="media-body pad-zv hidden-xs">
					<img class="media-object pad-zv pad-50" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/very-slightly-included-diamonds.jpg') ?>" alt="Image">
				</div>
			</div>
		</div>
		<p>VS1 and VS2 diamonds have inclusions that are clearly visible under x10 magnification. These inclusions do not significantly reduce the quality of the diamond and are invisible to the naked eye.</p>

<!--Slightly​ ​Included​ ​Diamonds -->
		<div class="well well-simple xs-zmb xs-zmb">
			<div class="well well-simple"><h3 class="head h3">Slightly​ ​Included​ ​Diamonds</h3></div>
			<div class="media mrg-gb">
				<a class="pull-left xs-fullw" href="#">
					<img class="media-object xs-fullw" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/slightly​-​included​-diamonds.jpg') ?>" alt="Image">
				</a>
				<div class="media-body pad-zv hidden-xs">
					<img class="media-object pad-zv pad-50" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/slightly​-​included​-diamonds-2.jpg') ?>" alt="Image">
				</div>
			</div>
		</div>
		<p>SI1 diamonds have inclusions that are often invisible to the naked eye. SI2 graded diamonds have inclusions that may be visible (but not immediately obvious) to the naked eye.</p>

<!--​Included​ ​Diamonds -->
		<div class="well well-simple xs-zmb xs-zmb">
			<div class="well well-simple"><h3 class="head h3">Included​ ​Diamonds</h3></div>
			<div class="media mrg-gb">
				<a class="pull-left xs-fullw" href="#">
					<img class="media-object xs-fullw" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/included​ -diamond.jpg') ?>" alt="Image">
				</a>
				<div class="media-body pad-zv hidden-xs">
					<img class="media-object pad-zv pad-50" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/4cs-diamonds/clarity/included​ -diamond.jpg') ?>" alt="Image">
				</div>
			</div>
		</div>
		<p>I1, I2 and I3 graded diamonds contain inclusions that are usually immediately visible to the naked eye. I3 diamonds may also have structural weaknesses.</p>

		<div class="well well-simple"><h3 class="head h3">EMRADA EYECLEAN</h3></div>

		<div class="well edu-bg-blue text-left pad-50 padxs-zb xs-tc">
			<p class="pad-sb">Emrada has simplified the whole process of choosing the perfect diamond with our revolutionary EYECLEAN grading. </p>
			<p class="pad-db">EYECLEAN stones optimise the balance between price and color &amp; clarity. That means that you can easily buy a diamond that has no inclusions or coloring that are visible to the naked eye. You get an amazing looking diamond at a great price!</p>
			<div class="white-break visible-xs"></div>
		</div>
		<div class="well well-simple xs-tc"><a href="loose-diamonds/colorless-diamonds.html" target="_blank" class="btn btn-turkish">browse diamonds</a></div>
	</div>
</div>