<div class="well well-simple mrg-zb">
	<div class="well well-simple mrg-zb padxs-zt"><h3 class="head pad-sb">Color</h3>
		<p>Most people believe that diamonds are colorless. In fact only a tiny proportion of stones are truly colorless. They are usually collectors items and are very expensive. The majority of diamonds contain various hues of color (mainly shades of yellow). </p>
		<p class="pad-st">In gem quality diamonds the coloring is often undetectable by the naked eye, but can be seen under magnification. Even a tiny amount of coloring can significantly reduce the price of a diamond without detracting from its overall appearance and beauty. </p>
		<p>Just as diamonds are graded for cut, they are also graded for color. The grading is alphabetical, beginning at D and ending at Z. </p>
	</div>
	<section>
		<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Colorless Diamonds</h3>
			<p>D and E graded diamonds are almost entirely colourless. F graded stones will display a tiny amount of colour that can only be detected by a trained appraiser. An F stone can be an excellent choice if you're looking for a colorless diamond on a budget. </p>
		</div>
		<img class="diamond-banner" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/diamond-banner.png') ?>" alt="Image">
		<div class="well edu-bg-blue text-center pad-50">
			<p>D, E and F stones are particularly recommended for platinum or white gold settings. Yellow gold color can be reflected and will detract from the diamond’s colorless quality.</p>
		</div>
	</section>
	<section>
		<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Near Colorless Diamonds</h3>
			<p>Near colorless diamonds contain traces of colour that are usually only visible to trained appraisers. G, H, I and J stones often appear completely colorless when they are set on a ring and will impress with their fire and brilliance. These stones are cheaper than colorless diamonds, but with minimal compromise on quality.</p>
		</div>
		<img class="diamond-banner" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/diamond-banner.png') ?>" alt="Image">
		<div class="well edu-bg-blue text-center pad-50">
			<p>G, H, I and J stones are suitable for all settings and are particularly recommended for platinum or white gold settings.</p>
		</div>
	</section>
	<section>
		<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Faint Color Diamonds</h3>
			<p>Faint colour diamonds can show some subtle color when they are viewed face up. Some people find that this adds character to a stone, making it more interesting. Others feel that K graded stones have more natural warmth. Even if you are set on a colorless diamond, it can be worth checking out K stones in our 360 HD viewer. The price difference - sometimes 50% less than a G grade stone - can make a very lightly shaded K stone an excellent purchase. </p>
		</div>
		<img class="diamond-banner" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/diamond-banner.png') ?>" alt="Image">
		<div class="well edu-bg-blue text-center pad-50">
			<p>K grade stones are ideal for a rose gold or yellow gold setting. They are less recommended for platinum or white gold settings.</p>
		</div>
	</section>
	<div class="well well-simple"><h3 class="head h3 pad-gt">EMRADA EYECLEAN</h3></div>
	<div class="well edu-bg-blue text-left pad-50 padxs-zb xs-tc">
		<p class="pad-sb">Emrada has simplified the whole process of choosing the perfect diamond with our revolutionary EYECLEAN grading.</p>
		<p class="pad-db">EYECLEAN stones optimise the balance between price and color &amp; clarity. That means that you can easily buy a diamond that has no inclusions or coloring that are visible to the naked eye. You get an amazing looking diamond at a great price!</p>
		<div class="white-break visible-xs"></div>
		<div class="white-break visible-xs"><a href="#" class="btn btn-turkish hidden-xs">EYECLEAN DIAMONDS</a><span class="visible-xs"><a href="#" class="btn btn-red">EYECLEAN DIAMONDS</a></span></div>
	</div>
	<div class="well well-simple xs-tc"><a href="loose-diamonds/colorless-diamonds.html" target="_blank" class="btn btn-turkish">browse diamonds</a></div>
</div>