<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head hidden-xs">
					<h4>Loose Diamonds</h4>
					<h1 class="h1">Anatomy</h1>
				</div>
				<div class="well well-simple mrg-zb pad-zb">
					<div class="well well-simple"><h3 class="head h3">Diamond Anatomy</h3></div>
					<div class="media mrg-gb">
						<a class="pull-left" href="#">
							<span class="pad-gr dis-ib"><img class="media-object img-responsive" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/ideal-cut-diamond.png') ?>" alt="Image"></span>
						</a>
						<div class="media-body pad-zh">
							<p>Diamonds can be cut into many different shapes and sizes, but they all retain some basic identical characteristics. These common reference points make it easy to assess and compare different stones. </p>
						</div>
					</div>
				</div>
				<h5 class="font-sb edu-head-color pad-gb xs-tc">A diamond’s cut is assessed according to 5 standard GIA gradings: You might also see similar gradings from the IGI and AGS.</h5>
				<div class="well edu-bg-blue xs-tc neg-h15">
					<div class="media border-btm media-list">
						<a class="pull-left mw75" href="#">Excellent</a>
						<div class="media-body"><p> Optimal fire and brilliance with a striking sparkling effect.</p></div>
					</div>
					<div class="media border-btm media-list">
						<a class="pull-left mw75" href="#">Very Good</a>
						<div class="media-body"><p>Plenty of fire and brilliance - close to Excellent but at a cheaper price</p></div>
					</div>
					<div class="media border-btm media-list">
						<a class="pull-left mw75" href="#">Good</a>
						<div class="media-body"><p>Reflects most of the light that enters the stone - usually a high quality diamond at an affordable price.</p></div>
					</div>
					<div class="media border-btm media-list">
						<a class="pull-left mw75" href="#">Fair</a>
						<div class="media-body"><p>Not sold at Emrada</p></div>
					</div>
					<div class="media media-list">
						<a class="pull-left mw75" href="#">Poor</a>
						<div class="media-body"><p>Not sold at Emrada</p></div>
					</div>
				</div>
				<div class="well well-simple">
					<h3 class="head">Diamond Proportion</h5>
					<p>The proportions between different parts of a cut diamond directly affect the quality of the stone in three key areas:</p>
					<div class="well well-simple mrg-zb pad-zb">
						<div class="row equal-ht">
							<div class="col-sm-4">
								<div class="thumbnail border-thumb equal thumb-left">
									<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/anatomy/brilliance.jpg') ?>" alt="thumbnail">
									<div class="caption text-left">
										<h5 class="font-sb edu-head-color">Brilliance</h5>
										<p>The polished diamond reflects white light from both the surface and inside the stone.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail border-thumb equal thumb-left">
									<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/anatomy/fire.jpg') ?>" alt="thumbnail">
									<div class="caption text-left">
										<h5 class="font-sb edu-head-color">Fire</h5>
										<p>A good stone disperses light into the colours of the visible spectrum, creating fiery flashes of color.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="thumbnail border-thumb equal thumb-left">
									<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/anatomy/scintillation.jpg') ?>" alt="thumbnail">
									<div class="caption text-left">
										<h5 class="font-sb edu-head-color">Scintillation</h5>
										<p>When a diamond catches the light it produces sparkling flashes of light and darkness that are called scintillation.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<p>The style of the finished diamond is also affected by its proportions. A well proportioned stone  that is matched to the right ring complements the wearer e.g. a slender marquise cut stone can make the wearer’s finger seem longer and more elegant. </p>
				</div>
				<section> <!-- Diamond Symmetry -->
					<div class="well well-simple mrg-zb"><h3 class="head h3">Diamond Symmetry</h3></div>
					<p>Every diamond has flat facets cut into its surface which are then polished. A brilliant cut diamond will have 58 facets. It’s important that the facets align and intersect harmoniously to maximize the diamond’s brilliance. </p>
					<p class="pad-sb">A diamond will sometimes be deliberately cut with a slight asymmetry to eliminate blemishes or other defects in the rough stone. These reductions in symmetry are usually very minor and have minimal effect on the quality of the finished stone.  </p>
					<div class="media edu-bg-blue mrg-gb">
						<a class="pull-left hidden-xs" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv">
							<div class="pad-gt xs-tc">
								<p class="font-sb">The GIA defines symmetry according to five gradings, of which Emrada usually only offers the top three.</p>
								<div class="media border-btm media-list">
									<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Excellent</b></p>
									<div class="media-body"><p class="text-gray">Close to perfect symmetry with no visible defects at x10 magnification</p></div>
								</div>
								<div class="media border-btm media-list">
									<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Very Good</b></p>
									<div class="media-body"><p class="text-gray">Minimal defects that are almost invisible at x10 magnification</p></div>
								</div>
								<div class="media media-list">
									<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Good</b></p>
									<div class="media-body"><p class="text-gray">Minor defects that are difficult to see at x10 magnification</p></div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Symmetry Checklist -->
					<div class="well well-simple mrg-zb">
						<h3 class="head">Symmetry Checklist </h3>
						<p class="font-sb mrg-zb">When you buy a diamond there are a few basic points that you need to check:</p>
						<div class="well well-simple pad-zb mrg-zb">
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>Girdle is a flat plane running parallel to the table. It is not 'wavy'</p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>In a round diamond the crown and pavilion facets should meet squarely at the girdle</p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>Extra facets may be present if the stone is not perfectly symmetrical</p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>The culet should be perfectly centered</p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>The table should be perfectly centered and parallel to the girdle</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Diamond Polish -->
					<div class="well well-simple mrg-zb">
						<h3 class="head pad-zb">Diamond Polish </h3>
						<p class="pad-zb">Diamond polishing is a highly skilled process that can hone a rough diamond to a finished stone with the cold clarity of ice water. But even expert polishes can occasionally create tiny defects that disrupt the flow of light through the stone. </p>
						<p class="font-sb mrg-zb">The GIA (Gemological Institute of America) measures the standard of polish according to five grades, of which Emrada usually only offers the top three.</p>
						<div class="well well-simple">
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Excellent</b></p>
								<div class="media-body"><p class="text-gray">Close to perfect symmetry with no visible defects at x10 magnification</p></div>
							</div>
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Very Good</b></p>
								<div class="media-body"><p class="text-gray">Minimal defects that are almost invisible at x10 magnification</p></div>
							</div>
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw75" href="#"><b>Good</b></p>
								<div class="media-body"><p class="text-gray">Minor defects that are difficult to see at x10 magnification</p></div>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- EMRADA EYECLEAN -->
					<div class="well well-simple"><h3 class="head h3">EMRADA EYECLEAN</h3></div>
					<div class="well edu-bg-blue text-left pad-50 padxs-zb xs-tc">
						<p class="pad-sb">Emrada has simplified the whole process of choosing the perfect diamond with our revolutionary EYECLEAN grading. </p>
						<p class="pad-db">EYECLEAN stones optimise the balance between price and color &amp; clarity. That means that you can easily buy a diamond that has no inclusions or coloring that are visible to the naked eye. You get an amazing looking diamond at a great price!</p>
						<div class="white-break visible-xs"></div>
						<div class="white-break text-center"><a href="#" class="btn btn-turkish">EYECLEAN DIAMONDS</a></div>
					</div>
				</section>
				<section>
					<div class="well well-simple"><h3 class="head h3">Diamond Fluorescence</h3></div>
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body">
					<div class="well well-simple pad-zv">
							<h3 class="head h3">Fluorescence and Pricing</h3></div>
							<p>Around 30% of diamonds are naturally fluorescent and may emit a blue glow under ultraviolet light. The intensity of the fluorescence varies from barely perceptible to intense.  A small number of stones may emit a yellow, green or light glow. Stones that do not fluoresce are referred to as inert and will be graded as non fluorescent. </p>
						</div>
					</div>
				</section>
				<div class="well well-simple xs-tc"><a href="loose-diamonds/colorless-diamonds.html" target="_blank" class="btn btn-turkish">Browse diamonds</a></div>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>