<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Loose Diamonds</h4>
					<h1 class="h1">Diamond Care</h1>
				</div>
				<section> <!-- Diamonds Care = Diamond Care -->
					<div class="well well-simple padxs-zv">
						<div class="well well-simple mrg-zb padxs-zt"><h3 class="head mrg-zb">Diamond Care</h3></div>
						<p class="mrg-zb">The golden rule of caring for your diamonds or diamond engagement ring is ‘slowly, carefully and gently’. Although diamonds are one of the hardest and most durable minerals in the world it is still possible to damage them. The same is even more true for the ring and the setting, particularly if you use unsuitable cleaning fluids. </p>
					</div>
				</section>
				<div class="well edu-bg-blue neg-h15">
					<h4 class="edu-head-color text-center">Diamonds are rated as the hardest naturally occurring mineral in the world according to the Mohs Scale. But they can still be damaged. </h4>
					<div class="well edu-bg-blue mrg-zb">
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p>The surface of a diamond can be scratched if it comes into contact with another diamond.</p></div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p>Diamonds can be chipped if they are struck from certain angles. This applies particularly to stones with points or sharp corners.</p></div>
						</div>
						<div class="media media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p>A diamond with an unusually thin girdle may be more vulnerable to chipping.</p></div>
						</div>
					</div>
				</div>
				<div class="well well-simple mrg-zb">
					<h2 class="text-center">Care of your Emrada Ring</h2>
					<p>With a little care and some basic maintenance your Emrada ring will remain in pristine condition for the rest of your life.</p>
					<h3 class="mrg-gb">Regular​ ​Cleaning</h3>
					<p class="mrg-zb">Perform weekly or fortnightly as needed and do not allow dirt to accumulate or harden.</p>
					<div class="well well-simple mrg-zb">
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p>Soak the ring in warm water containing a little mild dishwashing liquid for about 20 minutes. If the ring hasn’t been cleaned for a long time you can also mix a little ammonia into the water.</p></div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p>Use a soft toothbrush to very gently brush away any remaining dirt. Clean all the surfaces of the diamond including the girdle and under the table. If your setting has prongs brush around them very gently, taking care not to damage them in the process. Pay extra attention to the base of the mounting.</p></div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p>If necessary use wooden toothpicks to carefully dislodge stubborn dirt.</p></div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p>Gently pat the ring dry with a lint free cloth.</p></div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p>Clean weekly or every two weeks and do not allow dirt to accumulate or harden.</p></div>
						</div>
					</div>
				</div>
				<div class="well edu-bg-blue text-center pad-50">
					<div class="well well-simple pad-zv"><h3 class="head h3">Bleach/Chlorine </h3></div>
					<p class="pad-sb">Any cleaning fluid containing bleach or chlorine can damage your diamond engagement ring. It’s important to read the labelling on any cleaning products that you use. You should remove your ring even if you’re using these substances for other cleaning tasks. </p>
					<div class="text-left">
						<h4>When​ ​to​ ​consider​ ​removing​ ​your​ ​Ring</h4>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p><b>Sports:​</b> ​gym, swimming and any activity where you’ll break a sweat.</p></div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p><b>At​ ​Home:​</b> cooking, cleaning and housework.</p></div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body"><p><b>Beauty:​​</b> moisturizing, applying cosmetics and hairspray, showering and bathing.</p></div>
						</div>
					</div>
				</div>
				<section>
					<div class="well well-simple mrg-zb"><h3 class="head">Storing your Diamonds and Gemstones</h3></div>
					<div class="media mrg-gb edu-bg-blue mrg-zt">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body">
							<p>If diamonds rub against other stones, or against each other, they can cause scratches to polished surfaces. When you store a diamond it’s best to put it in its original presentation box or a fabric envelope. A felt bag is also suitable. If you’re storing a ring for any length of time it's best to clean it first so that any dirt doesn’t have a chance to harden or become encrusted.</p>
						</div>
					</div>
				</section>
				<div class="well well-simple xs-tc"><a href="loose-diamonds/colorless-diamonds.html" target="_blank" class="btn btn-turkish">Browse diamonds</a></div>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>