<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head hidden-xs">
					<h4>Loose Diamonds</h4>
					<h1 class="h1">Fancy Diamonds</h1>
				</div>
				<div class="well well-simple mrg-zb padxs-zv">
					<div class="well well-simple mrg-zb padxs-zv"><h3 class="head pad-sb">Fancy Diamonds</h3>
						<p>Fancy diamonds are created when impurities such as nitrogen, boron or hydrogen are present when the diamond is formed. High quality fancies account for a tiny fraction of stones and perfectly formed high carat stones can fetch huge sums at auction. Fancy vivid stones can be strikingly beautiful and will attract a lot of curiosity and admiring attention.</p>
					</div>
					<img class="diamond-banner" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/pink-diamond-banner.png') ?>" alt="Image">
					<div class="well edu-bg-blue text-center pad-50">
						<p>Color occurs in diamonds due to the presence of impurities like nitrogen, boron or hydrogen, or structural defects. High quality coloured diamonds (known as fancies) can command astonishing prices. The ‘Unique Pink’ 15.38 carat fancy diamond was sold at auction by Sotheby’s for more than $31,500,000.</p>
					</div>
					<p class="pad-sb pad-st">Vividly colored diamonds are known as fancy diamonds or fancies and can sell for huge prices</p>
					<p class="pad-sb"><a href="fancy-diamonds-details"><u>Learn more about Fancy Colored Diamonds</u></a></p>
					<section> <!-- Fancy Yellow Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb"><h3 class="head pad-sb">Fancy Yellow Diamonds</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/fancy-color/yellow.jpg') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>Also known as ‘canaries’ fancy yellow diamonds are the most common fancies and also some of the most beautiful. Yellow diamonds gain their distinctive coloring from nitrogen impurities and the best stones appear to emit all the light and warmth of a sunburst. Canaries are best displayed on a white gold or platinum ring. </p>
							</div>
						</div>
					</section>
					<section> <!-- Fancy Pink Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb"><h3 class="head pad-sb">Fancy Pink Diamonds</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/fancy-color/pink.jpg') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>Pink diamonds are some of the rarest, most beautiful and most expensive diamonds in the world. Scientists aren’t sure why some stones are pink, but think it may be due to defects at the atomic level. Whatever the explanation, the result is diamonds that take on a hue varying from the lightest rose tint, to stones where the color is so deep and vivid that they almost appear to be red like rubies. </p>
							</div>
						</div>
					</section>
					<section> <!-- Fancy Green Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb"><h3 class="head pad-sb">Fancy Green Diamonds</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/fancy-color/green.jpg') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>Green diamonds are beautiful, mysterious - and very rare - fancies. Many jewellers will never see one during their working lives, or will only handle a very small number. Green fancies are believed to be created through the absorption of beta and gamma rays over millions of years. Emrada can supply high quality green fancies that will create a stunning and unique engagement ring.</p>
							</div>
						</div>
					</section>
					<section> <!-- Fancy Blue Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb"><h3 class="head pad-sb">Fancy Blue Diamonds</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/fancy-color/blue.jpg') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>Blue diamonds are as distinctive and elegant as sapphires but have a depth and sparkle that no gemstone can match. They are created when boron becomes trapped in a developing diamond. They may also contain tiny amounts of nitrogen and occasionally display greyish or green hues that can create a fascinating effect. A blue fancy set on a white gold or platinum ring will become a treasured and envied possession. </p>
							</div>
						</div>
					</section>
					<section> <!-- Fancy Orange Diamonds -->
						<div class="well well-simple mrg-zb  padxs-zb"><h3 class="head pad-sb">Fancy Orange Diamonds</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/fancy-color/orange.jpg') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>A true orange diamond (with no brown colour) is an exceptionally rare stone and very little is known about how they originate. The majority of orange fancies will contain varying hues of other colours, usually brown, yellow or pink. Like blue fancies, orange stones are often best displayed on a white gold or platinum setting. An orange stone will fit almost any ring style, but many people like to match them to vintage rings or conversely a very simple solitaire ring. </p>
							</div>
						</div>
					</section>
					<section> <!-- Fancy Brown Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb"><h3 class="head pad-sb">Fancy Brown Diamonds</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/fancy-color/brown.jpg') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>Brown diamonds are the most common variety of fancies. They are an intriguing stone that has become a lot more popular in the last few years, partly due to imaginative marketing campaigns. Many people will still dismiss the possibility of buying brown diamonds without actually seeing one first. Brown fancies range in tone from light brown champagne to orange tinted cognac diamonds.  </p>
							</div>
						</div>
					</section>
					<section> <!-- Fancy Gray Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb"><h3 class="head pad-sb">Fancy Gray Diamonds</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/fancy-color/grey.jpg') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>Fancy gray diamonds are almost unknown outside the world of fashion and design. These unusual stones range in shade from a mysterious smoky gray to a metallic gray blue and even a charcoal color that stops just short of black. It takes a lot of confidence to buy a ring made from a fancy gray diamond, but they are growing in popularity. A gray fancy ring can be the perfect accessory to a designer outfit. </p>
							</div>
						</div>
					</section>
					<section> <!-- Fancy Black Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb"><h3 class="head pad-sb">Fancy Black Diamonds</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>Fancy black diamonds are incredibly rare and most black fancies have been treated to enhance their color. Black fancy diamonds contain a mass of black inclusions and absorb light instead of reflecting and refracting it. A well polished stone will have a glossy black surface but no visible fire or brilliance. Black diamonds are possibly the ultimate designer diamond and are very rarely seen, but demand is growing for these very special stones.</p>
							</div>
						</div>
					</section>
					<section> <!-- Argyle Diamonds - Australia’s Finest Fancies -->
						<div class="well well-simple mrg-zb padxs-zb"><h3 class="head pad-sb">Argyle Diamonds - Australia’s Finest Fancies</h3>
						<div class="media mrg-gb edu-bg-blue edu-bg-white xs-zmb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body padxs-zh padxs-zb">
								<p>The Argyle Diamond Mine in the north Of Western Australia currently is one of the few places in the world where pink diamonds are found, producing over 90% of the world’s supply. Many of the world’s blue, brown and orange diamonds also come from the Argyle Mine. The stones are extracted from an underground ‘pipe’ of volcanic rock and are sent to India to be cut and polished. </p>
							</div>
						</div>
					</section>
					<div class="well edu-bg-blue text-center pad-50 neg-h15">
						<p class="pad-sb">Every year a small selection of the mine’s best pink diamonds are offered for sale at the Argyle Pink Diamond Tender. This is a highly prestigious event and invitations are very hard to come by.  </p>
					</div>
					<div class="well well-simple"><a href="loose-diamonds/colorless-diamonds.html" target="_blank" class="btn btn-turkish">Fancy diamonds</a></div>
				</div>
			</div>
		</div>
	</div>
</div>