<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Loose Diamonds</h4>
					<h1 class="h1">Grading</h1>
				</div>
			    <div class="well well-simple mrg-gt padxs-zv">
                    <h3 class="head pad-sb">Grading </h3>
                    <h4 class="pad-sb text-uppercase font-df font-sb">What is a Diamond Certificate?</h4>
					<div class="media mrg-gb edu-bg-blue edu-bg-white">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/grading/grading.jpg') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv padxs-zh">
							<div class="pad-gt">
								<p>Diamonds don’t just come in all shapes and sizes, they also have different grades of color, cut, clarity and polish. Every stone really is unique and it’s the relationship between all the different categories that creates the final quality of an individual diamond. That’s why every diamond sold at Emrada comes with it’s own certificate that lists the stones full gradings. </p>
								<p>To obtain a certificate a diamond has to be professionally appraised at a reputable laboratory. The majority of diamonds on sale today are certified by either the GIA (Gemological Institute of America), The AGS (American Gem Society) or the IGI (International Gemological Institute).</p>
							</div>
						</div>
					</div>
					<div class="space-xs hidden-xs"></div>
					<div class="well edu-bg-blue text-center pad-50">
						<div class="well well-simple pad-zv"><h3 class="head h3">Gemological Institute of America - GIA</h3></div>
						<p>The GIA was founded in 1931 and is headquartered in Carlsbad California. It maintains 9 research laboratories and 4 research centers worldwide. The GIA’s mission is to</p>
						<p class="font-sb">“... ensure the public trust in gems and jewelry by upholding the highest standards of integrity, academics, science, and professionalism through education, research, laboratory services, and instrument development.”</p>
						<div class="white-break visible-xs"></div>
						<h3 class="edu-head-color">Important</h3>
						<p class="font-sb">You should never buy a diamond without a certificate. You should also keep your diamond certificates in a safe place. You will need them for assurance appraisals, for security if you have your ring cleaned or repaired, and if you ever wish to sell your ring. </p>
					</div>
					<section> <!-- Conflict Free Diamonds -->
						<div class="well well-simple mrg-zb"><h3 class="head h3">Conflict Free Diamonds</h3></div>
						<p>During the 1990s Africa was a major supplier of the world’s diamonds. Often the mining of these diamonds was controlled - directly or indirectly - by rebel armies and warring factions. The profits from the diamonds funded civil wars, insurgencies and associated atrocities and human rights abuses. Many of these diamonds were mined from shallow alluvial beds, often by child labour or forced labour. The abuse and exploitation of workers was widespread and environmental damage went unchecked. The diamonds became known as blood diamonds. </p>
						<p>Strict international measures were brought in to prevent the trade in blood diamonds and they have been highly successful. The Kimberly Process and Patriot Act ensure that the global diamond trade is completely regulated and that all stones are certified and can be tracked to their place of origin. </p>
					</section>
					<div class="space-xs hidden-xs"></div>
					<div class="well edu-bg-blue text-center mrg-gt border">
						<div class="well well-simple pad-zv"><h3 class="head h3">The Emrada Guarantee</h3></div>
						<p class="pad-sb">When you buy a diamond engagement ring at Emrada you can be 100% sure that it is not a blood diamond. Every single diamond that we sell was ethically sourced and has a checkable provenance. We guarantee that the happiest day of your life will not be built on other people’s suffering.</p>
					</div>
					<div class="space-xs hidden-xs"></div>
					<p>The following GIA grades show the level of inclusions (internal flaws) in a certified diamond. All of these gradings will usually result in a very high quality stone. </p>
					<div class="row">
						<div class="col-sm-4">
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw50" href="#"><b>FL</b></p>
								<div class="media-body"><p class="text-gray">Flawless</p></div>
							</div>
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw50" href="#"><b>FI</b></p>
								<div class="media-body"><p class="text-gray">Internally Flawless</p></div>
							</div>
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw50" href="#"><b>VVSI</b></p>
								<div class="media-body"><p class="text-gray">Very, Very Slightly Included</p></div>
							</div>
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw50" href="#"><b>VVS2</b></p>
								<div class="media-body"><p class="text-gray">Very, Very Slightly Included</p></div>
							</div>
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw50" href="#"><b>VS1</b></p>
								<div class="media-body"><p class="text-gray">Very Slightly Included</p></div>
							</div>
							<div class="media border-btm media-list">
								<p class="pull-left edu-head-color mrg-zb mw50" href="#"><b>VS2</b></p>
								<div class="media-body"><p class="text-gray">Very Slightly Included</p></div>
							</div>						
						</div>
					</div>
					<div class="well well-simple mrg-zb">
						<p class="mrg-dt">SI1 and SI2 graded stones can sometimes be real bargains if you’re looking for a beautiful stone with plenty of sparkle at an affordable price.</p>
					</div>
					<section> <!-- How to Choose the Perfect Diamond -->
						<div class="well well-simple mrg-zb"><h3 class="head h3">How to Choose the Perfect Diamond</h3></div>
						<p class="pad-gb">Emrada usually has over 500,000 cut and polished diamonds available at any time. Our unique algorithm will search through the global database in a split second and display an online showcase of top quality diamonds that match your personal requirements. All you have to do is compare the stones and choose the one that will create your dream diamond engagement ring. </p>
					</section>
					<section> <!-- EMRADA EYECLEAN -->
						<div class="well well-simple padxs-zv"><h3 class="head h3">EMRADA EYECLEAN</h3></div>
						<div class="well edu-bg-blue text-left xs-tc pad-50 padxs-zb">
							<p class="pad-sb">Emrada has simplified the whole process of choosing the perfect diamond with our revolutionary EYECLEAN grading. </p>
							<p class="pad-sb">EYECLEAN stones optimise the balance between price and color &amp; clarity. That means that you can easily buy a diamond that has no inclusions or coloring that are visible to the naked eye. You get an amazing looking diamond at a great price!</p>
							<p>To get the most out of Emrada's revolutionary technology -  and your personal budget - you'll need to know what kind of diamonds you are interested in to begin with. A personal consultation with an Emrada Stylist is a great way to get started.</p>
							<!-- <div class="white-break visible-xs"></div>
							<div class="white-break xs-tl"><a href="#" class="btn btn-turkish">EYECLEAN DIAMONDS</a></div> -->
						</div>
					</section>
					<div class="well well-simple xs-tc"><a href="loose-diamonds/colorless-diamonds.html" target="_blank" class="btn btn-turkish">Browse Diamonds</a></div>
					<div class="space-lg"></div>
                </div>
			</div>
		</div>
	</div>
</div>