<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head hidden-xs">
					<h4>Loose Diamonds</h4>
					<h1 class="h1">Diamond Shapes</h1>
				</div>
				<!-- <div role="tabpanel" class="hidden-xs">
					Nav tabs
					<ul class="nav nav-tabs text-center" role="tablist">
						<li role="presentation" class="active">
							<a href="#eng-cut" aria-controls="home" role="tab" data-toggle="tab"><i class="em edu-tab-cut"></i>cut</a>
						</li>
						<li role="presentation">
							<a href="#eng-clarity" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-clarity"></i>clarity</a>
						</li>
						<li role="presentation">
							<a href="#eng-color" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-color"></i>color</a>
						</li>
						<li role="presentation">
							<a href="#eng-carat" aria-controls="tab" role="tab" data-toggle="tab"><i class="em edu-tab-carat"></i>carat</a>
						</li>
					</ul>
					Tab panes
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="eng-cut"></div>
						<div role="tabpanel" class="tab-pane" id="eng-clarity"></div>
						<div role="tabpanel" class="tab-pane" id="eng-color"></div>
						<div role="tabpanel" class="tab-pane" id="eng-carat"></div>
					</div>
				</div> -->
				<div class="well well-simple mrg-zb padxs-zv">
					<div class="well well-simple mrg-zb padxs-zv"><h3 class="head pad-sb">Diamond Shapes</h3>
						<p>Diamonds may have been professionally cut for over 2,000 years and many different styles and shapes developed over the centuries. Modern techniques began to evolve in the 14th century and by the 16th century more sophisticated and imaginative shapes were emerging as cutting technology improved. Different shapes have gone in and out of fashion over the years and today there are ten main shapes available. </p>
						<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/diamond-shapes.png')?>" width="100%" alt="Diamond-Shapes">
					</div>
					<section> <!-- Stylist's Recommendation -->
						<div class="well well-simple mrg-zb padxs-zb">
							<h3 class="head pad-sb">Stylist's Recommendation </h3>
							<h4 class="pad-sb">(Brilliant Cut Diamonds)</h4>
							<p class="pad-sb">Round diamonds account for almost 75% of all sales and there are good reasons for their popularity. A modern round cut stone can display an almost perfect cut with superb brilliance, fire and scintillation. The round diamond’s archetypal cone shape maximizes light return through the top of the stone. </p>
							<p class="pad-sb">The proportions and angles of the crown and pavilion are calculated to enhance this effect, in conjunction with the diamond’s 58 polished facets. If you want to surprise a woman with a diamond engagement ring, a round cut stone is your single best choice.</p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/round.jpg') ?>" alt="Image">
								</a>
								<div class="media-body xs-tc">
									<h5 class="edu-head-color">Round Cut Diamonds: Advantage</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Round cut diamonds look impressive in any situation and with any outfit</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Round cut diamonds will suit almost any personal style and compliment any woman</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Princess Cut Diamonds -->
						<div class="well well-simple mrg-zb">
							<h3 class="head pad-sb">Princess Cut Diamonds </h3>
							<p class="pad-sb">The Princess cut diamond is a modern design that was created in 1980 and is a very popular choice for diamond engagement rings. The princess cut comes close to achieving the same fire and brilliance of a round cut stone. </p>
							<p class="pad-sb">The proportions of a square princess cut can create a form of optical illusion, making the stone appear larger than it actually is. This effect can be increased by a careful choice of setting. A princess cut is a great choice if you want a superb looking diamond on a budget.</p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/princess.jpg') ?>" alt="Image">
								</a>
								<div class="media-body xs-tc">
									<h5 class="edu-head-color">Princess Cut Diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Princess cut diamonds are often cheaper than round cut stones</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Princess diamonds will suit almost any setting and ring style</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Oval​ ​Cut​ ​Diamonds -->
						<div class="well well-simple mrg-zb padxs-zv">
							<h3 class="head pad-sb padxs-zb">Oval​ ​Cut​ ​Diamonds </h3>
							<p>Oval diamonds are another modern shape, first created in the 1960s. Ovals are basically a modification of the round cut and possess most of its fire and brilliance. One occasional drawback with the oval cut is that it results in the bow-tie effect. In good quality diamonds this will be almost invisible.</p>
							<p>Oval cut diamonds are popular with confident people who like to create their own styles. These stones will always enhance the individuality of the wearer.</p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/oval.jpg') ?>" alt="Image">
								</a>
								<div class="media-body xs-tc">
									<h5 class="edu-head-color">Oval Cut diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A ring with a slender oval cut stone can make the wearer’s finger appear longer and slimmer.</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>An oval cut stone is bold and striking without appearing flashy or ostentatious.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Marquise Cut Diamonds Pear -->
						<div class="well well-simple mrg-zb padxs-zv">
							<h3 class="head pad-sb">Marquise Cut Diamonds </h3>
							<p class="pad-sb">The marquise cut diamond is shaped like an American football or a rugby ball. It’s a traditional cut, supposedly created by Louis XIV of France. The story is that the stone was named after the Marquise of Pompadour because it resembled her perfectly shaped mouth.</p>
							<p class="pad-sb">The marquise cut has formed the centerpiece of thousands of rings since the 18th century and still has huge appeal. It is superbly suited to vintage rings and will perfectly match other antique style jewelry when worn as part of an outfit.</p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/marquise.jpg') ?>" alt="Image">
								</a>
								<div class="media-body xs-tc">
									<h5 class="edu-head-color">Marquise Cut Diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A ring with a slender marquise cut stone can make the wearer’s finger appear longer and slimmer.</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>The angles and proportions of a marquise cut can make the diamond itself appear bigger</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Pear Shaped Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb">
							<h3 class="head pad-sb">Pear Shaped Diamonds</h3>
							<p class="pad-sb">A pear shaped diamond is a combination of a round and a marquise shape that ends in a taper. The narrow end always points towards the wearer’s hand. The best pear shaped diamonds possess a high degree of symmetry and an elegant, well proportioned appearance. </p>
							<p class="pad-sb">Pear shaped diamonds inevitably show some level of bow-tie effect. Pear shaped stones combine simplicity with sophistication. They have a feminine mystique and and charm that many women fall in love with at first sight.</p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/pear.jpg') ?>" alt="Image">
								</a>
								<div class="media-body xs-tc">
									<h5 class="edu-head-color">Pear Cut Diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A ring with a slender pear cut stone can make the wearer’s finger appear longer and slimmer.</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A pear shaped diamond engagement ring can be worn with matching earrings</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Cushion Cut Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb">
							<h3 class="head pad-sb">Cushion Cut Diamonds</h3>
							<p class="pad-sb">The cushion shape is a traditional cut that has been used for over 200 years and has recently been improved by new cutting technology. The pillow shaped diamonds have an antique feel to them and often produce a strong fire.</p>
							<p class="pad-sb">Anybody who loves the style and beauty of antique jewelry or vintage rings should think seriously about a cushion cut diamond as a center stone. The cushion cut produces beautiful diamond rings and has stood the test of time for good reason.</p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/cushion-cut.jpg') ?>" alt="Image">
								</a>
								<div class="media-body xs-tc">
									<h5 class="edu-head-color">Cushion Cut Diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A cushion cut creates a beautiful ‘antique’ ring when combined with a vintage setting</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A cushion cut diamond is a distinctive fiery stone that captivates and entrances</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Emerald Cut Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb">
							<h3 class="head pad-sb">Emerald Cut Diamonds</h3>
							<p class="pad-sb">The emerald cut follows the traditional style in which emeralds were cut and also has close similarities to the asscher cut. Emerald shaped diamonds have less fire and sparkle than brilliant cut stones but produce their own distinctive multi-mirror effect.</p>
							<p class="pad-sb">An emerald cut diamond can become the centerpiece of a very striking and elegant engagement ring. Inclusions may be easier to see in an emerald cut diamond, requiring additional care when selecting the stone.  A VS2 graded stone will usually be of optimal quality versus price. EMRADA EYECLEAN grading will help you to find an outstanding diamond.</p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/emerald.jpg') ?>" alt="Image">
								</a>
								<div class="media-body xs-tc">
									<h5 class="edu-head-color">Emerald Cut Diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Emerald cut diamonds create a beautiful ‘antique’ ring when combined with a vintage setting</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>The emerald cut offers some flexibility in the choice of width to length ratio, allowing for individual tastes</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Asscher Cut Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb">
							<h3 class="head pad-sb">Asscher Cut Diamonds</h3>
							<p class="pad-sb">The asscher cut was invented at the beginning of the 20th century in Holland and reflects all the optimism and confidence of that period. The squarish asscher cut has recently regained its popularity as technical innovations in the cutting process have improved the brilliance of asscher cut diamonds. </p>
							<p class="pad-sb">As with the similar emerald cut, inclusions may be easier to see and extra care should be taken when choosing the stone. A VS2 graded stone will usually be of optimal quality versus price. EMRADA EYE CLEAN grading will help you to find an outstanding diamond.</p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/asscher-cut.jpg') ?>" alt="Image">
								</a>
								<div class="media-body xs-tc">
									<h5 class="edu-head-color">Asscher Cut Diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Asscher cut diamonds can create a beautiful ‘antique’ ring when combined with a vintage setting</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A four prong setting will display an asscher cut diamond to beautiful effect</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Radiant Cut Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb">
							<h3 class="head pad-sb">Radiant Cut Diamonds</h3>
							<p class="pad-sb">The radiant cut is a modern style that became popular in the 1980s. A radiant cut diamond can display some bow-tie effect, though it is usually less pronounced than in pear shaped, marquise and oval diamonds. The radiant cut creates a squarish shape with a brilliant style facet pattern of a round cut. </p>
							<p class="pad-sb">The overall effect can be very striking, resulting in a distinctive ring that will attract a lot of attention. If you’re looking for a diamond engagement ring that combines a lot of confidence and style with impeccable taste, try a radiant cut center stone. </p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/radiant.jpg') ?>" alt="Image">
								</a>
								<div class="media-body">
									<h5 class="edu-head-color">Radiant Cut Diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body xs-tc">
											<p>A radiant cut diamond can form a beautiful ‘antique’ ring when combined with a vintage setting</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A radiant cut diamond can be especially impressive when it’s the centerpiece of a three stone or pave design.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- Heart Shaped Diamonds -->
						<div class="well well-simple mrg-zb padxs-zb">
							<h3 class="head pad-sb">Heart Shaped Diamonds</h3>
							<p class="pad-sb">Heart shaped diamonds express love, desire and enduring romance. They make a very bold statement, but are a challenging stone to cut to perfection. It also takes a little time and patience to choose the perfect heart shaped diamond and match it to the ideal setting. </p>
							<p class="pad-sb">The first consideration is symmetry, the two halves of the heart should be identical and clearly divided by a distinctive cleft. The stone must also be large enough to do justice to the design and be clearly recognisable as a heart shape.  Heart stones are a symbol of true love but are elegant enough to never be <kitsch class=""></kitsch></p>
							<div class="media mrg-gb edu-bg-blue">
								<a class="pull-left" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/shapes/heart.jpg') ?>" alt="Image">
								</a>
								<div class="media-body">
									<h5 class="edu-head-color">Heart Shaped Diamonds: Advantages</h5>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body xs-tc">
											<p>A well cut heart shaped diamond can display considerable brilliance</p>
										</div>
									</div>
									<div class="media media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>A heart shaped diamond can be bought with a matching heart shaped diamond pendant.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section> <!-- The Bow-Tie Effect -->
						<div class="well well-simple mrg-zb padxs-zb">
							<h3 class="head pad-sb padxs-zb">The Bow-Tie Effect </h3>
							<div class="media mrg-gb edu-bg-blue edu-bg-white">
								<a class="pull-left hidden-xs" href="#">
									<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
								</a>
								<div class="media-body padxs-zh padxs-zv">
									<p class="pad-sb">The bow-tie effect is a dark area that looks a bit like a man’s bow-tie. It occurs in diamonds with an elongated shape. The bow tie isn’t a flaw in the stone but is caused by light travelling out of the diamond’s pavilion instead of reflecting back. In most stones the bow-tie effect is minimal. It can even enhance a diamond’s appearance by providing interesting contrasts.</p>
									<img class="diamond-banner visible-xs" src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/diamond-banner.png') ?>" alt="Image">
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>