<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Fine Jewellery</h4>
					<h1 class="h1">Bracelets</h1>
				</div>
				<div class="well well-simple mrg-zb padxs-zv"><h3 class="head pad-sb">Bracelets</h3>
					<p>Archaeological evidence suggests that bracelets may have been worn for at least 40,000 years. Bracelets often had religious significance and were worn as protective amulets. They are massively popular today and come in many attractive forms. </p>
					<p class="pad-st">Bracelet styles range from simple gold bangles to slender diamond tennis bracelets and designer charm bracelets. Bracelets are usually an elegant item of jewelry that is versatile enough to compliment any fashion style or outfit. Women often collect bracelets throughout their lifetimes and each one can represent a special event or date.</p>
				</div>
				<div class="well well-simple mrg-zb pad-zb"><h3 class="head pad-sb">Stylist's Recommendation</h3>
					<p class="hidden-xs">Bracelets are a wonderful piece of jewelry because even the simplest and most inexpensive bangles can look really elegant on a woman’s wrist. An expensive diamond tennis bracelet can make a woman look (and feel) like a princess. There is something very subtle about good quality bracelets that can really flatter and enhance a woman’s appearance.</p>
				</div>
				<div class="well well-simple mrg-zb">
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/bracelet-girl.png') ?>" alt="Image">
						</a>
						<div class="media-body xs-tc padxs-zb">
							<div class="space-xs hidden-xs"></div>
							<p class="visible-xs">Bracelets are a wonderful piece of jewelry because even the simplest and most inexpensive bangles can look really elegant on a woman’s wrist. An expensive diamond tennis bracelet can make a woman look (and feel) like a princess. There is something very subtle about good quality bracelets that can really flatter and enhance a woman’s appearance.</p>
							<p class="fontxsb">Bracelets also make great bridesmaids gifts as a permanent reminder of a very special day. </p>
							<div class="white-break"></div>
							<div class="pad-xt white-break"><a href="#" class="btn btn-turkish">talk to stylist</a></div>
						</div>
					</div>
				</div>
				<section> <!-- Tennis Bracelets -->
					<div class="well well-simple mrg-zb padxs-zb"><h3 class="head h3 pad-sb">Tennis Bracelets</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue mrg-zb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Tennis bracelets are thin diamond bracelets that often contain brightly colored fancy diamonds. They may be bought as part of a set with a diamond engagement ring, wedding ring and diamond earrings. Tennis bracelets are sometimes given to daughters as a 21st birthday present or to commemorate another special life event. They are also one of the most popular choices for successful single women who are buying personal jewelry for themselves. </p>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Bangle Bracelets -->
					<div class="well well-simple mrg-zb padxs-zb"><h3 class="head h3 pad-sb">Bangles</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Bangles are often regarded almost as ‘fun jewelry’ but in many cultures they can have a deep religious or social significance. The majority of bangles sold today are a simple yellow gold or silver design, but may be set with diamonds or precious stones. Many women aren’t aware how beautiful rose gold bangles can look and miss out on some amazing jewelry. White gold and platinum bangles can also look very striking on tanned or darker skinned women. </p>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Charms Bracelets -->
					<div class="well well-simple mrg-zb padxs-zv"><h3 class="head h3 pad-sb">Charms</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue mrg-zb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Charms to ward off evil and misfortune and protect the wearer are almost as old as the human race itself. Charm bracelets have been worn for thousands of years and are massively popular today. Many charm bracelets take the form of a gold or silver wrist chain with attached hearts, lockets or other special symbols. Charm bracelets can be a highly personal piece of jewelry, particularly if they celebrate the birth of a child. </p>
							</div>
						</div>
					</div>
					<div class="pad-gt xs-tc"><a href="fine-jewelry/bracelets.html" target="_blank" class="btn btn-turkish">Browse Bracelets</a></div>
				</section>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>