<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Fine Jewellery</h4>
					<h1 class="h1">Earrings</h1>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Earrings</h3>
					<p>People have been wearing earrings for thousands of years and the practice of ear piercing developed in many different cultures. Wearing earrings has gone in and out of fashion in western culture over the last 500 years. </p>
					<p class="pad-st">Until the 1960s ear piercing wasn’t particularly widespread, but earrings are now one of the most popular kinds of fine jewelry and jewelry gifts. Diamond earrings are on many women's’ wishlist and gemstone earrings are also in high demand.</p>
				</div>
				<div class="well well-simple mrg-zb pad-zb"><h3 class="head pad-sb">Stylist's Recommendation</h3>
					<p>Almost any woman will be charmed by a gift of earrings, especially diamond earrings. Brightly colored gemstones like blue sapphires and red rubies can also look spectacular. If you know her color and jewelry preferences, you’re unlikely to go wrong when you give a woman earrings.</p>
					<p class="pad-st">Even low budget earrings make amazing jewelry gifts.</p>
				</div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Birthday presents</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Anniversary gifts</p>
							</div>
						</div>
						<div class="media media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>“I’m sorry” apology gifts</p>
							</div>
						</div>
					</div>
				</div>
				<p>If you buy a diamond engagement ring, a surprise gift of a matching set of diamond earrings will absolutely thrill your fiance.</p>
				<div class="well well-simple xs-tc"><a href="#" class="btn btn-turkish">talk to a stylist</a></div>
				<section> <!-- Stud Earrings -->
					<div class="well well-simple mrg-zb"><h3 class="head h3 pad-sb">Stud Earrings</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue mrg-zb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Stud earrings are simple and practical, but incredibly versatile and always elegant. The styles can range from basic minimalist designs, to intricate filigree work dotted with precious stones. Diamond stud earrings are very popular, followed by gemstone stud earrings and studs featuring semi precious stones. </p>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Blossom Cluster Earrings -->
					<div class="well well-simple mrg-zb"><h3 class="head h3 pad-sb">Blossom Cluster Earrings</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Blossom Cluster Earrings hang down from the earlobe, imitating naturally occurring flower and tree blossoms. Blossom cluster earrings often make use of highly imaginative designs, frequently with colorful natural themes. Fancy diamonds, pink sapphires, emeralds and rubies can be displayed to spectacular effect in blossom cluster earrings </p>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Chandelier Earrings -->
					<div class="well well-simple mrg-zb"><h3 class="head h3 pad-sb">Chandelier Earrings</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue mrg-zb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Chandelier earrings are inspired by the luxury and elegance of crystal chandeliers. Chandelier earrings hang down from the earlobe and can easily feature over a dozen small diamonds or other gemstones, as well as finely worked gold wire nets or icons. Chandelier earrings usually display a beautiful symmetry in their patterns and arrangement and often show influences from ancient cultures.</p>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Hoop Earrings -->
					<div class="well well-simple mrg-zb"><h3 class="head h3 pad-sb">Hoop Earrings</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue mrg-zb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Hoop earrings are circular rings that penetrate the earlobe and hang down. Gold hoop earrings are by far the most popular style. They can vary in size from the small rings traditionally worn by sailors, pirates and other adventurous characters in history, to large slender hoops many centimeters in diameter. In recent years the fashion for hoop earrings has included wearing them through the upper ear.  </p>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Huggie Earrings -->
					<div class="well well-simple mrg-zb"><h3 class="head h3 pad-sb">Huggie Earrings</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue mrg-zb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Huggie earrings are similar to hoop earrings, except that they hug the earlobe more closely - hence the name. Huggie earrings are wider and more substantial than hoop earrings and also more practical for people who want to do sport or outdoor activities. Huggie earrings rarely feature diamonds or precious stones but are available in all kinds of precious metals, including yellow gold, rose gold and platinum. </p>
							</div>
						</div>
					</div>
				</section>
				<section> <!-- Halo Earrings -->
					<div class="well well-simple mrg-zb"><h3 class="head h3 pad-sb">Halo Earrings</h3>
					<div class="well well-simple mrg-zb">
						<div class="media mrg-gb edu-bg-blue mrg-zb">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body xs-tc">
								<p>Halo earrings are close to halo engagement rings in design. They feature a center stone surrounded by a decorative cluster of smaller stones. Although diamond halo earrings are very popular, many women are opting for gemstones, or combinations of diamonds and gemstones in their earrings. An green emerald or red ruby surrounded by a cluster of tiny diamonds can form a truly beautiful halo ring. </p>
							</div>
						</div>
					</div>
				</section>
				<div class="pad-st xs-tc"><a href="fine-jewelry/Earings.html" target="_blank" class="btn btn-turkish">Browse Earrings</a></div>
				<div class="space-lg"></div>
				<div class="space-lg"></div>
				<div class="space-lg hidden-xs"></div>
			</div>
		</div>
	</div>
</div>