<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Fine Jewellery</h4>
					<h1 class="h1">Necklaces &amp; Pendants</h1>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Necklaces &amp; Pendants</h3>
					<p>Necklaces and pendants are one of the simplest and most ancient forms of jewelry and have never gone out of fashion during modern times. Necklaces make excellent presents, ranging from budget ‘stocking fillers’ to expensive designer jewelry gifts.</p>
					<p class="pad-st">Diamond necklaces and pendants are only a fraction of the styles and designs that are available. Even people who don’t normally wear jewelry, particularly men, will wear a simple chain with a cross or a religious medal or medallion. </p>
				</div>
				<div class="well well-simple mrg-zb pad-zb"><h3 class="head pad-sb">Stylist's Recommendation</h3>
					<p class="hidden-xs">Necklaces fall into two main categories: outerwear that’s worn for decoration and display and more private jewelry that’s usually worn under clothing. </p>
					<p class="pad-st hidden-xs">When people want to wear a cross or another religious symbol they’ll often opt for a simple gold chain or a silver chain. What’s important to them is the personal significance of the pendant itself and they don’t feel a need to display it ostentatiously.</p>
				</div>
				<div class="well well-simple mrg-zb">
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body xs-tc padxs-zb">
							<p class="visible-xs">Necklaces fall into two main categories: outerwear that’s worn for decoration and display and more private jewelry that’s usually worn under clothing. </p>
							<p class="pad-st visible-xs">When people want to wear a cross or another religious symbol they’ll often opt for a simple gold chain or a silver chain. What’s important to them is the personal significance of the pendant itself and they don’t feel a need to display it ostentatiously.</p>
							<p>When you’re buying a necklace purely for decoration the sky’s the limit in terms of design. Like earrings, necklaces are a very versatile item of jewelry and can match almost every fashion style and event. Diamond necklaces have always been very popular, but colorful Indian style arrangements with gems and semi-precious stones are becoming very fashionable and may be the next big trend. </p>
							<div class="white-break"></div>
							<div class="pad-xt white-break"><a href="#" class="btn btn-turkish">talk to stylist</a></div>
						</div>
					</div>
				</div>
				<div class="well well-simple mrg-zb pad-zb">
					<div class="row equal-ht">
						<div class="col-sm-4">
							<h3 class="head h3 pad-sb visible-xs">Pendant</h3>
							<div class="thumbnail border-thumb equal xsbgc">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="thumbnail">
								<div class="caption text-left ">
									<h5 class="font-sb hidden-xs font-lg">Pendant</h5>
									<p class="pad-xs xs-tc">Pendant style necklaces are one of the simplest and most ancient jewelry designs in the world. Like many simple designs they can also be exquisitely elegant. Pendant necklaces may feature an almost infinite combination of diamonds, precious metals and gemstones. Often a pendant necklace allows for a highly personal choice of decoration. </p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<h3 class="head h3 pad-sb visible-xs">Riviera</h3>
							<div class="thumbnail border-thumb equal xsbgc">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/ring.png') ?>" alt="thumbnail">
								<div class="caption text-left ">
									<h5 class="font-sb hidden-xs font-lg">Riviera</h5>
									<p class="pad-xs xs-tc">Riviera necklaces can be as simple as a line of tiny diamonds or could feature a striking display of large colorful gemstones or yellow gold ornaments. A riviera necklace is a popular choice of adornment for formal events or to compliment evening wear. Very little can beat the sophistication and elegance of a diamond riviera necklace.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<h3 class="head h3 pad-sb visible-xs">Chain</h3>
							<div class="thumbnail border-thumb equal xsbgc">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/diamond-focus.png') ?>" alt="thumbnail">
								<div class="caption text-left ">
									<h5 class="font-sb hidden-xs font-lg">Chain</h5>
									<p class="pad-xs xs-tc">Chain necklaces are another fundamental design that has never done out of fashion and probably never will. Chain necklaces can range from slender and understated platinum threads to brash gold ropes. An increasingly popular choice is a romantic rose gold that looks particularly beautiful under soft lighting. Chain necklaces are also popular with men and can make a great gift for husbands, boyfriends and sons.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-simple mrg-zb pad-zb">
					<div class="row equal-ht">
						<div class="col-sm-4">
							<h3 class="head h3 pad-sb visible-xs">Drop</h3>
							<div class="thumbnail border-thumb equal xsbgc">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="thumbnail">
								<div class="caption text-left ">
									<h5 class="font-sb hidden-xs font-lg">Drop</h5>
									<p class="pad-xs xs-tc">Drop necklaces are usually a more ornate and longer version of a pendant necklace. They may make use of imaginative combinations of gemstones or semi precious stones, as well as gold and precious metalwork. Many drop necklaces are inspired by traditional Eastern or Native American designs. Drop necklaces are often brightly colored and feature bold and creative designs. </p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<h3 class="head h3 pad-sb visible-xs">Lariat</h3>
							<div class="thumbnail border-thumb equal xsbgc">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/ring.png') ?>" alt="thumbnail">
								<div class="caption text-left ">
									<h5 class="font-sb hidden-xs font-lg">Lariat</h5>
									<p class="pad-xs xs-tc">Lariat necklaces are inspired by the old fashioned lariats or lassos used as ropes in cattle herding. They are also very similar to the western wear bolo tie. Lariat necklaces are usually long and slender in design and frequently feature a pendant or another ornament. Women who enjoy subtlety and understatement will often buy lariat necklaces.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<h3 class="head h3 pad-sb visible-xs">Station</h3>
							<div class="thumbnail border-thumb equal xsbgc">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/loose-diamonds/diamond-focus.png') ?>" alt="thumbnail">
								<div class="caption text-left ">
									<h5 class="font-sb hidden-xs font-lg">Station</h5>
									<p class="pad-xs xs-tc">Station necklaces feature gemstones, semi-precious stones or precious metal baubles fixed at intervals on a chain. They are often inspired by medieval or ancient designs and can range from the elegant and subtle to very striking pieces or jewelry. Station necklaces can be worn high around the neck or lower on the chest. They’ll work with most outfits.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-simple mrg-zb pad-zb hidden-xs"><h3 class="head pad-sb">Stylist's Recommendation</h3></div>
				<div class="well well-simple mrg-zb">
					<h3 class="head h3 pad-sb visible-xs">Collar &amp; Choker</h3>
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body xs-tc">
							<h4 class="hidden-xs text-uppercase font-sb font-lg ">Collar &amp; Choker</h4>
							<p>Collar &amp; Choker necklaces are designed to clamp around the neck and sit in place. The simplest collar necklaces are slender chains or precious metal bands, usually with some kind of added decoration. The most elaborate collar and choker necklaces may be striking arrangements of jewels and intricate metalwork, sometimes two inches in height. </p>
						</div>
					</div>
				</div>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>