<?php 
    $_product    = $block->getProduct();
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
        $currCatname = $cat->getName();
    }
    $flagShipping=array(27,28,29,30,17,18,19);
?>
<?php if (!in_array($currCat, $flagShipping)): ?>
    <div class="ship-returns">
        <i class="fa fa-flag-o mrg-xr" aria-hidden="true"></i>
        <a data-toggle="modal" data-target="#free-shipping"><span class="sec-col-under">Free shipping</span><span class="text-dark"> &amp; </span><span class="sec-col-under">Free returns</span></a>
    </div>
<?php endif;?>