<?php $_product = $block->getProduct(); ?>
<?php 
 //fetch catID
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $categories = $_product->getCategoryIds(); /*will return category ids array */
foreach($categories as $category){
    $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
    $currCat= $cat->getId();
} 
$askFriend 		= array (17,18,19,27,28,29,30,51,54,53,52,55);
$readywedding 	= array (27,28,29,30,2,17,17,18,19);
$orderDel 		= array (14,15,20,23,43,46,51,54,42,45,53,44,52,55);
$ready_ship 	= array (51,52,53,54,55);
$del_date		= array (17,18,19,27,28,29,30,51,52,53,54,55);
?>

<div class="friend-opinion <?php echo ((in_array($currCat, $askFriend))) ? 'no-border' : ''; ?>">
	<div class="row">
		<div class="col-sm-7 <?php echo ((in_array($currCat, $readywedding))) ? 'text-center' : ''; ?>">
			<?php include ($block->getTemplateFile('askafriend/sociallinks.phtml')) ?>
		</div>
		<div class="col-sm-4 col-sm-offset-1">
			<?php /* if (in_array($currCat, $orderDel)){
				include ($block->getTemplateFile('Aghai_Shippingdate::product/view/shippingdate.phtml'));
			}  */ ?>
			<?php if(!in_array($currCat, $del_date)){
				include ($block->getTemplateFile('Aghai_Shippingdate::product/view/shippingdate.phtml'));
				include ($block->getTemplateFile('askafriend/freeshipping.phtml'));
			}?>
		</div>
	</div>
</div>