<ul class="list-inline social hidden-xs">
    <li><h5 class="h5">Ask a friend for opinion</h5></li>
    <li>
        <ul class="list-inline social-icons">
            <!-- EMAIL -->
            <li>
                <?php if ($block->canEmailToFriend()): ?>
                    <a target="_blank" class="action mailto friend text-sec" href="<?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>">
                        <i class="em em-e-mail mrg-xr" aria-hidden="true"></i>E-mail
                    </a>
                <?php endif; ?>
            </li>
            <!-- FACEBOOK -->
            <li>
                <a target="_blank" class="text-sec" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($_product->getProductUrl());?>&t=<?php echo urlencode($_product->getName())?>"  onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes" );return false'>
                    <i class="em em-facebook mrg-xr" aria-hidden="true"></i>Facebook
                </a>
            </li>
            <!-- TWITTER -->
            <li>
                <a target="_blank" class="text-sec" href="http://twitter.com/home/?status=<?php echo urlencode($_product->getProductUrl());?>" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false'>
                    <i class="em em-twitter mrg-xr" aria-hidden="true"></i>Twitter
                </a>
            </li>
            <!-- WHATSAPP -->
            <li>
                <a target="_blank" class="text-sec" href="http://web.whatsapp.com/home/?status=<?php echo urlencode($_product->getProductUrl());?>(<?php echo urlencode($_product->getName())?>)" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false'>
                    <i class="em em-whatsapp mrg-xr" aria-hidden="true"></i>Whatsapp
                </a>
            </li>
        </ul>
    </li>
</ul>
<div class="visible-xs">
    <div class="social-sharing dropdown">
        <button type="button" class="btn btn-outline dropdown-toggle btn-block primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ASK FOR A FRIEND'S OPINION<i class="em em-social-sharing"></i>
        </button>
        <ul class="dropdown-menu row">
            <li class="text-center col-xs-3">
                <?php if ($block->canEmailToFriend()): ?>
                    <a target="_blank" class="action mailto friend text-sec" href="<?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>">
                        <i class="em em-e-mail mrg-xr" aria-hidden="true"></i>
                    </a>
                <?php endif; ?>
            </li>
            <!-- FACEBOOK -->
            <li class="text-center col-xs-3">
                <a class="text-sec" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($_product->getProductUrl());?>&t=<?php echo urlencode($_product->getName())?>" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false'>
                    <i class="em em-facebook mrg-xr" aria-hidden="true"></i>
                </a>
            </li>
            <li class="text-center col-xs-3"><!-- TWITTER -->
                <a class="text-sec" href="http://twitter.com/home/?status=<?php echo urlencode($_product->getProductUrl());?>(<?php echo urlencode($_product->getName())?>)" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false'>
                    <i class="em em-twitter mrg-xr" aria-hidden="true"></i>
                </a>
            </li>
            <li class="text-center col-xs-3"><!-- TWITTER -->
                <a class="text-sec" href="http://web.whatsapp.com/home/?status=<?php echo urlencode($_product->getProductUrl());?>(<?php echo urlencode($_product->getName())?>)" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false'>
                    <i class="em em-whatsapp mrg-xr" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>