<div class="checkout-header">
	<nav class="navbar navbar-default">
		<div class="container">
	    	<!-- Brand and toggle -->
	    	<div class="navbar-header">
	      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<img src="<?php echo $this->getViewFileUrl('images/logo-light.png'); ?>" alt="Emrada logo">
	    	</div>
	    	<!-- nav links -->
			<div class="collapse navbar-collapse" id="main-navigation">
	      		<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-phone"></i> 1.800.Emrada</a></li>
					<li><a href="#"><i class="fa fa-phone"></i> 24/7 Customer Service</a></li>
					<li><a href="#"><i class="fa fa-phone"></i> Lifetime Warranty</a></li>
					<li><a href="#"><i class="fa fa-phone"></i> Free Shipping &amp; Returns</a></li>
					<li><a href="#"><i class="fa fa-phone"></i> 100% Money Back</a></li>
	      		</ul>
	    	</div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
</div>