<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Template for displaying products list widget
 *
 * @var $block \Magento\CatalogWidget\Block\Product\ProductsList
 */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
<?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = $block->getTitle() ? __($block->getTitle()) : '';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
?>
<?php
    $objectManagerCms = \Magento\Framework\App\ObjectManager::getInstance();
    $cmsPage = $objectManagerCms->get('\Magento\Cms\Model\Page');
    $cmsPageName = $cmsPage->getIdentifier()."<br>";
    $Identifier = $cmsPage->getId();
    switch ($Identifier) {
        case 68:
            $page = 'engagement-rings';
            break;
        case 69:
            $page = 'wedding-rings';
            break;
        case 70:
            $page = 'fine-jewelry';
            break;
        case 71:
            $page = 'diamonds';
            break; 
        case 72:
            $page = 'gemstones';
            break;       
        default:
            $page = 'home';
            break;
    }
    if ($Identifier==2) {
        $button_title="Smart Search";
    }else{
        $button_title="Have a look";
    }
?>
<div class="landing-section full-width">
    <div class="container-fluid">
        <?php if ($page == 'engagement-rings'): ?>
            <img class="engcat-leaves-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/engcat-leaves-left.png') ?>" title="engcat-leaves-left">
        <?php elseif ($page == 'wedding-rings'):?>
            <img class="engcat-leaves-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/wedding-rings/flora_sec_left.png') ?>" title="engcat-leaves-left">
        <?php elseif ($page == 'fine-jewelry'): ?>
            <img class="flora-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/home-page/engcat-leaves-left.png') ?>" title="Wedding leaves right">
        <?php endif; ?>
        <div class="slider-ring text-center ">
            <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
                <?php if ($title):?>
			        <?php if ($title == 'GEMSTONES RINGS'): ?>
			            <img class="engcat-leaves-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/gemstones/side-left-1.jpg') ?>" title="engcat-leaves-left">
			        <?php elseif ($title == 'GEMSTONES EARRINGS'): ?>
			            <img class="engcat-leaves-right slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/gemstones/side-right-1.jpg') ?>" title="engcat-leaves-left">
			        <?php elseif ($title == 'GEMSTONES NECKLACES'): ?>
			            <img class="engcat-leaves-left slideInLeft wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/gemstones/side-left-2.png') ?>" title="engcat-leaves-left">
			        <?php elseif ($title == 'GEMSTONES BRACELETS'): ?>
			            <img class="engcat-leaves-right slideInRight wow" data-wow-duration="3s" data-wow-delay="3s" src="<?php echo $this->getViewFileUrl('images/gemstones/side-right-2.jpg') ?>" title="engcat-leaves-left">
			        <?php endif; ?>
	                <div class="block-title ring-heading slide-reveal">
	                    <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
	                </div>
                <?php endif ?>
                <?php if($Identifier!=2):?>
                <div class="slideInUp wow lab-diamond-sub" data-wow-duration="2s">
                    <p>Our technology algorithm </p><p>will help you find the best diamond match out of our 800,000 diamond source</p>
                </div>
                <?php endif?>
                <div class="block-content">
                    <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
                    <div class="products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                        <ol class="home-ring-slider product-items <?php /* @escapeNotVerified */ echo $type; ?>">
                            <?php $iterator = 1; ?>
                            <?php foreach ($items as $_item): ?>
                                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="ring-thumb slider-visible product-item">' : '</li><li class="ring-thumb slider-visible product-item">' ?>
                                <div class="product-item-info ring-img">
                                    <?php if ($showWishlist || $showCompare): ?>
                                        <div class="actions-secondary" data-role="add-to-links">
                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                <a href="#"
                                                   data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_item); ?>'
                                                   class="action towishlist add-to-fav" data-action="add-to-wishlist"
                                                   title="<?php /* @escapeNotVerified */ echo __('Save to Favorites') ?>">
                                                    <!-- <span><?php /* @escapeNotVerified */ echo __('Save to Favorites') ?></span> -->
                                                </a>
                                            <?php endif; ?>
                                            <!-- <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
                                                <a href="#" class="action tocompare"
                                                   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_item);?>'
                                                   title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
                                                    <span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span>
                                                </a>
                                            <?php endif; ?> -->
                                        </div>
                                    <?php endif; ?>
                                    <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo">
                                        <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                    </a>
                                    <div class="product-item-details ring-caption mrg-gt">
                                        <h4 class="pad-xt mrg-xb text-dark">
                                            <?php $_getMyAttr = $_item->getResource()->getAttribute('francy_description_name');
                                            if ($_getMyAttr) 
                                            {
                                                echo $attrTestValue = $_getMyAttr->getFrontend()->getValue($_item);
                                            } ?>
                                        </h4>
                                        <div class="product-item-name mrg-db">
                                            <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                               href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>"
                                               class="product-item-link font-df text-dark mrg-xt mrg-sb visible-blk">
                                                <?php echo $block->escapeHtml($_item->getName()) ?>
                                            </a>
                                        </div>
                                        <div>
                                            <div class="price mrg-db">
                                            <?php
                                            echo $block->getProductPriceHtml($_item, $type);
                                            ?>
                                            </div>
                                        </div>
                                        <?php if ($templateType): ?>
                                            <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                        <?php endif; ?>

                                        <?php if ($showWishlist || $showCompare || $showCart): ?>
                                            <div class="product-item-actions">
                                                <?php if ($showCart): ?>
                                                    <div class="actions-primary">
                                                        <?php if ($_item->isSaleable()): ?>
                                                            <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                                <button class="home-btn-md mrg-xb"
                                                                        data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}'
                                                                        type="button" title="<?php /* @escapeNotVerified */ echo $button_title ?>">
                                                                    <span><?php /* @escapeNotVerified */ echo $button_title ?></span>
                                                                </button>
                                                                <div class="btn-sub text1"><em>Try our easy match</em></div>
                                                            <?php else: ?>
                                                                <?php
                                                                    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                                ?>
                                                                <button class="action tocart primary     home-btn-md mrg-xb"
                                                                        data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                        type="button" title="<?php /* @escapeNotVerified */ echo $button_title ?>">
                                                                    <span><?php /* @escapeNotVerified */ echo $button_title ?></span>
                                                                </button>
                                                            <?php endif; ?>
                                                        <?php else: ?>
                                                            <?php if ($_item->getIsSalable()): ?>
                                                                <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                            <?php else: ?>
                                                                <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <?php echo($iterator == count($items)+1) ? '</li>' : '' ?>
                            <?php endforeach ?>
                        </ol>
                    </div>
                    <?php echo $block->getPagerHtml() ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif;?>