<?php
// $dataPostParam = '';
// if ($block->isLoggedIn()) {
//     $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
// }
?>

<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $customerSession = $objectManager->create('Magento\Customer\Model\Session');
    $name = $customerSession->getCustomer()->getFirstname();
	$dataPostParam = '';
if ($block->isLoggedIn()):
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
 ?>
<!-- my account -->
<li class="authorization-link dropdown" data-label="<?php echo $block->escapeHtml(__('or')); ?>">
    <a href="<?php echo $block->getUrl('customer/account/'); ?>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="em em-user"></i> <span class="text-sec text-capitalize">Hi <?php echo $name;?></span></a>
    <ul class="dropdown-menu">
        <li><a href="<?php echo $this->getUrl(); ?>customer/account/">My Account</a></li>
        <li><a href="<?php echo $this->getUrl(); ?>sales/order/history/">My Orders</a></li>
        <li><a href="<?php echo $this->getUrl(); ?>customer/address/">My Details</a></li>
        <li class="authorization-link" data-label="<?php echo $block->escapeHtml(__('or')); ?>">
            <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ //echo $dataPostParam; ?>>Log Out</a>
        </li>
    </ul>
</li>
<?php else: ?>
<!-- login -->
<li class="authorization-link" data-label="<?php echo $block->escapeHtml(__('or')); ?>">
    <a href="#" data-toggle="modal" data-target="#loginpopup"><i class="em em-user"></i></a>
</li>
<?php endif; ?>