<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php
/** @var $block \Magento\ConfigurableProduct\Block\Product\View\Type\Configurable*/
$_product    = $block->getProduct();
$_attributes = $block->decorateArray($block->getAllowAttributes());
?>
<?php 
     //fetch catID
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $categories = $_product->getCategoryIds(); /*will return category ids array */
    foreach($categories as $category){
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
        $currCat= $cat->getId();
        $currCatname = $cat->getName();
    }
    $ringArray=array(27,17,18,19);
    ?>

<?php if ($_product->isSaleable() && count($_attributes)):?>
    <?php foreach ($_attributes as $_attribute): ?>
        <?php if (in_array($currCat, $ringArray)): ?>
        <div class="field configurable required clearfix">
            <div class="control col-xs-6"> <!-- <div class="control select-drop-down"> -->
                <select onchange="checkhead(<?php echo $_attribute->getAttributeId() ?>,this.id);" name="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]"
                        data-selector="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]"
                        data-validate="{required:true}"
                        id="attribute<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>"
                        class="super-attribute-select form-control">
                    <option value=""><?php /* @escapeNotVerified */ echo __('Choose an Option...') ?></option>
                </select>
                <span class="select-style">Select Ring Size</span>
            </div>
             <div class="find-ring-size mrg-st col-xs-6"><a href="#ring-size" data-toggle="modal" class="sec-col-under text-capitalize">Find my ring size</a></div>
        </div>
        <?php else:?>
        <div class="field configurable required">
           <!--  <label class="label" for="attribute <?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>">
               <span><?php echo $block->escapeHtml($_attribute->getProductAttribute()->getStoreLabel()) ?></span>
           </label> -->
            <div class="control" id="choose-an-option"> <!-- <div class="control select-drop-down"> -->
                <select onchange="checkhead(<?php echo $_attribute->getAttributeId() ?>,this.id);" name="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]"
                        data-selector="super_attribute[<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>]"
                        data-validate="{required:true}"
                        id="attribute<?php /* @escapeNotVerified */ echo $_attribute->getAttributeId() ?>"
                        class="super-attribute-select form-control">
                </select>
                <span class="select-style">Choose an Option...</span>               
            </div>
        </div>
        <?php endif;?>
    <?php endforeach; ?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "configurable": {
                    "spConfig": <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>,
                    "gallerySwitchStrategy": "<?php /* @escapeNotVerified */ echo $block->getVar('gallery_switch_strategy',
                        'Magento_ConfigurableProduct') ?: 'replace'; ?>"
                }
            }
        }
    </script>
<?php endif;?>