<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Wedding Rings</h4>
					<h1 class="h1">Choose the Perfect Wedding Ring</h1>
				</div>
				<div class="well well-simple mrg-zb padxs-zv">
					<h3 class="head">Choose the Perfect wedding Ring</h3>
					<p>Emrada has revolutionized how people buy wedding rings online. Our new technology connects you directly to the world’s diamond databases. Our search tools use purpose designed image recognition software to scan over half a million diamond certificates in a split second. </p>
					<p>Every search brings you a stunning online display of diamonds that perfectly match your requirements. Even if you’re looking for a plain gold wedding band without diamonds, Emrada’s technology will deliver an amazing selection of rings.</p>
				</div>
				<div class="well well-simple mrg-zb">
					<h3 class="head">Emrada Stylists</h3>
					<p>An expert eye can work wonders when you’re trying to find the perfect his and hers wedding rings. Our in house stylists have a strong background in jewelry design and fashion. They’ll ask all the questions you never thought of about both your tastes, style and preferences and your appearance and dress sense. She can also check out your fiance’s engagement ring and help choose a wedding ring that will really compliment it.</p>
					<p>A private chat with an Emrada stylist can open your eyes to all kinds of new designs and combinations of wedding rings, settings and stones.  </p>
					<div class="hidden-xs">
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>All consultations with stylists are free</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Your stylist can check out your social media profiles and match ring styles to your dress sense and personal tastes</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Explore our range of matching his and hers wedding rings</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Learn how to get a better and more stylish wedding ring without increasing your budget</p>
							</div>
						</div>
					</div>
					<div class="media mrg-gb edu-bg-blue visible-xs">
						<a class="pull-left" href="#">
							<img class="media-object" src="http://52.30.42.79/emradabv4/pub/static/version1514005807/frontend/Aghai/Emrada/en_US/images/education-center/diamond.png" alt="Image">
						</a>
						<div class="media-body xs-tc">
							<div class="media border-btm media-list">
								<a class="pull-left" href="#"><i class="fa fa-circle edu-head-color" aria-hidden="true"></i></a>
								<div class="media-body">
									<p>All consultations with stylists are free</p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#"><i class="fa fa-circle edu-head-color" aria-hidden="true"></i></a>
								<div class="media-body">
									<p>Your stylist can check out your social media profiles and match ring styles to your dress sense and personal tastes</p>
								</div>
							</div>
							<div class="media media-list">
								<a class="pull-left" href="#"><i class="fa fa-circle edu-head-color" aria-hidden="true"></i></a>
								<div class="media-body">
									<p>Learn how to get a better and more stylish wedding ring without increasing your budget</p>
								</div>
							</div>
						</div>
					</div>
					<p class="mrg-dt">Emrada’s professional stylists are online 24/7 to offer help and advice about choosing the perfect engagement ring. Team up with a stylist now and start creating the ring of your dreams.</p>
				</div>
				<div class="well well-simple xs-tc padxs-zt"><a href="#" class="btn btn-turkish">talk to a stylist</a></div>
				<div class="well edu-bg-blue">
					<div class="padh-50 text-center">
						<h2 class="pad-sb">How to get the Best Diamond for your Budget</h2>
						<h4>3 Useful Tips from our Jewelry Designers</h4>
						<p class="text-center">One of the great things about buying a diamond engagement ring is that there are some simple tricks for making your money go a lot further. All it takes is a bit of patience, some basic knowledge and our high tech search tools will do the rest!</p>
					</div>
				</div>
				<section>
					<div class="well well-simple pad-zt padxs-zb">
						<h3 class="head"><b>1</b> - Choose Eyeclean Diamonds </h3>
						<p>The presence of tiny flaws or inclusions can significantly reduce the grading - and the price - of a diamond. But often the flaws are only visible to a specialist appraiser using x10 magnification. The same principle applies to the diamond’s color and polish. Minute variations in color can have a major effect on prices.</p>
						<p>When you buy eyeclean diamonds all you’ll see is a beautiful sparkling diamond that’s full of fire, brilliance and scintillation. You’ll be amazed at the quality of the diamonds that your budget will stretch to. </p>
					</div>
					<div class="hidden-xs">
						<h4 class="text-uppercase edu-head-color pad-sb">A wise choice of shape and cut can make a smaller diamond appear more spectacular than a larger one. </h4>
						<div class="well edu-bg-blue">
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>Consider a VS1 or SI1 clarity grading when you buy a diamond.</p>
								</div>
							</div>
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>A diamond that is graded I for color may be much cheaper than an A or a D. But you’ll probably be unable to see the difference between an A and I stone of identical cut with the naked eye. </p>
								</div>
							</div>
							<div class="media media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>A ‘good’ level of polish is usually fine for a diamond engagement ring. It will cost you less than an excellent’ level of polish.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="visible-xs">
						<div class="media media-list">
							<a class="pull-left" href="#"><i class="fa fa-circle edu-head-color" aria-hidden="true"></i></a>
							<div class="media-body">
								<p>A wise choice of shape and cut can make a smaller diamond appear more spectacular than a larger one.</p>
							</div>
						</div>
						<div class="media media-list">
							<a class="pull-left" href="#"><i class="fa fa-circle edu-head-color" aria-hidden="true"></i></a>
							<div class="media-body">
								<p>Consider a VS1 or SI1 clarity grading when you buy a diamond.</p>
							</div>
						</div>
						<div class="media media-list">
							<a class="pull-left" href="#"><i class="fa fa-circle edu-head-color" aria-hidden="true"></i></a>
							<div class="media-body">
								<p>A diamond that is graded I for color may be much cheaper than an A or a D. But you’ll probably be unable to see the difference between an A and I stone of identical cut with the naked eye. </p>
							</div>
						</div>
						<div class="media media-list">
							<a class="pull-left" href="#"><i class="fa fa-circle edu-head-color" aria-hidden="true"></i></a>
							<div class="media-body">
								<p>A ‘good’ level of polish is usually fine for a diamond engagement ring. It will cost you less than an excellent’ level of polish.</p>
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="well well-simple mrg-zb">
						<h3 class="head"><b>2</b> - Choose the Right Wedding Ring Setting Style </h3>
						<p>Traditionally most rings used prong or bezel settings to hold stones in place. Technological advances have increased the choice of settings, positioning stones to best display their fire, sparkle and brilliance. The right setting can also make a smaller stone appear larger, more prominent and more striking. </p>
						<div class="well well-simple">
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>A skilful choice of ring and setting style significantly enhances the appearance of the main stone. </p>
								</div>
							</div>
						</div>
						<div class="xs-tc"><a href="wedding-rings.html" target="_blank" class="btn btn-turkish">See Ring Styles</a></div>
					</div>
				</section>
				<section>
					<div class="well well-simple">
						<h3 class="head"><b>3</b> - Choose the Right Precious Metal </h3>
						<p>If you’re buying a gold engagement ring you have a choice of 14kt or 18kt gold. It’s possible to make a saving by opting for 14kt gold. Gold prices vary but a good rule of thumb is that a 14kt gold ring might cost 20% less than an 18kt ring. If you have more money in a few years time it will be possible to<a href="#" class="text-sec"> upgrade your ring</a>. </p>
						<div class="well well-simple">
							<div class="media border-btm media-list">
								<a class="pull-left" href="#">
									<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
								</a>
								<div class="media-body">
									<p>White gold can match the elegance and sophistication of platinum at a cheaper price. </p>
								</div>
							</div>
						</div>
						<div class="xs-tc"><a href="engagement-rings.html" target="_blank" class="btn btn-turkish">Create your own Ring</a></div>
					</div>
				</section>
				<div class="space-lg"></div>
			</div>
		</div>
	</div>
</div>