<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Wedding Rings</h4>
					<h1 class="h1">Metal Types</h1>
				</div>
				<div class="well well-simple padxs-zv">
					<h3 class="head">Precious Metals for Wedding Rings</h3>
					<p>Most people will automatically think of a yellow gold setting when they decide to buy a wedding ring. Yellow gold is a beautiful, traditional and iconic precious metal that has been used as a sign of wealth and status for thousands of years. Yellow gold still accounts for the majority of engagement and wedding ring settings, but rose gold, white gold and platinum are increasingly popular choices.</p>
					<div class="row">
						<div class="col-sm-3">
							<div class="thumbnail rhover">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/yellow.png') ?>" alt="thumbnail">
								<div class="caption">
									<h3>YELLOW GOLD</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumbnail rhover">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/white.png') ?>" alt="thumbnail">
								<div class="caption">
									<h3>WHITE GOLD</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumbnail rhover">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/rose.png') ?>" alt="thumbnail">
								<div class="caption">
									<h3>ROSE GOLD</h3>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumbnail rhover">
								<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/platinum.jpg') ?>" alt="thumbnail">
								<div class="caption">
									<h3>PLATINUM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-simple pad-zt padxs-zv xs-zmb">
					<h3 class="head">A Rough Guide to Gold</h3>
					<div>Chemical Symbol: AU</div>
					<div>Main Sources: China, Australia, Russia</div>
					<div class="well well-simple">
						<div>Gold is rated by Karat (K or kt) according to its purity.</div>
						<p>24kt gold is reckoned to be pure but is generally too soft for use in jewellry. Most wedding rings are either 18kt or 14kt. Any gold alloy that is lower than 10kt is not recognised as gold.</p>
					</div>
					<div class="media edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv xs-tc">
							<div class="pad-st">
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										24kt
									</a>
									<div class="media-body">
										<p> Almost 100% pure gold</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										18kt
									</a>
									<div class="media-body">
										<p>Typically 75% gold plus other metals</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										14kt
									</a>
									<div class="media-body">
										<p>Typically 58.33% plus other metals</p>
									</div>
								</div>
								<p class="pad-gt font-sb">All gold sold in the US is required to show a clear kt stamp, manufacturer’s logo and country of origin.</p>
							</div>
						</div>
					</div>
				</div>
				<section>
					<div class="well well-simple"><h3 class="head pad-sb">Yellow Gold Wedding Rings </h3>
						<h4><em>The eternal treasure</em></h4>
						<p>Yellow gold is still the first choice for the majority of couples. The metal is soft and malleable enough to allow exquisite craftsmanship, but is durable and robust enough for daily wear. Unlike many metals gold will not rust or lose its beautiful shine.</p>
					</div>
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv xs-tc">
							<div class="pad-st">
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Traditional setting style that suits all diamonds</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Looks good with any outfit</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Flatters all complexions and skin colours</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Safe choice for a surprise gift</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Budget flexibility with a choice of 18kt or 14kt gold</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="well well-simple xs-tc">
						<a href="#" class="btn btn-turkish">18kt yellow gold</a>
						<a href="#" class="btn btn-red">14kt yellow gold</a>
					</div>
				</section>
				<section>
					<div class="well well-simple padxs-zv"><h3 class="head pad-sb">Rose Gold Wedding Rings</h3>
						<h4><em>Warmth and creativity</em></h4>
						<p>Rose gold - once known as Russian gold - comes in various hues of red and pink. It’s warm and seductive coloring comes from the addition of copper to yellow gold to create a reddish alloy. Rose gold looks especially beautiful under soft lighting and suggests warmth, sensitivity and femininity.</p>
					</div>
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv xs-tc">
							<div class="pad-st">
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Original and unconventional choice</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Looks good with any outfit</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Flatters all complexions and skin colours</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Safe choice for a surprise gift</p>
									</div>
								</div>
								<div class="media media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Suits many gemstones and fancy diamonds</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="well well-simple mrg-zb xs-tc">
						<a href="#" class="btn btn-red">14kt rose gold</a>
					</div>
				</section>
				<section>
					<div class="well well-simple padxs-zv"><h3 class="head pad-sb">White Gold Wedding Rings </h3>
						<h4><em>Elegance and Sophistication</em></h4>
						<p>White gold is created by adding a white metal such as manganese or palladium to yellow gold. White gold is not always a cold white color. It sometimes comes in several attractive off-white hues, depending on the composition of the alloy. </p>
					</div>
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body pad-zv xs-tc">
							<div class="pad-st">
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Elegant, sophisticated and distinctive</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Suitable for all outfits and occasions </p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Can enhance the beauty of a diamond</p>
									</div>
								</div>
								<div class="media border-btm media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Flatters all complexions and skin colours</p>
									</div>
								</div>
								<div class="media media-list">
									<a class="pull-left" href="#">
										<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
									</a>
									<div class="media-body">
										<p>Budget flexibility with a choice of 18kt or 14kt gold</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="well edu-bg-blue border hidden-xs">
						<div class="padh-50 text-center">
							<h3>EMRADA  GUARANTEE</h3>
							<p><em>Our white gold wedding rings do not contain any nickel that can occasionally cause an allergic reaction in a small number of people.</em></p>
						</div>
					</div>
					<div class="well well-simple xs-tc">
						<a href="#" class="btn btn-turkish">18kt white gold</a>
						<a href="#" class="btn btn-red">14kt white gold</a>
					</div>
				</section>
				<div class="well well-simple mrg-zb pad-zb padxs-zt">
					<h3 class="head">A Rough Guide to platinum</h3>
					<div>Chemical Symbol: Pt</div>
					<div>Main Sources: South Africa, Russia, Canada</div>
					<div class="well well-simple mrg-zb">
						<p>Platinum is a rare precious metal that neither rusts, tarnishes or wears out. Platinum is an increasingly popular metal for prestige jewelry items. In the 18th century King Louis XV of France declared that platinum was only metal fit for a king.</p>
						<p>The platinum used to make Wedding ring settings is usually 90-95% pure. Iridium, osmium, palladium, or ruthenium may be added to the alloy for additional strength.</p>
					</div>
					<div class="well edu-bg-blue">
						<div class="text-center padh-50 font-sd1">
							<div>Platinum is valued by people who might experience allergic reactions to some metals.</div>
							<div>Platinum is hypoallergenic and generally won’t cause dermatitis.</div>
							<p>All platinum sold in the US is required to show a clear kt stamp, manufacturer’s logo and country of origin.   </p>
						</div>
					</div>
				</div>
				<section>
					<div class="well well-simple mrg-zb pad-zb"><h3 class="head pad-sb">Platinum Wedding Rings </h3>
						<h4><em>A metal fit for a king.</em></h4>
						<p>Platinum is prized for its lustrous shine, elegance and rarity. A platinum ring makes a bold and confident statement and will always be in style. Unlike white gold which may need electroplating after several years, platinum will not tarnish. Although durable, it is also flexible enough to be resized or repaired.</p>
						<div class="media mrg-gb edu-bg-blue">
							<a class="pull-left" href="#">
								<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
							</a>
							<div class="media-body pad-zv xs-tc">
								<div class="pad-st">
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Elegant, sophisticated and distinctive</p>
										</div>
									</div>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Suitable for all outfits and occasions </p>
										</div>
									</div>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Can enhance the beauty of a diamond</p>
										</div>
									</div>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Flatters all complexions and skin colours</p>
										</div>
									</div>
									<div class="media border-btm media-list">
										<a class="pull-left" href="#">
											<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
										</a>
										<div class="media-body">
											<p>Will not tarnish or erode</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="well well-simple xs-tc">
						<a href="#" class="btn btn-turkish">platinum</a>
					</div>
				</section>
				<div class="well well-simple">
					<h3 class="head h3">Looking after your Gold Ring</h3>
					<div class="well well-simple">
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>When you’re not wearing your gold ring store it in a soft cloth bag or your Emrada presentation box.</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Remove your gold ring before bathing or showering (some body washes can cause a film on the gold).</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Clean when necessary with a few drops of soft dish soap and warm water. Scrub gently with a non-metallic brush.</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Avoid all corrosive materials - acids, bleaches, chlorine etc.</p>
							</div>
						</div>
						<div class="media border-btm media-list">
							<a class="pull-left" href="#">
								<i class="fa fa-circle edu-head-color" aria-hidden="true"></i>
							</a>
							<div class="media-body">
								<p>Pat the ring dry with a soft lint-free cloth.</p>
							</div>
						</div>
					</div>
					<div><a href="readytoship/Colorless.html" target="_blank" class="btn btn-turkish">browse Rings</a></div>
				</div>
				<div class="space-lg"></div>
				<div class="space-lg hidden-xs"></div>
				<div class="space-lg hidden-xs"></div>
			</div>
		</div>
	</div>
</div>