<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h4>Wedding Rings</h4>
					<h1 class="h1">Ring Sizing</h1>
				</div>
				<div class="well well-simple mrg-zb">
					<h3 class="head">Ring Sizing</h3>
					<p>Most women already know which ring goes on which finger, but guys occasionally need a helping hand in this department. So let’s start with the very basics.</p>
					<p>In America, Canada and most European countries the engagement ring is traditionally worn on the fourth finger of the left hand (that’s the finger next to the little finger or pinky). After the actual marriage ceremony most women will move their engagement ring to sit above their wedding ring.</p>
					<div class="neg-h15"><img class="diamond-banner padt-30" src="<?php echo $this->getViewFileUrl('images/education-center/perfect-engagement-ring/perfect-engagement-ring-banner.png') ?>" alt="Image"></div>
				</div>
				<div class="well well-simple">
					<h3 class="head">Measure Ring Size with String</h3>
					<p>The simplest way to measure your finger for your wedding ring  is to gently loop a piece of string around it. You can then measure the string to find the ring size. Different countries use different ring sizes, so check the charts below to find your size.</p>
				</div>
				<div class="well edu-bg-blue">
					<div class="padh-50 text-center">
						<h3>Did you know?</h3>
						<p class="text-center">The size of the human finger changes slightly throughout the day according to body temperature and how much we use our hands for physical tasks. To get a completely accurate measurement it’s always better to measure for wedding ring size in the evening.</p>
					</div>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head h3">Measure Wedding Ring Size with our Free Tools</h3></div>
				<div class="mrg-gb">
					<div class="media mrg-gb edu-bg-blue">
						<a class="pull-left hidden-xs" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body padxs-zb">
							<p>You can also use Emrada’s purpose built tools to measure your wedding ring size. If you have any questions or need help to measure your ring size talk to a Stylist at anytime. The Emrada professional stylists are online 24/7 and their service is completely free.</p>
							<div class="mrg-gt"></div>
							<div class="white-break"></div>
							<div class="white-break xs-tc"><a href="#" class="btn btn-turkish">talk to a stylist</a></div>
						</div>
					</div>	
				</div>
				<h3><a href="#" class="text-sec">1. Ring sizing tool</a></h3>
				<h3><a href="#" class="text-sec">2. Size charts</a></h3>
				<div class="well well-simple">
					<div class="space-lg"></div>
				</div>			
			</div>
		</div>
	</div>
</div>