<div class="container">
	<div class="row">
		<div class="col-sm-3 padxs-zh">
			<?php include ($block->getTemplateFile('Magento_Theme::education-center/education-menu.phtml')) ?>
		</div>
		<div class="col-sm-9">
			<div class="edu-content edu-engagement-ring">
				<div class="well edu-content-head edu-head-img hidden-xs">
					<h1 class="h1 pad-gt pad-gb">Wedding Rings</h1>
				</div>
				<div class="well well-simple padxs-zv"><h3 class="head h3 pad-st">What’s a Ring?</h3></div>
				<img class="diamond-banner" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/engagement-ring-banner.png') ?>" alt="Image">
				<div class="well well-simple"><p>Everybody knows what a ring is, but when you’re buying the diamond engagement ring of your dreams it’s worth picking up a few technical details. </p>
				</div>
				<div class="well well-simple padxs-zt xs-zmb"><h3 class="head h3">A ring is usually divided into 4 parts:</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/ring-parts.png') ?>" alt="Image">
					</a>
					<div class="media-body">
						<ul class="list-group text-uppercase">
							<li class="list-group-item"><span class="edu-head-color"><b>1</b> -</span> Hoop</li>
							<li class="list-group-item"><span class="edu-head-color"><b>2</b> -</span> Shoulder</li>
							<li class="list-group-item"><span class="edu-head-color"><b>3</b> -</span> Bezel</li>
							<li class="list-group-item"><span class="edu-head-color"><b>4</b> -</span> Stone or gem in its setting</li>
						</ul>
						<p class="font-sm">An wedding ring is usually worn on the ring finger of the left hand (next to the little finger or pinky). After their wedding many women will wear their engagement ring on the same finger, placing it above their wedding ring. </p>
					</div>
				</div>
				<p class="font-sm">When you buy a ring, or design your own ring, the ring itself will often simply be referred to as a setting.</p>
				<div class="well well-simple"><h3 class="head h3">What’s a Ring made of?</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body">Ask most people what a ring is made of and 99% of them will say gold. At Emrada you can choose from 3 types of gold -  and platinum.</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="thumbnail rhover">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/yellow.png') ?>" alt="thumbnail">
							<div class="caption">
								<h3>YELLOW GOLD</h3>
								<a href="#" class="btn text-sec" role="button">view more</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail rhover">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/white.png') ?>" alt="thumbnail">
							<div class="caption">
								<h3>WHITE GOLD</h3>
								<a href="#" class="btn text-sec" role="button">view more</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail rhover">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/rose.png') ?>" alt="thumbnail">
							<div class="caption">
								<h3>ROSE GOLD</h3>
								<a href="#" class="btn text-sec" role="button">view more</a>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="thumbnail rhover">
							<img src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/metal-types/platinum.jpg') ?>" alt="thumbnail">
							<div class="caption">
								<h3>PLATINUM</h3>
								<a href="#" class="btn text-sec" role="button">view more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="well well-simple mrg-gt xs-zmb">
					<div class="media mrg-gb pad-sb">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/media-diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body mbd-simple">
							<p>The fineness or purity of gold is rated in karats. 24 kt gold is considered to be 100% pure. The gold used for rings is usually either 18kt or 14kt. </p>
						</div>
					</div>
					<div class="media mrg-gb">
						<a class="pull-left" href="#">
							<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/engagement-rings/media-diamond.png') ?>" alt="Image">
						</a>
						<div class="media-body mbd-simple">
							<p>Platinum is an extremely rare and durable precious metal that is considered to be even more valuable than gold. Platinum settings are an increasingly fashionable choice for diamond engagement rings. </p>
						</div>
					</div>
				</div>
				<div class="well edu-bg-blue border">
					<div class="padh-50 text-center">
						<h3>EMRADA  GUARANTEE</h3>
						<p>When you buy a White Gold ring at EMRADA it will not contain any nickel which can sometimes cause dermatitis in a small minority of people.</p>
					</div>
				</div>
				<div class="well well-simple mrg-zb"><h3 class="head pad-sb">Styles, Settings, &amp; Sizings </h3>
					<h4>Keep it Simple - Keep it Fun</h4>
					<p>We like to keep things simple at Emrada and we believe that important decisions shouldn’t be stressful decisions. Our revolutionary algorithm and image recognition technology does the hard work of searching through over 500,000 stones and settings to find your perfect ring. But before you get down to the search you need to know a bit about the 3 S’s - Styles, Settings and Sizings. </p>
				</div>
				<div class="well well-simple">
					<h3 class="head h3">Styles</h3>
				</div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						<p>The style of ring that you choose is an intensely personal decision that is far more than just a fashion statement. Learn more about our different ring styles, or talk to a professional stylist to see what kind of ring will thrill your partner! </p>
					<div class="mrg-gt"><a href="#" class="btn btn-turkish">Talk to a Stylist</a></div>
					</div>
				</div>
				<!-- <div class="well well-simple mrg-zb">
					<h3 class="head h3">Styles</h3>
					<p>The style of ring that you choose is an intensely personal decision that is far more than just a fashion statement. Learn more about our different ring styles, or talk to a professional stylist to see what kind of ring will thrill your partner! </p>
				</div> -->
				<div class="well well-simple mrg-zb">
					<h3 class="head h3">Wedding Rings - Men’s Styles and Women’s Styles</h3>
					<p>These days the difference between men’s style wedding rings and women’s style wedding rings has blurred. People are more likely to buy a wedding ring according to their personal taste rather than a man’s ring/woman’s ring category.</p>
				</div>
				<div class="well well-simple"><h3 class="head h3">Classic</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Simple, elegant and stylish, a classic ring is the most popular choice of wedding ring in the US and Europe.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Stackable</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Stackable rings are a great option if you plan to wear your engagement ring and wedding ring together.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Anniversary</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Anniversary rings often feature a selection of diamonds and can create a real sparkle when they are worn with a diamond engagement ring.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Eternity</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Although eternity rings are supposed to be given to celebrate anniversaries and special occasions they also make beautiful wedding rings.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Bridal</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Bridal rings are a romantic choice of wedding ring that combines a simple concept with an elegant design. More than any, this ring says “I do”.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="well well-simple"><h3 class="head h3">Diamond</h3></div>
				<div class="media mrg-gb edu-bg-blue">
					<a class="pull-left" href="#">
						<img class="media-object" src="<?php echo $this->getViewFileUrl('images/education-center/diamond.png') ?>" alt="Image">
					</a>
					<div class="media-body xs-tc">
						Diamond rings are for the bride (or groom) who loves luxury and is looking for a wedding ring with an extra sparkle.
						<div class="mrg-gt"><a href="#" class="btn btn-turkish">read more</a></div>
					</div>
				</div>
				<div class="space-lg"></div>
				<div class="space-lg hidden-xs"></div>
				<div class="space-sm hidden-xs"></div>
			</div>
		</div>
	</div>
</div>