<div class="footer-newsletter">
    <div class="container">
        <div class="col-sm-8 center-block">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="h3">What's hot and what's not</h3>
                    <h2 class="h1 title">Stay on top of trends!</h2>
                </div>
                <div class="col-sm-6">
                	<?php echo $this->getLayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Theme::footer/subscribe.phtml')->toHTML(); ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-links">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="row">
					<div class="col-xs-11 center-block hidden-md hidden-lg hidden-sm pad-gb mrg-gb">
						<h4 class="h4 text-center contact-us-xs"><a href="<?php echo $this->getUrl(); ?>contact">Contact Us</a></h4>
						<ul class="clearfix list-unstyled mrg-gt list-inline contact-us-xs">
							<li class="col-xs-4"><a href="<?php echo $this->getUrl(); ?>"><i class="em em-chat-with-stylist"></i><span class="visible-blk">CHAT WITH A STYLIST/JEWELER</span></a></li>
							<li class="col-xs-4"><a href="tel:1-234-567-8901"><i class="em em-call-us"></i><span class="visible-blk">CALL US</span></a></li>
							<li class="col-xs-4"><a href="mailto:someone@example.com"><i class="em em-email-us"></i><span class="visible-blk">EMAIL US</span></a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 border-top">
						<h4 class="h4 hidden-xs">About Us</h4>
						<h4 class="h4 visible-xs collapsed collpasible" data-toggle="collapse" href="#footAboutUs" aria-expanded="false" aria-controls="footAboutUs">About Us</h4>
						<ul class="list-unstyled collapse sm-collapse" id="footAboutUs">
							<li><a href="<?php echo $this->getUrl(); ?>company">The Company</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>our-story">Our Story/ Who are we</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>from-mine-to-you">From a Mine To You</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>meet-jewelers-and-stylists">Meet our Team</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>trust">Trust</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 border-top">
						<h4 class="h4 hidden-xs">Customer Care</h4>
						<h4 class="h4 visible-xs collapsed collpasible" data-toggle="collapse" href="#footCustomerCare" aria-expanded="false" aria-controls="footCustomerCare">Customer Care</h4>
						<ul class="list-unstyled collapse sm-collapse" id="footCustomerCare">
							<li><a href="<?php echo $this->getUrl(); ?>free-shipping-and-returns">Free Shipping &amp; Returns</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>lifetime-warranty">Lifetime Warranty</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>international-shipping">International Shipping</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>money-back-guarantee">Money Back Gurantee</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>shopping-assistance">Shopping Assistance</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>faq">FAQS</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 hidden-xs">
						<h4 class="h4"><a href="<?php echo $this->getUrl(); ?>contact">CONTACT US</h4>
						<ul class="list-unstyled collapse sm-collapse">
							<li><a href="<?php echo $this->getUrl(); ?>">1.800.emrada</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>contact">Email Us</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>">Chat with a Stylist</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>">Chat with a Jeweler</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>sales/guest/form/">Track your Order</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 border-top border-btm">
						<h4 class="h4 hidden-xs">EDUCATION</h4>
						<h4 class="h4 visible-xs collapsed collpasible" data-toggle="collapse" href="#footEducation" aria-expanded="false" aria-controls="footEducation">EDUCATION</h4>
						<ul class="list-unstyled collapse sm-collapse" id="footEducation">
							<li><a href="<?php echo $this->getUrl(); ?>diamond-the-4cs">Diamond the 4C's</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>diamond-shape-4cs">Diamond Shape Guide</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>diamond-trends-guide">Diamond Trend Guide</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>certification-guide">Certification Guide</a></li>
							<li><a href="<?php echo $this->getUrl(); ?>how-to-buy-engagement-ring">How to buy an engagement ring</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2 social-login">
				<h4 class="h4 hidden-xs pad-xr">FOLLOW US</h4>
				<ul class="list-inline social-icons">
					<li><a class="facebook" href="https://www.facebook.com/aghaiguru/?ref=nf/"><i class="fa fa-facebook fa-2x"></i></a></li>
					<li><a class="instagram" href="https://www.facebook.com/aghaiguru/?ref=nf/"><i class="fa fa-instagram fa-2x"></i></a></li>
					<li><a class="pinterest" href="https://www.facebook.com/aghaiguru/?ref=nf/"><i class="fa fa-pinterest-p fa-2x"></i></a></li>
					<li><a class="twitter" href="https://www.facebook.com/aghaiguru/?ref=nf/"><i class="fa fa-twitter fa-2x"></i></a></li>
					<li><a class="snapchat" href="https://www.facebook.com/aghaiguru/?ref=nf/"><i class="fa fa-snapchat-ghost fa-2x"></i></a></li>
					<li><a class="linkedin" href="https://il.linkedin.com/in/kobi-aghai-05a564145/"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="footer-grounded text-right">
	<div class="container">
		<ul class="list-inline card-icons">
			<li><i class="fa fa-cc-visa fa-3x"></i></li>
			<li><i class="fa fa-cc-mastercard fa-3x"></i></li>
			<li><i class="fa fa-cc-discover fa-3x"></i></li>
			<li><i class="fa fa-cc-amex fa-3x"></i></li>
			<li><i class="fa fa-cc-paypal fa-3x"></i></li>
		</ul>
	</div>
</div>