<form class="form"
    novalidate
    action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
    method="post"
    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
    id="newsletter-validate-detail">
    <div class="input-group">
        <input class="form-control" name="email" type="email" id="newsletter"
            placeholder="<?php /* @escapeNotVerified */ echo __('YOUR EMAIL ADDRESS') ?>"
            data-validate="{required:true, 'validate-email':true}"/>
        <span class="input-group-btn">
            <button class="btn subscribe btn-dark" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit"><i class="fa fa-angle-right"></i></button>
        </span>
    </div>
</form>